@import "{}/imports/ui/stylesheets/variables/index";

.single-event-indicator {
  background-color: #80d0d5;
  border-radius: 50%;
  height: 5px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 5px;

  /* Move over stretched-link */
  z-index: 2;
}
