.course-members {
  background: $openki-blue-lighter;
  border-top: 3px solid $body-bg;
  font-size: medium;
}

.course-member {
  padding: 10px ($grid-gutter-width / 2);
}

.horizontal-line {
  background: $body-bg;
  height: 1px;
  &:last-child {
    display: none;
  }
}

.course-member-roles {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 0;
  &:hover {
    cursor: default;
  }
  li {
    background: $brand-primary;
    color: $body-bg;
    display: inline-block;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: middle;
    &.participant {
      display: none;
    }
  }
}

.role-short {
  text-transform: uppercase;
}

.js-add-to-team-btn {
  margin-left: 10px;
  padding: 3px 10px;
}

.add-to-team-btn-txt {
  display: none;
}

.course-member-comment {
  display: block;
  padding-top: 10px;
  .editable {
    padding-left: 0 !important;
  }
  .editable-controls {
    .editable-store,
    .editable-cancel {
      background: none;
      border: 0;
      color: $brand-primary;
      display: inline-block;
    }
    .glyphicon-remove {
      color: $brand-danger;
    }
  }
}
