@import "{}/imports/ui/stylesheets/variables/index";

//== Kiosk
//----------------------------------------
.kiosk {
  padding-bottom: 10.5px;
  padding-top: 10.5px;
}

//== Logo
//----------------------------------------
.kiosk-logo {
  @include td-margin(right, 15px);
  line-height: $line-height-base;
  vertical-align: text-bottom;
}

.kiosk-logo-group {
  width: 60px;
}

.kiosk-logo-brand {
  height: 48px;
}

//== Heading
//----------------------------------------
.kiosk-heading {
  @include td-margin-all(0, 15px, 0, 0);
  display: inline-block;
  font-size: $h1-font-size;
  line-height: $line-height-base;
  padding-bottom: 15px;
}

//== Region selection
//----------------------------------------
.kiosk-language-selection {
  display: inline-block;
  line-height: $line-height-base;
}

.kiosk-language-selection > li {
  list-style: none;
}

.kiosk-language-selection > li > {
  .fa-regular,
  .fa-brands,
  .fa-solid {
    color: $primary;
  }
}

.kiosk-language-selection > li > .dropdown-menu {
  @include td-pos(left, auto);
  @include td-pos(right, 0);
}

//== Clock
//----------------------------------------
.kiosk-moment {
  @include td-float(right);
  line-height: $line-height-base;
}

.kiosk-moment-time {
  font-size: $h2-font-size;
}

.kiosk-moment-date {
  @include td-margin(left, 5px);
  font-size: $h4-font-size;
}
