@import "{}/imports/ui/stylesheets/variables/index";

.stats {
  margin-left: -5px;
}

.stats th {
  text-align: center;
}

.stats td,
.stats th {
  padding: 5px;
}

.stats .number {
  text-align: right;
}

.stats .description {
  text-align: center;

  &::after {
    background-color: #f1f1f1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
}

.stats .course-stat::after {
  background-color: lighten($blue-lighter, 5%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.stats .event-stat::after {
  background-color: tint-color($green, 65%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}
