/* medium breakpoint */
$min-width-medium: 640px

/*large breakpoint */
$min-width-large: 960px

@mixin assign-bp-variables($media)
    @if $media == small
        $row-width: 100%
        $row-max-width: 100%
    
    @else if $media == medium
        $total-columns: 12
        $row-width: 100%
        $column-gutter: remCalc(20px)
    
    @else if $media == large
        $total-columns: 12
        $row-width: 100%
        $column-gutter: remCalc(20px)


// mobile first, assing small breakpoint variables
$row-width: 100%
$row-max-width: 100%