.editableWrap {
	position: relative;
	margin: -8px;


	.editable {
		min-height: 2em;
		padding: 8px;
	}

	.editable:focus,
	.editable.changed {
		border: 1px solid @brand-primary;
		padding: 7px;
		background: @body-bg;
		box-shadow: 7px 7px 7px rgba(0,0,0,.3);
	}

	.editable:after {
		position: static;
	}


	.editIcon {
		color: gray;
		padding: 0.2em;
	}

	&.rich .editIcon {
		position: absolute;
		right: 0;
		top: 0;
	}

	&.simple .editable {
		display: inline-block;
		min-width: 8em;
	}

	&.rich .editable {
		min-height: 4ex;
	}
}

.editableWrap:hover {
	.editIcon {
		color: black;
	}
}

.editable-controls {
	z-index: 1;
	margin-top: 5px;
	position: absolute;


		button {
			.btn;
			margin-right: 10px;
			box-shadow: 7px 7px 7px rgba(0,0,0,.3);

			@media @mobile {
				.form-control;
				.btn;
				.btn-primary;
				margin-bottom: 10px;
			}

			&.save {
				.btn-success;
			}

			&.cancel {
				.btn-danger;
			}
		}


}