@import '{}/client/styles/variables';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/vendor-prefixes';


.editableWrap {
	margin: -8px;
	position: relative;

	.editable {
		min-height: 2em;
		outline: none;
		padding: 8px;

		&:focus,
		&.changed {
			box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
			background: $body-bg;
			border: 1px solid $brand-primary;
			padding: 7px;
		}
	}

	.editable:focus,
	.editable.changed {
		background: $body-bg;
		border: 1px solid $brand-primary;
		box-shadow: 7px 7px 7px rgba(0, 0, 0, .3);
		padding: 7px;
	}

	.editable:after {
		position: static;
	}

	.editIcon {
		@include transition(color $default-transition-time);
		color: $default-gray;
		cursor: default;
		padding: .2em;
	}

	&.rich .editIcon {
		position: absolute;
		right: 0;
		top: 0;
	}

	&.simple .editable {
		display: inline-block;
		min-width: 8em;

		&:focus {
			min-width: 10em;
		}
	}

	&.rich .editable {
		min-height: 4ex;
	}
}

.editableWrap:hover .editIcon {
	color: $default-black;
}

.editable:focus,
.editable.changed {
	& + .editIcon {
		color: $default-black;
	}
}

.editable-controls {
	margin-left: -8px;
	margin-top: 15px;
	position: absolute;
	z-index: 1;

	button {
		box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
		margin-right: 5px;
	}
}

.editable-textarea {
	height: 100px;
	overflow: auto;
}
