.course-categories {
	line-height: 23px;
	list-style: none;
	margin-left: -2px;
	padding-left: 0;
}

.course-categories li {
	display: inline-block;
	margin: 2px;
	position: relative;
}

.category-label {
	background: $category-bg;
	color: $category-color;
	padding: 2px 5px;
}

.category-label + .remove-btn {
	margin-left: 5px;
}

.js-category-label {
	@extend .category-label;
	transition: box-shadow $default-transition-time;

	&:hover {
		background: darken($category-bg, 10%);
		box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
		color: darken($category-color, 10%);
		text-decoration: none;
	}
}
