// *** Categories ***
//===================

// ** Label
//========================================================================================
$category-label-color: $blue;

.category-label {
	background: $category-bg;
	color: $category-label-color;
	padding: 2px 5px;
	font-size: 13px;
}

.js-category-label {
	@extend .category-label;
	transition: box-shadow $default-transition-time;

	&:hover {
		background: darken($category-bg, 10%);
		box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
		color: darken($category-label-color, 10%);
		text-decoration: none;
	}
}

// ** Course categories
//========================================================================================
.course-categories {
	line-height: 23px;
	list-style: none;
	@include td-margin(left, -2px);
	@include td-padding(left, 0);
}

.course-categories li {
	display: inline-block;
	margin: 2px;
	position: relative;
}
