.categories-list {
  line-height: 23px;
  list-style: none;
  margin-left: -2px;
  padding-left: 0;
  li {
    display: inline-block;
    margin: 2px;
    position: relative;
  }
}

.js-category-label {
  @include transition(box-shadow $default-transition-time);
  background: $category-bg;
  padding: 2px 5px;
  &:hover {
    @include box-shadow-small($category-hover-shadow);
    background: $category-hover-bg;
    color: $category-hover-text;
    text-decoration: none;
  }
}
