<template name="categoryLabel">
	<div class="tag category-tag">
		{{categoryName}}
	</div>
</template>

<template name="categoryLabelLinked">
	<div class="tag tag-link category-tag">
		<a class='js-category-label category-{{this}}'
			data-tooltip="{{mf 'categories.show_courses' 'Show all courses in'}} {{categoryName}}"
			href="/find?categories={{this}}">
			{{categoryName}}
		</a>
	</div>
</template>

<template name="courseCategories">
	<div class="tag-group multiline course-categories">
		{{#each categories}}
			{{> categoryLabelLinked}}
		{{/each}}
	</div>
</template>
