<template name="categorylist">
	<div class="courselist">
		<h1>{{mf 'categories.title.categories' 'Categories'}}</h1>
		{{#each categories}}
			{{> category}}
		{{else}}
			{{mf 'categories.filter-no-categories-found' 'No categories defined!'}}
		{{/each}}
		{{> course_category}}
	</div>
</template>

<template name="category">
	<div class="categorylist">
		<p class="name {{#unless courses_by_category.count}} no_courses_cat {{/unless}}" id="{{_id}}">
			{{name}}:
		</p>
		<p>
			<ul class="category">
				{{#each courses_by_category}}
					<li>
						<a href="{{pathFor 'showCourse'}}">{{name}}</a>
					</li>
				{{else}}
					<li class='category_no_course'>
						{{mf 'categories.no_courses' 'no courses defined in this category!'}}
					</li>
				{{/each}}
			</ul>
		</p>
	</div>
</template>

<template name="course_by_category">
	<a href="{{pathFor 'showCourse'}}">{{name}}</a>
	<br />
</template>

<template name="showCategories">
	<ul class="categories-list">
		{{#each categories}}
			<li>
				<a class='js-category-label'
					data-tooltip="{{mf 'categories.show_courses' 'Show all courses in'}} {{categoryName}}"
					href="/find?categories={{this}}">
					{{categoryName}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>
