<template name="locationDetails">
	<div class="container-sm">
		{{#if isEditing}}
				{{>location_edit}}
		{{/if}}
		{{#with location}}
			{{#unless isEditing}}
			<div class="details-page-component">
				<div class="details-header location-details-header">
					{{#if picture}}
						<img src="{{picture}}">
					{{/if}}
					<h3>{{name}}</h3>
					<p>{{description}} </p>
					<p class="small">{{mf 'location.details.time_created' 'Time created:'}} {{dateformat time_created}}, {{mf 'location.details.last_edited' 'Last edited:'}} {{dateformat time_lastedit}} {{mf 'location.details.created_by' 'Created by:'}} {{username createdby}}, </p>
				</div>
				<div class="details-body location-details-body">
					<div class="details-content">
						<span class="title">{{mf 'location.details.hosts_admin' 'Hosts/Admin:'}}</span>
						<ul class='hosts'>
							{{#each hosts}}
								<li>
									{{>profilelink this}}
								</li>
							{{/each}}
						</ul>

						{{#if contact.web}}
						<div>
							<span class="title">{{mf 'location.details.online' 'Website:'}} </span>
							<a href="{{contact.web}}">{{contact.web}}</a>
						</div>
						{{/if}}
						<span class="title">{{mf 'location.details.address' 'Address:'}}</span> {{address}}
						{{#if route}}
						<div>
							<span class="title">{{mf 'location.details.how_go_there' 'How to go there:'}}</span> {{route}}
						</div>
						{{/if}}
						{{#if maxPeople}}
						<div>
							<span class="title">{{mf 'location.details.max_ppl' 'Maximum People:'}}</span> {{maxPeople}}
						</div>
						{{/if}}
						{{#if maxWorkplaces}}
						<div>
							<span class="title">{{mf 'location.details.max_workplaces' 'Maximum Workplaces:'}}</span> {{maxWorkplaces}}
						</div>
						{{/if}}
						{{#if infra2.def }}
						<div>
							<span class="title">{{mf 'location.details.has_projector' 'Has a Projector!'}} </span>
						</div>
						{{/if}}
						{{#if specials}}
						<div>
							<span class="title">{{mf 'location.details.specials' 'Specials:'}}</span> {{specials}}
						</div>
						{{/if}}
						<div class="form-group">
							<button type="button" class="btn btn-default -contact">
								{{mf 'location.details.contact' 'Contact'}}
							</button>
						</div>
					</div>

					{{#if loc}}
					<div class="details-map">
						{{> map markers=markers}}
						<div class="coordinates">
							{{coords}}
						</div>
					</div>
					{{/if}}





				</div>
				<!-- {{#if canEditLocation}} -->
					<div class="actions">
						<!-- {{mf 'location.details.youAreHost' 'You are Host here:'}} -->
						<button type="button" class="btn btn-delete js-location-delete">
							<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
							{{mf '_button.delete'}}
						</button>
						<button type="button" class="btn btn-edit js-location-edit">
							<i class="fa fa-edit fa-fw" aria-hidden="true"></i>
							{{mf '_button.edit'}}
						</button>
					</div>
				<!-- {{/if}} -->
			</div>
			{{/unless}}
		{{/with}}
		<div class="details-page-component">
			<h2> Upcoming events: </h2>
			{{> frameEvents eventsCursor}}
		</div>

	</div>
</template>
