<template name="locationDetails">
	<div class="container-sm">
		{{#if isEditing}}
			{{>locationEdit}}
		{{/if}}

		{{> locationEdit}}

		{{#with location}}
			{{#unless isEditing}}
			<div class="page-component">
				<div class="details-header location-details-header">
					{{#if picture}}
						<img src="{{picture}}">
					{{/if}}
					<h3>{{name}}</h3>
					<p>{{description}} </p>
					<p class="small">{{mf 'location.details.time_created' 'Time created:'}} {{dateformat time_created}}, {{mf 'location.details.last_edited' 'Last edited:'}} {{dateformat time_lastedit}} {{mf 'location.details.created_by' 'Created by:'}} {{username createdby}}, </p>
				</div>

				<div class="details-body location-details-body">
					<div class="details-content">
						<span class="title">{{mf 'location.details.hosts' 'Hosts:'}}</span>
						<ul class='hosts'>
							{{#each hosts}}
								<li>
									{{>profilelink this}}
								</li>
							{{/each}}
						</ul>

						{{#if contact.web}}
						<div>
							<span class="title">{{mf 'location.details.online' 'Website:'}} </span>
							<a href="{{contact.web}}">{{contact.web}}</a>
						</div>
						{{/if}}
						<span class="title">{{mf 'location.details.address' 'Address:'}}</span> {{address}}
						{{#if route}}
						<div>
							<span class="title">{{mf 'location.details.route' 'How to go there:'}}</span> {{route}}
						</div>
						{{/if}}
						{{#if maxPeople}}
						<div>
							<span class="title">{{mf 'location.details.max_ppl' 'Maximum People:'}}</span> {{maxPeople}}
						</div>
						{{/if}}
						{{#if maxWorkplaces}}
						<div>
							<span class="title">{{mf 'location.details.max_workplaces' 'Maximum Workplaces:'}}</span> {{maxWorkplaces}}
						</div>
						{{/if}}
						{{#if infra2.def }}
						<div>
							<span class="title">{{mf 'location.details.has_projector' 'Has a Projector!'}} </span>
						</div>
						{{/if}}
						{{#if specials}}
						<div>
							<span class="title">{{mf 'location.details.specials' 'Specials:'}}</span> {{specials}}
						</div>
						{{/if}}
						<div class="form-group">
							<button type="button" class="btn btn-default -contact">
								{{mf 'location.details.contact' 'Contact'}}
							</button>
						</div>
					</div>

					{{#if loc}}
					<div class="details-map">
						{{> map markers=markers}}
						<div class="coordinates">
							{{coords}}
						</div>
					</div>
					{{/if}}

					<button class="btn btn-default -contact">
						{{mf 'location.details.contact' 'Contact'}}
					</button>
					<br><br>
					{{#if canEditLocation}}
						{{mf 'location.details.youAreHost' 'You are Host here:'}}
						<input type="button" class="js-edit" value="Edit" />
						<input type="button" class="js-del" value="Delete" />
					{{/if}}

				</div>
				<!-- {{#if canEditLocation}} -->
					<div class="actions">
						<!-- {{mf 'location.details.youAreHost' 'You are Host here:'}} -->
						{{> buttonDelete event="js-location-delete"}}
						{{> buttonEdit event="js-location-edit"}}
					</div>
				<!-- {{/if}} -->
			</div>
			{{/unless}}
		{{/with}}
		<div class="page-component">
			<h2> Upcoming events: </h2>
			{{> frameEvents eventsCursor}}
		</div>

	</div>
</template>
