
// *** venue location map ***
//============================

.venue-map-location {
	@include make-xs-column(12);
	overflow: auto;
	padding: 0;
}

.-map-location-search {
	@include make-sm-column(6);
	padding: 0 ($grid-gutter-width / 4) 0 0;
}

.venue-map-location-selected {
	display: inline-block;
	padding-bottom: 5px;
}

.venue-map-location-selected > .fa {
	color: $green-darker;
}

.venue-map-location-searchbar {
	padding-bottom: 5px;
}

.venue-map-location-candidates {
	margin: 0;
	padding: 5px 0 0;
}

.venue-map-location-candidate {
	$background-color: darken($blue-lighter, 5%);

	background-color: $background-color;
	list-style: none;
	margin-bottom: 4px;
	padding-left: 5px;

	&:hover {
		cursor: pointer;
	}

	&:hover,
	&.hover {
		background: darken($background-color, 5%);
	}
}

.venue-map-location-candidate > .address {
	font-size: 11px;
}

.venue-map-location-map {
	@include make-sm-column(6);
	padding: 0 0 0 ($grid-gutter-width / 4);

	@media (max-width: $screen-xs) {
		padding-left: 15px;
	}
}

.venue-map-location-map > .map-box {
	height: 400px;
	width: 100%;
}
