@import "{}/imports/ui/stylesheets/variables/index";

.events-map-location-map .course-event-list .event-compact-wrap {
  padding: 0 0 10px;
  width: 100% !important;
}

.events-map-location-map .leaflet-popup {
  margin-bottom: 35px;
}

.events-map-location-map .leaflet-popup-content {
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 301px !important;
}

.events-map-location-map .leaflet-attribution-flag {
  display: none !important;
}

.events-map-location-map .leaflet-marker-icon {
  background: none;
  border: 0;
  color: $blue;
  -webkit-text-stroke: 1px #0000003d;

  .fa-regular,
  .fa-brands,
  .fa-solid {
    font-size: 40px;
  }
}

.events-map-location-map .leaflet-popup-content .event-compact {
  font-size: var(--bs-body-font-size);
}

.events-map-location-map,
.events-map-location-map > .leaflet-container {
  height: 100%;
  width: 100%;
}

/* 
  backwards compatibility: a Blaze component to a React component for. 
  Can be removed after complet migration.
*/
.events-map-location-map > div > .leaflet-container,
.events-map-location-map > div {
  height: 100%;
  width: 100%;
}

.events-map-location-map .leaflet-popup-content > h4 {
  background: $white;
  margin-bottom: 0;
  margin-right: -10px;
  padding-bottom: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.events-map-location-map .leaflet-container .leaflet-popup-close-button {
  font-size: 24px;
}

.events-map-location-map .leaflet-marker-icon-shadow {
  pointer-events: none;
  text-shadow:
    -5px -5px 10px #ffffffab,
    5px -10px 10px #ffffffba,
    5px 5px 10px #0009,
    2px 3px 4px #000000bf;
  z-index: 0 !important;
}

.events-map-location-map .leaflet-marker-icon-pin:hover {
  animation: 0.4s ease-in-out 0s 2 alternate pin-top;
}
@keyframes pin-top {
  0% {
    top: 0;
  }

  100% {
    top: -5px;
  }
}

.events-map-location-map .leaflet-marker-icon-pin:hover + .leaflet-marker-icon-shadow {
  animation: 0.4s ease-in-out 0s 2 alternate shadow-top;
}
@keyframes shadow-top {
  0% {
    text-shadow:
      -5px -5px 10px #ffffffab,
      5px -10px 10px #ffffffba,
      5px 5px 10px #0009,
      2px 3px 4px #000000bf;
    top: 0;
  }

  100% {
    text-shadow:
      -3px -3px 15px #ffffffab,
      7px -8px 15px #ffffffba,
      7px 7px 15px #0009,
      3px 4px 9px #000000bf;
    top: -5px;
  }
}
