.regions-splash .modal-content {
	border-radius: 0;
}

.regions-splash .modal-header {
	background-color: $brand-primary;
	color: $white;
}

.regions-splash .close {
	color: $white;
	opacity: .7;

	&:hover {
		opacity: .9;
	}
}

.regions-splash-header {
	margin-top: 0;
}

.regions-splash-header > .fa {
	color: $brand-primary;
}

.regions-splash input {
	width: 100%;

	&:hover {
		cursor: pointer;
	}
}

.regions-splash-login {
	margin-top: 15px;
	text-align: center;
}

.regions-splash .dropdown-menu {
	width: 100%;
}

.regions-splash .js-region-search-form {
	display: inline-block;
	position: relative;
	width: 100%;
}
