.venue-edit {
	background-color: lighten($venue-bg, 10%);
	border: 4px solid $venue-bg;
	padding: 15px 20px;
}

.venue-edit .map-box {
	height: 300px;
	width: 100%;
}

.venue-edit-additional-info {
	background-color: lighten($venue-bg, 15%);
	border: 1px solid $venue-bg;
	margin-top: 10px;
	padding: 15px;
}
