.profile-courselist > .course-list + h3 {
	margin-top: 10px;
}

.profile-courselist .badge {
	background-color: $user-bg;
	color: desaturate(darken($user-bg, 40%), 80%);
}

.profile-courselist .role-label {
	transition: all $default-transition-time;
	&:hover,
	&:focus {
		background: darken($user-bg, 5%);
		box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	}
}