@import "{}/imports/ui/stylesheets/variables/index";

// *** Calendar ***
//=================

// ** Container
//========================================================================================
.calendar-container {
  padding-top: 50px;
}

.calendar-container > .btn:first-child {
  margin-bottom: 15px;
}
