// Change default button styles
// --------------------------------------------------

.btn {
	transition: border-color .15s ease-in-out;
}

.btn-group {
	@media (max-width: $screen-xs) {
		width: 100%;
	}
}

.btn-group > .btn {
	@media (max-width: $screen-xs) {
		border-radius: 4px !important;
		width: 100%;
	}
}

.btn-group > .btn + .btn {
	@media (max-width: $screen-xs) {
		margin-top: 10px;
	}
}

.btn-primary:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(56, 130, 156, .6);
}

.remove-btn {
	background-color: transparent;
	border: 0;
	color: $default-gray;
	padding: 0;

	&:hover {
		color: $default-black;
		cursor: pointer;
	}
}

.btn-sm {
	@media (max-width: $screen-xs) {
		@include btn-base;
	}
}

.btn-icon {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: $font-size-small;
	padding: 0;
}
