.checkbox > label {
	&:hover,
	&.checkbox-checked {
		i {
			color: $default-black;
		}
	}
	.fa-angle-down {
		@include transition(color $default-transition-time);
		color: $default-light-grey;
	}
}

.checkbox-sub {
	margin-left: 20px;
	& + .checkbox:not(.checkbox-sub) {
		margin-top: 5px;
	}
}
