.checkbox > label:hover i,
.checkbox > label.checkbox-checked i {
	color: $default-black;
}

.checkbox > label	.fa-angle-down {
	color: $default-light-grey;
	transition: color $default-transition-time;
}

.checkbox-sub {
	margin-left: 20px;
}

.checkbox-sub + .checkbox:not(.checkbox-sub) {
	margin-top: 5px;
}
