// Narrow container
.container-sm {
	@include container-fixed;

	@media (min-width: $screen-sm-min) {
		 width: $container-sm;
	}
}

.container .container-sm {
	@media (max-width: $screen-md) {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
