.details-page-component {
	@include grid(12);
	@include make-row-self;
	& + .details-page-component {
		margin-top: 15px;
	}
	& > h2 {
		margin-top: 0;
	}
	& > .btn {
		width: 100%;
	}
	& > .frame-events {
		padding: 0;
	}
}

.details-page-header {
	@include grid(12);
	padding-bottom: $form-group-margin-bottom;
	padding-top: $form-group-margin-bottom;
	& > h3 {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

.details-page-body {
	@include grid(12);
	@include make-row-self;
	margin-top: 3px;
}

.details-page-content {
	padding-bottom: ($grid-gutter-width / 2);
	padding-top: ($grid-gutter-width / 2);
	& > h3,
	& > h4 {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

.details-page-body > .details-page-content {
	&:nth-last-child(1) {
		@include grid(12);
	}
	&:nth-last-child(2) {
		@include grid(12, 6);
	}
}

.details-page-map {
	@include grid(12, 6);
	@media (min-width: $screen-sm) {
		padding-right: 0;
	}
	.mapContainer.box {
		height: 300px;
		padding-bottom: $form-group-margin-bottom;
		width: 100%;
		@media (min-width: $screen-sm) {
			padding: 0;
		}
	}
	.coordinates {
		font-weight: bold;
		margin: 5px 5px 5px 0;
		text-align: right;
	}
}

.details-page-form {
	@include grid(12);
	padding-top: ($grid-gutter-width / 2);
	background-color: lighten($brand-success, 10%);
	border-color: $brand-success;
	border-style: solid;
	border-width: 1px;
	& > h3 {
		margin-top: 0;
	}
}

.details-page-form > .details-page-form-element {
	// one element
	&:nth-child(1):nth-last-child(1) {
		@include grid(12);
		@include make-row-self;
	}
	// two elements
	&:nth-child(1):nth-last-child(2),
	&:nth-child(2):nth-last-child(1) {
		@include grid(12, 6);
		@include make-row-self;
	}
	@media (min-width: $screen-sm) {
		&:nth-child(1):nth-last-child(2) {
			padding-right: ($grid-gutter-width / 2);
		}
		&:nth-child(2):nth-last-child(1) {
			padding-left: ($grid-gutter-width / 2);
		}
	}
	& > h3 {
		margin-top: 0;
	}
}

.details-page-addition {
	@include grid(12);
	background-color: $gray-lighter;
	border-color: darken($gray-lighter, 3%);
	border-style: solid;
	border-width: 1px 1px;
	padding-bottom: $form-group-margin-bottom;
	padding-top: $form-group-margin-bottom;
	& > h3,
	& > h4 {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}
