.checkbox > label {
	&:hover,
	&.checkbox-checked {
		i {
			color: $default-black;
		}
	}
	.fa-angle-down {
		@include transition(color $default-transition-time);
		color: $default-light-grey;
	}
}

.checkbox-sub {
	margin-left: 15px;
	& + .checkbox:not(.checkbox-sub) {
		margin-top: 5px;
	}
}

.warn-block {
	@extend .help-block;
}

.form-actions {
	@extend .clearfix;
	margin-bottom: $form-group-margin-bottom;
	.btn {
		float: right;
	}
	.btn + .btn {
		margin-right: 5px;
	}
}
