.form-group {
	@include clearfix;
}

.form-group-element:nth-child(1):nth-last-child(1) {
	@media (min-width: $screen-sm) {
		@include td-make-sm-column(12);
		padding: 0;
	}
}

.form-group-element:nth-child(1):nth-last-child(2),
.form-group-element:nth-child(2):nth-last-child(1) {
	@media (min-width: $screen-sm) {
		@include td-make-sm-column(6);
	}
}

.form-group-element:nth-child(1):nth-last-child(3),
.form-group-element:nth-child(2):nth-last-child(2),
.form-group-element:nth-child(3):nth-last-child(1) {
	@media (min-width: $screen-sm) {
		@include td-make-sm-column(4);
	}
}

.form-group-element:nth-child(1):nth-last-child(2),
.form-group-element:nth-child(1):nth-last-child(3) {
	@include td-padding(left, 0);
	.rtl & {
		padding-left: 15px;
	}
}

.form-group-element:nth-child(2):nth-last-child(1),
.form-group-element:nth-child(3):nth-last-child(1) {
	@include td-padding(right, 0);
	.rtl & {
		padding-right: 15px;
	}
}

.form-group-element + .form-group-element {
	@media (max-width: $screen-sm) {
		margin-top: $form-group-margin-bottom;
	}
}

.form-group-element > .input-group + label {
	margin-top: 5px;
}

.form-group > .list-group,
.form-group-element > .list-group {
	margin-bottom: 0;
}

.form-group > .radio:nth-child(2),
.form-group > .checkbox:nth-child(2),
.form-group-element > .radio:nth-child(2)
.form-group-element > .checkbox:nth-child(2) {
	margin-top: 0;
}

.form-group-element > label + .radio {
	margin-top: 0;
}

.label-lg,
.form-group > .label-lg,
.form-group > .form-group-element > .label-lg {
	font-size: x-large;
	font-weight: normal;
}

.details-info-label,
.form-group > label,
.form-group-element > label {
	color: darken($brand-primary, 10%);
	font-weight: normal;
}

.control-label {
	@include td-make-sm-column(3);
}

.control-input {
	@include td-make-sm-column(9);
}

.control-btn {
	@include td-make-sm-column(9);
	@include td-make-sm-column-offset(3);
}
