.form-group {
	@include clearfix;
}

.form-group > .form-group-element {
	@media (min-width: $screen-sm) {
		// Automatically split form-group into equally big elements
		// two elements
		&:nth-child(1):nth-last-child(2),
		&:nth-child(2):nth-last-child(1) {
			@include grid(12, 6);
		}
		// three elements
		&:nth-child(1):nth-last-child(3),
		&:nth-child(2):nth-last-child(2),
		&:nth-child(3):nth-last-child(1) {
			@include grid(12, 4);
		}
		&:nth-child(1):nth-last-child(2),
		&:nth-child(1):nth-last-child(3) {
			padding-left: 0;
		}
		&:nth-child(2):nth-last-child(1),
		&:nth-child(3):nth-last-child(1) {
			padding-right: 0;
		}
	}
	@media (max-width: $screen-sm) {
		& + .form-group-element {
			margin-top: $form-group-margin-bottom;
		}
	}
}

.form-group,
.form-group-element {
	& > .list-group {
		margin-bottom: 0;
	}
	& > .checkbox:nth-child(2),
	& > .checkbox:first-child {
		margin-top: 0;
	}
}

.form-group > label,
.form-group > .form-group-element > label {
	font-size: large;
	font-weight: normal;
}

.label-lg,
.form-group > .label-lg,
.form-group > .form-group-element > .label-lg {
	font-size: x-large;
}
