.nav-tabs > li {
	& > a {
		color: $default-black;
		&:hover {
			background-color: $openki-blue-light;
			border-bottom-width: 2px;
			color: $default-white;
		}
	}
	&.active > a,
	&.active > a:hover,
	&.active > a:focus {
		background-color: lighten($openki-blue-lighter, 5%);
		border-top: 3px solid $openki-blue-light;
	}
}

.tab-pane {
	background: lighten($openki-blue-lighter, 5%);
	border-color: $brand-primary;
	border-style: solid;
	border-width: 0 1px 1px;
	padding: 15px;
}
