.nav-tabs > li {
	z-index: 99;
	& > a {
		color: $default-black;
		&:hover {
			background-color: $openki-blue-light;
			border-bottom-width: 2px;
			color: $default-white;
		}
	}
	&.active > a,
	&.active > a:hover,
	&.active > a:focus {
		background-color: lighten($openki-blue-lighter, 5%);
		border-top: 3px solid $openki-blue-light;
	}
}

.tab-content {
	background-color: lighten($openki-blue-lighter, 5%);
	padding: 15px;
}
