@import '{}/client/styles/variables';
@import '{}/client/styles/mixins/bootstrap/grid';
@import '{}/client/styles/mixins/bootstrap/clearfix';

// Narrow container
.container-sm {
	@include container-fixed;
	@media (min-width: $screen-sm-min) {
		 width: $container-sm;
	}
}

.container .container-sm {
	@media (max-width: $screen-md) {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
