@import '{}/client/styles/variables';
@import '{}/client/styles/components/buttons';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/gradients';

@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/vendor-prefixes';


.list-group {
	button + li {
		border-top-color: $btn-default-border;
	}

	button:hover + li,
	button:hover + button {
		border-top-color: #8dc3d6;
	}
}

.list-group-item {
	@include transition(border-color .15s ease-in-out);
}
