@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/gradients';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/vendor-prefixes';
@import '{}/client/styles/components/buttons';
@import '{}/client/styles/variables';

.list-group {
  button + li {
    border-top-color: $btn-default-border;
  }
  button:hover + li,
  button:hover + button {
    border-top-color: #8dc3d6;
  }
}

.list-group-item {
  @include transition(border-color .15s ease-in-out);
}

button.list-group-item {
  @include gradient-vertical(map-get($btn-default-bg-color-steps, default), map-get($btn-default-bg-color-steps, darker));
  border-color: $btn-default-border;
  &:hover {
    @include gradient-vertical(map-get($btn-default-bg-color-steps, dark), map-get($btn-default-bg-color-steps, darkest));
    border-color: #8dc3d6;
  }
}
