@import '{}/client/styles/variables';


.tooltip {
	background: $brand-primary;
	border-radius: 4px;
	box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	color: $body-bg;
	font-size: $font-size-base;
	opacity: 0;
	padding: 5px 7px;
	pointer-events: none;
	text-shadow: rgba(0, 0, 0, .25) 1px 1px 1px;
	transition: opacity .1s ease-out;
	white-space: nowrap;
	z-index: 1001;
	&::after {
		border-color: $brand-primary transparent transparent;
		border-style: solid;
		border-width: 10px;
		content: '';
		height: 0;
		left: calc(#{'50% - 10px'});
		position: absolute;
		width: 0;
	}
	&-inner {
		max-width: none;
	}
	&.hide {
		opacity: 0;
	}
	&.show {
		opacity: 1;
	}
}
