.course-edit {
  @include grid(12);
  padding: 0;
  h2 {
    margin-top: 0;
  }
}

.course-edit-body {
  @include grid(12);
  border: 7px dashed $openki-light-blue;
  margin-top: 10px;
  padding: 20px 30px 10px;
  @media (max-width: $screen-xs) {
    border: 0;
    margin: 0;
    padding: 0 0 10px;
  }
}
