.course-edit h2 {
	margin-top: 0;
}

.course-edit-body {
	padding-bottom: 10px;

	@media (min-width: $screen-xs) {
		border: 7px dashed $blue-lighter;
		margin-top: 10px;
		padding: 20px 30px 10px;
	}
}
