.event-details-body {
	background: $event-body-bg;
	height: calc(#{'100% - 70px'});
}

.event-details-body .location {
	@include td-margin(right, 5px);
}

.event-details-body .grouplist {
	margin-bottom: 10px;
}

.event-details-body .grouplist .dropdown-menu {
	z-index: 10000;
}

.event-details-header {
	background: $event-header-bg;
}

.event-details-header .date {
	font-size: x-large;
}

.event-details-header .date	.glyphicon-calendar {
	font-size: large;
}

.event-details-header .glyphicon-time {
	font-size: small;
}

.event-files-list {
	@include list-unstyled;
}
