.event-details-body {
	@include grid(12);
	background: $openki-blue-lighter;
  height: calc(#{'100% - 70px'});
	padding: 0;
	.location {
    margin-right: 5px;
  }
  .location,
  .groups-list {
    display: inline-block;
  }
}

.event-details-header {
	@include grid(12);
	background: $brand-success;
	border-bottom: 3px solid $body-bg;
	padding-bottom: 10px;
	padding-top: 10px;
	.date {
		font-size: x-large;
		.glyphicon-calendar {
			font-size: large;
		}
	}
	.glyphicon-time {
		font-size: small;
	}
}
.event-details-body {
  .head {
    @include grid(12, 6);
  }
  .mapBox {
    @include grid(12, 6);
    padding-right: 0;
    .mapContainer.box {
      height: 300px;
      width: 100%;
    }
  }
  .event_detail_description {
    padding-top: 5px;
  }
}

.event-details-component {
	@include grid(12);
	@include make-row-self;
	margin-bottom: 15px;
	& > .btn {
		width: 100%;
	}
}
