<template name="eventPage">
	<div class="container-sm">
		{{> event}}
	</div>
</template>

<template name="eventNotFound">
	<h4>{{mf "event.no_event" "Sorry, we couldn't find this event, it must have been deleted or it never existed in the first place."}}</h4>
</template>

<template name="event">
	{{#if editing}}
		{{> eventEdit}}
	{{else}}
		{{> eventBackToLink}}
		{{> eventDisplay}}
	{{/if}}
</template>

<template name="eventBackToLink">
	<div class="page-component">
		{{#if course}}
			{{#if referredByCourse}}
				<a href="{{pathFor 'showCourse' _id=course._id}}">
					{{backArrow}}
					{{mf 'course.event.detail.back' 'Back to course'}} "{{course.name}}"
				</a>
			{{else}}
				{{> backToLink}}
				<a href="{{pathFor 'showCourse' _id=course._id}}">
					<span class="fa fa-rocket fa-fw" aria-hidden="true"></span>
					{{mf 'course.event.detail.goToCourse' 'Go to course'}} "{{course.name}}"
				</a>
			{{/if}}
		{{else}}
			{{> backToLink}}
		{{/if}}
	</div>
</template>

<template name="eventDisplay">
	<div class="page-component">
		<div class="details-header event-details-header">
				<span class="day">{{weekday startLocal}}</span><br>
				<span class="date">
					<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
					{{dateformat_mini_fullmonth startLocal}}
				</span>
				<span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>
				{{timeformat startLocal}} - {{timeformat endLocal}}
		</div>
		<div class="details-body event-details-body">
			{{> regionTag}}
			<div class="details-content">
				<h3>{{this.title}}</h3>
				<div class="tag-group multiline">
					{{> venueLink}}
					{{#if venue.address}}
						<div class="tag">
							<span class="fa fa-map-marker fa-fw" aria-hidden="true"></span>
							{{venue.address}}
						</div>
					{{/if}}
				</div>

				{{> eventGroupList}}

				<p>
					{{#if hasVenue}}
						<div class="details-map">
							{{>map markers=eventMarkers}}
						</div>
					{{/if}}
					{{{description}}}
				</p>
			</div>
		</div>
		{{#if replicating}}
			{{>eventReplication}}
		{{/if}}
		{{#if mayEdit}}
			<div class="actions">
				{{#unless expanded}}
					{{> buttonDelete event="js-expand"}}
				{{/unless}}
				{{> buttonEdit event="js-event-edit"}}
				{{#if replicating}}
					<button type="button" class="btn btn-cancel js-toggle-replication">
						<span class="fa fa-remove fa-fw" aria-hidden="true"></span>
						{{mf 'course.details.hideReplicationMenu' 'Cancel replication'}}
					</button>
				{{else}}
					<button type="button" class="btn btn-add js-toggle-replication">
						<span class="fa fa-plus fa-fw" aria-hidden="true"></span>
						{{mf 'course.details.repl_menu_btn' 'Repeat'}}
					</button>
				{{/if}}
			</div>
			{{#if expanded}}
				{{> eventDeleteConfirmDialog}}
			{{/if}}
		{{/if}}
	</div>
	<div class="page-component">
		<a href="{{pathFor 'calEvent' this}}" class="js-download">
			<i class="fa fa-arrow-down fa-fw" aria-hidden="true"></i>
			{{mf 'event.detail.download_cal' 'Download event to my calendar'}}
		</a>
	</div>
	<div class="page-component">
		{{> report}}
	</div>
</template>


<!-- COPYPASTA WARNING
    Below are slightly modified templates from course.details.html.
    Where possible, the original translation keys have been kept.

    Most of what is in these templates could be generalized across courses and
    events. It's the pesky translation strings where I think we'll run into
    trouble when we try to unite them.
-->
<template name="eventDeleteConfirmDialog">
	<div class="event-delete-confirmation">
		<p>{{mf 'event.reallydelete' 'Please confirm that you would like to delete this event. This cannot be undone.'}}</p>
		<div class="form-actions">
			{{> buttonCancel event="js-collapse"}}
			{{> buttonDeleteConfirm
				event="js-event-delete-confirm"
				textIdle=(mf 'event.delete.confirm.button' 'Delete this event')
				textBusy=(mf 'event.delete.confirm.button.busy' 'Deleting event...')
			}}
		</div>
	</div>
</template>

<template name="eventGroupList">
	<div class="tag-group multiline">
		{{#each allGroups}}
			{{> groupName}}
			{{#if isOrganizer}}
				<div class="tag addon">
					<span class="glyphicon glyphicon-bullhorn fa-fw" aria-hidden="true"></span>
				</div>
			{{/if}}
			{{#if tools}}
				<div class="btn-group group-tag-btn addon">
					<button type="button" class="dropdown-toggle"
						aria-expanded="false"
						aria-haspopup="true"
						data-toggle="dropdown">
						<span class="fa fa-caret-down fa-fw" aria-hidden="true"></span>
					</button>
					<ul class="dropdown-menu group-editor">
						<li class="dropdown-header">
							{{mf 'grouplist.editgroup.header'}}
							<button class="close">&times;</button>
						</li>
						<li role="seperator" class="divider"></li>
						{{#each tools}}
							<li class="group-editor-btn">{{> toolTemplate}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		{{/each}}
		{{> eventGroupAdd}}
	</div>
</template>


<template name="eventGroupAdd">
	{{#if groupsToAdd}}
		<div class="btn-group group-tag-btn">
			<button type="button" class="dropdown-toggle"
				aria-expanded="false"
				aria-haspopup="true"
				data-toggle="dropdown">
				<span class="fa fa-plus fa-fw" aria-hidden="true"></span>
				<span>{{mf 'course.group.addText' 'link a group'}}</span>
				<span class="fa fa-caret-down fa-fw" aria-hidden="true"></span>
			</button>
			<ul class="dropdown-menu group-editor">
				<li class="dropdown-header">
					{{mf 'grouplist.addgroups.header'}}
					<button class="close">&times;</button>
				</li>
				<li role="seperator" class="divider"></li>
				{{#each groupsToAdd}}
					<li>
						<button type="button" class="btn-link js-add-group" value="{{this}}">
							{{> groupName}}
							{{name}}
						</button>
					</li>
				{{/each}}
				<li class="group-editor-btn">
					<a href="/group/create" class="btn btn-add">
						<span class="fa fa-plus fa-fw" aria-hidden="true"></span>
						{{mf 'profile.createNewGroup.button'}}
					</a>
				</li>
			</ul>
		</div>
	{{/if}}
</template>


<template name="eventGroupRemove">

	{{#if expanded}}
		<div class="group-tool-dialog danger">
			{{#with groupId}}
				{{mf 'event.group.confirmRemoveText' "Remove group {NAME} from this event?" NAME=name}}
			{{/with}}
			<button type="button" class="btn btn-remove js-remove">
				{{mf 'course.group.confirmRemoveButton'}}
			</button>
		</div>
	{{else}}
		<a href="#" class="js-expand btn btn-remove">
			<span class="fa fa-remove fa-fw" aria-hidden="true"></span>
			{{mf 'course.group.remove' 'Remove'}}
		</a>
	{{/if}}
</template>


<template name="eventGroupMakeOrganizer">
	{{#if expanded}}
		<div class="group-tool-dialog add">
			{{#with groupId}}
				{{mf 'event.group.confirmOrgText' "Add group {NAME} as organizers?" NAME=name}}
			{{/with}}
			{{mf 'event.group.confirmOrgNotes' "All members of this group will be able to edit this event."}}
			<button type="button" class="btn btn-add js-makeOrganizer">
				{{mf 'course.group.confimOrgButton' "Give editing rights"}}
			</button>
		</div>
	{{else}}
		<a href="#" class="js-expand btn btn-add">
			<span class="glyphicon glyphicon-bullhorn fa-fw" aria-hidden="true"></span>
			{{mf 'course.group.addOrgText'}}
		</a>
	{{/if}}
</template>

<template name="eventGroupRemoveOrganizer">
	{{#if expanded}}
		<div class="group-tool-dialog danger">
			{{#with groupId}}
				{{mf 'event.group.confirmRemoveOrgText' "Take away organizer status from group {NAME}" NAME=name}}
			{{/with}}
			<button type="button" class="btn btn-remove js-removeOrganizer">
				{{mf 'course.group.confimRemoveOrgButton'}}
			</button>
		</div>
	{{else}}
		<a href="#" class="js-expand btn btn-remove">
			<span class="fa fa-remove fa-fw" aria-hidden="true"></span>
			{{mf 'course.group.removeOrgText' NAME=name}}
		</a>
	{{/if}}
</template>
