<template name="eventPage">
	<div class="container-sm">
		{{#if course}}
			<p>
				<a href="{{pathFor 'showCourse' _id=course._id}}">
					<span class="glyphicon glyphicon-arrow-left"></span>
					{{mf 'course.event.detail.back' 'Back to course'}} "{{course.name}}"
				</a>
			</p>
		{{/if}}
		{{> event}}
	</div>
</template>

<template name="eventNotFound">
	<h4>{{mf "event.no_event" "Sorry, we couldn't find this event, it must have been deleted or it never existed in the first place."}}</h4>
</template>

<template name="event">
	{{#if editing}}
		{{> eventEdit}}
	{{else}}
		{{> eventDisplay}}
	{{/if}}
</template>

<template name="eventDisplay">
	<div class="details-page-component">
		<div class="details-header event-details-header">
				<span class="day">{{weekday start}}</span><br>
				<span class="date">
					<span class="glyphicon glyphicon-calendar"></span>
					{{dateformat_mini_fullmonth start}}
				</span>
				&nbsp;
				<span class="glyphicon glyphicon-time"></span>
				{{timeformat start}} - {{timeformat end}}
		</div>
		<div class="details-body event-details-body">
			<div class="details-content">
				<h3>{{this.title}}</h3>
				<div class="location">
					{{> locationLink}}
					{{#if location.address}}
						<span class="fa fa-map-marker"></span>
						{{location.address}}
					{{/if}}
				</div>

				{{> eventGroupList}}

				<p>
					{{#if haveLocation}}
						<div class="details-map">
							{{>map markers=eventMarkers}}
						</div>
					{{/if}}
					{{{description}}}
				</p>
			</div>
		</div>
		{{#if files}}
			<div class="details-addition">
				<h4>Related Files:</h4>
				<ul class="event-files-list">
					{{#each files}}
						{{> eventAttachments}}
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if replicating}}
			{{>eventReplication}}
		{{/if}}
		{{#if mayEdit}}
			<div class="actions">
				<button type="button" class="eventDelete btn btn-delete">
					<i class="fa fa-trash fa-fw"></i>
					{{mf '_button.delete'}}
				</button>
				<button type="button" class="eventEdit btn btn-edit">
					<i class="fa fa-edit fa-fw"></i>
					{{mf '_button.edit'}}
				</button>
				{{#if replicating}}
					<button type="button" class="-closeReplication btn btn-cancel">
						<i class="fa fa-minus fa-fw"></i>
						{{mf 'course.details.repl_menu_btn'}}
					</button>
				{{else}}
					<button type="button" class="-openReplication btn btn-add">
						<i class="fa fa-plus fa-fw"></i>
						{{mf 'course.details.repl_menu_btn' 'Repeat'}}
					</button>
				{{/if}}
			</div>
		{{/if}}
	</div>
	<div class="details-page-component">
		<a class="btn btn-default" href="{{pathFor 'calEvent' this}}" role="button">
			<i class="fa fa-download fa-fw"></i>
			{{mf 'event.detail.download_cal' 'Download event to my calendar'}}
		</a>
	</div>
	<div class="details-page-component">
		{{> report}}
	</div>
</template>

<template name="eventAttachments">
	<li>
		<i class="fa fa-file fa-fw" aria-hidden="true"></i>
		<a href="{{file}}" target="_blank">{{filename}}</a>
	</li>
</template>



<!-- COPYPASTA WARNING
    Below are slightly modified templates from course.details.html.
    Where possible, the original translation keys have been kept.

    Most of what is in these templates could be generalized across courses and
    events. It's the pesky translation strings where I think we'll run into
    trouble when we try to unite them.
-->

<template name="eventGroupList">
	<ul class="groups-list">
		{{#each allGroups}}
		<li>
			{{> groupName}}
			{{#if isOrganizer}}
				<span class="glyphicon glyphicon-bullhorn group-add"></span>
			{{/if}}
			{{#if tools}}
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle group-add"
					aria-expanded="false"
					aria-haspopup="true"
					data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
				{{#each tools}}
					<li>{{> toolTemplate}}</li>
				{{/each}}
				</ul>
			</div>
			{{/if}}
		</li>
		{{/each}}
		{{> eventGroupAdd}}
	</ul>
</template>


<template name="eventGroupAdd">
	{{#if groupsToAdd}}
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle no-btn-style"
				aria-expanded="false"
				aria-haspopup="true"
				data-toggle="dropdown">
				<span class="glyphicon glyphicon-plus" title="{{mf 'course.group.addText' 'Add a group'}}"></span>
			</button>

			<ul class="dropdown-menu group-editor">
				{{#each groupsToAdd}}
					<li>
						<span class="group">{{> groupName}}</span>
						<button type="button" class="js-add" value="{{this}}">
							{{mf 'course.group.confirmAddButton'}}
						</button>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</template>


<template name="eventGroupRemove">
	<li>
		<span class="js-expand"><span class="fa fa-remove"></span>{{mf 'course.group.remove' 'Remove'}}</span>
		{{#if expanded}}
			<div class="group-editor">
				{{#with groupId}}{{mf 'event.group.confirmRemoveText' "Remove group {NAME} from this event?" NAME=name}}{{/with}}
				<button type="button" class="js-remove">
					{{mf 'course.group.confirmRemoveButton'}}
				</button>
			</div>
		{{/if}}
	</li>
</template>


<template name="eventGroupMakeOrganizer">
	<li>
		<span class="js-expand"><span class="glyphicon glyphicon-bullhorn"></span> {{mf 'course.group.addOrgText'}}</span>
		{{#if expanded}}
			<div class="group-editor">
				{{#with groupId}}{{mf 'event.group.confirmOrgText' "Add group {NAME} as organizers?" NAME=name}}{{/with}}
				{{mf 'event.group.confirmOrgNotes' "All members of this group will be able to edit this event."}}
				<button type="button" class="js-makeOrganizer">
					{{mf 'course.group.confimOrgButton' "Give editing rights"}}
				</button>
			</div>
		{{/if}}
	</li>
</template>

<template name="eventGroupRemoveOrganizer">
	<li>
		<span class="js-expand"><span class="fa fa-remove"></span> {{mf 'course.group.removeOrgText' NAME=name}}</span>
		{{#if expanded}}
			<div class="group-editor">
				{{#with groupId}}{{mf 'event.group.confirmRemoveOrgText' "Take away organizer status from group {NAME}" NAME=name}}{{/with}}
				<button type="button" class="js-removeOrganizer">
					{{mf 'course.group.confimRemoveOrgButton'}}
				</button>
			</div>
		{{/if}}
	</li>
</template>
