.navbar {
  @extend .navbar-default;
  @extend .navbar-fixed-top;
	@include transition(box-shadow $default-transition-time);
  border: 0;
}

#bs-navbar-collapse-1 {
	@media (max-width: $screen-sm) {
		box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	}
}

.navbar-container {
  max-width: 1600px;
}

.navbar-brand {
  position: relative;
}

.navbar-brand > img {
  bottom: 5px;
  display: inline-block;
  height: 200%;
  position: relative;
}

.site-name {
	@include transition(text-shadow $default-transition-time);
  font-size: x-large;
  vertical-align: top;
}

.site-stage {
	@include transition(text-shadow $default-transition-time);
  @include rotate(345deg);
  bottom: 2px;
  color: $site-stage-color;
  font-size: small;
  font-weight: bold;
  left: 105px;
	position: absolute;
}

.navbar-brand:hover {
	text-shadow: rgba(0, 0, 0, .25) 1px 1px 1px;
	& > .site-stage {
	  color: $default-white;
	}
}

.navbar-link {
	@include transition-property(#{'background-color, box-shadow, text-shadow'});
  @include transition-duration($default-transition-time);
  font-size: $navbar-default-font-size;
	&:hover {
		text-shadow: rgba(0, 0, 0, .25) 1px 1px 1px;
	}
	@media (max-width: $screen-sm) {
		border-bottom: 1px solid $navbar-default-border;
	}
}

.nav-marker-bar {
	@include transition-property(#{'background-color, opacity'});
	@include transition-duration($default-transition-time);
	background-color: transparent;
	bottom: -6px;
	height: 6px;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
}

.nav-marker-caret {
	@include transition(opacity $default-transition-time);
	border: 5px solid;
	border-color:  transparent transparent $body-bg;
	bottom: 0;
	box-shadow: 0 5px 5px -5px #fff;
	height: 0;
	left: 50%;
	opacity: 0;
	position: absolute;
	width: 0;
}

.navbar-link-active .nav-marker-caret {
	@media (min-width: $screen-sm) {
		opacity: 1;
	}
}

.calendar-link.navbar-link-active {
	& > .nav-marker-caret {
		border-bottom-color: $calendar-navigation-bg;
	}
	&.navbar-link-covering > .nav-marker-bar {
		background-color: $calendar-navigation-bg;
		opacity: 1;
	}
}

.navbar .navbar-nav {
	&:first-child,
	&:last-child {
		margin-bottom: 0;
		margin-top: 0;
	}
	& > .open > .dropdown-menu {
		@media (min-width: $screen-sm) {
			padding-top: 10px;
			z-index: -1;
		}
		@media (max-width: $screen-sm) {
			background-color: $dropdown-bg;
			box-shadow: 0 0 5px rgba(0, 0, 0, .3) inset;
			padding: 0;
			& > li {
				& > a {
					border-bottom: 1px solid darken($dropdown-bg, 10%);
					color: $dropdown-link-color;
				}
				&:last-child > a {
					border-bottom: 0;
				}
			}
		}
	}
	& > .open > .navbar-link {
		&,
		&:hover,
		&:focus {
			background-color: lighten($navbar-default-bg, 10%);
			box-shadow: 0 0 5px rgba(0, 0, 0, .3);
		}
		@media (min-width: $screen-sm) {
			.nav-marker-bar {
				background-color: $dropdown-bg;
				opacity: 1;
			}
		}
	}
}

.navbar-covering {
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	.nav-marker-caret {
		opacity: 0;
	}
	.navbar-link-active,
	.navbar-nav > li > .navbar-link-active:hover,
	.navbar-nav > li > .navbar-link-active:focus {
		background-color: lighten($navbar-default-bg, 10%);
		box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	}
}
