.grouplist {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.grouplist > li,
.grouplist > .dropdown,
.grouplist > li > .dropdown {
	display: inline-block;
}

%group-label {
	background: $group-bg;
	color: $group-color;
	transition: all $default-transition-time;

	&:hover,
	&:focus {
		background: darken($group-bg, 10%);
		box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
		color: $group-color;
	}
}

.js-group-label {
	@extend %group-label;
	padding: 0 4px 1px;

	&:hover {
		text-decoration: none;
	}
}

.group-label-addon {
	background: $group-bg;
	color: $group-color;
	padding: 1px 1px 0;
	vertical-align: middle;
}

.group-label-addon-btn {
	@extend %group-label;
	border-color: darken($group-bg, 5%);
	border-style: solid;
	border-width: 0 0 0 1px;
	padding: 0 1px;

	&:hover,
	&:focus {
		border-left-color: $group-bg;
	}
}

.group-label-btn {
	@extend %group-label;
	border: 0;
	padding: 0 3px;
}

.js-add-group {
	@include btn-sm;
}

.group-tool-dialog {
	padding: 10px 15px;
}

.group-tool-dialog > .btn {
	margin-top: 10px;
	width: 100%;
}
