$group-label-color: $blue;

.group-tag {
	@include tag($group-bg, $group-label-color);
}

.group-tag-btn {
	@include tag-btn($group-bg, $group-label-color);
}

.group-editor {
	min-width: 250px;
}

.group-tools,
.group-editor {
	padding: 10px 0;
}

li + .group-editor-btn,
.group-editor-btn + .group-editor-btn {
	margin-top: 10px;
}

.group-editor-btn > .btn {
	margin: 0 10px;
}

.group-tool-dialog {
	margin: 0 10px;
	padding: 10px 10px;

	&.add {
		background-color: rgba($brand-success, .35);
	}

	&.danger {
		background-color: rgba($brand-danger, .2);
	}
}

.group-tool-dialog > .btn {
	margin-top: 10px;
	width: 100%;
}
