// *** Event location edit ***
//============================

.event-edit-location-info {
	color: $gray-light;
	font-style: italic;
	margin-bottom: 10px;
}

.event-edit-location {
	@include td-make-xs-column(12);
	overflow: auto;
	padding: 0;
}

.event-edit-location-search {
	@include td-make-sm-column(6);
	@include td-padding-all(0, ($grid-gutter-width / 4), 0, 0);
}

.event-edit-location-selected {
	display: inline-block;
	padding-bottom: 5px;
}

.event-edit-location-selected > .fa {
	color: $green-darker;
}

.event-edit-location-searchbar {
	padding-bottom: 5px;
}

.event-edit-location-candidates {
	margin: 0;
	padding: 5px 0 0;
}

.event-edit-location-candidate {
	$background-color: darken($blue-lighter, 5%);

	background-color: $background-color;
	list-style: none;
	margin-bottom: 4px;
	@include td-padding(left, 5px);

	&:hover {
		cursor: pointer;
	}

	&:hover,
	&.hover {
		background: darken($background-color, 5%);
	}
}

.event-edit-location-candidate > .address {
	font-size: 11px;
}

.event-edit-location-create-venue {
	display: block;
	margin-top: 10px;
}

.event-edit-location-map {
	@include td-make-sm-column(6);
	@include td-padding-all(0, 0, 0, ($grid-gutter-width / 4));

	@media (max-width: $screen-xs) {
		@include td-padding(left, 15px);
	}
}

.event-edit-location-map > .map-box {
	height: 300px;
	width: 100%;
}
