.event-edit-location {
	@include make-xs-column(12);
	background-color: $location-edit-bg;
	border: 1px solid $gray-lighter;
	overflow: auto;
	padding: 0;
}

.event-edit-location .input-group-addon {
	border-color: $gray-lighter;
	border-style: solid;
	border-width: 0 1px 0 0;

	@media (max-width: $screen-xs) {
		display: none;
	}
}

.event-edit-location-search {
	@include make-sm-column(6);
	margin: 10px 0;
}

.event-edit-location-selected {
	display: inline-block;
	padding-bottom: 5px;
}

.event-edit-location-selected > i {
	color: darken($brand-success, 40%);
}

.event-edit-location-searchbar {
	padding-bottom: 5px;
}

.event-edit-location-candidates {
	padding: 5px 0;
}

.event-edit-location-candidate {
	background-color: $location-candidate-bg;
	list-style: none;
	margin-bottom: 4px;
	padding-left: 5px;

	&:hover {
		cursor: pointer;
	}

	&:hover,
	&.hover {
		background: $location-candidate-hover-bg;
	}
}

.event-edit-location-candidate > .address {
	font-size: 11px;
}

.event-edit-location-map {
	@include make-sm-column(6);
	margin: 10px 0;
	padding-left: 0;

	@media (max-width: $screen-xs) {
		padding-left: 15px;
	}
}

.event-edit-location-map > .map-box {
	height: 300px;
	width: 100%;
}
