<template name="eventEditLocation">
	<div class="locationFrame form-group">
		<label>{{mf 'course.event.edit.location' 'Location'}}</label>
		<div class="locationEdit input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-home"></span>
			</span>
			<div class="locationSearch">
				{{#if locationIsPreset}}
					<div class="currentLocation">
						<div class="locationName">
							<span class="fa fa-map-marker"></span>&nbsp;
							{{location.name}}
							{{#if location.address}}
								<br>
								{{location.address}}
							{{/if}}
							&nbsp;
						</div>
						<button type="button" class="btn btn-edit -locationChange">
							{{mf 'event.edit.locationChange' "Change location"}}
						</button>
					</div>
				{{else}}
					<div class="locationSearchbar input-group">
						<input class="-locationName form-control"
							placeholder="{{mf 'event.edit.locationNamePlaceholder' "Where?"}}"
							type="text"
							value="{{location.name}}"/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-go -addressSearch">
								<span class="glyphicon glyphicon-search"></span>
								&nbsp;
								{{mf 'event.edit.addressSearch' "Search"}}
							</button>
						</span>
					</div>
					{{#if searching}}
					<input class="-locationAddress form-control"
						placeholder="{{mf 'event.edit.locationAddressPlaceholder' "Address"}}"
						size="40"
						type="text"
						value="{{location.address}}"/>
					{{/if}}
					{{#if haveLocationCandidates}}
						{{#if searching}}
							{{mf 'event.edit.locations.proposed' 'Matching locations:'}}
						{{else}}
							{{mf 'event.edit.locations.previouslyUsed' 'Recently used locations:'}}
						{{/if}}
						<ul class="locationCandidates">
							{{#each locationCandidates}}
								<li class='{{candidateClass}}'>
									{{name}}
									<div class="address">{{address}}</div>
								</li>
							{{/each}}
						</ul>
					{{else}}
						{{mf 'event.edit.locations.foundnone' 'No locations found.'}}
					{{/if}}
				{{/if}}
			</div>
			<div class="locationMap">
				{{>map markers=eventMarkers allowPlacing=allowPlacing allowRemoving=allowRemoving}}
			</div>
		</div>
	</div>
</template>
