<template name="eventEditLocation">
	<div class="form-group">
		<label>{{mf 'course.event.edit.location' 'Location'}}</label>
		<div class="input-group event-edit-location">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-home"></span>
			</span>
			<div class="event-edit-location-search">
				{{#if locationIsPreset}}
					<div class="event-edit-location-selected">
						<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
						{{location.name}}
						{{#if location.address}}
							<br>
							{{location.address}}
						{{/if}}
						&nbsp;
					</div>
					<button type="button" class="btn btn-edit js-location-change">
						{{mf 'event.edit.locationChange' "Change location"}}
					</button>
				{{else}}
					<div class="input-group event-edit-location-searchbar">
						<input type="text" class="form-control js-location-search-input"
							placeholder="{{mf 'event.edit.locationNamePlaceholder' 'Where?'}}"
							value="{{location.name}}"/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-go js-location-search-btn">
								<i class="fa fa-search fa-fw" aria-hidden="true"></i>
								{{mf 'event.edit.addressSearch' "Search"}}
							</button>
						</span>
					</div>
					{{#if searching}}
						<input type="text" class="form-control js-location-address-search"
							placeholder="{{mf 'event.edit.locationAddressPlaceholder' 'Address'}}"
							size="40"
							value="{{location.address}}"/>
					{{/if}}
					{{#if haveLocationCandidates}}
						{{#if searching}}
							{{mf 'event.edit.locations.proposed' 'Matching locations:'}}
						{{else}}
							{{mf 'event.edit.locations.previouslyUsed' 'Recently used locations:'}}
						{{/if}}
						<ul class="event-edit-location-candidates">
							{{#each locationCandidates}}
								<li class='event-edit-location-candidate js-location-candidate {{hoverClass}}'>
									{{name}}
									<div class="address">{{address}}</div>
								</li>
							{{/each}}
						</ul>
					{{else}}
						{{mf 'event.edit.locations.foundnone' 'No locations found.'}}
					{{/if}}
				{{/if}}
			</div>
			<div class="event-edit-location-map">
				{{> map markers=eventMarkers allowPlacing=allowPlacing allowRemoving=allowRemoving}}
			</div>
		</div>
	</div>
</template>
