// TODO: STRUCTURE & COMMENTS

// TEMPORARY STYLES FOR NHW HEADER
// ================================

a#nhw_logo:hover {
    & > img {
        opacity: 0.7;
    }
}

.nw_header {
    text-align: center;
    margin-top: -10px;
    .container {
        & > div {
            background: #D8EBF4;
        }
    }
}

.nw_header.hideIt {
    display: none;
}

img.nw_box {
    padding-right: 20px;
    padding-bottom: 10px;
}

h3.teaser {
    line-height: 35px;
    font-size: 2em;
    margin-top: 0;
    & > span.teaser_text {
        margin: 0;
    }
}

.NWinfo {
    display: none;
    background: #D8EBF4;
    text-align: left;
    font-size: large;
    & > .text {
        padding: 15px 10px 0px 10px;
    }
}

.NWinfo.true {
    display: block;
}

button.nw_close,button.readmore {
    border: none;
    background: none;
    font-size: large;
    color: #38829C;
}

button.nw_close:hover,button.readmore:hover {
    color: #333;
    z-index: 9999;
}

button.nw_close {
    padding-top: 5px;
}

:button.readmore {
    padding-top: 5px;
}

button.readmore &>span.glyphicon-chevron-down,
button.readmore &>span.glyphicon-chevron-up {
    font-size: medium;
}

div.fold-buttons {
    padding-bottom: 10px;
}

.banner {
    margin-top: -65px;
    & > a:hover {
        color: #38829C;
    }
}

// KIOSK MODE STYLING
// =======================================

.kiosk {
    h1 {
        & > a {
            font-size: large;
            padding-top: 20px;
        }
        & > a:hover {
            text-decoration: none;
        }
    }
    a {
        & > .calendar_event {
            width: 100%;
        }
        .calendar_event {
            & > .kiosk_date_time {
                background: #C1F2AE;
                font-size: large;
                color: #000;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .kiosk_date_time {
                border-bottom: 3px solid #fff;
                & > .kiosk_home {
                    padding-top: 15px;
                    text-align: right;
                }
            }
            .course_event_title {
                & > h3 {
                    margin-top: 15px;
                    color: #000;
                }
            }
        }
    }
    a:hover {
        text-decoration: none;
        .calendar_event {
            & > .course_event_desc {
                color: #38829C;
            }
        }
    }
}

// BASIC STYLINGS (TODO:SPLIT & STRUCTURE)
// =========================================

//Helpers

div.no-padding {
    padding: 0;
}

div.grey_out {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #E6E6E6;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

////////////

#maincontent {
    padding-bottom: 50px;
}

.about {
    font-size: medium;
    padding: 0 30px;
}

body {
    padding-top: 65px;
}

html,body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    margin: 0 auto -100px;
}

footer.footer {
    background: #38829C;
    text-align: center;
    font-size: large;
    color: #fff;
    div {
        & > a {
            color: #fff;
        }
    }
    .links {
        word-spacing: 10px;
        padding-top: 35px;
        div.long_link {
            word-spacing: normal;
            display: inline-block;
        }
    }
}

.footer,
.push {
    height: 100px;
}

a.navbar-brand {
    font-size: x-large;
}

.navbar-nav {
    & > li {
        & > a {
            font-size: large;
        }
    }
}

h1 {
    color: #38829C;
}

p {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.search {
    .row {
        margin-left: 0;
    }
}

.navbar-right {
    a.loginButton {
        cursor: pointer !important;
    }
}

.dropdown-menu {
    background: #D8EBF4;
    width: 300px;
}

#loginFrame {
    text-align: center;
    background: #D8EBF4;
    & > div:first-child {
        margin-top: 12px;
    }
}

input#find {
    font-size: 20px;
}

.external_logins {
    margin: 15px 0;
}

ul.messages {
    background: #f0ad4e;
    text-align: center;
    & > li:first-child {
        padding-top: 10px;
    }
    & > li:last-child {
        padding-bottom: 10px;
    }
    li {
        button.close {
            float: none;
        }
    }
}

// COURSELIST STYLING
// ====================================

.courselist_results {
    margin-top: 10px;
}

.courselist_course {
    display: inline-block;
    width: 280px;
    height: 150px;
    border: 7px dashed #D8EBF4;
    margin: 10px 10px 10px 0;
    padding-right: 0 !important;
    padding-left: 10px !important;
    h4 {
        -moz-transition: color 1s;
        color: #333;
    }
    & > a {
        color: #333;
    }
    a:hover {
        text-decoration: none;
    }
    .yes {
        color: #407d5c;
        background-color: #C1F2AE;
        width: 100%;
        margin-bottom: 3px;
        text-align: center;
    }
    .no {
        color: #751313;
        background-color: #EC6D6D;
        width: 100%;
        margin-bottom: 3px;
        text-align: center;
    }
}

.courselist_course:hover {
    h4 {
        color: #38829C;
    }
}

.courselist_course.hasupcomingevents,
.course_main.hasupcomingevents {
    background: #D8EBF4;
}

.courselist_course_info {
    right: -7px;
    top: -7px;
    padding: 0;
    width: 25%;
    background: #fff;
}

.course_eventlist_container {
    background: #C1F2AE;
    text-align: center;
    color: #333;
    max-height: 150px;
    & > div {
        padding-bottom: 2px;
    }
    & > div:first-child {
        padding-top: 4px;
    }
    & > div:last-child {
        padding-bottom: 4px;
    }
    & > div.course_eventlist_location {
        padding-left: 4px;
        padding-right: 4px;
        overflow: hidden;
    }
}

.course_categories {
    & > ul {
        li {
            display: inline-block;
            a {
                color: #38829C;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

// COURSEDETAIL STYLING
// ===================================================

.course_main {
    border: 7px dashed #D8EBF4;
    margin-top: 20px;
    .edit_buttons {
        background: #cfcfcf;
        border-bottom: 3px solid #fff;
    }
}

.course_groups ul,.course_groups ul li,
.course_groups ul li a {
    display: inline-block;
}

p.course_description {
    padding: 10px 0;
}

ul.nav-tabs {
    li {
        a {
            color: #555;
        }
        a:hover {
            color: #fff;
        }
    }
}

.edit_buttons {
    padding: 10px 0;
    text-align: center;
    width: calc(~"100% + 44px");
    background: #D8EBF4;
    margin: -7px 0 -0 -22px;
}

.course_main.hasupcomingevents {
    ul.nav-tabs {
        li.active {
            a {
                background: #D8EBF4;
            }
        }
    }
}

button.eventEdit.addButton {
    margin-top: 20px;
}

.course_event_edit {
    border: 7px dashed #D8EBF4;
    margin-top: 20px;
    padding-bottom: 20px;
    .event_edit_buttons {
        padding-top: 15px;
    }
}

.course_edit_editbox {
    border: 7px solid #D8EBF4;
    background: #D8EBF4;
    padding: 5px 0 !important;
}

input#editform_name {
    font-size: large;
}

#editform_description {
    min-height: 100px;
    border: 1px solid #CCC;
    padding: 5px;
    background: #fff;
}

#editform_description:focus {
    border-color: #38829C;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
                0px 0px 8px rgba(56, 130, 156, 0.6);
}

ul.subcategories {
    & > li {
        display: inline-block;
    }
}

.course_edit_finishbtns {
    padding: 10px 0 !important;
}

// COURSE EVENTS STYLING
// ===============================================

div#edit_event_description {
    border: 1px solid #CCC;
    padding: 5px;
    background: #fff;
}

div#edit_event_description:focus {
    border-color: #38829C;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
                0px 0px 8px rgba(56, 130, 156, 0.6);
}

.course_event_detail {
    .course_event {
        & > .course_event_date {
            padding: 10px 0;
            border-bottom: 3px solid #fff;
            background: #C1F2AE;
            span.date {
                font-size: x-large;
            }
        }
        & > .event_detail_description {
            background: #D8EBF4;
        }
    }
}

.course_event_detail &>.course_event:hover,
.course_event_detail &>.course_event:hover,
.course_event_detail &>.calendar_event:hover,
.course_event_detail &>.calendar_event_past:hover {
    box-shadow: none;
}

.course_events {
    padding-top: 20px;
}

.course_event_container,
.course_event_past_container {
    padding: 5px;
}

.course_event:hover,
.course_event:hover,
.calendar_event:hover,
.calendar_event_past:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.075) inset,
                0px 0px 20px rgba(56, 130, 156, 0.6);
    z-index: 1029;
}

.course_event &>a,
.course_event &>a:hover {
    color: #333;
    text-decoration: none;
}

.course_event {
    a {
        & > .course_event_date {
            padding: 10px 0;
            border-bottom: 3px solid #fff;
            background: #C1F2AE;
        }
        .course_event_date {
            span.date {
                font-size: x-large;
            }
        }
        & > .course_event_time {
            font-size: medium;
            padding: 0 0 10px 0;
        }
        .course_event_time {
            & > span {
                font-size: small;
            }
        }
    }
    & > .eventEdit_buttons {
        background: #cfcfcf;
        text-align: center;
        margin-bottom: -10px;
        padding: 10px 0;
        border-top: 3px solid #fff;
    }
}

.course_event_lower_section {
    background: #D8EBF4;
    padding-bottom: 10px;
    overflow: hidden;
}

.course_event_title {
    -moz-transition: color 1s;
}

.course_event:hover {
    .course_event_title {
        color: #38829C;
    }
}

input#edit_event_title {
    font-size: large;
}

// COURSEDETAILS ROLES STYLING
// ====================================================

.courseDetails_roles_container {
    background: #D8EBF4;
    margin-top: 20px;
    height: 100%;
}

.courseDetails_participants_count {
    height: 60px;
    background: #EC6D6D;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.courseDetails_participants_count p,
.courseDetails_mentor p {
    padding-top: 15px;
    font-size: large;
}

.courseDetails_mentor.mentor_status.yes {
    background: #C1F2AE;
    height: 60px;
    border-bottom: 3px solid #fff;
}

.courseDetails_participants {
    padding-top: 15px;
}

ul.subscribers {
    font-size: medium;
    li {
        padding: 5px 0;
        a {
            color: #333;
        }
    }
}

ul.roles,ul.roles li {
    display: inline-block;
}

ul.roles {
    margin-left: 20px;
    li {
        color: #fff;
        background: #38829C;
        padding: 5px;
        text-transform: uppercase;
        font-size: x-small;
        font-weight: bold;
    }
    li.participant {
        display: none;
    }
}

span.member_comment {
    margin-left: 20px;
}

span.editable:after {
    width: 100px;
}

.editable-controls,
button.editable-store,
button.editable-cancel {
    border: 0;
    background: none;
    color: #38829C;
    display: inline-block;
}

button.editable-store {
    & > span.glyphicon-ok {
        color: #5cb85c;
    }
}

button.editable-cancel {
    & > span.glyphicon-remove {
        color: #EC6D6D;
    }
}

button.enrol {
    border-radius: 0;
    border: none;
    border-top: 3px solid #fff;
    min-height: 60px;
    text-align: left;
    font-size: x-large;
}

button.enrol:hover {
    border: none;
    border-top: 3px solid #fff;
}

// DISCUSSION STYLING
// ===========================================

.discussion {
    margin-top: 20px;
    background: #D8EBF4;
}

.discussion_titlebar {
    background: #C1F2AE;
    height: 60px;
    width: calc(~"100% + 30px");
    margin-left: -15px;
    border-bottom: 3px solid #fff;
    font-size: large;
    p {
        padding: 15px 0 0 7px;
    }
}

.discussion {
    button.write {
        margin: 20px 0;
    }
}

.popup {
    padding-bottom: 20px;
}

.discussion_conversation_container {
    background: #fff;
    margin-bottom: 20px;
}

.discussion_conversation {
    background: #fff;
    padding: 10px 10px;
}
.comment {
    margin-left: 60px;
}
h4.comment_user {
    a {
        color: #333;
        -moz-transition: color 1s;
    }
}

.comment_time_created {
    color: #38829C;
    cursor: help;
}

button.answer {
    background: none;
    border: 0;
    color: #38829C;
    padding-bottom: 5px;
}

button.answer:hover {
    color: #2B6376;
}

.comment_hr {
    background: #D8EBF4;
    border: 0;
    height: 1px;
    margin: 0;
}

// CALENDAR STYLING
// ================================

.calendar {
    & > a:hover {
        color: inherit;
    }
}

.calendar_event,.calendar_event_past {
    width: 350px;
    height: 230px;
    margin: 7px;
    background: #D8EBF4;
}

.calendar_event &>.course_event_date,
.calendar_event_past &>.course_event_date {
    padding: 10px 10px 0 10px;
    width: 100%;
    background: #C1F2AE;
    font-size: x-large;
    color: #333;
    text-align: left;
}

.calendar_event &>.course_event_time,
.calendar_event_past &>.course_event_time {
    padding: 0 10px 10px 10px;
    width: 100%;
    background: #C1F2AE;
    font-size: medium;
    color: #333;
    border-bottom: 3px solid #fff;
}

.calendar_event &>.course_event_title,
.calendar_event_past &>.course_event_title,
.calendar_event &>.course_event_desc,
.calendar_event_past &>.course_event_desc {
    padding: 0 10px;
}

.calendar_event .course_event_title &>h4,
.calendar_event_past .course_event_title &>h4 {
    color: #333;
    -moz-transition: color 1s;
}

.calendar_event:hover .course_event_title &>h4,
.calendar_event_past:hover .course_event_title &>h4 {
    color: #38829C;
}

.calendar_event {
    .course_event_desc {
        & > p {
            color: #38829C;
        }
    }
}
