@font-face {
	font-family: 'schuel_icons';
	src:url('/fonts/schuel_icons/schuel_icons.eot');
	src:url('/fonts/schuel_icons/schuel_icons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/schuel_icons/schuel_icons.ttf') format('truetype'),
		url('/fonts/schuel_icons/schuel_icons.woff') format('woff'),
		url('/fonts/schuel_icons/schuel_icons.svg#schuel_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'schuel_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e604";
}
.icon-location:before {
	content: "\e605";
}
.icon-clock:before {
	content: "\e600";
	font-size: 7px;
}
.icon-nav_location:before {
	content: "\e601";
}
.icon-nav_region:before {
	content: "\e602";
}
.icon-nav_calendar:before {
	content: "\e603";
}
.icon-nav_birne:before {
	content: "\e606";
}
.icon-mini_date:before {
	content: "\e607";
	font-size: 10px;
}
.icon-mini_location:before {
	content: "\e608";
	font-size: 7px;
}
.icon-mini_partipiciant:before {
	content: "\e609";
}
.icon-mini_mentor:before {
	content: "\e60a";
	font-size: 8px;
}
