/*************************************************************************************
**************************************************************************************
//
//	MANUALLY ADDED STYLES
//
**************************************************************************************
**************************************************************************************
// 	TOC:
//
//	1. Main fixes
//	2. Imported styles from old stylesheet(TODO: Move to fitting section)
//
//
**************************************************************************************
*************************************************************************************/

/*************************************************************************************
**************************************************************************************
//
//	1. Main fixes
//
**************************************************************************************
**************************************************************************************
//	Paddings, Margins etc. to get everything into position
//
**************************************************************************************
*************************************************************************************/
body {
	padding-top: 45px; 
}

/*************************************************************************************
**************************************************************************************
//
//	END--- 1. Main fixes ---END
//
**************************************************************************************
*************************************************************************************/

/*************************************************************************************
**************************************************************************************
//
//	2. Imported styles from old stylesheet
//
**************************************************************************************
**************************************************************************************
//	To be moved to fitting section
//
**************************************************************************************
*************************************************************************************/

/* line 161, ../../sass/orig/_screen.scss */
.courselist_course .yes {
  color: #407d5c;
  background-color: #C1F2AE;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:15px;
  margin:3px;
  text-align: center;
}

/* line 171, ../../sass/orig/_screen.scss */
.courselist_course .no {
  color: #751313;
  background-color: #EC6D6D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:15px;
  margin:3px;
  text-align: center;
}

/*************************************************************************************
**************************************************************************************
//
//	END--- 2. Imported styles from old stylesheet ---END
//
**************************************************************************************
*************************************************************************************/