/* ALL TO BE REWRITTEN AS .LESS*/

body {
	padding-top: 65px; 
}

h1 {
  color: #38829C;
}

.search .row {
  margin-left: 0;
}

.navbar-right a.loginButton {
  cursor: pointer !important;
}

.dropdown-menu {
   background: #D8EBF4;
   width: 300px;
}

#loginFrame {
  text-align: center;
  background: #D8EBF4;
}

#loginFrame > div:first-child {
  margin-top: 12px;
}

/*#loginFrame .form-group .input-group > span.input-group-addon {
  background: #38829C;
  color: #fff;
}*/

input#find {
  font-size: 20px;
}

.external_logins {
  margin: 15px 0;
}

/*MESSAGE STYLING//START*/

ul.messages {
  background: #f0ad4e;
  text-align: center;
}

ul.messages > li:first-child {
  padding-top: 10px;
}

ul.messages > li:last-child {
  padding-bottom: 10px;
}

ul.messages li button.close {
  float: none;
}

/*START//COURSELIST*/

.courselist_results {
  margin-top: 10px;
}

.courselist_course {
  display: inline-block;
  width: 280px;
  height: 150px;
  border: 7px dashed #D8EBF4;
  margin: 10px 10px 10px 0;
  padding-right: 0 !important;
  padding-left: 10px !important;
}

.courselist_course h4 {
  -moz-transition: color 1s;
}

.courselist_course:hover h4 {
  color: #38829C;
}

.courselist_course > a {
  color: #333;
}

.courselist_course a:hover {
  text-decoration: none;
}

/*SAME BACKGROUND CHANGE FOR COURSELIST & COURSEVIEW*/
.courselist_course.hasupcomingevents,
.course_main.hasupcomingevents {
  background: #D8EBF4;
}
/*-----------------------------------------------*/

.courselist_course_info {
  right: -7px;
  top: -7px;
  padding: 0;
  width: 25%;
  background: #fff;
}

.course_eventlist_container {
  background: #C1F2AE;
  text-align: center;
}

.course_eventlist_container > div {
  padding-bottom: 2px;
}

.course_eventlist_container > div:first-child {
  padding-top: 4px;
}

.course_eventlist_container > div:last-child {
  padding-bottom: 4px;
}

div.no-padding {
  padding: 0;
}

.course_categories > ul li {
  display: inline-block;
} /*Used for courselist & detail*/

.course_categories > ul li a {
  color: #38829C;
}

.course_categories > ul li a:hover {
  text-decoration: underline;
}

/*END//COURSELIST*/
/*START//COURSEDETAIL*/


.course_main {
  border: 7px dashed #D8EBF4;
  margin-top: 20px;
}

.course_groups ul,
.course_groups ul li,
.course_groups ul li a {
  display: inline-block;
}

p.course_description {
  padding-top: 10px;
}

ul.nav-tabs li a {
  color: #555;
}

ul.nav-tabs li a:hover {
  color: #fff;
}

.edit_buttons {
  padding: 10px 0;
  text-align: center;
  width: calc(100% + 44px);
  background: #D8EBF4;
  margin: -7px 0 -0 -22px;
}

/*FOR EDIT STYLING*/
.course_main.hasupcomingevents ul.nav-tabs li.active a{
  background: #D8EBF4;
}

.course_main .edit_buttons {
  background: #38829C;
  border-bottom: 3px solid #fff;
}
/*---------------------*/

/*COURSEDETAILS EVENT*/

.course_events {
  padding-top: 20px;
}

.course_event_container,
.course_event_past_container {
  background: #D8EBF4;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  padding-bottom: 10px;
}

.course_event > a,
.course_event > a:hover {
  color: #333;
  text-decoration: none;
}

.course_event a > .course_event_date {
  padding: 10px 15px;
  border-bottom: 3px solid #fff;
  width: calc(100% + 30px);
  margin-left: -15px;
  background: #C1F2AE;
}

.course_event a .course_event_date span.day {
  font-size: medium;
}

.course_event a .course_event_date span.date {
  font-size: x-large;
}

.course_event a > .course_event_title {
  padding-top: 10px;
  -moz-transition: color 1s;
}

.course_event a > .course_event_time {
  font-size: medium;
  padding: 0 0 10px 0;
}

.course_event a:hover > .course_event_title {
  color: #38829C;
}


/*END//COURSEDETAIL*/
/*START//CALENDAR*/

.calendar > a:hover {
  color: inherit;
}

.calendar_event,
.calendar_event_past {
  width: 350px;
  height: 230px;
  margin: 10px 10px 10px 0;
  background: #D8EBF4;
}

.calendar_event > .course_event_date,
.calendar_event_past > .course_event_date {
  padding: 10px 10px 0 10px;
  width: 100%;
  background: #C1F2AE;
  font-size: large;
  color: #333;
  text-align: left;
}

.calendar_event > .course_event_time,
.calendar_event_past > .course_event_time {
  padding: 0 10px 10px 10px;
  width: 100%;
  background: #C1F2AE;
  font-size: medium;
  color: #333;
}

.calendar_event > .course_event_title,
.calendar_event_past > .course_event_title,
.calendar_event > .course_event_desc,
.calendar_event_past > .course_event_desc {
  padding: 0 10px;
}

.calendar_event .course_event_title > h4,
.calendar_event_past .course_event_title > h4 {
  color: #333;
  -moz-transition: color 1s;
}

.calendar_event:hover .course_event_title > h4,
.calendar_event_past:hover .course_event_title > h4 {
  color: #38829C;
}

.calendar_event .course_event_desc > p {
  color: #38829C;
}

/*END//CALENDAR*/


/* line 161, ../../sass/orig/_screen.scss */
.courselist_course .yes {
  color: #407d5c;
  background-color: #C1F2AE;
  width: 100%;
  margin-bottom: 3px;
  text-align: center;
}

/* line 171, ../../sass/orig/_screen.scss */
.courselist_course .no {
  color: #751313;
  background-color: #EC6D6D;
  width: 100%;
  margin-bottom: 3px;
  text-align: center;
}
