// Base colors
// --------------------------------------------------

$openki-blue: #38829c;
$openki-blue-light: lighten($openki-blue, 10%);
$openki-blue-lighter: #d8ebf4;
$openki-green: #c1f2ae;
$openki-red: #ec6d6d;
$openki-yellow: #f9e744;
