// *** Base colors ***
//====================

// ** Blue
//========================================================================================
$blue: #38829c;
$blue-light: lighten($blue, 10%);
$blue-lighter: lighten($blue, 48%);

// ** Green
//========================================================================================
$green: #c1f2ae;
$green-dark: darken($green, 20%);
$green-darker: darken($green, 50%);

// ** Red
//========================================================================================
$red: #ec6d6d;

// ** Yellow
//========================================================================================
$yellow: #f9e744;
$yellow-light: lighten($yellow, 20%);

// ** Black
//========================================================================================
$black: #000;

// ** White
//========================================================================================
$white: #fff;
