// *** Base colors ***
//====================

// ** Blue
//========================================================================================
$blue: #38829c;
$blue-light: lighten($blue, 10%);
$blue-lighter: lighten($blue, 48%);

$blue-alternative: #bcb6ff;

// ** Green
//========================================================================================
$green: #c1f2ae;
$green-dark: darken($green, 20%);
$green-darker: darken($green, 50%);

$green-alternative: #b9e9b9;

// ** Red
//========================================================================================
$red: #ec6d6d;
$red-dark: darken($red, 15%);
$red-darker: darken($red, 38%);
$red-darkest: darken($red, 56%);

// ** Yellow
//========================================================================================
$yellow: #f9e744;
$yellow-dark: darken($yellow, 10%);
$yellow-light: lighten($yellow, 20%);

// ** Orange
//========================================================================================
$orange: #fa9600;

// ** Beige
//========================================================================================
$beige: #fbee94;

// ** Black
//========================================================================================
$black: #000;

// ** White
//========================================================================================
$white: #fff;
