.fade_effect_top
	+gradient-vertical($body-bg, $default-transparent)
	height: 40px
	left: 0px
	position: absolute
	top: 0px
	width: 100%
	@media (max-width: $screen-xs)
		background: none

.fade_effect_bottom
	+gradient-vertical($default-transparent, $body-bg)
	bottom: 0px
	height: 40px
	left: 0px
	position: absolute
	width: 100%
	@media (max-width: $screen-xs)
		background: none
