// CSS Icons
//
// --------------------------------------------------

//== Upcoming Event Icon
.eventcaption_upcoming {
	background: $brand-bg;
	display: inline-block;
	height: 20px;
	position: relative;
	vertical-align: bottom;
	width: 28px;
}

.eventcaption_upcoming_box {
	background: $brand-success;
	height: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 10px;
}

.eventcaption_upcoming_text {
	background: $default-shadow;
	height: 1px;
	left: 3px;
	position: absolute;
	width: 3px;
	&.first-line {
		top: 2px;
	}
	&.second-line {
		top: 4px;
	}
	&.third-line {
		top: 6px;
	}
}
