.checkmark {
  color: $checkmark-color;
  padding-left: 5px;
}

.profilelink {
  color: $default-black;
  padding-right: 5px;
  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.dropdown-menu {
  @include box-shadow-big($default-shadow);
  border: 0;
	& > li > a:focus {
		background-color: darken($dropdown-bg, 5%);
		color: $dropdown-link-color;
	}
}

select:hover {
	cursor: pointer;
}

.select_placeholder:hover {
	cursor: not-allowed;
}

.input-group input:focus {
  z-index: 3;
}

a,
.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.elevate_child {
  @include transition(box-shadow $default-transition-time);
  box-shadow: none !important;
}

.collapsing,
.fade {
  @include transition-duration(0s);
}

// .btn-primary
// 	+gradient-vertical($brand-primary, darken($brand-primary, 5%), 0%, 100%)
// 	&:hover
// 		+gradient-vertical(darken($brand-primary, 5%), darken($brand-primary, 10%), 0%, 100%)

// //This sheet contains site-wide used resets & styles
//
// #outer
// 	padding-top: 50px
// 	&.testWarning
// 		padding-top: 70px
//
//
//
// html,
// body
// 	height: 100%
//
//
// #maincontent
// 	padding: 25px 0 50px 0
// 	& > *:first-child
// 		margin-top: 0
// 		padding-top: 0
//
// 	@media screen and
// 	(max-width: $screen-xs)
// 		.find
// 			margin-top: -20px
//
//
//
//
// *
// 	border-radius: 0 !important
// 	outline: none !important
//
//
// h1
// 	color: $brand-primary
//
//
// .dropdown-menu
// 	+box-shadow-small($default-shadow)
// 	min-width: 0
// 	width: auto
// 	li
// 		cursor: pointer
//
//
//
// .tooltip
// 	font-size: $font-size-base
// 	white-space: nowrap
// 	&-inner
// 		max-width: none
//
//
//
// ul.nav-tabs li a
// 	color: $default-black
// 	&:hover
// 		color: $body-bg
//
//
//
// label
// 	display: block
//
//
// span.glyphicon-ok
// 	color: darken($brand-success, 20%) !important
//
//
// select
// 	@extend .form-control
// 	color: $default-black
// 	&:hover
// 		cursor: pointer
//
// 	option.select_placeholder:hover
// 		cursor: not-allowed
//
//
//
// .elevate_child
// 	+transition(box-shadow $default-transition-time)
// 	box-shadow: none !important
//
//
// .collapsing,
// .fade
// 	+transition-duration(0s)
//
