.checkmark {
	color: $green-dark;
	padding-left: 5px;
}

.profilelink {
	color: $gray-dark;
	padding-right: 5px;

	&:hover {
		color: $brand-primary;
		text-decoration: none;
	}
}

.datepicker {
	z-index: $zindex-navbar-fixed + 1 !important;
}

.datepicker-dropdown.datepicker-orient-top:after {
	border-top-color: $dropdown-bg;
}

.dropdown-menu {
	box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
	border: 0;
	min-width: 0;
}

.dropdown-menu > li > .btn-link {
	color: $dropdown-link-color;
	padding: 3px 20px;
	text-align: left;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background-color: $dropdown-link-hover-bg;
		color: $dropdown-link-hover-color;
	}
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > .btn-link:focus {
	background-color: darken($dropdown-bg, 5%);
	color: $dropdown-link-color;
}

select:hover {
	cursor: pointer;
}

.select_placeholder:hover {
	cursor: not-allowed;
}

.input-group input:focus {
	z-index: 3;
}

.input-lg {
	border-radius: 4px;
}

a:hover,
.btn-link:hover {
	text-decoration: none;
}

.elevate_child {
	box-shadow: none !important;
	transition: box-shadow $default-transition-time;
}

.collapsing,
.fade {
	transition-duration: 0s;
}

.medium-editor-placeholder:hover {
	cursor: text;
}

.medium-editor-placeholder::after {
	font-style: normal;
	position: relative;
	white-space: normal;
}
