.checkmark {
	color: $green-dark;
	@include td-padding(left, 5px);
}

.profilelink {
	color: $gray-dark;
	@include td-padding(right, 5px);

	&:hover {
		color: $brand-primary;
		text-decoration: none;
	}
}

.datepicker {
	z-index: $zindex-navbar-fixed + 1 !important;
}

.datepicker-dropdown.datepicker-orient-top:after {
	border-top-color: $dropdown-bg;
}

.leaflet-top {
	z-index: auto;
}

select:hover {
	cursor: pointer;
}

.select_placeholder:hover {
	cursor: not-allowed;
}

.input-group input:focus {
	z-index: 3;
}

.input-lg {
	border-radius: 4px;
}

a:hover,
.btn-link:hover {
	text-decoration: none;
}

.elevate_child {
	box-shadow: none !important;
	transition: box-shadow $default-transition-time;
}

.collapsing,
.fade {
	transition-duration: 0s;
}

.medium-editor-placeholder:hover {
	cursor: text;
}

.medium-editor-placeholder::after {
	font-style: normal;
	position: relative;
	white-space: normal;
}
