// Most variables (like colors, breakpoints etc.) are defined in:
// -> /bootstrap/custom.bootstrap.import.less

// Custom grid breakpoints
// --------------------------------------------------

//** Smaller than $screen-xs
$screen-xxs:     380px;
//** Between $screen-xs and $screen-sm
$screen-xsm:     550px;


// Other values
// --------------------------------------------------
$default-transition-time:    0.5s;
