// *** Variables ***
//==================

// ** Box shadow
//========================================================================================
$default-shadow:                                 rgba($gray-light, .4);

$shadow-lg-offset-x:                             2px;
$shadow-lg-offset-y:                             5px;
$shadow-lg-blur:                                 8px;

$shadow-sm-offset-x:                             1px;
$shadow-sm-offset-y:                             2px;
$shadow-sm-blur:                                 4px;

// ** Footer
//========================================================================================
$footer-height:                                  50px;

// ** Group
//========================================================================================
$group-bg:                                       $green-alternative;

// ** Category
//========================================================================================
$category-bg:                                    rgba($gray-lighter, .5);

$category-colors: (
	0: rgb(154, 0, 255),
	1: rgb(254, 0, 96),
	2: rgb(255, 31, 31),
	3: rgb(226, 9, 251),
	4: rgb(67, 223, 3),
	5: rgb(255, 176, 0),
	6: rgb(37, 183, 249),
	7: rgb(38, 210, 99),
	8: rgb(251, 77, 156),
	9: rgb(10, 110, 233)
);

// ** Venue
//========================================================================================
$venue-bg:                                       desaturate($green, 40%);
$venue-color:                                    $red-darkest;

// ** User
//========================================================================================
$user-bg:                                        $blue-alternative;

// ** Roles
//========================================================================================
$role-needed-bg:                                 $red;
$role-needed-color:                               darken($role-needed-bg, 38%);

// ** Calendar
//========================================================================================
$calendar-nav-bg:                                $blue-lighter;

// ** Detail pages
//========================================================================================
$details-header-padding-horizontal:              15px;

// ** Events
//========================================================================================
$event-body-bg:                                  $blue-lighter;
$event-header-bg:                                $green;

$event-compact-seperator-height:                 3px;

// ** Courses
//========================================================================================
$course-border-width:                            7px;
$course-border-color:                            $blue-lighter;
$has-upcoming-events-bg:                         $blue-lighter;
$proposal-border-style:                          dashed;
$has-past-events-border-style:                   solid;

$course-compact-next-event-bg:                   $green;
$course-compact-next-event-color:                $gray-dark;

$course-page-component-bg:                       $blue-lighter;
$course-details-seperator-height:                3px;

// ** Buttons
//========================================================================================
$btn-hover-level-start:                          3%;
$btn-level-end:                                  6%;
$btn-hover-level-end:                            9%;

// ** Kiosk
//========================================================================================
$kiosk-wrap-padding-horizontal:                  $grid-gutter-width / 4;
$kiosk-wrap-padding-vertical:                    $kiosk-wrap-padding-horizontal;

// ** Screen breakpoints
//========================================================================================
$screen-xxs:                                     380px;
$screen-xsm:                                     550px;

// ** Default values
//========================================================================================
$default-transition-time:                        .25s;
