body {
	padding-top: 50px;
}

html,
body {
	height: 100%;
}

#maincontent {
	padding: 25px 0 50px 0;

	&> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}

	@media @mobile {
		.find {
			margin-top: -20px;
		}
	}
}

.dropdown-menu {
	min-width: 0;
  width: auto;
}

.tooltip-inner {
  max-width: none;
}

label {
	display: block;
}
