@import 'variables';

html,
body {
	height: 100%;
}

#wrap {
	margin: 0 auto (0 - $footer-height);
	min-height: 100%;
}

#outer {
	padding-top: $navbar-height;
}

.footer,
.push {
	height: $footer-height;
}

#maincontent {
	padding: 25px 0 50px;
	& > *:first-child {
		margin-top: 0;
		padding-top: 0;
	}
}
