$openki-blue:                    #38829c
$openki-light-blue:              #d8ebf4
$openki-green:                   #c1f2ae
$openki-red:                     #ec6d6d
$openki-yellow:                  #f8e565
