<template name="FAQ">
  <h1>FAQ</h1>
<h6>Vorschlag</h6>

<div class="static_content">
  Scroll down or klick for a <a href="#English">english</a> version.
  
  <h3 style="clear: none;">Was ist schuel.ch?</h3>
  <p style="clear: none;">Schuel.ch ist eine unkommerzielle Bildungsplattform. Auf ihr können Kurse vorgeschlagen, diskutiert, entwickelt, organisiert und schlussendlich ausgeschrieben werden.</p>
  <p style="clear: none;">Mit schuel.ch soll kein Geld verdient werden; finanzielle Beiträge sollen nur für Material und Spesen verlangt werden.</p>
  <h3 style="clear: none;">Wem gehört schuel.ch?</h3>
  <p style="clear: none;">Schuel.ch gehört dem Kollektiv/Verein Schuel.ch und somit allen, die sich daran beteiligen. Die Applikation auf der Website ist Open Source, freie Software. Sie steht allen zur Weiterentwicklung zur Verfügung.</p>
  <h3 style="clear: none;">Wer kontrolliert schuel.ch?</h3>
  <p style="clear: none;">Die Administration und der technische Unterhalt (Unklarheiten der Benutzer_innen klären, aufräumen, Probleme erkennen und lösen, Verbesserungen vornehmen und vieles mehr) wird von einem Admin-Kollektiv durchgeführt. Die Zusammensetzung des Kollektivs soll sich durch eine zeitliche Begrenzung des Engagements dynamisch ändern. Für die verschiedenen Regionen, in denen schuel.ch aktiv ist, soll es lokale Admin-Kollektive geben.</p>
  <h3>Was ist ein Kurs?</h3>
  <p>Ein Kurs kann einmalig oder wiederholend sein, auf andere Kurse aufbauend oder für sich allein stehend. Die Sparte reicht von Frontalunterricht über Workshops, Disskussions- und Arbeitsgruppen bis zum Lesezirkel.</p>
  <h3 style="clear: none;">Wer organisiert Kurse?</h3>
  <p style="clear: none;">Alle, die Interesse an der Durchführung des Kurses haben.</p>
  <h3 style="clear: none;">Was braucht es für einen Kurs?</h3>
  <p style="clear: none;">Leute, die ihn organisieren und Teilnehmende, die sich für eine bestimmte Zeit an einem bestimmten Ort treffen. Abhänging des Inhalts des Kurses auch eine_n Mentor_in und/oder ein_e Host.</p>
  <h3>Was tut der/die Mentor_in?</h3>
  <p>Falls ein Kurs eine_n Mentor_in braucht, bereitet diese_r den Kurs vor und nach. Sie/er leitet durch den Kurs und hat im Kursthema einen Wissens- und/oder Erfahrungsvorsprung.</p>
  <h3>Was ist Mentoring?</h3>
  <p>„Mentoring wird eingesetzt, um den Wissenstransfer zwischen Erfahrenen und weniger Erfahrenen zu fördern. Im Unterschied zum Coach ist der Mentor üblicherweise nicht eigens für diese Tätigkeit ausgebildet, sondern verfügt lediglich über einen Erfahrungs- und/oder Wissensvorsprung.“ (http://de.wikipedia.org/wiki/Mentoring)</p>
  <h3>Wer kann mentorieren?</h3>
  <p>Benutzer_innen können sich für Kurse als Mentor_innen melden. <span style="color: grey;"> -&gt; Wir überlegen uns, ob es sinvoll wäre, zur Qualitätssicherung ein zusätzliches Berechtigungssystem einzuführen (Qualitätssicherung, Approval) </span></p>
  <h3>Was tut der/die Host?</h3>
  <p>Erfahrungswerte zeigen, dass es am unkompliziertesten ist, wenn sich eine Person um den zu benutzenden Raum kümmert. Die Person, die diese Funktion übernimmt, ist der/die Host. „Sich um den Raum kümmern“ heisst, dass er/sie den Schlüssel für den Raum besitzt und in die jeweiligen Hausrichtlinien eingeführt ist und in Kontakt zu den Bewohner_innen, Benutzer_innen und/oder Verantwortlichen steht.</p>
  <h3>Wer kann hosten?</h3>
  <p>Alle, die Zugang zu einem für einen Kurs geeigneten Raum haben. <span style="color: grey;"> -&gt; Wir überlegen uns, ob es sinvoll wäre, zur Qualitätssicherung ein zusätzliches Berechtigungssystem einzuführen (Qualitätssicherung, Approval) </span></p>
  <h3>Kann jemand gleichzeitig Host, Organisator_in und Mentor_in sein?</h3>
  <p>Ja.</p>
  <h3>Wo finden Kurse statt?</h3>
  <p>Überall, wo Mensch hinkommt. Die Teilnehmenden sind selbst dafür verantwortlich, einen passenden Raum für ihren Kurs zu finden und sich als Host darin zu engagieren.</p>
  <h3>Ich will einen Kurs hosten, habe aber keinen Raum…</h3>
  <p>Auf schuel.ch gibt es je nach Region eine kurze oder lange Liste mit benutzbaren Räumen. Alle können ihre Räume - von Fabrikhalle bis Garten - ausschreiben, damit sie als Kursorte gefunden werden können. Wie du Kontakt mit den für den Raum Verantwortlichen aufnimmst, ist von Raum zu Raum unterschiedlich. Am einfachsten schreibst du ein_e Benutzer_in an, die den Raum ausgeschrieben oder schon gehostet hat.</p>
  <h3>Wie wird ein Kurs vorgeschlagen?</h3>
  <p>Schuel.ch baut auf Selbstorganisation. Kurse können von Lernender (potentiellen Teilnehmer_innen), Lehrender (Mentor_innen), Organisierwilligen oder Hosts vorgeschlagen werden. Dazu braucht es einen mehr oder weniger konkreten Kursbeschrieb (Name, Thema, Inhalt, Vorgehen) und eine Kategorie.</p>
  <h3>Wann wird ein Kurs Ausgeschrieben?</h3>
  <p>Benutzer_innen können sich für die Kursausschreibung interessieren und sich über den Kurs-Blog in die Diskussion einschalten. Das Notwendige zur Durchführung des Kurses wird dort zusammen diskutiert und organisiert.</p>
  <h3>Wie wird ein Kurs organisiert?</h3>
  <p>Für das Organisieren eines Kurses stehen verschiedene Tools/Funktionen zur Verfügung: Der Blog als erste Kommunikationsebene, auf welcher Orte, Hosts, Termine, Mentoren und weitere Teilnehmende besprochen werden können. Das Wiki zum Sammeln der Kursmaterialien und zur Dokumentation des Kurses. Ziel ist es, das der Inhalt eines Kurses für weitere Kurse bereitsteht. Einen Doodle für die Terminfindung, Umfragen und Abstimmungen. Eine Datenbank der Orte, an denen schon Kurse stattgefunden haben.</p>
  <h3>Ist es möglich, fertige Kurse auszuschreiben, ohne den Kurs zuerst vorzuschlagen?</h3>
  <p>Als Mentor_in, der/die genau weiss, wo und wann er/sie was lehren/vermitteln will, kann ein Kurs ohne vorangehende Diskussion ausgeschrieben werden. Er/Sie ist dann als Organisator_in, Host und Mentor_in des Kurses eingetragen.</p>
  <h3>Zu welchen Inhalten können Kurse organisiert werden?</h3>
  <p>Zu allem - von Kochen über Nuklearphysik und Modern Dance hin zu Rainer Maria Rilke. Ausgeschlossen werden diskriminierende Inhalte, insbesondere sexistische und rassistische. Diskriminierende Inhalte zu erkennen und anzusprechen ist Aufgabe aller Benutzer_innen; allfällige Zensur übernimmt die Administration. Es muss Transparenz bezüglich zensierten Inhalten herrschen. Die Kurse sind in Kategorien eingeteilt (Wissenschaft, Sport, Musik etc.).</p>
  <h3>Wie verbindlich ist die Anmeldung für einen Kurs?</h3>
  <p>Die Verbindlichkeit einer Kurs-Anmeldung hängt vom Kurs ab und wird im Kursbeschrieb kommuniziert.</p>
  <h3>Wie behält Mensch den Überblick?</h3>
  <p>Über den Kalender, in welchem alle ausgeschriebenen Kurse automatisch erfasst werden. Es gibt verschiedene Kalenderfilter für Zeitraum, Ort und Kategorien von Kursen Über die Suche, welche die Kurse in allen Organisationsstadien durchsucht. Nebst Filtern zum Inhalt (d.h. Titel, Beschrieb, Kategorie etc.) gibt es auch Filter zum Status, also vorgeschlagen, angeboten, vergangen und Mentor oder Host gesucht. Über mini schuel. Dies sind die persönlichen Daten eines/einer registrierten Benutzer_in: ihre/seine Kurse, Kalender, Files und Diskussionsbeiträge. Über die einfache Gestaltung der Web-Oberfläche.</p>
  <h3>Antispam?</h3>
  <p>Beim Verfassen eines neuen Vorschlags wird automatisch anhand des Titels, der Kategorie und den Schlagwörtern geprüft, ob es bereits ähnliche Kurse/Kursvorschläge gibt. Diese werden der/dem Verfasser_in anzeigt. schuel.ch beinhaltet einen Filter, welcher nicht benutzte Kursangebote oder -anfragen nach bestimmter Zeit (z.B. 3 Monate) automatisch in ein Archiv verlegt. Die aktuell laufenden und aktiv entwickelten/entstehenden Kurse sind erster Ordnung und werden an allen entsprechenden Orten auf schuel.ch prioritär angezeigt, das Archiv enthält Kurse zweiter Ordnung und drängt sich den Benutzer_innen nicht auf. Wie weit die Admins/Moderator_innen manuelle Aufräumfunktionen übernehmen müssen, wird sich zeigen.</p>
  <h3>schuel.ch und Datenschutz?</h3>
  <p>Schuel.ch ist sehr darauf bedacht, verschiedensten Privatsphäre-Ansprüchen gerecht zu werden. Dazu gehören moderne Verschlüsselungstechniken ebenso wie personalisierte Datenschutzeinstellugen.</p>
  <h3>Übersicht?</h3>
  <a href="https://news.schuel.ch/wp-content/uploads/2013/03/schuel-uebersicht_0.4-seite001.jpg"><img class="alignnone size-medium wp-image-44" alt="schuel-uebersicht_0.4-seite001" src="https://news.schuel.ch/wp-content/uploads/2013/03/schuel-uebersicht_0.4-seite001-212x300.jpg" width="212" height="300" /></a>
</div>

<div id="English">    
  <h1>FAQ [en]</h1>
  <h6>proposition</h6>
  <div class="static_content">
    <h3>What is schuel.ch?</h3>
    <p>Schuel.ch is a non-commercial educational platform. On this platform courses can be proposed discussed, developed, organized and finally published.</p>
    <p>Course costs will only be asked for to cover material and other expenses, but not to earn money.</p>
    <h3>Who does schuel.ch belong to?</h3>
    <p>The page Schuel.ch belongs to the collective (Verein) schuel.ch, which means to everyone who participates. The application running on the website is open-source and free software: open to everyone to develop and improve.</p>
    <h3>Who is in control of schuel.ch?</h3>
    <p>Administration and technical maintenance (anwering user questions, cleaning up, problem recognition and solving, making improvement and more) is taken care of by an administrative collective. The composition of the collective will be kept dynamic through limitation of the time of engagement of its members. For the different regions in which schuel.ch is active, we foresee local admin-collectives.</p>
    <h3>What is a course?</h3>
    <p>A course can be a single event or a recurring event, based on other courses, or a completely new topic. Everything from lectures to workshops, discussion- and working-groups to book-clubs or open labs, or creative gatherings is imaginable.</p>
    <h3>Who organizes courses?</h3>
    <p>Anyone interested in making it happen.</p>
    <h3>What is needed for a course?</h3>
    <p>Some kind of a mix of participants, either as mentor, organiser, and/or hosts.</p>
    <h3>What does the Mentor do?</h3>
    <p>If a course needs a mentor this person will prepare the course and evaluate it afterwords. Ze guides during the course and has more advanced knowledge and/or experience of the topic of the course.</p>
    <h3>What is mentoring?</h3>
    <p>Mentoring is performed to support the transfer of knowledge between the experienced and the less experienced. Different than a coach a mentor doesn't necessarily have a degree in the topic mentored but has more knowledge and/or experience.</p>
    <h3>Who can mentor?</h3>
    <p>Any user can sign up as a mentor for a course. <span style="color: grey;"> -&gt; Maybe we'll make some approval system.</span></p>
    <h3>What does the host do?</h3>
    <p>From experience, it is easiest when one person is responsible for taking care of the room. This person is the host. Taking care of the room means having a key, knowing the house rules and being in contact with the inhabitants or responsible people.</p>
    <h3>Who can host?</h3>
    <p>Anyone with access to a room suitable for the course. <span style="color: grey;"> -&gt; We are thinking about making an approval system to insure quality. </span></p>
    <h3>Can someone be a host, mentor or organizer at the same time?</h3>
    <p>Yes.</p>
    <h3>Where do courses take place?</h3>
    <p>Anywhere. The participants are responsible for finding an appropriate space for the course and to engage themselves as a host within that space.</p>
    <h3>I want to host a course, but I don't have a room</h3>
    <p>On the site schuel.ch there is a list, long or short, of potential rooms/spaces. Everyone can publish their space for the use by courses, from factory halls to backyards. The contact to the person responsible for the rooms is for each situation different. The easiest way to start is to write to the user that advertised the space or has already hosted in that space.</p>
    <h3>How is a course suggested?</h3>
    <p>Schuel.ch is built on self-organization. Courses can be suggested by learners (potential participants), instructors (mentors) or hosts. To suggest a course a somewhat concrete course description is required (title, themes, content, structure) and a category.</p>
    <h3>When is a course advertised?</h3>
    <p>Users can make use of the course blog to express interest in a course. The blog is where all the essential details about the execution of the course can be discussed.</p>
    <h3>How is a course organized?</h3>
    <p>There are different tools available for the organization of courses. The<strong> blog</strong> is for communication about what place, host, times, which mentors and which other participants. The <strong>Wiki</strong> is for collecting course material and for documentation of the courses. The goal is that course material from one course can be ready for subsequent courses where necessary. A <strong>doodle</strong> is for finding an appointment, surveys and voting as well as an archive of places courses have already been held.</p>
    <h3>Is it possible to advertise courses without first suggesting them?</h3>
    <p>As a mentor that knows exactly where, when and what they want to do you can advertise the course without a discussion first. That person is then listed as the host and mentor.</p>
    <h3>What are the possible subjects that courses can be organized about?</h3>
    <p>Everything from cooking to nuclear physics and modern dance to Rainer Maria Rilke. Topics that are sexist, racist or discriminating on the basis of gender identity, money, differently abled bodies, ancestry, origin, sexual orientation, language, etc.. will not be tolerated. It is the responsibility of all users and participants to address content that is or has been discriminating. The following censorship actions will be made by the administration. There must be transparency concerning the censored content. The courses are split into different categories (science, sport, music, etc.).</p>
    <h3>How do I keep an overview?</h3>
    <p>In the calendar, where all advertised courses are automatically saved. There are different calendar filters for time, place, and category of courses. You can use the search function which searches through all the courses in all stages of organization. Aside from filters for content (i.e., title, description, category, etc.) there are also filters for status: suggested, offered, completed and searching for a mentor or host. Through mini schuel.ch personal data is saved, such as: your courses, calendar, files and discussions. Also, you can keep an overview through the simple design of the web interface.</p>
    <h3>Antispam?</h3>
    <p>While you compose a new suggestion the text is automatically checked based on title, category and keywords to see if there are already similar courses. These are then showed to the composer. Schuel.ch has a filter that automatically archives unused course offerings or requests after a given time, for example, 3 months. The courses which are current in the process of development will be given priority on schuel.ch. How the admin undertakes manual clean-up actions will be determined.</p>
    <h3>schuel.ch and information security?</h3>
    <p>Schuel.ch is very considerate of treating fairly different privacy needs. Therefore there are modern encryption techniques as well as personal privacy settings.</p>
    <h3>overview?</h3>
    <a href="https://news.schuel.ch/wp-content/uploads/2013/03/schuel-uebersicht_0.4-seite001.jpg"><img class="alignnone size-medium wp-image-44" alt="schuel-uebersicht_0.4-seite001" src="https://news.schuel.ch/wp-content/uploads/2013/03/schuel-uebersicht_0.4-seite001-212x300.jpg" width="212" height="300" /></a>
  </div>
</div>
</template>
