<template name="notFound">
	<div class="static_content_top">
		Ihre IP-Adresse wurde an die zuständige Behörde weitergeleitet.<br/>
		Das Instiut der angewandten Merkbefreiung wird sich in Kürze mit Ihnen in Verbindung setzen.<br/>
		Haben sie einen moment Geduld...
		<pre>

	Übergremium der Autonomen Schulen
	Abteilung für unbeantwortbare Fragen
	Keinweg 404
	127.0.0.1 Diheimistan

		</pre>

		<br/>
		<br/>
		<br/>
		You might read the projects documentation: &nbsp;<a href="http://news.schuel.ch">NEWS.SCHUEL.CH </a><br/>
		Or go to the startpage: &nbsp;<a href="/">HOME</a> <br/>
	</div>
</template>