.courselist_results {
	.make-sm-column(12);
	.make-xs-column(12);
	.no-padding;
	padding-bottom: 30px;

	.event_results {
		.make-sm-column(4);
		.make-lg-column(3);
		.make-xs-column(12);
		.no-padding;

		.course_event {
			margin: 8px;
			height: 200px;
		}
	}
}

.courselist_course {
	.no-padding;
	display: inline-block;
	width: 280px;
	height: 150px;
	border: 7px dashed @light-blue;
	margin: 10px 10px 10px 0;
	&:hover {
		h4 {
			color: @brand-primary;
		}
		color: @brand-primary;
		.box-shadow;
		.transition(0.5s);
	}
	&.category-focus-mode {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset,
								0px 0px 0px rgba(56, 130, 156, 0.6);
	}
	h4 {
		.transition(0.5s);
		color: #333;
	}
	& > a:hover {
			text-decoration: none;
	}
	.yes {
		color: #407d5c;
		background-color: @brand-success;
		width: 100%;
		margin-bottom: 3px;
		text-align: center;
	}
	.no {
		color: #751313;
		background-color: @light-red;
		width: 100%;
		margin-bottom: 3px;
		text-align: center;
	}
	.yesyou {
		color: #751313;
		background-color: #fafc83;
		border-width: 3px;
		border-color: #fafc83;
		width: 100%;
		margin-bottom: 3px;
		text-align: center;
	}
	.course_content {
		background: @body-bg;
		padding-left: 10px;
	}
}

.courselist_course,
.course_main {
	&.hasupcomingevents {
		background: @light-blue;
		.course_content {
			background: @light-blue;

		}
	}
}

.courselist_course_info {
	right: -7px;
	top: -7px;
	padding: 0;
	width: 25%;
	background: @body-bg;
}

.course_eventlist_container {
	background: @brand-success;
	text-align: center;
	color: #333;
	max-height: 150px;
	& > div {
		padding-bottom: 2px;
		&:first-child {
			padding-top: 4px;
		}
		&:last-child {
			padding-bottom: 4px;
		}
		&.course_eventlist_location {
			padding-left: 4px;
			padding-right: 4px;
			word-wrap: break-word;
		}
	}
}

.course_categories {
	& > ul {
		line-height: 23px;
		li {
			display: inline-block;
			span {
				background: rgba(216, 216, 216, 0.5);
				padding: 0 2px 1px 2px;
			}
			a.category {
				color: @brand-primary;
				background: rgba(216, 216, 216, 0.5);
				padding: 0 2px 1px 2px;
				&:hover {
					text-decoration: none;
					background: rgba(216, 216, 216, 1);
					.box-shadow-s(rgba(216, 216, 216, 1));
				}
			}
		}
	}
}
