.navbar {
	.navbar-default;
	.navbar-fixed-top;
	border-bottom: none;

	.navbar-container {
		margin: auto;
		max-width: 1600px;

		.navbar-header {
			&:hover * {
				color: @body-bg !important;
			}

			a.navbar-brand {
				padding: 0;

				& > span {
					bottom: -3px;
					font-size: x-large;
					left: -3px;
					padding-right: 15px;
					position: relative;
				}

				img {
					.opacity(97);
					bottom: -1px;
					display: inline-block;
					height: 100%;
					padding: 0 0 0 6px;
					position: relative;
				}
			}
		}

		.navbar-collapse {
			@media @mobile {
				padding: 0;
			}

			@media @tablet {
				padding: 0;
			}
			.navbar-nav {
				& > li {
					& > a {
						color: @brand-bg !important;
						font-size: large;
						padding: 15px 10px;

						&:hover {
							color: @default-white !important;
						}

						span {
							font-size: medium;
						}
					}
				}

				@media @mobile {
					margin: 0;
				}

				@media @tablet {
					margin: 0;
				}

				span.caret {
					.transform(0, -1.5, -1.5);
					.transition(@default-transition-time);
					bottom: 1px;
					color: @brand-primary;
					left: 46%;
					position: absolute;

					@media @mobile {
						display: none;
					}

					@media @tablet {
						display: none;
					}
				}

				li.dropdown.open span.caret {
					.opacity(1);
					color: @brand-bg;
					z-index: 1099;
				}

				a.active {
					&.over_content {
						background: lighten(@brand-primary, 10%);

						&:hover,
						&:focus {
							background: lighten(@brand-primary, 10%);
							color: @body-bg;
						}

						span.caret {
							.transition(color 0.3s);
							color: lighten(@brand-primary, 10%);
						}
					}

					span.caret {
						.opacity(1);
						color: @default-white;
					}
				}

				a.loginButton {
					cursor: pointer !important;
				}

				.dropdown-menu {
					border-top: none;

					&.login-dropdown {
						width: 300px;
					}
				}
			}
		}
	}
}
