<template name="footer">
    <footer class="footer">
        <div class="container-fluid">
            <div class="container-fluid links">
                <a href="/about" >{{mf 'main.about_link' 'About'}}</a>
                <a href="http://openki.net">{{mf 'main.concept_link' 'Concept'}}</a>
                <a href="/FAQ">{{mf 'main.faq_link' 'FAQ'}}</a>
                |
                <div class="long_link">
					<a href="https://github.com/schuel/hmmm/">{{mf 'main.github_link' 'Code on Github'}}</a>
                </div>
            </div>
        </div>
    </footer>
</template>
