<template name="navbar">
	<nav class="navbar" id="topnavbar" role="navigation">
		{{> ticker}}
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{pathFor 'home'}}">
				<img src="/logo/OpenkiLogo_quadratisch_klein.png" alt="Openki logo"><span>Openki</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{pathFor 'home'}}" class="nav_link -clickClose" id="nav_courses">
						<span class="glyphicon glyphicon-home"></span>&nbsp;
						{{mf 'menue.Courses' 'Courses'}}
						<span class="caret" id="active_caret"></span>
					</a>
				</li>
				<li class="dropdown create">
					<a class="dropdown-toggle nav_link" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-edit"></span>&nbsp;
						{{mf 'menue.Create' 'Create'}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="{{pathFor 'proposeCourse'}}" class="subnav_link -clickClose">
								<span class="fa fa-lightbulb-o"></span>&nbsp;
								{{mf 'menue.ProposeCourse' 'Propose Course'}}
							</a>
						</li>
						<li>
							<a href="{{pathFor 'showEvent' _id='create'}}" class="subnav_link -clickClose">
								<span class="fa fa-plus"></span>&nbsp;
								{{mf 'menue.CreateEvent' 'Create Event'}}
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{pathFor 'calendar'}}" class="nav_link -clickClose">
						<span class="glyphicon glyphicon-calendar"></span>&nbsp;
						{{mf 'menue.Calendar' 'Calendar'}}
						<span class="caret"></span>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					{{> region_sel}}
				</li>
				<li class="dropdown lang_sel">
					{{> lang_sel}}
				</li>
				<li class="dropdown">
					{{> loginButton}}
					<div class="dropdown-menu login-dropdown">
						{{> loginFrame}}
					</div>
				</li>
			</ul>
		</div>
	</nav>
</template>
