#wrap {
	margin: 0 auto -50px;
	min-height: 100%;
}

footer.footer {
	background: @brand-primary;
	box-shadow: 0 -2px 2px -2px darken(@brand-primary, 3.5%);
	color: @body-bg;
	font-size: large;
	text-align: center;
	div > a { color: @body-bg; }
	.links {
		padding-top: 12px;
		word-spacing: 10px;
		div.long_link {
			display: inline-block;
			word-spacing: normal;
		}
	}
	.version {
		color: #aaa;
		font-size: small;
		margin-top: -5px;
		position: absolute;
		right: 8px;
		text-align: right;
		word-spacing: 2px;
	}
}

.footer,
.push { height: 50px; }
