.navbar {
	.navbar-default;
	.navbar-fixed-top;
	border-bottom: none;

	.navbar-container {
		max-width: 1600px;
		margin: auto;
	}

	.navbar-brand {
		padding: 0px;
		> span {
			position: relative;
			bottom: -3px;
			left: -3px;
			padding-right: 15px;
			font-size: x-large;
		}
		img {
			.opacity(97);
			display: inline-block;
			height: 100%;
			opacity: 0.97;
			padding: 0 0 0 6px;
			position: relative;
			bottom: -2px;
		}
	}
}

.navbar-nav {
	& > li {
		& > a {
			color: @brand-bg !important;
			font-size: large;
			padding: 15px 10px;
			span {
				font-size: medium;
			}
			&:hover {
				color: @default-white !important;
			}
		}
	}

	span.caret {
		position: absolute;
		bottom: 1px;
		left: 46%;
		color: @brand-primary;
		.transition(0.5s);
		.transform(0, -1.5, -1.5);
	}

	li.dropdown.open span.caret {
		.opacity(1);
		color: @brand-bg;
		z-index: 1099;
	}

	a.active {
		span.caret {
			.opacity(1);
			color: @default-white;
		}

		&.over_content {
			background: lighten(@brand-primary, 10%);

			&:focus {
				background: lighten(@brand-primary, 10%);
				color: @body-bg;
			}

			span.caret {
				color: lighten(@brand-primary, 10%);
				.transition(0.3s);
			}
		}
	}

	.dropdown-menu {
		border-top: none;
	}
}

.navbar-header {
	&:hover * {
		color: @body-bg !important;
	}
}


a.loginButton {
			cursor: pointer !important;
	}

.login-dropdown {
	width: 300px;
}
