<template name="footer">
	<footer class="footer">
		<div class="container-fluid">
			<div class="container-fluid links">
				<a href="/about"
					title="{{mf 'navigation.footer.about.title' 'About openki'}}">
					{{mf 'main.about_link' 'About'}}
				</a>
				| &nbsp;
				<a href="/FAQ"
					title="{{mf 'navigation.footer.faq.title' 'Frequently asked questions'}}">
					{{mf 'main.faq_link' 'FAQ'}}
				</a>
				|
				<div class="long_link">
					<a href="https://github.com/schuel/hmmm/"
						title="{{mf 'navigation.footer.code.title' 'Show code on github'}}">
						<span class="code_on_github">
							{{mf 'main.github_link' 'Source-Code'}}
						</span>
					</a>
				</div>

				<span title="{{fullInfo}}" class="version">
					{{version}} {{commit}} <br>
					{{mf "footer.deployedAt" "deployed:"}} {{dateformat deployed}}
				</span>

			</div>
		</div>
	</footer>
</template>
