// *** Course compact ***
//=================

// ** Wrap
//========================================================================================
.course-compact-wrap {
	@include td-make-xs-column(12);
	padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
}

.container .course-compact-wrap {
	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(6);
		@include td-make-md-column(4);
		@include td-make-lg-column(3);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 4);
	}
}

.container-sm .course-compact-wrap {
	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(6);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 4);
	}
}

// ** Compact
//========================================================================================
.course-compact {
	height: 150px;
	position: relative;
	transition-duration: .15s;
	transition-property: #{'box-shadow opacity'};

	&:hover {
		box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
	}

	&.proposal,
	&.has-past-events {
		border-width: $course-border-width;
		border-color: $course-border-color;
	}

	&.proposal {
		border-style: $proposal-border-style;
	}

	&.has-past-events {
		border-style: $has-past-events-border-style;
	}

	&.has-upcoming-events {
		background: $has-upcoming-events-bg;
	}

	&.filter-no-match,
	&.filter-no-match-delayed {
		transition-duration: .5s;
		transition-property: opacity;
	}

	&.filter-no-match-delayed {
		transition-delay: .3s;
	}

	&.course-compact-category-no-category {
		$no-category-color: $blue-lighter;

		&.proposal,
		&.has-past-events {
			background-color: rgba($no-category-color, .15);
			border-color: rgba($no-category-color, 1);
		}

		&.has-upcoming-events {
			background-color: rgba($no-category-color, 1);
		}

		.course-compact-next-event {
			background-color: rgba($blue-light, .7);
			color: $white;
		}

		.course-compact-role-needed {
			color: rgba($no-category-color, 1);
		}

		.course-compact-role-occupied,
		.course-compact-role-occupied-by-user {
			color: rgba($blue-light, .7);
		}

		.js-group-label,
		.js-group-label:hover,
		.js-group-label:focus,
		.js-group-label.highlight {
			background-color: rgba($blue-light, .2);
			color: rgba($blue-light, 1);
		}

		.course-compact-categories {
			color: rgba($no-category-color, 1);
		}

		.has-upcoming-events .course-compact-categories {
			color: rgba($no-category-color, 1);
		}
	}
}

@each $category-index, $category-color in $category-computed-colors {
	.category-#{$category-index} {
		color: rgba($category-color, .2);
	}

	.course-compact-category-#{$category-index} {
		&.proposal,
		&.has-past-events {
			background-color: rgba($category-color, .05);
			border-color: rgba($category-color, .2);
		}

		&.has-upcoming-events {
			background-color: rgba($category-color, .2);
		}

		.course-compact-next-event {
			background-color: rgba($category-color, .5);
			color: $white;
		}

		.course-compact-role-needed {
			color: rgba($category-color, .2);
		}

		.course-compact-role-occupied,
		.course-compact-role-occupied-by-user {
			color: rgba($category-color, .7);
		}

		.js-group-label,
		.js-group-label:hover,
		.js-group-label:focus,
		.js-group-label.highlight {
			background-color: rgba($category-color, 0.2);
			color: $category-color;
		}

		.course-compact-categories {
			color: rgba($category-color, .2);
		}

		.has-upcoming-events .course-compact-categories {
			color: rgba($category-color, .2);
		}
	}
}


// ** Content
//========================================================================================
.course-compact-content {
	@include td-make-xs-column(10);
	height: 100%;
	@include td-padding-all(0, 0, 0, 15px);
}

.has-upcoming-events .course-compact-content {
	@include td-make-xs-column(7.5);
	@include td-padding-all($course-border-width, 5px, $course-border-width, 15px);
}

// ** Title
//========================================================================================
.course-compact-title {
	color: $gray;
	margin: 8px 0 0;
	max-height: 60px;
}

.course-compact-title > * {
	line-height: 24px;
}

// ** Categories
//========================================================================================
.course-compact-categories {
	bottom: 0;
	font-size: xx-large;
	padding-bottom: $course-border-width;
	position: absolute;
}

// ** Event
//========================================================================================
.course-compact-next-event {
	@include td-make-xs-column(4.5);
	max-height: 150px;
	padding: 10px;
	position: relative;
}

.course-compact-next-event > div + div {
	margin-top: 5px;
}

.course-compact-next-event-time,
.course-compact-next-event-date,
.course-compact-next-event-venue {
	@include td-make-xs-column(12);
	padding: 0;
}

.course-compact-next-event-venue {
	@include ellipsis;
}

// ** Roles
//========================================================================================
.course-compact-roles {
	@include td-make-xs-column(2);
	height: 100%;
	padding: 0;
	position: relative;
}

.course-compact-role {
	position: relative;
	text-align: center;
}

@for $i from 1 through 4 {
	.max-#{$i}-roles > .course-compact-role {
		height: percentage(1 / $i);
	}
}

.course-compact-role > span {
	@include center-vertically;
}

// ** Grouplist
//========================================================================================
.course-compact .grouplist {
	bottom: $course-border-width * 2;
	margin: 0;
	position: absolute;
	@include td-pos(right, $course-border-width * 2);
}

.course-compact .grouplist > li {
	@include td-float(right);
}

.course-compact .grouplist > li + li {
	@include td-margin(right, 5px);
}

.course-compact-content > .grouplist {
	right: 0;
}
