<template name="courseCompact">
	{{#if ready}}
		<div class="course-compact-wrap">
			<a href="{{pathFor 'showCourse'}}">
				<div class="course-compact
					{{courseState}}
					{{#each mainCategoryIndices}}course-compact-category-{{this}} {{/each}}
					{{#if needsRole 'host'}}needsHost{{/if}}
					{{#if needsRole 'mentor'}}needsMentor{{/if}}
					{{#each categories}}{{this}} {{/each}}
					{{#each this.groups}}{{this}} {{/each}}
					{{courseRegionId}}">
					<div class="course-compact-content {{courseState}}">
						<div class="course-compact-title">
							<h4>{{name}}</h4>
						</div>
						<div class="course-compact-categories">
							{{#each mainCategories}}
								<span class="fa fa-{{icon}}" aria-hidden="true"></span>
							{{/each}}
						</div>
						{{#unless hasUpcomingEvents}}
							{{> groupList}}
						{{/unless}}
					</div>
					{{#if hasUpcomingEvents}}
						{{> courseCompactEvent}}
						{{> groupList}}
					{{else}}
						{{> courseCompactRoles}}
					{{/if}}
				</div>
			</a>
		</div>
	{{/if}}
</template>

<template name="courseCompactEvent">
	<div class="course-compact-next-event">
		{{#with nextEvent}}
			<div class="course-compact-next-event-date">
				<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
				{{dateformat_mini this.start}}
			</div>
			<div class="course-compact-next-event-time">
				<span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>
				{{timeformat this.start}}
			</div>
			{{this.description}}
			{{#if this.venue.name}}
				<div class="course-compact-next-event-venue">
					<span class="glyphicon glyphicon-home fa-fw" aria-hidden="true"></span>
					{{this.venue.name}}
				</div>
			{{/if}}
		{{/with}}
	</div>
</template>

<template name="courseCompactRoles">
	<div class="course-compact-roles max-{{maxRoles}}-roles">
		<div class="course-compact-role
				{{#if needsRole 'team'}}
					course-compact-role-needed
				{{else}}
					course-compact-role-occupied{{#if userHasRole 'team'}}-by-user{{/if}}
				{{/if}}">
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
		</div>
		{{#if requiresRole 'mentor'}}
			<div class="course-compact-role
					{{#if needsRole 'mentor'}}
						course-compact-role-needed
					{{else}}
						course-compact-role-occupied{{#if userHasRole 'mentor'}}-by-user{{/if}}
					{{/if}}">
				<span class="fa fa-graduation-cap" aria-hidden="true"></span>
			</div>
		{{/if}}
		{{#if requiresRole 'host'}}
			<div class="course-compact-role
					{{#if needsRole 'host'}}
						course-compact-role-needed
					{{else}}
						course-compact-role-occupied{{#if userHasRole 'host'}}-by-user{{/if}}
					{{/if}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</div>
		{{/if}}
	</div>
</template>
