<template name="locationEdit">
	<div class="edit-page">
		{{#if _id}}
			<h2>{{mf 'location.edit.edit_location' 'Edit location'}}</h2>
		{{else}}
			<h2>{{mf 'location.edit.propose' 'Create new location'}}</h2>
		{{/if}}
		<form>
			<div class="edit-page-header location-edit-header">
					<div class="form-group">
						<label>{{mf 'location.edit.Name' 'Name:'}}</label>
						<input type="text" class="form-control"	id="editform-name"
							placeholder="{{mf 'location.name.placeholder' 'Full name of location'}}"
							size="60"
							value="{{name}}">
					</div>
			</div>
			<div class="edit-page-body location-edit-body">
					<div class="form-group">
						<label>{{mf 'location.edit.description' 'Description:'}}</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="fa fa-info fa-fw" aria-hidden="true"></span>
							</span>
							<div class="form-control editable-textarea"	id="editform-description"
								placeholder= "{{mf 'location.edit.description.placeholder' 'Some words about this location'}}"></div>
							{{{description}}}
						</div>
					</div>

					{{#unless _id}}
						<div class="form-group">
							<label>{{mf 'location.edit.region' 'Region:'}}</label>
							<div class="input-group">
								<span class="input-group-addon">
									<span class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></span>
								</span>
								<select name='region' class="form-control region_select">
									<option value=''>{{mf 'location.edit.pls_select' 'Please select'}}</option>
								{{#each regions}}
									<option value='{{_id}}' {{regionSel}}>{{name}}</option>
								{{/each}}
								</select>
							</div>
						</div>
					{{/unless}}

					<div class="form-group">
						<label>{{mf 'location.details.address' 'Address:'}}</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="fa fa-map-marker fa-fw" aria-hidden="true"></span>
							</span>
							<input
								class="form-control"
								id="editform-address"
								placeholder= "{{mf 'location.edit.address.placeholder' 'Street, City, State'}}">
							{{{address}}}
						</div>
					</div>

					<div class="form-group">
						<label>{{mf 'location.details.route'}}</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="fa fa-map-signs"></span>
							</span>
							<input
								class="form-control"
								id="editform-address"
								placeholder= "{{mf 'location.route.placeholder' 'near busstop, cross fence, then backjard, enter black door.. 23rd floor, then left. '}}">
							{{{route}}}
						</div>
					</div>
					<div class="form-group">
						<label>{{mf 'location.edit.additionalInfo' 'Additional Info:'}} {{mf '_inputField.optional'}}</label>
						{{#if showAdditionalInfo}}
							{{> locationEditOptionalInfo}}
						{{else}}
							<button type="button" class="btn btn-default btn-block js-toggle-additional-info-btn">
								{{mf 'location.edit.provideAdditionalInfo' 'Fill out additional information'}}
							</button>
						{{/if}}
					</div>
					<div class="form-actions">
						<button type="button" class="btn btn-cancel">
							<span class="fa fa-remove fa-fw" aria-hidden="true"></span>
							{{mf '_button.cancel'}}
						</button>
						<button type="button" class="btn btn-save">
							<span class="fa fa-download fa-fw" aria-hidden="true"></span>
							{{mf '_button.save'}}
						</button>
					</div>
			</div>
		</form>
	</div>
</template>

<template name="locationEditOptionalInfo">
	<div class="location-edit-additional-info">
		<div class="form-group">
			<label>{{mf 'location.edit.shortName' 'Abbreviation:'}}</label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-hashtag fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control"	id="editform-short"
					placeholder= "{{mf 'location.edit.short.placeholder' 'short name'}} {{mf '_inputField-optional'}}">
				{{{short}}}
			</div>
		</div>
		<div class="form-group">
			<div class="form-group-element">
				<label>
					{{mf 'location.edit.max_ppl' 'Max. People'}}
				</label>
				<input type="number" class="form-control" id="editform_maxpeople" size="4" value="{{maxpeople}}">
			</div>
			<div class="form-group-element">
				<label>
					{{mf 'location.edit.max_workplace' 'Max. Workplaces'}}
				</label>
				<input type="number" class="form-control" id="editform_maxworkplaces" size="4" value="{{maxworkplaces}}">
			</div>
		</div>
		<div class="form-group">
			<div class="form-group-element">
				<label>{{mf 'location.edit.infra' 'Infrastructure:'}}</label>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.beamer' 'Beamer'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.screen' 'Screen'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.audioSystem' 'Audio System'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.blackboard' 'Blackboard'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.whiteboard' 'Whiteboard'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.flipchart' 'Flipchart'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.wifi' 'Wifi'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.kitchen' 'Kitchen'}}</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>{{mf 'location.edit.suitableForWheelchairs' 'Suitable for wheelchairs'}}</span>
					</label>
				</div>
			</div>
			<div class="form-group-element">
				<label>{{mf 'location.edit.additionalEquipment' 'Additional equipment:'}}</label>
				<textarea class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label>{{mf 'location.edit.owners' 'Owner(s):'}}</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>{{mf 'location.edit.usersToContact' 'User(s) to contact:'}}</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>{{mf 'location.edit.website' 'Website:'}}'</label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-globe fa-fw" aria-hidden="true"></span>
				</span>
				<input type="text" class="form-control">
			</div>
		</div>
	</div>
</template>
