<template name="groupDetails">
	<div class="groupPage container">
		<div class="groupPageHeader">
			{{#if groupLogo group._id}}
				<img src="{{groupLogo group._id}}" width='50' style="vertical-align:bottom">&nbsp;&nbsp;
			{{/if}}
			<h1>{{mf 'group.details.title' "Courses of {GROUP}" GROUP=group.short}}</h1>

			<h4>
				{{#if editableName}}
					{{>editable editableName}}
				{{else}}
					{{group.name}}
				{{/if}}
			</h4>

			<div class="description">
				{{#if editableDescription}}
					{{>editable editableDescription}}
				{{else}}
					{{{group.description}}}
				{{/if}}
			</div>

			<div class="claim">
				{{#if editableClaim}}
					<h4>{{>editable editableClaim}}</h4>
				{{else}}
					{{#if group.claim}}
						<h4>{{group.claim}}</h4>
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{#if showCourses}}
		<div class="groupCourses">
			{{> find query=courseQuery}}
		</div>
	{{/if}}
	</div>
</template>
