<template name="groupLink">
	<a class="groupLink" href="/group/{{this}}/{{this.short}}">{{this.short}}</a>
</template>

<template name="groupPage">
	<div class="groupPage">
		<h1>{{mf 'group.details.title' "Courses of {GROUP}" GROUP=this.group.short}}</h1>
		<h5>{{this.group.name}}</h5>

		<div class="description">
			{{#if this.group.description}}
				{{this.group.description}}
			{{/if}}
		</div>

		<div class="claim">
			{{#if this.group.claim}}
				{{this.group.claim}}
			{{/if}}
		</div>

		{{#if inGroup}}
			<h4>
				edit
			</h4>
		{{/if}}
	</div>
</template>
