.groupSettings {
	//padding: 0 0 50px;
	.grid(12);
	padding: 0;
	background: rgba(170, 230, 170, 0.2);
	font-size: x-large;
	margin-bottom: 50px;

	#setInfos,
	#setLogo,
	#setBackgroundImage,
	#AddGroupMember {
		.form-control-humble;
	}

	h2 {
		margin-top: 8px;
	}

	.settings {
		.grid(12, 6);
		padding: 15px;

		.editable {
			background: none;
		}

		.setInfos {
			height: auto; // Reset fixed height from .form-control-humble()
			max-height: 150px;
			min-height: 40px;
			p {
				margin: 0;
			}
		}

		.groupEditFinishbtns {
			.grid(12);
			padding: 20px 0;

			button {
				.btn;
				margin-right: 10px;

				@media mobile {
					.form-control;
					.btn;
					.btn-primary;
					margin-bottom: 10px;
				}

				&.save {
					.btn-success;
				}

				&.cancel {
					.btn-danger;
				}
			}
		}
	}

	.members {
		.grid(12, 6);
		padding: 15px;
		font-size: medium;

		h2 {
			padding-bottom: 20px;
		}

		.input-group {
			margin-bottom: 10px;
		}

		ul {
			.list-inline;
			margin-left: 0px;
			padding-bottom: 10px;
			li {
				padding-left: 8px;
				padding-right: 0;
				margin-bottom: 5px;
				margin-right: 5px;
				background-color: rgba(80, 90, 50, 0.15);

				button {
					.btn-thin;
					padding: 2px 6px;

					&.cancel {
						span  {
							color: #400;
						}
						background-color: rgba(80, 90, 50, 0.3);
						&:hover {
							background-color: @brand-danger;
						}
					}

					&.confirm {
						span  {
							color: #040;
						}
						background-color: rgba(80, 90, 50, 0.3);
						&:hover {
							background-color: @brand-success;
						}
					}

				}
			}
		}
	}
}
