<template name="groupPage">
	<div class="groupPage container">
		<div class="groupPageHeader">
			{{#if groupLogo _id}}
				<img src="{{groupLogo _id}}" width='50' style="vertical-align:bottom">&nbsp;&nbsp;
			{{/if}}
			<h1>{{mf 'group.details.title' "Courses of {GROUP}" GROUP=short}}</h1>

			<h4>{{name}}</h4>

			<div class="description">
				{{#if description}}
					{{description}}
				{{/if}}
			</div>

			<div class="claim">
				{{#if claim}}
					<h4>{{claim}}</h4>
				{{/if}}
			</div>

			{{#if inGroup}}
				<h4>
					edit
				</h4>
			{{/if}}
		</div>
		<div class="groupCourses">
			{{> find query=groupQuery}}
		</div>
	</div>
</template>
