<template name="groupListing">
	{{#if available}}
		<div class="course-groups-manage">
			<a class="dropdown-toggle"
				aria-expanded="false"
				data-toggle="dropdown"
				href="#"
				type="button">
				{{mf 'groups.listing.manage_groups' "Manage groups"}}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu groups-options" role="menu">
				{{#each available}}
					{{#if inGroup this ..}}
						{{> groupListEntry}}
					{{else}}
						<li>{{> groupListAdd}}</li>
					{{/if}}
				{{/each}}
			</ul>
		</div><!-- /.course-groups-manage -->
	{{/if}}
</template>

<template name="groupListAdd">
	<li>
		<button class="-admitToGroup" role="menuitem">
			<span class="glyhpicon glyphicon-plus"></span>
			&nbsp;
			{{mf 'groupListing.admit' 'Admit to "{NAME}"' NAME=name}}
		</button>
	</li>
</template>

<template name="groupListEntry">
	<li class="part-of-group">
		{{mf 'groupListing.partOfGroup' 'Part of {NAME}' NAME=name}}
		<button class="-expelFromGroup"
			data-html="true"
			data-original-title="{{mf 'groupListing.expel' 'Expel from this group'}}"
			data-placement="top"
			data-toggle="tooltip"
			role="menuitem">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</li>
</template>
