.groupEdit {
	background: rgba(130, 216, 130, 0.5);
	border: 7px solid rgba(130, 216, 130, 0.5);
	padding: 0 0 50px;

	.group_edit_header {
		.grid(12);
		padding: 0;

		.editformName {
			font-size: large;
			min-height: 40px;
			width: 30em;

			.editable {
				border: 0;
				width: 90%;
			}
		}

		.editformDescription {
			.form-control-humble;
			height: auto; // Reset fixed height from .form-control-humble()
			max-height: 150px;
			min-height: 100px;
			overflow: auto;

			p {
				margin: 0;
			}
		}


		.editable {
			background: none;
		}

		#editform_short,
		#editform_claim,
		#addGroupMember {
			.form-control-humble;
		}


	}

	.groupEditFinishbtns {
		.grid(12);
		padding: 10px 0 0;

		button {
			.btn;
			margin-right: 10px;

			@media @mobile {
				.form-control;
				.btn;
				.btn-primary;
				margin-bottom: 10px;
			}

			&.save {
				.btn-success;
			}

			&.cancel {
				.btn-danger;
			}
		}
	}
}
