<template name="groupSettings">
	<div class="groupSettings">
		{{#with group}}
		<form>
			<div class="settings">
				<h2>
					<span class="fa fa-cog"></span>
					{{mf 'group.settings.title' 'Settings'}}
				</h2>

				<h4>{{mf 'group.settings.field.infos' 'Internal informations:'}}</h4>
					<input
						class= "setInfos"
						type="text"
						id="setInfos"
						placeholder="{{mf 'group.settings.infos.placeholder' 'Add some notes for your group-members'}}"
						size="60"
						value="{{infos}}"
					/>

				<h4>{{mf 'group.settings.field.logo' 'Logo:'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-rebel"></span>
					</span>
					<input
						id="setLogo"
						class="-logoUrl"
						value="{{logoUrl}}"
						placeholder= "{{mf 'group.settings.field.logo.placeholder' 'Link to your Icon (png or jpg)'}}"
					/>
				</div>

				<h4>{{mf 'group.settings.field.backgroundImg' 'Background Image:'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-picture-o"></span>
					</span>
					<input
						id="setBackgroundImage"
						class="-backgroundUrl"
						value="{{backgroundUrl}}"
						placeholder= "{{mf 'group.settings.field.backgroundImg.placeholder' 'Link to background image (png or jpg)'}}"
					/>
				</div>

				<div class="groupEditFinishbtns">
					<button type="button" class="save -saveSettings">
						<span class="glyphicon glyphicon-save"></span>
						{{mf 'group.edit.save_btn' 'Save'}}
					</button>
					<button type="button" class="cancel -cancelSettings">
						<span class="glyphicon glyphicon-remove"></span>
						{{mf 'group.edit.cancel_btn' 'Cancel'}}
					</button>
				</div>
			</div>

			<div class="members">
				<h2>
					<span class="glyphicon glyphicon-user"></span>
					{{mf 'group.settings.title.Members' 'Members'}}
				</h2>
				<ul>
					{{#each members}}
						<li>
							<span class="glyphicon glyphicon-user"></span>
							{{username this}}
							<button type="button" class="-removeMember cancel"><span class="glyphicon glyphicon-remove" title="{{mf 'group.settings.removeFromGroup' "remove member"}}"></span></button>
						</li>
					{{/each}}
				</ul>
				<h4>{{mf 'group.settings.field.addMembers' 'Add a new member to your group:'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-user"></span>
					</span>
					<input
						type="text"
						id="AddGroupMember"
						class="-userSearch"
						placeholder= "{{mf 'group.settings.field.addMember.placeholder' 'Type name of buddy'}}"
						size="40"
					/>
				</div>
				<ul>
					{{#each foundUsers}}
						<li>
							<span class="glyphicon glyphicon-user"></span>
							{{username this._id}}
							<button type="button" class="-addMember confirm"><span class="glyphicon glyphicon-plus" title="{{mf 'group.settings.addMember' "add as member"}}"></span></button>
						</li>
					{{/each}}
				</ul>
			</div>

		</form>
		{{/with}}
	</div>
</template>
