.courselist {
	@include grid(12);
	@include make-row;
  padding: 0 0 10px;
	width: auto;
	@media (max-width: $screen-xs) {
    padding-top: 15px;
  }
	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1);
	}
}

.course-container {
	@include grid(12);
	padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
  @media (min-width: $screen-xsm) {
		@include grid(6, inherit, 4, 3);
		padding: ($grid-gutter-width / 4);
  }
}

.course {
  @include grid(12);
  border: $course-border-width dashed $openki-blue-lighter;
  height: 150px;
  padding: 0;
	transition-duration: $default-transition-time;
	transition-property: #{'box-shadow opacity'};
  &:hover {
    @include box-shadow-big($default-shadow);
    color: $brand-primary;
    h4 {
      color: $brand-primary;
    }
  }
  &.haspastevents {
    border-style: solid;
  }
  & > a:hover {
    text-decoration: none;
  }
  h4 {
    @include transition(color $default-transition-time);
    color: $default-black;
  }
}

.filter-no-match {
	opacity: .33;
}

.course-name {
  color: $default-black;
  font-size: 22px;
  line-height: 24px;
  margin: 8px 0 0;
}

.course-roles-status-team,
.course-roles-status-mentor,
.course-roles-status-host {
  text-align: center;
}

.role-needed {
  background-color: $role-needed-bg;
  color: $role-needed-text;
}

.role-occupied {
  background-color: $role-occupied-bg;
  color: $role-occupied-text;
}

.role-occupied-by-user {
  background-color: $user-bg;
  color: $user-text;
}

.course-content {
  @include grid(9);
  background: $body-bg;
  padding: 0 0 0 15px;
  &.hasupcomingevents {
    @include grid(7.5);
    padding: 0 0 0 15px;
  }
  .course-categories {
    margin-bottom: 0;
    margin-left: -2px;
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6) {
      display: none;
    }
  }
}

.course,
.course_main {
  &.hasupcomingevents {
    background: $openki-blue-lighter;
    .course-content {
      background: $openki-blue-lighter;
    }
  }
}

.course-roles-status {
  @include grid(3);
  padding: 0;
  position: relative;
  right: -7px;
  top: -7px;
  & > div {
    margin-top: 3px;
    &:first-child,
    &.tooltip {
      margin-top: 0;
    }
  }
}

.course-eventlist {
  @include grid(4.5);
  background: $brand-success;
  color: $default-black;
  max-height: 150px;
  padding: 3px;
  position: relative;
  right: -7px;
  text-align: center;
  top: -7px;
}

.course-eventlist-time,
.course-eventlist-date {
  @include grid(12);
  padding: 0;
}

.course-eventlist-location {
  @include word-break;
  padding: 0 4px;
  span {
    display: inline;
  }
  .glyphicon-home {
    padding-right: 3px;
  }
}

.course-groups .groups-list {
  bottom: 0;
  margin: 0;
  padding: 0 7px 7px 0;
  position: absolute;
  right: 0;
  li {
    float: right;
    margin-left: 4px;
  }
}
