.courselist_results
	+grid(12)
	margin-left: -5px
	padding: 0 0 10px
	width: calc(#{"100% + 10px"}) !important

.course-container
	+grid(6, inherit, 4, 3)
	border: 5px solid $body-bg
	border-bottom-width: 15px
	padding: 0px
	@media (max-width: $screen-xsm)
		+grid(12)
		padding: 0px

.course
	+grid(12)
	+transition(box-shadow $default-transition-time)
	border: 7px dashed $openki-light-blue
	height: 150px
	padding: 0px
	&:hover
		+box-shadow-big($default-shadow)
		color: $brand-primary
		h4
			color: $brand-primary
	&.haspastevents
		border-style: solid
	& > a:hover
		text-decoration: none
	h4
		+transition(color $default-transition-time)
		color: $default-black

.course-name
	color: $default-black
	font-size: 22px
	line-height: 24px
	margin: 8px 0 0px

.course-status-team,
.course-status-mentor,
.course-status-host
	text-align: center

.role-needed
	background-color: $role-needed-bg
	color: $role-needed-text

.role-occupied
	background-color: $role-occupied-bg
	color: $role-occupied-text

.role-occupied-by-user
	background-color: $user-bg
	color: $user-text

.course-content
	+grid(9)
	background: $body-bg
	padding: 0px 0px 0px 15px
	&.hasupcomingevents
		+grid(7.5)
		padding: 0px 0px 0px 15px
	.categories-list
		margin-bottom: 0px
		margin-left: -2px
		li:nth-child(3),
		li:nth-child(4),
		li:nth-child(5),
		li:nth-child(6)
			display: none

.course,
.course_main
	&.hasupcomingevents
		background: $openki-light-blue
		.course-content
			background: $openki-light-blue

.course-status
	+grid(3)
	padding: 0px
	position: relative
	right: -7px
	top: -7px
	& > div
		margin-top: 3px
		&:first-child,
		&.tooltip
			margin-top: 0px

.course-eventlist
	+grid(4.5)
	background: $brand-success
	color: $default-black
	max-height: 150px
	padding: 3px
	position: relative
	right: -7px
	text-align: center
	top: -7px

.course-eventlist-time,
.course-eventlist-date
	+grid(12)
	padding: 0px

.course-eventlist-location
	+word-break
	padding: 0 4px
	span
		display: inline
	.glyphicon-home
		padding-right: 3px

.course-groups .groups-list
		bottom: 0px
		margin: 0px
		padding: 0px 7px 7px 0px
		position: absolute
		right: 0px
		li
			float: right
			margin-left: 4px
