<template name="coursepage">
	<div class="container-fluid">
		<h1>{{mf 'course.list.title' 'CourseList'}}</h1>
		<div class="row container-fluid">
			<h1>{{mf 'courses.missingorg' 'Courses missing organizer(-team)'}}</h1>
			{{> courselist missing_organizer}}
		</div>
		<div class="row container-fluid">
			<h1>{{mf 'courses.missingsubs' 'Courses that are still looking for participants'}}</h1>
			{{> courselist missing_subscribers}}
		</div>
		<div class="row container-fluid">
			<h1>{{mf 'courses.all' 'All courses'}}</h1>
			{{> courselist all_courses}}
		</div>
	</div>
</template>

<template name="course">
	{{#if ready}}
		<div class="course-container">
			<a href="{{pathFor 'showCourse'}}">
				<div class="course
					{{courseState}}
					{{#if needsHost}}needsHost{{/if}}
					{{#if needsMentor}}needsMentor{{/if}}
					{{#each categories}}{{this}} {{/each}}
					{{#each this.groups}}{{this}} {{/each}}
					{{courseRegion}}">
					<div class="course-content {{courseState}}">
						<div class="course-name">
							<h4>{{name}}</h4>
						</div>
						{{> courseCategories}}
					</div>
					{{#if hasUpcomingEvents}}
						{{> courseEventlist}}
					{{else}}
						{{> courseRolesStatus}}
					{{/if}}
					<div class="course-groups">
						{{> groupList}}
					</div>
				</div>
			</a>
		</div>
	{{/if}}
</template>

<template name="courseEventlist">
	<div class="course-eventlist">
		{{#with nextEvent}}
			<div class="course-eventlist-date">
				<span class="fa fa-calendar" aria-hidden="true"></span>
				{{dateformat_mini this.start}}
			</div>
			<div class="course-eventlist-time">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				{{timeformat this.start}}
			</div>
			{{this.description}}
			{{#if this.location.name}}
				<div class="course-eventlist-location">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					<span>{{this.location.name}}</span>
				</div>
			{{/if}}
		{{/with}}
		{{#if additionalEvents}}
			<div class="course-eventlist-hasmore">
				+ {{additionalEvents}}
				&nbsp;
				<span class="glyphicon glyphicon-calendar"></span>
			</div>
		{{/if}}
	</div>
</template>

<template name="courseRolesStatus">
	<div class="course-roles-status">
		<div class="course-roles-status-team
				{{#if needsTeam}}
					role-needed
				{{else}}
					role-occupied{{#if userInTeam}}-by-user{{/if}}
				{{/if}}"
			data-tooltip="
				{{#if needsTeam}}
					{{mf 'course.list.status_titles.needs_organizer' 'Needs an organizer'}}
				{{else}}
					{{#if userInTeam}}
						{{mf 'course.list.status_titles.u_are_organizer' 'You are organizer'}}
					{{else}}
						{{mf 'course.list.status_titles.has_team' 'Has a organizer-team'}}
					{{/if}}
				{{/if}}"
			href="#">
			<span class="glyphicon glyphicon-bullhorn"></span>
		</div>
		{{#if requiresMentor}}
			<div class="course-roles-status-mentor
					{{#if needsMentor}}
						role-needed
					{{else}}
						role-occupied{{#if userIsMenteor}}-by-user{{/if}}
					{{/if}}"
				data-tooltip="
					{{#if needsMentor}}
						{{mf 'course.list.status_titles.needs_mentor' 'Needs a mentor'}}
					{{else}}
						{{#if userIsMenteor}}
							{{mf 'course.list.status_titles.u_are_mentor' 'You are mentor'}}
						{{else}}
							{{mf 'course.list.status_titles.has_mentor' 'Has a mentor'}}
						{{/if}}
					{{/if}}"
				href="#">
				<span class="fa fa-graduation-cap"></span>
			</div>
		{{/if}}
		{{#if requiresHost}}
			<div class="course-roles-status-host
					{{#if needsHost}}
						role-needed
					{{else}}
						role-occupied{{#if userIsHost}}-by-user{{/if}}
					{{/if}}"
				data-tooltip="
					{{#if needsHost}}
						{{mf 'course.list.status_titles.needs_host' 'Needs a host'}}
					{{else}}
						{{#if userIsHost}}
							{{mf 'course.list.status_titles.u_are_host' 'You are host'}}
						{{else}}
							{{mf 'course.list.status_titles.has_host' 'Has a host'}}
						{{/if}}
					{{/if}}"
				href="#">
				<span class="glyphicon glyphicon-home"></span>
			</div>
		{{/if}}
	</div>
</template>
