<template name="verifyEmail">
	{{#if sending}}
		<div class="alert alert-success" role="alert">
			<strong>{{mf 'profile.verifyEmail.mailOnItsWay' "Verification mail on its way!"}}</strong><br>
			{{mf 'profile.sendingVerificationMail' "We're sending a verification mail to your address, it should arrive shortly. Please click the link in that message."}}
		</div>
	{{else}}
		<button type="button" class="btn btn-link js-verify-mail-btn">
			{{mf 'profile.verifymail' 'Verify my E-Mail'}}
		</button>
	{{/if}}
</template>
