.frame_calendar_event_container {
  .frame_calendar_event {
    .transition(0.5s);
    background: @light-blue;

    &:hover {
      .box-shadow;
    }

    .-eventLocationTime,
    .-eventTitle,
    .-eventDescription {
      overflow: hidden;
      word-wrap: break-word;
    }

    .-eventLocationTime {
      background: @brand-success;
      border-bottom: 1px solid #fff;
      color: #333;
    }

    .-eventTitle {
      color: #333;
      font-size: medium;
    }

    .-eventDescription {
      color: @brand-primary;
    }
  }
}
