<template name="introduction">
	<div class="introduction-container">
		<div class="introduction">
			<h3>
					{{#mf KEY='introduction.Title' SITENAME=siteName}}
					What does {SITENAME} do for you?
					{{/mf}}
					{{#if openedIntro}}
						<button class="js-introduction-toggle-btn introduction-hide-btn">
							{{mf 'introduction.toggle.hide' 'Hide'}}
						</button>
					{{else}}
						<button class="js-introduction-toggle-btn introduction-show-btn">
							{{mf 'introduction.toggle.show' 'Show'}}
						</button>
					{{/if}}
					<a class="js-introduction-close-btn"
						href="#"
						title="{{mf 'introduction.close.title' 'Close introduction'}}">
						<span class="remove-btn"></span>
					</a>
			</h3>
			<div class="introduction-content">
				<ul class="introduction-steps">
					<li>
						<h2><span class="fa fa-lightbulb-o"></span></h2>
						{{mf 'introduction.1_teachOrLearn' 'You want to learn somethig, or teach others.'}}
					</li>
					<li>
						<h2><span class="fa fa-search"></span></h2>
						{{mf 'introduction.2_searchNPropose' 'You search if the course already exists. If not, you just propose it.'}}
					</li>
					<li>
						<h2><span class="fa fa-graduation-cap"></span></h2>
						{{mf 'introduction.3_enrole' 'Everybody can apply as participant, mentor or host to your course.'}}
					</li>
					<li>
						<h2><span class="fa fa-calendar-check-o"></span></h2>
						{{mf 'introduction.4_schedule' 'When everybody is there, a date gets fixed.'}}
					</li>
					<li>
						<h2><span class="fa fa-rocket"></span></h2>
						{{mf 'introduction.5_takePlace' 'The course takes place!'}}
					</li>
					<li>
						{{mf 'introduction.more' 'More infos:'}} <br>
						<a href="/FAQ">{{mf 'main.faq_link' 'FAQ'}}</a><br>
						<a href="https://vimeo.com/openki/">{{mf 'main.video_link' 'Video'}}</a><br>
						<a href="/about" >{{mf 'main.about_link' 'About'}}</a><br>
						<a href="http://about.openki.net">{{mf 'main.concept_link' 'Concept'}}</a>
					</li>
				</ul>
			</div><!-- /.introduction-content -->
		</div><!-- /.introduction -->
	</div><!-- /.introduction-container -->
</template>
