.introduction{
	color: @brand-primary;
	background-color: @introduction-bg;
	margin-top: 10px;
	padding-top: 2px;
	transition: all 1s;

	&:hover{
		background-color: @introduction-text;
		transition: all 1s;
	}

	.close{
		position: relative;
		right: -1px;
		top: 7px;

		span.glyphicon-remove {
			.btn-remove;
		}
	}

	h3 {
		margin: 5px 40px 6px 0;
		padding-right: 30px;

		a {
			text-decoration: none;
			&:hover {
				cursor: pointer;
				.toggle{
					& .showIntro{
						color: @introduction-show-text;
						background-color: @introduction-show-bg;
					}
					& .hideIntro{
						color: @default-black;
						background-color: @default-light-grey;
					}
				}
			}
		}

		.toggle{
			display: inline;
			padding-left: 10px;
			padding-right: 10px;
			color: @default-grey;
		}
	}

	.content{
		hr{
			color: @default-grey;
			margin-top: 0;
		}

		ul{
			.list-unstyled;
			font-size: medium;

			li{
				.grid(8, 1.6);

				h2{
					margin-bottom: 8px;
					margin-top: 0px;
					padding-left: 35%;

					span {
						color: grey;
						opacity: 0.5;
						padding-top: 5px;
						padding-left: 105%;
					}
				}

				span{
					position: absolute;
					padding-top: 5px;
					left: -17px;
					opacity: 0.6;
					font-size: 23px;
				}
				margin-left: 24px;
				margin-bottom: 15px;
				a {
					text-decoration: underline;
				}
			}
		}

	padding-bottom: 12px;
	}
}
