<template name="introduction">
	<div class="introduction container -introContainer about">
		<a href="#" class="-closeIntro close"> <span class="glyphicon glyphicon-remove"> </span> </a>
		<h3>
			<a class="-toggleDetails">
				{{mf 'introduction.Title' 'How it works:'}}
				{{#if openedIntro}}
					<div class="hideDetails">hide ^</div>
				{{else}}
					<div class="showDetails">show ⌵ </div>
				{{/if}}
			</a>
		</h3>
		<div class="content">
			<hr>
			<ul>
				<li> <h2> 1 <span> > </span></h2> <span class="fa fa-lightbulb-o"></span>{{mf 'introduction.1_teachOrLearn' 'You want to learn somethig, or teach others.'}}</li>
				<li> <h2> 2 <span> > </span></h2> <span class="fa fa-search"></span>{{mf 'introduction.2_searchNPropose' 'You search if the course already exists. If not, you just propose it.'}}</li>
				<li> <h2> 3 <span> > </span></h2> <span class="fa fa-graduation-cap"></span> {{mf 'introduction.3_enrole' 'Everybody can apply as participant, mentor or host to your course.'}}</li>
				<li> <h2> 4 <span> > </span></h2> <span class="fa fa-calendar-check-o"></span>{{mf 'introduction.4_schedule' 'When everybody is there, a date gets fixed.'}}</li>
				<li> <h2> 5 </h2> <span class="fa fa-rocket"></span>{{mf 'introduction.5_takePlace' 'The course takes place!'}}</li>
				<li> <h2> &nbsp; </h2> {{mf 'introduction.more' 'More infos:'}} <br> <a href="/FAQ">{{mf 'main.faq_link' 'FAQ'}}</a>, <br> <a href="https://vimeo.com/openki/">{{mf 'main.video_link' 'Video'}}</a>, <br> <a href="/about" >{{mf 'main.about_link' 'About'}}</a>, <br> <a href="http://openki.net">{{mf 'main.concept_link' 'Concept'}}</a> </li>
			</ul>
		</div>
	</div>
</template>
