.course-list {
	@include clearfix;
	margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 2) * -1);
	padding-bottom: 10px;
	width: auto;

	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 8) * -1);
	}
}
