<template name="ipTest">
	<div class="container ipTest">
	Hi, enter here the ip-address to be tested:

		<div>
			<textarea name="ip_" class="-ip" placeholder="123.45.6.78"></textarea>
			<button type="button" class="btn -testIp">
				<span class="glyphicon glyphicon-ok"></span>
				Test
			</button>
		</div>

		<hr>

		<h3>Result:</h3>

		Country: {{GeoData.country}} <br>
		Region: {{GeoData.region}} <br>
		City: {{GeoData.city}} <br>
		Lat, Long: {{GeoData.ll.[0]}}, {{GeoData.ll.[1]}}<br>
		Metro: {{GeoData.metro}} <br>
		range: {{GeoData.range}}  <br> <br>

		(your last search: {{SessionGeoData.country}}) <br><br>
	</div>
</template>
