<template name="frameLayout">
	{{> yield}}
</template>

<template name="frameEvents">
  <div class="banner">
	{{#each this}}
		{{> frameEvent}}
	{{/each}}
  </div>
</template>

<template name="frameEvent">
	<a href="{{pathFor 'showEvent'}}">
	<div class="calendar_event col-xs-12 col-sm-4 col-md-3 col-lg-2 no-padding" style='overflow: hidden'>
		<div class="course_event_date">
			{{dateformat_fromnow start}} 
		</div>
		<div class="course_event_time">
			<span class="glyphicon glyphicon-time"></span>
			{{timeformat start}} - {{timeformat end}}
			<br>
			<span class="glyphicon glyphicon-home"></span>
			{{this.location}} 
			{{#if room}}
				- {{this.room}}
			{{/if}}
		</div>
		<div class="col-sm-12">
			<div class="course_event_title">
				<h4>{{plain this.title}}</h4>
			</div>
			<div class="course_event_desc">{{plain this.description}}</div>
		</div>
	</div>
	</a>
</template>