<template name="frameLayout">
	{{> yield}}
</template>

<template name="frameEvents">
  <div class="banner">
	{{#each this}}
		{{> frameEvent}}
	{{/each}}
  </div>
</template>

<template name="frameEvent">
	<a href="{{pathFor 'showEvent'}}">
		<div class="event_small_container">
			<div class="event_small">
				<div class="-eventLocationTime">
					<span class="fa fa-clock-o"></span>
					{{timeformat start}} - {{timeformat end}}
					<br>
					{{#with start}}{{#if timely}}({{dateformat_fromnow this}}){{/if}}{{/with}}
					{{this.location}}{{#if room}} - {{this.room}}{{/if}}
				</div>
				<div class="-eventTitle">
					{{plain this.title}}
				</div>
				<div class="-eventDescription">
					{{plain this.description}}
				</div>
			</div>
		</div>
	</a>
</template>
