.faq-section-title {
	color: $brand-primary;
}

.faq-question + .faq-section-title {
	margin-top: 30px;
}

.faq-question-title {
	border-bottom: 1px solid $blue-lighter;
	cursor: pointer;
	padding-bottom: 5px;
	transition: border-color .15s;

	&:hover,
	&.active {
		border-color: $brand-primary;
	}
}

.faq-question-answer {
	display: none;
}
