<template name="FAQ">
<div id="FAQ" class="container container-sm">
	<h2 class="faq-section-title">Allgemein</h2>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist Openki?
		</h3>
		<div class="faq-question-answer">
			Openki ist eine offene Bildungsplattform. Auf ihr können Kurse vorgeschlagen, diskutiert, entwickelt, organisiert und ausgeschrieben werden. Der Fokus liegt dabei auf der Förderung von Selbstorganisation, dem Zusammenbringen von Menschen, Gruppierungen und Initiativen und gewährleistet einen hürdefreien Austausch von Erfahrung und Wissen. Die Kurse sind für alle zugänglich, unabhängig von der finanziellen Situation. Die Organisation ist dabei Non-profit und OpenSource.
			Hier (http://about.openki.net/?lang=en) findest du mehr über Openki und dessen Philosophie.
			Wie die Webseite konzeptionell funktioniert, erfährst du hier: Bild zum dingsbums
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was bedeutet der Name "Openki" eigentlich?
		</h3>
		<div class="faq-question-answer">
			Openki ist Ukrainisch (опеньки). Das heisst auf deutsch Hallimasch, in der Fachsprache „Armillaria“ und ist ein Pilz. Hier seine Wikipedia Seite.
			Der Name bezieht sich dabei vor allem auf das Myzel. Dies ist der Teil eines Pilzes, den man normalerweise nicht meint, wenn man „Pilz“ sagt. Es besteht aus tausenden dünnen Fäden, die unterirdisch ein dichtes Netz bilden mit einer unglaublichen Grösse.
			Viele Pflanzen sind mit Myzel-Fäden miteinander verbunden, teils für den Nahrungsaustausch oder um zu kommunizieren. Über der Erde poppen die bekannten Fruchtkörper des Pilzes auf – unerwartet und unvorhergesehen.
			Der Pilz Openki ernährt sich sowohl von lebenden Sträuchern und Bäumen, wie später von ihrem toten organischen Material.
			(Ist das Philosophisch?) Philosophisch können die Netzwerke des Openkis als Metapher für ein alternatives Modell der Wissensvermittlung und dessen Verknüpfungen genutzt werden. So kontrastiert ein solches Modell beispielsweise die Ast- und Wurzelstruktur des altgriechischen hierarchischen Wissensbaums und könnte ihn als ein Netzwerk des Wissens ersetzen.

			Auf philosophischer Ebene sind es dann auch die Netzwerke des Openkis, welche die Ast- und Wurzelstruktur des altgriechischen hierarchischen Wissensbaumes auflösen und mit einem neuen Modell, dem Netzwerk des Wissens ersetzen.
			unverständlich, metapher schöner bringen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wem gehört Openki?
		</h3>
		<div class="faq-question-answer">
			Openki gehört mir, dir und allen, die sich daran beteiligen. Die Applikation ist Open Source und steht unter der GNU AGPL-Lizenz (https://www.gnu.org/licenses/agpl-3.0.de.html) und ist daher für die unkommerzielle Nutzung frei verfügbar. Hinter Openki steht der kollektiv organisierte Verein "Kopf" (vereinkopf oder der verein KOPF??), welcher während der letzten Jahren Openki entwickelt hat.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Ist Openki ein soziales Netzwerk?
		</h3>
		<div class="faq-question-answer">
			Jein. Wir bieten ein Werkzeug zur Selbstorganisation. Da gehören soziale Kontakte natürlich dazu. Im Vergleich zu anderen Anbietern wollen wir aber, dass du nur für wenig Zeit auf unserer Seite bleiben musst, um viel gemeinsame Zeit in der realen Welt zu organisieren und dann natürlich zu verbringen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Ich habe eine Idee, wie Openki technisch/virtuell verbessert werden könnte. Kann ich meine Ideen einbringen?
		</h3>
		<div class="faq-question-answer">
			Nice! Damit Openki noch besser wird, brauchen wir dein Feedback. Wir haben selbst noch dutzende Ideen, die wir unerlässlich (wichtig finden und umsetzen möchten) finden, und an denen wir arbeiten. Wir beschränken uns zur Zeit auf die notwendigsten Funktionen. Einerseits wegen unserer begrenzten Kapazität, anderseits um Openki so einfach verständlich wie möglich zu halten.
			Uns ist bewusst, dass es verschiedene zusätzliche Features gibt, welche die Selbstorganisation weiter vereinfachen, und sind sehr froh um Rückmeldungen (Link zu "Ich habe eine Idee..").
			Nicht nur die Software von Openki ist open-source (schreibweise vereinheitlichen: oben Open-Source), sondern auch deren Entwicklung und Organisation wird offengelegt. Das heisst zum Beispiel, du siehst hier (https://github.com/Openki/Openki/issues), welches die nächsten geplanten Schritte sind und darfst dort gerne aktiv an der Diskussion teilnehmen.
			Alternativ kannst du einfach auch eine Email mit deinen Vorschlägen an: openki-core[ät]lists.xiala.net senden.
			Falls du bei der Übersetzung von Openki helfen möchtest, findest du hier die benötigten Informationen: https://openki.net/translate
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Gibt es ähnliche Projekte wie Openki?
		</h3>
		<div class="faq-question-answer">
			((VERGLICHS-TABELLE EINFÜGEN? ))
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wer administriert die Webseite Openki.net?
		</h3>
		<div class="faq-question-answer">
			Die Administration und der technische Unterhalt (Unklarheiten der Benutzer_innen klären, aufräumen, Probleme erkennen und lösen, Verbesserungen vornehmen und vieles mehr) wird von einem Admin-Kollektiv durchgeführt. Für die verschiedenen Regionen, in denen Openki aktiv ist, soll es bald lokale Admin-Kollektive geben.
		</div>
	</div>
	<h2 class="faq-section-title">Die Rollen/Akteure auf Openki (mit jeweils Link zum Überthema)</h2>
		!!!!Symbole für die Akteure einfügen!!!!
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein Openki-Kurs?
		</h3>
		<div class="faq-question-answer">
			Ein Openki-Kurs ist nicht nur eine Lehrveranstaltung im klassischen Sinne, sondern beinhaltet auch die Diskussion der Teilnehmenden über seinen Inhalt und Ziele, sowie das Finden von Mentoren oder Veranstaltungsdaten. Wie ein Schiff können alle Teilnehmenden den Kurs steuern und das Ziel kontinuierlich mitbestimmen und ändern. Die Sparte von möglichen Kursen reicht von Frontalunterricht über Workshops, Diskussions- und Arbeitsgruppen bis zum Lesezirkel.

			Ein Openki-Kurs beginnt als "Vorschlag" (Anführungszeichen einheitlich machen): Jemand bringt ein Kursthema ein - eine Idee, einen Wunsch, eine Frage. Andere Leute können am Kurs "teilnehmen", das heisst ihm beitreten und mitdiskutieren. Es meldet sich ein*e Mentor*in und man findet ein Veranstaltungsort.
			Sobald ein Kurs eine geplante Veranstaltung hat "findet er statt".
			Ein Kurs kann einmalig oder wiederholend sein, auf anderen Kursen aufbauen oder für sich alleine stehen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein*e Teilnehmer*In?
		</h3>
		<div class="faq-question-answer">
			Ein*e Teilnehmer*in ist jede Person, die an einem Kurs teilnimmt. Zusätzlich zum Teilnehmer*innen-Sein können Teilnehmer_Innen Funktionen von Mentor_in, Host  und Organisator_in übernehmen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist eine Mentor*In?
		</h3>
		<div class="faq-question-answer">
			Mentor*innen haben im Kursthema einen Wissens- und/oder Erfahrungsvorsprung und leiten die Teilnehmenden durch den Kurs. Sie sind in der Regel zuständig für die inhaltliche Vor- und Nachbereitung eines Kurses.
			"Im Unterschied zum Coach (???? Begriff notwendig??) ist der Mentor üblicherweise nicht eigens für diese Tätigkeit ausgebildet, sondern verfügt lediglich über einen Erfahrungs- und/oder Wissensvorsprung.“ (aus Wikipedia)
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein O-Team (Organisationsteam)?
		</h3>
		<div class="faq-question-answer">
			Das O-Team eines spezifischen Kurses hat die Berechtigung diesen Kurs auf Openki zu administrieren - d.h. "Events" erstellen, den Kursbeschrieb ändern und weitere Teilnehmende ins O-Team einladen.
			Sobald eine Person einen Kurs auf Openki vorschlägt, wird sie automatisch zur ersten Person des O-Teams. Sie ist befähigt beliebig weitere Personen ins O-Team des spezifischen  Kurses aufzunehmen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein Host?
		</h3>
		<div class="faq-question-answer">
			Ein "Host" ist die Person, die sich um den Raum kümmert, in welchem ein Kurs stattfinden soll: sie besitzt Zugang zum Raum, klärt im Voraus die Verfügbarkeit des Raumes ab, ist Kontaktperson zu den Besitzer*innen/ Hausabwart*innen/... und ist dafür verantwortlich, dass die jeweiligen Hausrichtlinien kommuniziert und eingehalten werden.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was sind Gruppen?
		</h3>
		<div class="faq-question-answer">
			Gruppen sind bereits bestehende Organisationen, Communities, usw., welche Openki dazu verwenden, ihre Kurse zu organisieren.
		</div>
	</div>
	<h2 class="faq-section-title">Kurse</h2>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein Openki-Kurs? ===!!!!====
		</h3>
		<div class="faq-question-answer">
			siehe --> Link
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie kann ich einen Kurs vorschlagen?
		</h3>
		<div class="faq-question-answer">
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Zu welchen Inhalten können Kurse organisiert werden?
		</h3>
		<div class="faq-question-answer">
			Zu allen - von Kochen über Nuklearphysik und Modern Dance bis hin zu Rainer Maria Rilke. Die Kurse sind in Kategorien eingeteilt (Wissenschaft, Sport, Musik etc.). Ausgeschlossen werden diskriminierende Inhalte, insbesondere sexistische und rassistische. (Siehe Grundwerte) ---LINK---
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Dürfen Kurse etwas kosten?
		</h3>
		<div class="faq-question-answer">
			Ja, aber alle Preise verstehen sich als Richtpreise. Als gewünschte Spende sozusagen. Das heisst, jede*r darf mehr oder auch weniger geben als vorgeschlagen, und genauso teilnehmen. Nur die Selbstkosten (Material, Raum, Anfahrtswege...) eines Kurses können fix sein.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Ich will einen Kurs hosten, habe aber keinen Raum...
		</h3>
		<div class="faq-question-answer">
			Auf Openki gibt es je nach Region eine kurze oder lange Liste mit benutzbaren Räumen. Alle können ihre Räume - von Fabrikhalle über Wohnzimmer bis Garten - ausschreiben, damit sie als Kursorte gefunden werden können. Wie du Kontakt mit den für den Raum Verantwortlichen aufnimmst ist von Raum zu Raum unterschiedlich. Am einfachsten schreibst du ein*e Benutzer*in an, die den Raum ausgeschrieben oder schon gehostet hat.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wann wird ein Kurs ausgeschrieben?
		</h3>
		<div class="faq-question-answer">
			Sobald jemand einen Kurs vorschlägt, wird dieser als "Vorschlag" ausgeschrieben und erscheint mit einem gestrichelten Rahmen ( BILD) in der Kursübersicht. Damit der Kurs aber im Kalender erscheint, muss das O-Team eine Veranstaltung erstellen. Dies erfolgt, nachdem alle Einzelheiten (Mentor, Ort, Datum, etc.), festgelegt worden sind.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Ist es möglich, fertige Veranstaltungen auszuschreiben, ohne den Kurs zuerst vorzuschlagen?
		</h3>
		<div class="faq-question-answer">
			Ja. Ein Mentor*in, der/die genau weiss wo und wann er/sie was lehren/vermitteln will, kann einen Kurs ohne vorangehende Diskussion ausschreiben. Er/Sie ist dann z.B. als Organisator*in, Host und Mentor*in des Kurses eingetragen. Ist es eine einmalige Veranstaltung  tust du das über das Formular Event erstellen. (evt. nicht mehr aktuell)
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie verbindlich ist die Anmeldung für einen Kurs?
		</h3>
		<div class="faq-question-answer">
			Die Verbindlichkeit einer Kurs-Anmeldung hängt vom Kurs ab und wird im Kursbeschrieb kommuniziert.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wo finden Kurse statt?
		</h3>
		<div class="faq-question-answer">
			Überall, wo mensch hinkommt. Die Teilnehmenden sind selbst dafür verantwortlich einen passenden Veranstaltungsort und einen "Host"--> LINK  (=Gastgeber) für ihren Kurs zu finden. Alle können ihre Räume - von Fabrikhalle über Wohnzimmer bis Garten - ausschreiben, damit sie als Kursorte gefunden werden können. Wie du Kontakt mit den für den Raum Verantwortlichen aufnimmst, ist von Raum zu Raum unterschiedlich. Wir arbeiten an einer Liste aller möglicher Veranstaltungsorte in deiner Region.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Kann ich Kursmaterialien, Dokumentationen oder Erfahrungsberichte archivieren und zu einem späteren Zeitpunkt nutzen?
		</h3>
		<div class="faq-question-answer">
			Zum Sammeln der Kursmaterialien und zur Dokumentation des Kurses gibt es momentan keine Möglichkeit. Ziel ist es, dass der Inhalt eines Kurses für weitere Kurse bereitsteht. Momentan kann aber die Diskussion, sowie geteilte Links in der Kursbeschreibung eingesehen werden. Daher sind auch vergangene Kurse weiterhin in der Kursübersicht zu finden.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			In welcher Sprache finden die Kurse statt?
		</h3>
		<div class="faq-question-answer">
			Normalerweie finden Kurse in der Sprache statt, in der sie ausgeschrieben werden. Mehrsprachige Kurse werden mehrsprachig ausgeschrieben.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wieso ist die Kursbeschreibung nicht übersetzt?
		</h3>
		<div class="faq-question-answer">
			Normalerweie finden Kurse in der Sprache statt, in der sie ausgeschrieben werden. Mehrsprachige Kurse werden mehrsprachig ausgeschrieben.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wieso finde ich in der Kursübersicht zahlreiche Kurse, welche bereits vergangen sind?
		</h3>
		<div class="faq-question-answer">
		Die Idee dahinter ist, dass ein Kurs nie wirklich zu Ende ist; Eine Idee oder ein Thema kann auch in Zukunft aktuell bleiben. So können Benutzer*innen einen Kurs jederzeit weiterentwickeln oder auf die Dokumentation dessen zurückgreifen. Die aktuell stattfindenden Kurse ("Events") findest du auf der Hauptseite unter "Kalender".
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Ich brauche für die Organisation meines Kurses unbedingt noch dieses / jenes Tool!
		</h3>
		<div class="faq-question-answer">
			Viele Tools sind schon auf dem Web frei verfügbar und mensch kann sie auf Openki einfach per link verknüpfen. Einige Beispiele:
			Eigenes Wiki erstellen: http://www.wikispaces.com/content/classroom)
			Texte zusammen schreiben:  Etherpad https://etherpad.wikimedia.org oder Hackpad https://hackpad.com
			Einfache Abstimmungen: https://dudle.inf.tu-dresden.de/) oder http://papilio.niadomo.net/create/
			Kompliziertere Entscheidungen in einer Gruppe:http://loomio.org
			Files hochladen wetransfere.com
		</div>
	</div>
	<h2 class="faq-section-title">Mentoring</h2>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was ist ein Mentor?
		</h3>
		<div class="faq-question-answer">
			siehe --> LINK
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wer kann mentorieren?
		</h3>
		<div class="faq-question-answer">
			Alle Benutzer_innen können sich für Kurse als Mentor_innen melden.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Braucht es einen Mentor?
		</h3>
		<div class="faq-question-answer">
			Nein. Es gibt auch Kurse, wobei alle Teilnehmenden zusammen Wissen erarbeiten ohne einen bestimmten Mentor zu benötigen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie weiss ich, ob ein Mentor seriös ist?
		</h3>
		<div class="faq-question-answer">
			Wenn du unsicher bist, kontaktiere die Person im Vorfeld. Handle nach gesundem Menschenverstand. In Zukunft wird es ein Bewertungstool geben, später vielleicht auch so was wie ein Trust-Network.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Weshalb kann ich als Mentor_in keinen fixen Preis verlangen?
		</h3>
		<div class="faq-question-answer">
			Wir sind der Meinung, dass Bildung (und somit auch die Veranstaltungen auf Openki) für Alle zugänglich sein soll – unabhängig von deinem Kontostand und Einkommen.
		</div>
	</div>
	<h2 class="faq-section-title">Gruppen</h2>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Was sind Gruppen?
		</h3>
		<div class="faq-question-answer">
			siehe --> LINK
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie können wir uns als Gruppe bei Openki anmelden?
		</h3>
		<div class="faq-question-answer">
			Jede Benutzerin kann unter ihren Account-Einstellungen eine Gruppe erstellen. https://openki.net/group/create
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Können wir als Gruppe Openki-Kurse auf unserer eigenen Webseite anzeigen?
		</h3>
		<div class="faq-question-answer">
			Ja!  AUSFÜHREN?
		</div>
	</div>
	<h2 class="faq-section-title">Sicherheit</h2>
	Verantwortung bei den Teilehmenden...
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie wird der Missbrauch von Openki verhindert? z.B Diskriminierung, Rassismus etc.
		</h3>
		<div class="faq-question-answer">
			Diskriminierende Inhalte zu erkennen und anzusprechen ist Aufgabe aller Benutzer*innen; allfälliges Monitoring übernimmt die Administration. Es muss Transparenz bezüglich zensierter Inhalte herrschen.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie weiss ich ob ich in Gefahr bin, wenn ich an einem Kurs teilnehme?
		</h3>
		<div class="faq-question-answer">
			Wenn du unsicher bist, kontaktiere die Person im Vorfeld. Handle nach gesundem Menschenverstand. Solltest du dich unsicher fühlen, gehe nicht alleine hin. In Zukunft wird es ein Feedback-Tool geben, später vielleicht auch ein Form von Trust-Network.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie steht Openki zu Datenschutz?
		</h3>
		<div class="faq-question-answer">
			Openki ist sehr darauf bedacht, verschiedensten Privatsphäre-Ansprüchen gerecht zu werden. Dazu gehören moderne Verschlüsselungstechniken ebenso wie personalisierte Datenschutzeinstellugen.
			Openki verkauft keine Benutzer*innendaten an Unternehmen, wir verfolgen dein Verhalten nicht und wir lassen auch keine anderen Firmen dein Verhalten und Interessen verfolgen. Aus diesem Grund sind die Social-Buttons vor Gebrauch erst zu aktivieren.
		</div>
	</div>
	<div class="faq-question">
		<h3 class="faq-question-title js-toggle-answer">
			Wie sicher ist die Openki webpage?
		</h3>
		<div class="faq-question-answer">
			Openki.net ist standardmässig SSL verschlüsselt. Dies ist die gleiche Technologie, die dein Onlinebanking nutzt. Aber deine Anmeldungen an Kursen sind zum Beispiel für andere Nutzende sichtbar. Wähle daher nicht deinen echten Namen.
		</div>
	</div>
</div>
</template>
