.price-policy-content {
	background-color: lighten($brand-success, 15%);
	border: 1px solid $brand-success;
	padding: 10px;
}

.price-policy-content > i {
	color: $brand-primary;
}

.price-policy-actions {
	margin-top: 10px;
	text-align: right;
}

.price-policy-actions > * + * {
	margin-left: 5px;
}

.price-policy-actions > .btn-link {
	border: 0;
}
