.price-policy-content {
	background-color: lighten($brand-warning, 35%);
	border: 1px solid lighten($brand-warning, 25%);
	padding: 10px;

	&.is-dismissable {
		background-color: lighten($brand-warning, 25%);
		border: 1px solid $brand-warning;
	}
}

.price-policy-content > i {
	color: $brand-primary;
}

.price-policy-actions {
	margin-top: 5px;
	text-align: right;
}

.price-policy-actions > * + * {
	margin-left: 5px;
}
