.mapContainer
	&.box
		height: 200px
		width: 200px
		span.fa
			font-size: 30px
	&.fullscreen
		bottom: 0px
		left: 0px
		position: fixed
		right: 0px
		top: 0px
		z-index: 9999
		span.fa
			font-size: 8vh
	.map
		height: 100%
		width: 100%
	.leaflet-marker-pane .leaflet-marker-icon
		background: none
		border: 0px
		.fa-map-marker
			color: black
			&:hover
				cursor: grabbing
	.leaflet-control-container .leaflet-right .leaflet-control:hover
		color: $brand-primary
		cursor: pointer
	.leaflet-interactive:hover
		cursor: pointer
		fill: $map-lefalet-hover-fill
