.mapContainer {
	&.fullscreen {
		bottom: 0;
		font-size: 10vh;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	.map {
		height: 100%;
		width: 100%;
	}

	.leaflet-marker-pane {
		.leaflet-marker-icon{
			background: none;
			border: none;

			.fa-map-marker {
				color: black;
				font-size: 30px;

				&:hover{
					cursor: grabbing;
				}
			}
		}
	}

	.leaflet-control-container {
		.leaflet-right {
			.leaflet-control:hover {
				color: @brand-primary;
				cursor: pointer;
			}
		}
	}

	.leaflet-interactive {
		&:hover {
			cursor: pointer;
			fill: #ff1;
		}
	}
}
