.navbar .navbar-nav .dropdown-menu.login-dropdown {
	padding: 15px 0 0;
  width: 300px;
}

.user-frame {
  @include grid(12);
	padding: 0;
  text-align: center;
}

.ownuser-frame {
  @include grid(12);
  padding: 0px;
  h3 {
    margin-top: 0px;
  }
  a,
  button {
    @extend .form-control;
    @extend .btn;
    @extend .btn-default;
    margin-bottom: 15px;
  }
}

.login {
  @include grid(12);
	padding: 0 15px;
  & > div,
  & > button,
  & > a {
    margin-bottom: 15px;
  }
  .fa-lock {
    font-size: large;
    padding: 0 1px;
  }
}

.registering-disclaimer {
  margin-top: -10px;
  text-align: justify;
}

#username_warning,
#username_warning_not_existing,
#password_warning,
#password_warning_incorrect,
#login_warning {
  color: $brand-danger;
  margin: (-10px) 0 10px !important;
  text-align: left;
}

.js-forgot-pwd-btn {
  display: block;
  margin-top: -10px;
  text-align: right;
  &:focus {
    text-decoration: underline;
  }
  &:hover {
    color: $brand-primary;
    cursor: pointer;
  }
}

.js-login-btn,
.js-register-btn {
  @extend .form-control;
  @extend .btn;
}

.js-login-btn {
  @extend .btn-default;
	@media (max-width: $screen-xs) {
		margin-bottom: 5px !important;
	}
}

.js-register-btn {
  @extend .btn-success;
}

.external-service-login span {
  display: block;
  padding-bottom: 5px;
}

.js-external-service-login-btn {
  @include btn-reset;
  color: $default-gray;
  font-size: xx-large;
  padding: 0px 9px;
  &:hover,
  &:focus {
    @each $service, $color in $external-servies {
      .fa-#{$service}-square {
        color: $color;
      }
    }
  }
	@media (max-width: $screen-xs) {
		@each $service, $color in $external-servies {
      .fa-#{$service}-square {
        color: $color;
      }
    }
	}
}

.password_warning #login-password,
.username_warning #login-name {
  border-color: $brand-danger;
}

.username_warning,
.password_warning {
  .js-forgot-pwd-btn::before {
    content: "ïª";
    font-family: FontAwesome;
  }
}

.forgot_login {
  @include grid(12);
  padding: 0 15px;
  & > p,
  & > div,
  & > button {
    margin-bottom: 15px !important;
  }
}

.js-login-email {
  @extend .form-control;
}

.forgot-pwd-mail-info {
  display: inline-block;
  margin-top: -10px;
}

.js-reset-pwd-btn,
.js-reset-pwd-close-btn {
  @extend .form-control;
  @extend .btn;
}

.js-reset-pwd-btn {
  @extend .btn-success;
}

.js-reset-pwd-close-btn {
  @include btn-cancel;
}

.registering_disclaimer {
  margin-top: -10px;
  text-align: justify;
}
