@import '{}/client/styles/variables';

.navbar .navbar-nav > .dropdown > .login-dropdown.login-dropdown,
.navbar .navbar-nav > .open > .login-dropdown.login-dropdown {
	@media (min-width: $screen-sm) {
		padding-top: 15px;
		width: 300px;
	}
}

.user-frame {
	@media (max-width: $screen-sm) {
		background-color: $dropdown-bg;
		padding-top: 15px;
	}
}

.ownuser-frame {
	padding: 0 ($grid-gutter-width / 2);

	h3 {
		text-align: center;
		margin: 0 0 15px;
	}
}

.login {
	padding: 0 ($grid-gutter-width / 2);

	.fa-lock {
		font-size: large;
		padding: 0 1px;
	}
}

.registering-disclaimer {
	margin-top: -10px;
	text-align: justify;
}

.forgot-pwd-btn-container {
	text-align: right;
}

.external-service-login {
	text-align: center;
}

.js-external-service-login-btn {
	background: none;
	border: 0;
	color: $default-gray;
	padding: 0 9px;

	.fa {
		font-size: xx-large;
	}
}

@each $service, $color in $external-servies {
	.fa-#{$service}-square {
		&:hover,
		&:focus {
			color: $color;
		}
		
		@media (max-width: $screen-xs) {
			color: $color;
		}
	}
}

.forgot_login {
	padding: 0 ($grid-gutter-width / 2);
}

.forgot-pwd-mail-info {
	display: inline-block;
	margin-top: -10px;
}

.registering_disclaimer {
	margin-top: -10px;
	text-align: justify;
}
