.event_small_container {
  .grid(4, 3, inherit, 2);
  height: 200px;
  padding: 0 3px 10px;

  @media screen and (max-width: @screen-xxs) {
    .grid(6);
    padding: 0 3px 10px;
  }

  @media screen and (max-width: @screen-xxxs) {
    .grid(12);
    padding: 0 3px 10px;
  }

  .event_small {
    .grid(12);
    .transition(0.5s);
    background: @light-blue;
    height: 100%;
    padding: 0;

    &:hover {
      .box-shadow-big(@default-shadow);
    }

    .-eventLocationTime,
    .-eventTitle,
    .-eventDescription {
			.word-break;
      overflow: hidden;
    }

    .-eventLocationTime {
      .grid(12);
      background: @brand-success;
      border-bottom: 1px solid @default-white;
      color: @default-black;
      height: 50px;
      padding: 5px;

			span.fa,
			span.glyphicon {
				margin-right: 5px;
			}

			span.fa-map-signs {
				margin-left: 5px;
			}
    }

    .-eventTitle {
      .grid(12);
      color: @default-black;
      font-size: medium;
      max-height: 56px;
      padding: 5px;
    }

    .-eventDescription {
      .grid(12);
      color: @brand-primary;
      height: 85px;
      margin-top: -3px;
      padding: 0 5px 5px;
    }
  }
}
