.event_small_container {
  .grid(4, 3, inherit, 2);
  height: 200px;
  padding: 0 3px 10px;

  @media screen and (max-width: @screen-xxs) {
    .grid(6);
    padding: 0 3px 10px;
  }

  @media screen and (max-width: @screen-xxxs) {
    .grid(12);
    padding: 0 3px 10px;
  }

  .event_small {
    .grid(12);
    .no-padding;
    height: 100%;

    .-eventLocationTime {
      .grid(12);
      height: 50px;
      padding: 5px;
    }

    .-eventTitle {
      .grid(12);
      max-height: 56px;
      padding: 5px;
    }

    .-eventDescription {
      .grid(12);
      height: 85px;
      margin-top: -3px;
      padding: 0 5px 5px;
    }
  }
}
