// *** Region Tag ***
//=======================
.region-tag {
	background-color: $blue;
	border-bottom-left-radius: 3px;
	color: $white;
	text-align: center;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
}
