// *** Course region ***
//=======================
.course-details-region {
	background-color: $blue;
	border-bottom-left-radius: 3px;
	color: $white;
	float: right;
	text-align: center;
	padding: 8px;
	position: relative;
}
