<template name="groupDetails">
	<div class="container">
		{{#if isNew}}
			<h2>{{mf 'group.details.titleNew' "Create new group"}}</h2>
		{{/if}}
		<div class="page-component group-details">
			<div class="details-header group-details-header">
				<div class="group-details-logo">
					{{#if groupLogo group._id}}
						<img src="{{groupLogo group._id}}" width='50' style="vertical-align:bottom">&nbsp;&nbsp;
					{{/if}}
				</div>
				<div class="group-details-name">
					{{#if editableName}}
						{{>editable editableName}}
					{{else}}
						{{group.name}}
					{{/if}}
				</div>
				{{#if mayEdit}}
					<button type="button" class="close js-group-settings">
						<span class="fa fa-cog" aria-hidden="true"
							data-tooltip="{{mf 'group.settings.title'}}">
						</span>
					</button>
				{{/if}}
				<div class="group-details-short">
					{{#if editableShort}}
						{{> editable editableShort}}
					{{else}}
						{{group.short}}
					{{/if}}
				</div>
			</div>
			<div class="details-body group-details-body">
				<div class="details-content">
					{{#if editableClaim}}
						<div class="group-details-claim">
							{{> editable editableClaim}}
						</div>
					{{else}}
						<h4>{{group.claim}}</h4>
					{{/if}}
						{{#if editableDescription}}
							<div class="group-details-description">
								{{> editable editableDescription}}
							</div>
						{{else}}
							<p>{{{group.description}}}</p>
						{{/if}}
				</div>
			</div>
			{{#if isNew}}
				<div class="actions">
					{{> buttonCancel event="js-group-cancel"}}
					{{> buttonSave event="js-group-save"}}
				</div>
			{{/if}}
			{{#if editingSettings}}
				{{> groupSettings}}
			{{/if}}
		</div>
		{{#if showCourses}}
			{{> find courseQuery}}
		{{/if}}
	</div>
</template>
