@import '{}/client/styles/variables';
@import '{}/client/styles/mixins/bootstrap/clearfix';

.group-details {
	.editable {
		background-color: none;
	}
}

.group-details-header {
	@include clearfix;
	background-color: rgba(130, 216, 130, .9);
	font-size: x-large;
	
	.editformLogo {
		float: left;
	}
	
	.editformName {
		float: left;
		padding: 7px;
	}
	
	.editformShort {
		float: right;
		padding: 7px;
		text-align: right;
	}
	
	button.settings {
		font-size: x-large;
		line-height: $line-height-base;
		padding: 7px;
	}
}

.groupEditSub {
	background: rgba(130, 216, 130, 0.5);
	
	.editformClaim {
		font-size: large;
	}
	
	.editformDescription {
		height: auto;
		max-height: 150px;
		min-height: 100px;
	}
}
