<template name="groupDetails">
	<div class="groupPage container">
		{{#if isNew}}
			<h2>{{mf 'group.details.titleNew' "Create new group"}}</h2>
		{{/if}}
		<div class="groupEdit">
			<form>
				<div class="group_edit_header">
					<div class="editformLogo">
						{{#if groupLogo group._id}}
							<img src="{{groupLogo group._id}}" width='50' style="vertical-align:bottom">&nbsp;&nbsp;
						{{/if}}
					</div>
					<div class="editformName">
						{{#if editableName}}
							{{>editable editableName}}
						{{else}}
							{{group.name}}
						{{/if}}
					</div>
					{{#if mayEdit}}
						<button class="settings -settings" type="button">
							<span class="fa fa-cog"></span> <!-- tooltip {{mf 'group.settings.title' 'Settings'}} -->
						</button>
					{{/if}}
					<div class="editformShort">
						{{#if editableShort}}
							{{>editable editableShort}}
						{{else}}
							{{group.short}}
						{{/if}}
					</div>
				</div>
				<div class="groupEditSub">
					<div class="editformClaim">
						{{#if editableClaim}}
							{{>editable editableClaim}}
						{{else}}
								{{group.claim}}
						{{/if}}
					</div>
					<div class="editformDescr">
						{{#if editableDescription}}
							{{>editable editableDescription}}
						{{else}}
							{{{group.description}}}
						{{/if}}
					</div>
				</div>
				{{#if isNew}}
					<div class="groupEditFinishbtns">
						<button type="button" class="btn save -saveGroup">
							<span class="glyphicon glyphicon-save"></span>
							{{mf '_button.save'}}
						</button>
						<button type="button" class="btn cancel -cancelGroup">
							<span class="glyphicon glyphicon-remove"></span>
							{{mf '_button.cancel'}}
						</button>
					</div>
				{{/if}}
			</form>
			{{#if editingSettings}}
				{{> groupSettings}}
			{{/if}}
		</div>
		{{#if showCourses}}
			<div class="find groupCourses">
				{{> find courseQuery}}
			</div>
		{{/if}}
	</div>
</template>
