.introduction {
	$background-color: lighten($gray-lightest, 5%);

	@include clearfix;
	background-color: $background-color;
	border: 1px solid $blue-lighter;
	border-radius: 4px;
	margin-top: 15px;
	padding: 5px 15px;
	position: relative;
	transition: background-color 1s;
}

.introduction-header {
	color: $blue;
	margin: 0;
	padding: 10px 0;
}

.calendar-introduction {
	margin-top: 60px;
}

.calendar-introduction + #maincontent > .container {
	padding-top: 0;
}

.introduction-close-btn-wrap {
	display: inline-block;
	float: right;
}

.js-introduction-close-btn {
	font-size: medium;
	vertical-align: middle;
}

.js-introduction-close-btn > .remove-btn {
	color: $brand-primary;
}

.introduction-show-btn,
.introduction-hide-btn {
	@include btn-sm;
	@include td-margin(left, 10px);

	&::after {
		font-family: FontAwesome;
	}
}

.introduction-show-btn::after {
	content: '\f0d7';
	margin-left: 3px;
}

.introduction-hide-btn::after {
	content: '\f0d8';
	margin-left: 3px;
}

.introduction-content {
	@include clearfix;
	border-top: 1px solid $blue-lighter;
	margin-top: 5px;
	padding: 20px 0;
}

.introduction-steps {
	@include make-row;
	font-size: medium;
	text-align: center;
}

.introduction-step {
	@include td-make-xs-column(6);
	@include td-make-sm-column(4);
	@include td-make-md-column(2);

	@media (max-width: $screen-xxs) {
		@include td-make-xs-column(12);
		padding-bottom: 20px;
		text-align: center;
	}

	&:nth-child(2),
	&:nth-child(4) {
		@media (max-width: $screen-sm) {
			padding-bottom: 15px;
		}
	}
}

.introduction-step > h2 {
	margin-bottom: 8px;
	margin-top: 0;
	text-align: center;

	&::after {
		color: lighten($gray-light, 25%);
		content: '';
		font-family: FontAwesome;
		font-size: 16px;
		position: absolute;
		@include td-pos(right, 0);
		top: 6px;

		@media (max-width: $screen-xxs) {
			bottom: 0;
			content: '';
			@include td-pos(right, 47%);
			top: auto;
		}
	}
}

.introduction-steps > .introduction-step:nth-of-type(2) > h2::after,
.introduction-steps > .introduction-step:nth-of-type(4) > h2::after {
	@media (max-width: $screen-sm) {
		content: '';
	}
}

.introduction-steps > .introduction-step:nth-of-type(3) > h2::after {
	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		content: '';
	}
}

.rtl {
	.introduction-step > h2::after {
		content: '\f060';
		right: auto;
	}

	.introduction-steps > .introduction-step:nth-of-type(2) > h2::after,
	.introduction-steps > .introduction-step:nth-of-type(4) > h2::after {
		@media (max-width: $screen-sm) {
			content: '';
		}
	}

	.introduction-steps > .introduction-step:nth-of-type(3) > h2::after {
		@media (max-width: $screen-md) and (min-width: $screen-sm) {
			content: '';
		}
	}
}

.introduction-step > h2 > .fa {
	// @include opacity(.6);
	color: rgba($blue, .8);
}
