.badge-courses {
	background-color: $brand-primary;
}

.badge-events {
	$background-color: $green;

	background-color: $background-color;
	color: desaturate(darken($background-color, 40%), 50%)
}

.dropdown-legend .badge-courses {
	border: 1px solid $brand-primary;
}

.dropdown-legend .badge-events {
	border: 1px solid $brand-success;
}
