.kioskTimetable {
  @include grid(12);
  margin-top: 5px;
  overflow: hidden;
  &:hover {
    text-decoration: none;
  }
  .times {
    margin-left: 12em;
    div {
      height: 2em;
      margin-bottom: 2px;
      position: relative;
      &.hour {
        height: 10000px;
      }
      div {
        border: solid;
        border-color: #f5f5f5;
        border-width: 3px 0 0 .5px;
        position: absolute;
        text-align: center;
        div {
          border: solid;
          border-color: #f5f5f5;
          border-width: 3px 0 0 3px;
          height: .6em;
          margin-left: -2.5px;
          position: absolute;
        }
      }
    }
  }
  .timeLines {
    border-top: 2px solid #ddd;
    position: relative;
    z-index: 0;
    &:hover {
      z-index: 1;
    }
    .locationName {
      left: -1em;
      padding: 0 1em;
      position: absolute;
      text-align: left;
      width: 12em;
    }
    .rows {
      height: 45px;
      margin-left: 12em;
      position: relative;
      &:hover {
        z-index: 1;
      }
      .event {
        color: black;
        margin: .1em;
        position: absolute;
        &:hover {
          z-index: 1;
        }
        .title {
          background-color: $brand-success;
          font-size: 28px;
          height: 43px;
          line-height: 1.2em;
          overflow: hidden;
          padding: 4px 12px;
          &:hover {
            box-shadow: 0 5px 8px $default-shadow;
            height: 70px;
            min-width: 200px;
          }
        }
        .time {
          background-color: #eee;
          display: none;
          height: 1.4em;
          overflow: hidden;
          padding: 0 6px;
          position: absolute;
          top: -20px;
        }
        .description {
          background-color: $openki-light-blue;
          display: none;
          height: 12em;
          overflow: hidden;
          padding: 4px 8px;
        }
        .title:hover ~ .time,
        .title:hover ~ .description {
          box-shadow: 0 5px 8px $default-shadow;
          display: block;
          z-index: 1;
        }
        .title:hover ~ .description {
          min-width: 200px;
        }
      }
    }
  }
}
