<template name="kioskTimetableLayout">
	{{> yield}}
</template>

<template name="kioskTimetable">
	<div class="kioskTimetable">
		<div class="timetable">
			<div class="times">
				<div>
				{{#each days}}
					<div class="day" style={{position}}>
						<div></div>
						{{showDay moment}}
					</div>
				{{/each}}
				</div>
				<div>
					{{#each hours}}
						<div class="hour" style={{position}}>
							<div></div>
							{{showHour moment}}
						</div>
					{{/each}}
				</div>
			</div>
			{{#each this.grouped}}
				<div class="timeLines">
					<div class="locationName">
						<a class="location_link" href="{{pathFor 'locationDetails' data=location}}">
							<span class="glyphicon glyphicon-home"></span>
							{{location.name}}
						</a>
					</div>
					{{#each rows}}
						<div class="rows">
							{{#each this}}
								<a href="{{pathFor  'showEvent'}}" class="event" style={{position}}>
									<div class="title">{{this.title}}</div>
									<div class="time">
										<span class="glyphicon glyphicon-time"></span>
										{{timeformat start}} - {{timeformat end}}
									</div>
									<div class="description"> {{{description}}}</div>
								</a>
							{{/each}}
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>
</template>
