.course_events {
  @include grid(12);
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
  .course_events_events {
    @include grid(12);
    left: -3px;
    padding: 10px 0;
    position: relative;
    width: calc(#{'100% + 6px'});
    .event-small-withDate-container {
      @include grid(12, 12, 6);
      padding: 0 3px 10px;
    }
  }
  hr {
    clear: both;
    margin: 0;
  }
}

.calendar_event,
.calendar_event_past {
  &:hover {
    @include box-shadow-big($default-shadow);
    z-index: 1029;
  }
}

.course_events_fadebox {
  height: 415px;
  position: relative;
  .fade_effect_top,
  .fade_effect_bottom {
    margin-left: -5px;
    width: calc(#{'100% + 5px'});
  }
}

.course_event_container,
.course_event_past_container {
  @include grid(12, 6);
  padding: 5px;
}

.course_event_past_container {
  .course_event_date,
  .event-details-body {
    @include opacity(.6);
  }
}

.courseEvents-titlebar {
  @include grid(12);
  background: $brand-primary;
  border: 5px solid $brand-primary;
  color: $body-bg;
  h4 {
    font-weight: bold;
  }
  & > .link {
    color: $default-black;
    position: absolute;
    right: 10px;
    top: -1px;
  }
}

.course_event {
  @include transition(box-shadow $default-transition-time);
  a {
    & > .course_event_date {
      background: $brand-success;
      border-bottom: 3px solid $default-white;
      height: 70px;
      padding: 10px 0;
      white-space: nowrap;
    }
    .course_event_date .date {
      font-size: large;
    }
    & > .course_event_time {
      font-size: medium;
      padding: 0 0 10px;
    }
    .course_event_time > span {
      font-size: small;
    }
  }
  // & > .eventEdit_buttons {
  //   background: $default-light-grey;
  //   border-top: 3px solid $default-white;
  //   padding: 10px 0;
  //   text-align: center;
  //   .btn-toolbar {
  //     margin: auto;
  //     width: 90%;
  //   }
  // }
  & > a,
  & > a:hover {
    color: $default-black;
    text-decoration: none;
  }
}

.course_event_title {
  @include transition(color $default-transition-time);
  h3 {
    margin: 10px 0;
  }
}

input#eventEditTitle {
  font-size: large;
}

.fade_effect_top {
  @include gradient-vertical($body-bg, transparent);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  @media (max-width: $screen-xs) {
    background: none;
  }
}

.fade_effect_bottom {
  @include gradient-vertical(transparent, $body-bg);
  bottom: 0;
  height: 40px;
  left: 0;
  position: absolute;
  width: 100%;
  @media (max-width: $screen-xs) {
    background: none;
  }
}
