#edit_event_description {
	padding: 6px 10px;
}

.course_event_detail {
	.container;

	.course_event > .course_event_date {
		padding: 10px 0;
	}
}

.course_events {
	.grid(12);
	height: 400px;
	margin: 15px 0 0 -5px;
	padding: 0;
	position: relative;

	.course_event {
		height: 204px;
	}
}

.course_events_fadebox {
	height: 415px;
	position: relative;

	.fade_effect_top,
	.fade_effect_bottom {
		margin-left: -5px;
		width: calc(~"100% + 5px");
	}
}

.course_event_container,
.course_event_past_container {
	.grid(12, 6, 4);
	padding: 5px;
}

.course_events hr {
	clear: both;
}

.courseEvents-titlebar {
	.grid(12);

	& > .link{
		position: absolute;
		right: 10px;
		top: -1px;
	}
}


.course_event {
	a {
		& > .course_event_date {
			height: 70px;
			padding: 10px 0;
		}

		& > .course_event_time {
			padding: 0 0 10px;
		}
	}

	& > .eventEdit_buttons {
		padding: 10px 0;

		.btn-toolbar {
			margin: auto;
			width: 90%;
		}
	}
}

.course_event_lower_section {
	height: calc(~"100% - 70px");
	padding-bottom: 10px;
}

.course_event_title {
	h3 {
		margin: 10px 0;
	}
}

.event_options {
	.grid(12);
	padding: 15px 0 0
}

.create-event {
	.container;
}

.eventReplicationMenu {
	padding: 10px 0;

	& > div {
		padding: 1em;
	}
}
