<template name="course_events">

	{{# if currentUser}}
		{{>course_event course=course event=newEvent}}
	{{/if}}

	<div class="course_events">
		<h3>{{mf 'course.title.Upcoming events' 'Upcoming events'}}</h3>
		{{#each events_list}}
			<div class="course_event">
				{{>course_event}}
			</div>
		{{else}}
			{{mf 'course.events.no_events' 'no events'}}
		{{/each}}

	</div>



	<div class="course_events_past">
		<h3>{{mf 'course.title.Past events' 'Past events'}}</h3>
		{{#each events_list_past}}
			<div class="course_event_past">
				{{>course_event}}
			</div>
		{{else}}
			{{mf 'course.events.no_events' 'no events'}}
		{{/each}}

	</div>
</template>


<template name="course_event">
	{{#if showAddButton}}
		<input type="button" class="eventEdit" value="add a Date"/>
	{{else}}
    <div class="{{#if isCurrent}}current_event{{/if}}">
		{{#if editing}}
			{{>course_event_edit}}
		{{else}}
			{{#with event}}
			<a href="{{pathFor 'showEvent'}}">
				<p class="course_event_date">
					<span class="icon-mini_date"></span> {{dateformat_withday startdate}}
				</p>
				<p class="course_event_time">
					<span class="icon-clock"></span> {{timeformat startdate}}
				</p>
				<p class="course_event_title">{{this.title}}</p>
				<p class="course_event_desc">{{description}}</p>

				{{#if this.mentors}}
				<p class="course_event_info">
						<ul class="course_event_mentors">
						{{#each this.mentors}}
							<li><span class="icon-mini_mentor"></span>  {{username this}}</li>
						{{/each}}
						</ul>
				</p>
				{{/if}}
				{{#if this.hosts}}
				<p class="course_event_info"><span class="icon-mini_location"></span> ((Location name)) : {{mf 'course.events.hosted_by' 'hosted by'}} {{username host}} </p>
				{{/if}}
            </a>
			{{/with}}
			{{# if currentUser}}
			<input type="button" class="eventEdit" value="Edit" />
			<input type="button" class="eventDelete" value="Delete" />
			{{/if}}
		{{/if}}
	</div>
	{{/if}}
</template>

