<template name="course_event_edit">
	<div class="course_event_edit col-sm-12">
		<div class="col-sm-12">
			<h2>{{#if this.event._id}}{{mf 'course.event.edit.edit' 'Edit event'}}{{else}}{{mf 'course.event.edit.add' 'Add event'}}{{/if}}</h2>
			<h4>{{mf 'course.event.edit.title' 'Event title:'}}</h4>
			<input type="text" class="form-control" id="edit_event_title" size="30" value="{{event.title}}"/>
		</div>
		<div class="col-sm-6">
			<h4>{{mf 'course.event.edit.date_start' 'Date'}}</h4>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<input type="text" id="edit_event_startdate" class="form-control" value="{{dateformat event.startdate}}" size="8">
			</div>
		</div>
		<div class="col-sm-6">
			<h4>{{mf 'course.event.edit.time_start' 'Time start'}}</h4>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-time"></span>
				</span>
				<input type="text" id="edit_event_starttime" class="form-control" value="{{timeformat event.startdate}}" size="5">			
			</div>
		</div>
		<div class="col-sm-12">
			<h4>  {{mf 'course.event.edit.desc' 'Description:'}}</h4>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-info-sign"></span>
				</span>
				<textarea cols="30" rows="2" id="edit_event_description" class="form-control" name="event_description">{{event.description}}</textarea>
			</div>
			<h4>{{mf 'course.event.edit.location' 'Location:'}}</h4> 
			<div id="editform_location" name="editform_location" class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-map-marker"></span>
				</span>
				<input type="text" id="edit_event_location" class="form-control" size="40" value="{{event.location}}"/>
			</div>
			<h4>{{mf 'course.event.edit.host_location' 'Host / Location'}}</h4>
				<ul class="list-unstyled">
					{{#each possible_hosts}}
						<li><input type="radio" class="edit_event_host" name="edit_event_host" value="{{this.id}}" {{this.checked}}> ((Location name)) : <br>{{mf 'course.event.edit.by' 'by'}}{{this.username}}</li>
					{{else}}
						<li>{{mf 'course.event.edit.no_hosts' 'No Hosts available'}}</li>
					{{/each}}
				</ul>
			{{#if needsRole 'mentor'}}
			<p>  {{mf 'course.event.edit.mentors' 'Mentors'}}
				<ul class="list-unstyled">
					{{#each possible_mentors}}
						<li><input type="checkbox" class="edit_event_mentors" name="{{this.id}}" {{this.checked}}> {{this.username}}</li>
					{{else}}
						<li>{{mf 'course.event.edit.no_mentors' 'No Mentors available'}}</li>
					{{/each}}
				</ul>
			</p>
			{{/if}}
		</div>
		<div class="col-xs-12 col-sm-6">
			<button type="button" class="saveEditEvent btn btn-default form-control">
				<span class="glyphicon glyphicon-save"></span>
				{{mf 'course.event.edit.save_btn' 'Save'}}
			</button>
		</div>
		<div class="col-xs-12 col-sm-6">
			<button type="button" class="cancelEditEvent btn btn-default form-control">
				<span class="glyphicon glyphicon-remove"></span>
				{{mf 'course.event.edit.cancel_btn' 'Cancel'}}
			</button>
		</div>
	</div>
</template>
