<template name="course_events">
	{{#if mayAdd}}
	<button type="button" class="eventEdit">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;
		{{mf 'course.events.addButton' 'Add event'}}
	</button>
	{{/if}}
	{{#if events_list}}
	<div class="course_events_fadebox">
		<div class="course_events">
			<div>
			{{#each events_list_past}}
				<div class="course_event_past_container">
					{{>course_event}}
				</div>
			{{/each}}
			</div>
			<hr class="now">
			<div style="float: right">
				<span class="glyphicon glyphicon-arrow-up"></span> {{mf 'course.events.pastlist' 'past events'}}&nbsp;&nbsp;
			</div>
			<h4 class="courseEvents-titlebar">
			<span class="glyphicon glyphicon-calendar"></span> {{mf 'course.events.upcominglist' 'Upcoming events'}}
			</h4>
			<div>
			{{#each events_list}}
				<div class="course_event_container">
					{{>course_event}}
				</div>
			{{/each}}
			</div>
		</div>
		<div class="fade_effect_top" style="display:none"></div>
		<div class="fade_effect_bottom"></div>
	</div>
	<a href="/cal/course/{{course._id}}" target="_blank">
		<button type="button" class="calendar_download" href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" data-delay='{"show":"500", "hide":"0"}' data-original-title="{{mf 'course.events.download.tooltip' 'Download&nbsp;as&nbsp;vCalendar&nbsp;for&nbsp;your&nbsp;favorite&nbsp;calendar&nbsp;application'}}">
			<span class="fa fa-download"></span>&nbsp;
			{{mf 'course.download_cal' 'Download events to my calendar'}}
		</button>
	</a>
	{{/if}}
</template>


<template name="course_event">
	<div class="{{#if isCurrent}}current_event{{/if}} course_event">
		{{#with event}}
		<a href="{{pathFor 'showEvent'}}">
			<div class="course_event_date">
				<div class="container-fluid">
					<span class="day">{{weekday start}}</span><br>
					<span class="date">
						<span class="glyphicon glyphicon-calendar"></span>
						{{dateformat_mini_fullmonth start}}
					</span>
				</div>
			</div>
			<div class="course_event_lower_section">
				<div class="container-fluid">
					<div class="course_event_title"><h4>{{this.title}}</h4></div>
					<div class="course_event_time">
						<span class="glyphicon glyphicon-time"></span> {{timeformat start}}
						{{#if location}}<br><span class="glyphicon glyphicon-home"></span> {{location}}{{/if}}
					</div>
				</div>
			</div>
			{{#if this.mentors}}
			<p class="course_event_info">
					<ul class="course_event_mentors">
					{{#each this.mentors}}
						<li><span class="icon-mini_mentor"></span>  {{username this}}</li>
					{{/each}}
					</ul>
			</p>
			{{/if}}
			{{#if this.hosts}}
			<p class="course_event_info"><span class="icon-mini_location"></span> ((Location name)) : {{mf 'course.events.hosted_by' 'hosted by'}} {{username host}} </p>
			{{/if}}
		</a>
		{{/with}}
	</div>
</template>
