#edit_event_description {
	background: @body-bg;
	border: 1px solid #CCC;

	&:focus {
		.box-shadow;
		border-color: @brand-primary;
	}
}

.course_event_detail .course_event {
	& > .course_event_date {
		background: @brand-success;
		border-bottom: 3px solid @body-bg;

		span.date {
			font-size: x-large;
		}
	}

	& > .event_detail_description {
		background: @light-blue;
	}
}

.course_event_detail {
	&>.course_event:hover,
	&>.calendar_event:hover,
	&>.calendar_event_past:hover {
		box-shadow: none;
	}
}

.course_events {
	overflow: auto;
}

.course_event,
.calendar_event,
.calendar_event_past {
	&:hover {
		.box-shadow;
		z-index: 1029;
	}
}

.course_event &>a,
.course_event &>a:hover {
	color: #333;
	text-decoration: none;
}

.course_event_past_container .course_event_date,
.course_event_past_container .course_event_lower_section {
	opacity: 0.6;
}

.courseEvents-titlebar {
	background: @brand-primary;
	border: 5px solid @brand-primary;
	color: @body-bg;

	h4 {
		font-weight: bold;
	}

	& > .link{
		color: black;
	}
}


.course_event {
	.transition(0.5s);

	a {
		& > .course_event_date {
			white-space: nowrap;
			background: @brand-success;
			border-bottom: 3px solid @body-bg;
		}

		.course_event_date span.date {
			font-size: large;
		}

		& > .course_event_time {
			font-size: medium;
		}

		.course_event_time > span {
			font-size: small;
		}
	}

	& > .eventEdit_buttons {
		background: #cfcfcf;
		border-top: 3px solid @body-bg;
		text-align: center;
	}
}

.course_event_lower_section {
	background: @light-blue;
	overflow: hidden;
}

.course_event_title {
	.transition(0.5s);
}

input#edit_event_title {
	font-size: large;
}

.eventReplicationMenu {
	background: #cfcfcf;
}
