.location-details-header {
	background-color: $venue-bg;
	color: $venue-color;
}

.location-details-header > img {
	float: right;
	height: 90px;
	padding-left: ($grid-gutter-width / 2);
}

.location-details-body {
	background-color: $blue-lighter;
}
