<template name="locationlist">
	<div class="container">
		<h1>{{mf 'locations.list.title' 'Locations'}}</h1>
		Publically visible locations in {{region}}:    <!-- TODO: -->
		<div class="">
			{{#each locations}}
				{{> location}}
			{{else}}
				no locations
			{{/each}}
			{{> locationEdit}}
		</div>
	</div>
</template>

<template name="location">
	<div class="locationlist_location location">
		<a href="{{pathFor 'locationDetails'}}">
			<div class="name"> {{name}}</div>
			<div class="description">{{description}} </div>
			{{#if mayHost}}
				<div class="mylocation">You can host here</div>
			{{/if}}
		</a>
	</div>
</template>
