.locationEdit{
	//border-color: red;
	//border-radius: 20px;
	//border-style: dotted;
	//border-width: medium;
	overflow: auto;
	margin-top: 15px;
	background-color: rgba(200, 200, 255, 0.35);


	.locationMap{
		margin: 10px 0 10px 0;
	}

}
