@import "{}/imports/ui/stylesheets/variables/index";

.course-delete-confirm {
  $background-color: tint-color($danger, 20%);

  background-color: $background-color;
  border: 1px solid shade-color($background-color, 20%);
  padding: 15px 15px 0;
}
