<template name="about">
	<div class="container about">
		<h2>About</h2>

		Die Seite steht kostenfrei zur Verfügung. Wir sind sehr froh um eine <a href="{{pathFor 'donate'}}"> <b>Spende</b></a>.
		<br><br>

		<h4>This is beta-version</h4>
		Es ist gut möglich, dass du noch einem Fehler begegnest. Vieles haben wir noch vor, zu verbessern und sind noch nicht dazu gekommen oder haben noch nicht entschieden wie. <a href="https://github.com/Openki/Openki/issues"> Hier </a> siehst du eine Liste der offenen Punkte, denen wir uns nächstens annehmen werden. Du darfst dort gerne kommentieren und neue Tickets erstellen.

		<h4>Open-Source</h4>
		Openki ist freie Software. Das heisst, jede_r kann sie runterladen und alle dürfen jede Art von Veränderungen und Verbesserungen daran vornehmen, sofern diese wieder allen zur Verfügung gestellt wird.

		<h4>Programmed in Freizeit</h4>
		Mehr als Freiwilligenarbeit. Wir arbeiten sogar nebendran, um unser Büro bezahlen zu können. :/
		Hier gibts Infos zum <a href="http://about.openki.net/?page_id=799"> Mitmachen </a> <br>
		...weil wir der Überzeugung sind, dass die Welt Openki braucht.

		<h4>Keine diskriminierende Inhalte</h4>
		Niemand mag es, ungerecht behandelt zu werden. Deshalb tun wir das hier auch nicht.<br>
		So einfach ist das.

		<h4>Free licence</h4>
		Alles für alle. We have chosen the licence <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons BY-SA</a> for all course-/ event-content and descriptions (...as in Wikipedia).
		<br><br>

		<hr><br>

		Did we mention <a href="{{pathFor 'donate'}}"> <b>donation</b></a> allready?!
		<br><br>

		Wenn du noch mehr über das Projekt erfahren möchtest, gehts hier weiter: <a href='http://about.openki.net'> about.openki.net</a>. Da kannst du dich auch für den Newsletter eintragen.
		<br><br>

		Und hier gehts weiter, wenn du auf sowas wie <a href='https://facebook.com/openki.net'>facebook.com/openkinet</a> stehst. Oder auch Twitter: <a href='https://twitter.com/OpenkiNet'>@OpenkiNet</a> oder <a href='https://www.instagram.com/openkinet/'>Instagram</a>.
		<br><br>

		Ansonsten freuen wir uns auch, per Mail von dir zu hören: <a href="mailto:openki-core[ät]lists.xiala.net"> openki-core[ät]lists.xiala.net</a>
		<br><br>

		Bis gleich

<!--
		<p>Diese Seite ist ein Prototyp von Openki.net und wird hier als alpha-Version zum ersten Mal über längere Zeit öffentlich gebraucht und getestet.</p>

		<p>Hier kannst du Kurse vorschlagen und organisieren. Im <a href="{{pathFor 'calendar'}}">Kalender</a> siehst du, welche Workshops wann und wo geschehen.</p>

		<p>Du kannst auch die Vorschläge der anderen betrachten, neue eigene erstellen, dich als Teilnehmer_in, Mentor_in oder Host anmelden, kommentieren und helfen, dass die Kurse stattfinden. </p>

		<p>Diese Webseite ist in Freiwilligenarbeit entstanden und noch lange nicht fertig programmiert, wie gesagt: ein Prototyp. Sei also nicht Böse wenn was nicht funktioniert oder abstürzt. Wenn du weisst, wie's besser wäre, bring dich bitte ein! Und wenn du sogar was programmieren kannst: voila le Sourcecode: <a href='https://github.com/Openki/Openki'>Github.com </a>.<br>
		Melde dich bei uns <a href="mailto:openki-core[ät]lists.xiala.net"> openki-core [ät] lists.xiala.net</a> </p>

		<p>Wenn du mehr über das Projekt erfahren möchtest gehts hier weiter: <a href='http://about.openki.net'> about.openki.net</a> </p>
	</div>
	<div class="static_content_top">
		Ein ausführlicher Projektbeschrieb findest du auf <a href="http://news.schuel.ch">news.schuel.ch</a> <br/>
		<iframe frameborder="0" class="dev_doku" src="http://news.schuel.ch"></iframe>
	</div>


<h6>Disclaimer [de]</h6>
<div class="static_content">
	Achtung:
	<br/>
	Dies ist nur eine Testseite, um den aktuellen Stand unseres Projekts zu zeigen.<br/>
	<br/>
	Wir übernehmen keinerlei Verantwortung für eingegebene Daten. <br/>
	Weder, dass sie erhalten bleiben, noch, dass sie vor Einsicht geschützt sind.<br/>
	Im Gegenteil: die Daten liegen offen auf fremden Servern, und wir werden durch Veränderungen am Code sicher Daten löschen. Ausversehen und auch extra.<br/>
	<br/>
	Forke uns auf <a href="https://github.com/Openki/Openki/fork">GitHub</a>
</div>

<h6>Disclaimer [en]</h6>
<div class="static_content">
	Achtung:
	<br/>
	This is only a test-page to show the current status of our project.<br/>
	<br/>
	We assume no responsibility for entered data.<br/>
	Neither that they are preserved, nor that they are protected from disclosure.
	On the contrary, the data is freely accessible on third-party servers and we will securely delete data by changing the code. Accidentally and on purpose.<br/>
	<br/>
	Forke uns auf <a href="https://github.com/Openki/Openki/fork">GitHub</a>
</div>

<h6>Credits :)</h6>
<div class="static_content">
	<ul>
	<li>Login & Discussion: B.</li>
	<li>URL-Routing, Menue, DecisionMakerPlus, CourseMetadata, ParticipiantFrontend, Rooms: M.</li>
	<li>CourseView and Edit: L.</li>
	<li>Categories: O.</li>
	<li>Marquee: U.</li>
	<li>Code estetics: S</li>
	</ul>
</div> -->

	</div>
</template>
