.event-compact-wrap {
	@include make-xs-column(12);
	padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
}

.frame-events-fluid .event-compact-wrap {
	@media (min-width: $screen-xxs) and (max-width: $screen-xsm) {
		@include make-xs-column(6);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}

	@media (min-width: $screen-xsm) {
		@include make-xs-column(4);
		@include make-sm-column(3);
		@include make-lg-column(2);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}
}

.container .event-compact-wrap {
	@media (min-width: $screen-xs) and (max-width: $screen-sm) {
		@include make-xs-column(6);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}

	@media (min-width: $screen-sm) {
		@include make-xs-column(4);
		@include make-md-column(3);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}
}

.container-sm .event-compact-wrap {
	@media (min-width: $screen-xs) and (max-width: $screen-sm) {
		@include make-xs-column(6);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}

	@media (min-width: $screen-sm) {
		@include make-xs-column(4);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}
}

.event-compact {
	background: $event-compact-bg;
	height: 200px;
	position: relative;
	transition: box-shadow $default-transition-time;

	&:hover {
		box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
	}
}

.event-compact-header,
.event-compact-title,
.event-compact-description {
	overflow: hidden;
	word-break: break-all;
}

.event-compact-header {
	background: $event-compact-header-bg;
	border-bottom: 1px solid $body-bg;
	color: $event-compact-header-color;
	height: 55px;
	padding: 5px;
}

.event-compact-header .fa-clock-o,
.event-compact-header .event-compact-time {
	margin-bottom: 5px;
}

.event-compact-with-date {
	height: 220px;
}

.event-compact-with-date .event-compact-header {
	height: 75px;
}

.event-compact-title {
	color: $event-compact-title-color;
	font-size: medium;
	max-height: 56px;
	padding: 5px;
}

.event-compact-description {
	color: $event-compact-description-color;
	height: 85px;
	margin-top: -3px;
	padding: 0 5px 5px;
}
