<template name="eventCompact">
	<div class="event-compact-wrap">
		<a href="{{pathFor 'showEvent'}}">
			<div class="event-compact {{eventCompactClasses}}">
				<div class="event-compact-header">
					{{#if withDate}}
						<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
						{{weekday_short startLocal}}
						{{dateformat_mini_fullmonth startLocal}}
						<br>
					{{/if}}
					<span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>
					<span class="event-compact-time">
						{{timeformat startLocal}} - {{timeformat endLocal}}
					</span>
					<br>
					<div class="tag-group">
						{{> venueLink}}
					</div>
				</div>
				<div class="event-compact-body">
					<h4 class="event-compact-title">
						{{plain title}}
					</h4>
					<p class="event-compact-description">
						{{plain description}}
					</p>
				</div>
			</div>
		</a>
	</div>
</template>
