<template name="eventList">
	{{#each dataEvents}}
		{{> eventCompact}}
	{{/each}}
</template>

<template name="eventCompact">
	<div class="event-compact-wrap">
		<a href="{{pathFor 'showEvent'}}">
			<div class="event-compact {{#if withDate}}event-compact-with-date{{/if}}">
				<div class="event-compact-header">
					{{#if withDate}}
						{{> eventCompactDate}}
					{{/if}}
					<span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>
					<span class="event-compact-time">
						{{timeformat start}} - {{timeformat end}}
					</span>
					<br>
					{{> locationLink}}
				</div>
				<div class="event-compact-title">
					{{plain title}}
				</div>
				<div class="event-compact-description">
					{{plain description}}
				</div>
			</div>
		</a>
	</div>
</template>

<template name="eventCompactDate">
	<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
	{{weekday_short start}}
	{{dateformat_mini_fullmonth start}}
	<br>
</template>
