<template name="frameEventsList">
	<div class="container-fluid">
		{{#if ready}}
			{{#each day in days}}
				<h4>{{day}}</h4>
				{{#each event in (eventsOn day)}}
					<div class="list-event">
						<h4 class="list-event-header js-toggle-event-details">
							<span class="list-event-time">
								{{timeformat event.start}}
							</span>
							{{event.title}}
						</h4>
						<div class="list-event-body">
							<div class="list-event-property">
								<div class="description">
									{{mf 'frame.eventsList.when' 'When:'}}
								</div>
								<div class="content">
									{{timeformat event.start}}
									 - {{timeformat event.end}}
								</div>
							</div>
							<div class="list-event-property">
								<div class="description">
									{{mf 'frame.eventsList.where' 'Where:'}}
								</div>
								<div class="content">
									<a href="{{pathFor 'venueDetails' data=event.venue}}"
									   target="_blank">
										{{event.venue.name}}
									</a>
									{{#if event.room}}
										 - {{event.room}}
									{{/if}}
								</div>
							</div>
							<div class="list-event-property">
								<div class="description">
									{{mf 'frame.eventsList.description' 'Description:'}}
								</div>
								<div class="content">
									{{event.description}}
								</div>
							</div>
							<div class="list-event-links">
								<a href="{{pathFor 'showEvent' _id=event._id}}">
									<i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i>
									{{mf 'frame.eventsList.showMore' 'show more'}}
								</a>
								<a href="{{pathFor 'calEvent' event}}">
									<i class="fa fa-arrow-circle-down fa-fw" aria-hidden="true"></i>
									{{mf 'frame.eventsList.download_cal' 'download event to my calendar'}}
								</a>
							</div>
						</div>
					</div>
				{{/each}}
			{{/each}}
		{{else}}
			{{> loadingRow}}
		{{/if}}
	</div>
</template>
