<template name="frameEventsList">
	<div class="container-fluid">
		{{#if ready}}
			{{#each day in days}}
				<h4>{{day}}</h4>
				{{#each event in (eventsOn day)}}
					{{> frameEventsListEvent event}}
				{{/each}}
			{{/each}}
		{{else}}
			{{> loadingRow}}
		{{/if}}
	</div>
</template>

<template name="frameEventsListEvent">
	<div class="list-event">
		<h4 class="list-event-header js-toggle-event-details">
			<span class="list-event-time">
				{{timeformat start}}
			</span>
			{{title}}
		</h4>
		<div class="list-event-body">
			<div class="list-event-property">
				<div class="description">
					{{mf 'frame.eventsList.when' 'When:'}}
				</div>
				<div class="content">
					{{timeformat start}}
					 - {{timeformat end}}
				</div>
			</div>
			<div class="list-event-property">
				<div class="description">
					{{mf 'frame.eventsList.where' 'Where:'}}
				</div>
				<div class="content">
					<a href="{{pathFor 'venueDetails' data=venue}}"
					   target="_blank">
						{{venue.name}}
					</a>
					{{#if room}}
						 - {{room}}
					{{/if}}
				</div>
			</div>
			<div class="list-event-property">
				<div class="description">
					{{mf 'frame.eventsList.description' 'Description:'}}
				</div>
				<div class="content">
					{{description}}
				</div>
			</div>
			<div class="list-event-links">
				<a href="{{pathFor 'showEvent'}}" target="_blank">
					<i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i>
					{{mf 'frame.eventsList.showMore' 'show more'}}
				</a>
				<a href="{{pathFor 'calEvent' this}}">
					<i class="fa fa-arrow-circle-down fa-fw" aria-hidden="true"></i>
					{{mf 'frame.eventsList.download_cal' 'download event to my calendar'}}
				</a>
			</div>
		</div>
	</div>
</template>
