<template name="regionStatistics">
	<div class="container">
		<div class="page-component region-statistics">
			<div class="details-header region-statistics-header">
				<h2>The numbers of {{regionName}}</h2>
			</div>
		</div>
		<div class="details-body region-statistics-body">
			<div class="region-statistics-numbers">
				<table>
					<tr>
						<th colspan="3"><h3>Intellectual power</h3></th>
					</tr>
					<tr>
						<td>{{courseCount}}</td>
						<td><span class="glyphicon glyphicon-bullhorn fa-fw" aria-hidden="true"></span></td>
						<td>Courses</td>
					</tr>
					<tr>
						<td>{{proposalCount}}</td>
						<td><span class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></span></td>
						<td>Proposals (Courses without events)</td>
					</tr>
					<tr>
						<td>{{futureEventCount}}</td>
						<td><span class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></span></td>
						<td>Future events</td>
					</tr>
					<tr>
						<td>{{pastEventCount}}</td>
						<td><span class="fa fa-history fa-fw" aria-hidden="true"></span></td>
						<td>Past events</td>
					</tr>
					<tr>
						<th colspan="3"><h3>Substantial basis</h3></th>
					</tr>
					<tr>
						<td>{{userCount}}</td>
						<td><span class="fa fa-user-plus fa-fw" aria-hidden="true"></span></td>
						<td>Users</td>
					</tr>
					<tr>
						<td>{{mentorCount}}</td>
						<td><span class="fa fa-graduation-cap fa-fw" aria-hidden="true"></span></td>
						<td>Mentors</td>
					</tr>
					<tr>
						<td>{{venueCount}}</td>
						<td><span class="glyphicon glyphicon-home" aria-hidden="true"></span> </td>
						<td>Venues</td>
					</tr>
					<tr>
						<td>{{groupCount}}</td>
						<td><span class="fa fa-users fa-fw" aria-hidden="true"></span></td>
						<td>Groups</td>
					</tr>
				</table>
			</div>
			<div class="region-statistics-groups">
				<h3>Most active Groups</h3>
				<ul>
					{{ #each group in groups }}
						<li>
							{{group.weight}} Courses – {{group.name}} <br/>
						</li>
					{{ /each }}
				</ul>
			</div>
		</div>
	</div>
</template>