// BUTTON MIXINS

=btn-thin()
	@extend .btn
	padding: 3px 12px

=big-button-primary()
	@extend .form-control
	@extend .btn
	@extend .btn-primary
	border: 0px
	border-top: 3px solid $body-bg
	font-size: large
	height: auto
	line-height: 1.1
	padding: 10px 15px
	text-align: left
	&:hover
		border: 0px
		border-top: 3px solid $body-bg

=big-button-success()
	@extend .form-control
	@extend .btn
	@extend .btn-success
	border: 0px
	border-top: 3px solid $body-bg
	font-size: large
	height: auto
	line-height: 1.1
	padding: 10px 15px
	text-align: left
	&:hover
		border: 0px
		border-top: 3px solid $body-bg

=btn-edit()
	@extend .btn-default
	&:hover
		background: $btn-success-bg
		border: 1px solid $btn-success-border

=btn-cancel()
	@extend .btn-default
	&:hover
		+gradient-vertical(map-get($btn-danger-bg-colors, dark), map-get($btn-danger-bg-colors, darkest), 0%, 100%)
		border: 1px solid $btn-danger-border

=header-btn()
	background: none
	border: 0px

=btn-remove()
	+transition(color $default-transition-time)
	color: lighten($brand-danger, 20%)
	cursor: pointer
	&:hover
		color: $brand-danger

=btn-calendar()
	background-color: $calendar-btn-bg
	border-color: $calendar-btn-border
	color: $calendar-btn-text
	&:hover
		background-color: $calendar-btn-hover-bg
		border-color: $calendar-btn-hover-bg
		color: $calendar-btn-text
	&:focus
		color: darken($calendar-btn-text, 20%)

=btn-reset()
	background: none
	border: 0px
