// Button mixins
// --------------------------------------------------

// Reset mixin to remove default button styles
@mixin btn-reset {
  background: none;
  border: 0;
  padding: 0;
}

@mixin btn-thin {
  @extend .btn;
  padding: 3px 12px;
}

@mixin btn-lg {
	@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

@mixin btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

@mixin big-button-primary {
  @extend .btn;
  @extend .btn-primary;
  border: 0;
  font-size: large;
  height: auto;
  line-height: 1.1;
	margin-top: 3px;
  padding: 10px 15px;
  text-align: left;
	width: 100%;
  &:hover {
    border: 0;
    margin-top: 3px;
  }
}

@mixin big-button-success {
  @extend .btn;
  @extend .btn-success;
  border: 0;
  font-size: large;
  height: auto;
  line-height: 1.1;
	margin-top: 3px;
  padding: 10px 15px;
  text-align: left;
	width: 100%;
  &:hover {
    border: 0;
    margin-top: 3px;
  }
}

@mixin header-btn {
  background: none;
  border: 0;
}

@mixin btn-remove {
  @include transition(color $default-transition-time);
  color: lighten($brand-danger, 20%);
  cursor: pointer;
  &:hover {
    color: $brand-danger;
  }
}

@mixin btn-calendar {
  background-color: $calendar-btn-bg;
  border-color: $calendar-btn-border;
  color: $calendar-btn-text;
  &:hover {
    background-color: $calendar-btn-hover-bg;
    border-color: $calendar-btn-hover-bg;
    color: $calendar-btn-text;
  }
  &:focus {
    color: darken($calendar-btn-text, 20%);
  }
}
