@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/buttons';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/vendor-prefixes';


// Button mixins
// --------------------------------------------------

@mixin btn-base {
	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
}

@mixin btn-lg {
	@media (min-width: $screen-xs) {
		@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
	}
}

@mixin btn-sm {
	@media (min-width: $screen-xs) {
		@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	}
}

@mixin header-btn {
  background: none;
  border: 0;
}

@mixin icon-btn-remove {
  @include transition(color $default-transition-time);
  color: lighten($brand-danger, 20%);
  cursor: pointer;
  &:hover {
    color: $brand-danger;
  }
}
