// GRID MIXIN
// One-line statement powered by bootstrap mixins

@mixin grid($xs, $sm: $xs, $md: $sm, $lg: $md) {
	@if $sm == inherit {
		$sm: $xs;
	}
	@if $md == inherit {
		$md: $sm;
	}
	@if $lg == inherit {
		$lg: $md;
	}
	@include make-xs-column($xs);
	@include make-sm-column($sm);
	@include make-md-column($md);
	@include make-lg-column($lg);
}
