@mixin td-padding($dir, $x) {
	$opposite-dir: if($dir == left, right, left);

	padding-#{$dir}: $x;
	.rtl & {
		padding-#{$dir}: 0;
		padding-#{$opposite-dir}: $x;
	}
}

@mixin td-padding-all($top, $right, $bottom, $left) {
	padding: $top $right $bottom $left;
	.rtl & {
		padding: $top $left $bottom $right;
	}
}

@mixin td-margin($dir, $x) {
	$opposite-dir: if($dir == left, right, left);

	margin-#{$dir}: $x;
	.rtl & {
		margin-#{$dir}: 0;
		margin-#{$opposite-dir}: $x;
	}
}

@mixin td-margin-all($top, $right, $bottom, $left) {
	margin: $top $right $bottom $left;
	.rtl & {
		margin: $top $left $bottom $right;
	}
}

@mixin td-pos($dir, $x) {
	$opposite-dir: if($dir == left, right, left);

	#{$dir}: $x;
	.rtl & {
		#{$dir}: auto;
		#{$opposite-dir}: $x;
	}
}

@mixin td-text-align($dir) {
	$opposite-dir: if($dir == left, right, left);

	text-align: $dir;
	.rtl & {
		text-align: $opposite-dir;
	}
}

@mixin td-float($dir) {
	$opposite-dir: if($dir == left, right, left);

	float: $dir;
	.rtl & {
		float: $opposite-dir;
	}
}

@mixin td-make-xs-column($columns) {
	@include make-xs-column($columns);
	@include td-float(left);
}

@mixin td-make-sm-column($columns) {
	@include make-sm-column($columns);
	@include td-float(left);
}

@mixin td-make-md-column($columns) {
	@include make-md-column($columns);
	@include td-float(left);
}

@mixin td-make-lg-column($columns) {
	@include make-lg-column($columns);
	@include td-float(left);
}

.rtl .navbar-header {
	@media (min-width: $grid-float-breakpoint) {
		float: right;
	}
}

.rtl .navbar-nav > li {
	@media (min-width: $grid-float-breakpoint) {
		float: right;
	}
}

.rtl .dropdown-menu {
	text-align: right;
}

.rtl {
	.input-group .form-control:first-child,
	.input-group-addon:first-child,
	.input-group-btn:first-child > .btn,
	.input-group-btn:first-child > .btn-group > .btn,
	.input-group-btn:first-child > .dropdown-toggle,
	.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
	.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
		@include border-right-radius($input-border-radius);
		@include border-left-radius(0);
	}

	.input-group-addon:first-child {
		border-right: 1px solid $input-group-addon-border-color;
		border-left: 0;
	}

	.input-group .form-control:last-child,
	.input-group-addon:last-child,
	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group > .btn,
	.input-group-btn:last-child > .dropdown-toggle,
	.input-group-btn:first-child > .btn:not(:first-child),
	.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
		@include border-left-radius($input-border-radius);
		@include border-right-radius(0);
	}

	.input-group-addon:last-child {
		border-left: 1px;
		border-right: 0;
	}
}

.rtl {
	.radio label ,
	.checkbox  label {
		padding-left: 0;
		padding-right: 20px;
	}

	.radio input[type="radio"],
	.radio-inline input[type="radio"],
	.checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
		margin-left: 0;
		margin-right: -20px;
	}
}

.rtl {
	.nav-tabs > li {
	    float: right;
	}

	.nav-tabs > li > a {
		margin-right: 0;
		margin-left: 2px;
	}
}
