// The idea of these Mixins is to keep the stylesheets readable
// whilst covering browser-compability issues

.word-break() {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

.transform(@degrees, @x-axis, @y-axis) {
    -moz-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -webkit-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -o-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -ms-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    transform: rotate(@degrees) scale(@x-axis, @y-axis);
}

.opacity(@percentage) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@percentage)";
	filter: alpha(opacity=@percentage);
	opacity: @percentage / 100;
}
