<template name="languageSelectionWrap">
	{{#if searchingLanguages}}
		{{> languageSelection}}
	{{else}}
		{{> languageDisplay}}
	{{/if}}
</template>

<template name="languageSelection">
	<li class="navbar-form navbar-form-selection dropdown">
		<span class="fa fa-language fa-fw" aria-hidden="true"></span>
		<input type="text" class="form-control js-language-search"
			value="{{setLanguage.name}}">
		<span class="dropdown-toggle"
			data-toggle="dropdown"
			role="button"
			aria-expanded="false">
		</span>
		<ul class="dropdown-menu" role="menu">
			{{#if languages}}
				{{#each languages}}
					<li>
						<a href="#" class="js-language-link js-nav-dropdown-close" title="{{english}}">
							{{languageNameMarked}}
							{{#if currentLanguage}}
								<span class="checkmark glyphicon glyphicon-ok"></span>
							{{/if}}
						</a>
					</li>
				{{/each}}
			{{else}}
				<li>
					<a>{{mf 'languageSelection.noLanguagesFound' 'No languages found.'}}</a>
				</li>
			{{/if}}
		</ul>
	</li>
</template>

<template name="languageDisplay">
	<li>
		<a class="navbar-link js-language-display">
			<span class="fa fa-language fa-fw" aria-hidden="true"></span>
			{{setLanguage.short}}
		</a>
	</li>
</template>
