.roles_details {
	@include grid(12);
	padding: 0px;
	.role_details {
		@include grid(12);
		padding: 0px;
		.enroled_as_title {
			@include grid(12);
			background: $user-bg;
			border-top: 3px solid $body-bg;
			color: $default-black;
			font-size: large;
			line-height: 1.1;
			padding: 10px 15px;
			vertical-align: middle;
			width: 100%;
			button.unsubscribe {
				@include btn-thin;
				@extend .btn-primary;
				margin: -10px 0px -5px 5px;
			}
		}
		.enrol_as_title {
			@include grid(12);
			background: $brand-primary;
			border-top: 3px solid $body-bg;
			color: $body-bg;
			font-size: large;
			line-height: 1.1;
			padding: 10px 15px;
			width: 100%;
		}
		.enrol_as_options {
			@include grid(12);
			background: $brand-bg;
			padding: 10px 12px 11px;
			textarea.enrol_as_comment {
				@include form-control-humble;
				margin-top: 5px;
			}
			.enrol_as_buttons {
				@include grid(12);
				padding: 13px 0px 0px;
				button.subscribe {
						@extend .btn;
						@extend .btn-primary;
				}
				button.cancel {
						@extend .btn;
						@include btn-cancel;
				}
			}
		}
		button.enrol {
			@include big-button-success;
		}
	}
}
