.course-details-component
	+grid(12)
	padding: 0px

.course-details-component-titlebar
	+grid(12)
	background: $brand-primary
	border: 5px solid $brand-primary
	color: $body-bg

.course-details-component-heading
	font-weight: bold

.course-details-description
	font-size: medium
	padding: 10px 0px
	.editable
		max-height: 300px
		overflow: auto

.course-details-page
	@extend .container
	padding-top: 20px
	button.open
		margin-top: 15px
	button.eventEdit,
	button.calendar_download
		@extend .btn
		@extend .btn-default
		float: right
		margin: 10px 5px 10px 0px
		white-space: normal
	button.eventEdit
		@extend .btn-success

.course-details-column-left
	+grid(12, 8)
	padding-right: 7.5px
	@media (max-width: $screen-sm)
		padding-right: 0px

.course-details-column-right
	+grid(12, 4)
	padding-left: 7.5px
	@media (max-width: $screen-xs)
		padding: 0px

.course-details-column-left,
.course-details-column-right
	& > div:first-child
		padding-top: 0px

.course-details
	+grid(12)
	border: 7px dashed $openki-light-blue
	&.hasupcomingevents	ul.nav-tabs li.active a
		background: $openki-light-blue
	&.haspastevents
		border-style: solid
	ul.groups-list,
	ul.groups-list li,
	ul.groups-list li a
		display: inline-block
	ul.groups-list
		margin-bottom: 10px
	ul.nav-tabs
		border-bottom: 1px solid $brand-primary
		li
			border: 1px dotted $brand-primary
			border-bottom: 0px
			margin: 0px 2px -1px 0px
			&.active
				border-bottom: 0px
				border-style: solid
				a:hover
					color: $default-black
			a
				border: 0px
				color: $default-black
				margin: 0px
				&:hover
					color: $default-white

.course-details-status
	float: right
	padding: 0px 0px 0.8em 1.4em
	position: relative
	right: -22px
	top: -7px
	div
		+opacity(0.5)
		background-color: $default-black
		color: white
		font-weight: bold
		padding: 0.3em 0.7em

.course-details-title
	font-size: 30px
	margin-bottom: 10px
	margin-top: 20px
	min-height: 3ex
	padding: 0px !important
	&> .editable
		font-size: 30px
		padding: 0px
	&> .editable-controls
		font-size: medium

.course-details-categories ul
	margin-bottom: 0px
	li
		margin-bottom: 10px
		&:first-child
			margin-left: 0px

.course_main .course-groups
	+grid(12)
	padding: 0 0 10px

.course-details-groups
	+grid(12)
	padding: 0

.course-details-edit-buttons
	+grid(12)
	background: $brand-primary
	border-top: 3px solid $body-bg
	margin: 0px 0px -7px -22px
	padding: 10px 0px
	text-align: center
	width: calc(#{"100% + 44px"}) !important

.editCourse
	@extend .btn
	@extend .btn-success

.deleteCourse
	@extend .btn
	+btn-cancel

.course-details-roles-container
	+grid(12)
	padding: 15px 0px 0px
	.courseDetails_participants_count
		+grid(12)
		background: $brand-primary
		border: 5px solid $brand-primary
		color: $default-white
		h4
			font-weight: bold
	.courseDetails_mentor.course-status-mentor
		+grid(12, 3)
		background: $openki-light-blue
		height: 60px
		.yes
			background: $brand-success
