.course-details-component-titlebar {
	$background-color: $blue;

	background: $background-color;
	border: 5px solid $background-color;
	color: $white;
	padding: 0 ($grid-gutter-width / 2);
}

.course-details-component-heading {
	font-weight: bold;
}

.course-details-description {
	font-size: medium;
	margin-bottom: 0;
}

.course-details-description .editable {
	max-height: 300px;
	overflow: auto;
}

.course-details-column-left {
	@include make-sm-column(12);
	@include make-md-column(8);
	padding: 0;

	@media (min-width: $screen-md) {
		padding: 0 7.5px 0 0;
	}
}

.course-details-column-right {
	@include make-sm-column(12);
	@include make-md-column(4);
	padding: 15px 0 0;

	@media (min-width: $screen-md) {
		padding: 0 0 0 7.5px;
	}
}

.course-details-column-left > div:first-child,
.course-details-column-right > div:first-child {
	padding-top: 0;
}

.course-details-nav {
	padding: 0 15px;
}

.tab-content {
	border-color: $course-details-component-bg;
	border-style: solid;
	border-width: 0 1px 1px;
	position: relative;

	&::before,
	&::after {
		border-top: 1px solid $blue;
		content: '';
		height: 100%;
		position: absolute;
		top: -1px;
		width: (16px + $course-border-width);
		z-index: 99;
	}

	&::before {
		left: -1px;
	}

	&::after {
		right: -1px;
	}
}

.course-details > .details-header {
	border-color: $course-border-color;
	border-style: $proposal-border-style;
	border-width: $course-border-width $course-border-width 0;
}

.course-details.proposal .course-details-nav {
	border-color: $course-border-color;
	border-style: $proposal-border-style;
	border-width: 0 $course-border-width;
}

.course-details.proposal .tab-content {
	padding: 15px (15px + $course-border-width);
}

.course-details.has-past-events > .details-header {
	border-style: $has-past-events-border-style;
}

.course-details.has-past-events .course-details-nav {
	border-color: $course-border-color;
	border-style: $has-past-events-border-style;
	border-width: 0 $course-border-width;
}

.course-details.has-past-events .tab-content {
	padding: 15px (15px + $course-border-width);
}

.course-details.has-upcoming-events > .details-header {
	background: $has-upcoming-events-bg;
	border-width: 0;
}

.course-details.has-upcoming-events .course-details-nav {
	background: $has-upcoming-events-bg;
}

.course-details.has-upcoming-events .tab-content::after,
.course-details.has-upcoming-events .tab-content::before {
	width: 16px;
}

.course-details-title {
	font-size: 30px;
	margin-bottom: 10px;
}

.course-details-title > .editable {
	font-size: 30px;
	padding: 0;
}

.course-details-title > .editable-controls {
	font-size: medium;
}

.course-details-title > * {
	display: inline-block;
}

.course-details-categories > ul {
	margin-bottom: 0;
}

.course-details-categories > ul > li {
	margin-bottom: 10px;

	&:first-child {
		margin-left: 0;
	}
}

.course-details-btn {
	@include btn-lg;
	text-align: left;
	margin-top: $course-details-seperator-height;
	width: 100%;
}
