<template name="courseDetailsPage">
	<div class="container">
		<div class="course-details-column-left">
			{{#if edit}}
				<div class="details-page-component">
					{{> course_edit course}}
				</div>
			{{else}}
				<div class="details-page-component">
					<div class="course-details {{#with course}}{{coursestate}}{{/with}}">
						<div class="details-header">
							{{#if editableName}}
								<div class="course-details-title">
									{{>editable editableName}}
								</div>
							{{else}}
								<h2>{{course.name}}</h2>
							{{/if}}
							{{#with course}}
								{{#if categories}}
									<div class="course-details-categories">
										{{> courseCategories}}
									</div>
								{{/if}}
								{{#if groups}}
									<div class="course-details-groups">
										{{> detailsGroupList}}
									</div>
								{{/if}}
							{{/with}}
						</div>
						<div class="course-details-content">
							{{> courseDetailsSubmenu}}
						</div>
					</div>
					{{#with course}}
						{{#if currentUserMayEdit}}
							<div class="actions">
								<button type="button" class="btn btn-delete js-delete-course-btn">
									<i class="fa fa-trash fa-fw"></i>
									{{mf '_button.delete'}}
								</button>
								<button type="button" class="btn btn-edit js-edit-course-btn">
									<i class="fa fa-edit fa-fw"></i>
									{{mf '_button.edit'}}
								</button>
							</div>
						{{/if}}
					{{/with}}
				</div>
				<div class="details-page-component">
					{{> report}}
				</div>
			{{/if}}
			<!-- GET VIEWPORT SIZE AND ADJUST LAYOUT-->
			{{#if mobileViewport}}
				{{> course_events}}
			{{else}}
				{{> discussion course}}
			{{/if}}
		</div>
		<div class="course-details-column-right">
			{{#unless mobileViewport}}
				{{> course_events}}
			{{/unless}}
			<div class="details-page-component">
				{{> courseMembers course}}
				{{> courseRoles roles_details}}
			</div>
			{{#if mobileViewport}}
				{{> discussion course}}
			{{/if}}
		</div>
	</div>
</template>

<template name="courseDetailsSubmenu">
	<nav class="course-details-nav">
		<ul class="nav nav-tabs">
			<li role="presentation" class='active'>
				<a href="#description" data-toggle="tab">
					<i class="fa fa-info fa-fw"></i>
					{{mf 'course.subnav.descr' 'Description'}}
				</a>
			</li>
			<li role="presentation">
				<a href="#docs" data-toggle="tab">
					<i class="fa fa-folder-open fa-fw"></i>
					{{mf 'course.subnav.docs' 'Docs'}}
				</a>
			</li>
			<li role="presentation">
				<a href="#history" data-toggle="tab">
					<i class="fa fa-history fa-fw"></i>
					{{mf 'course.subnav.history' 'History'}}
				</a>
			</li>
		</ul>
	</nav>
	<div class="tab-content">
		<div class="tab-pane active" id="description">
			{{> courseDetailsDescription}}
		</div>
		<div class="tab-pane" id="docs">
			{{> coursedocs}}
		</div>
		<div class="tab-pane" id="history">
			{{> coursehistory}}
		</div>
	</div>
</template>

<template name="courseDetailsDescription">
	<p class="course-details-description">
		{{#if editableDescription}}
			{{>editable editableDescription}}
		{{else}}
			{{{course.description}}}
		{{/if}}
	</p>
</template>
