p.course_description {
	padding: 10px 0;

	.editable {
		max-height: 300px;
	}
}

.course_event_edit {
	padding-bottom: 25px;

	.event_edit_buttons {
		padding-top: 15px;
	}
}

.coursedetails {
	.container;
	padding-top: 20px;

	.coursedetails_column_left,
	.coursedetails_column_right {
		.grid(12, 6);
		padding: 0;

		&> div:first-child {
			padding-top: 0;
		}
	}

	.coursedetails_column_left {
		padding-right: 7.5px;

		@media @mobile {
			padding: 0;
		}
	}

	.coursedetails_column_right {
		padding-left: 7.5px;

		@media @mobile {
			padding: 0;
		}
	}

	.course_main {
		.grid(12);

		.courseStatus {
			float: right;
			padding: 0 0 0.8em 1.4em;
			position: relative;
			right: -22px;
			top: -7px;
		}

		.courseStatus div {
			padding: 0.3em 0.7em;
		}

		.name {
			margin-top: 20px;
			margin-bottom: 10px;
			min-height: 3ex;
			padding: 0 !important;

			&> .editable {
				padding: 0;
			}
		}

		.course_categories ul {
			margin-bottom: 0;

			li {
				margin-bottom: 10px;
			}
		}

		.edit_buttons {
			.grid(12);
			margin: 0 0 -7px -22px;
			padding: 10px 0;
			width: calc(~"100% + 44px") !important;
		}
	}

	button.open {
		margin-top: 15px;
	}

	button.eventEdit,
	button.calendar_download {
		float: right;
		margin: 10px 5px 15px 0;
	}

	.courseDetails_roles_container {
		.grid(12);
		padding: 15px 0 0;

		.courseDetails_participants_count {
			.grid(12);
		}

		.courseDetails_mentor.mentor_status {
			.grid(12, 3);
			height: 60px;
		}
	}
}
