.find,
.new_course {
  .course_edit {
    .grid(12, inherit, 8);
    .grid-offset(0, 0, 2);
  }
}

.coursedetails {
  .course_edit {
    .grid(12);
  }
}

.course_edit {
  padding: 0 0 25px;

  .course_edit_header {
    .grid(12);
    padding: 0;

    input#editform_name {
      // Mixin in course.edit.import.less!
    	height: 40px;
    }

    #editform_description {
      .form-control-humble;
      height: auto; // Reset fixed height from .form-control-humble()
      max-height: 150px;

      p {
        margin: 0;
      }
    }
  }

  #editform_categories,
  .course_edit_roles,
  .course_edit_region {
    .grid(12, 4);
    padding: 0;
  }

  ul.categories,
  ul.roles_list {
    span.caret {
      left: 3px;
      position: relative;
      top: -1px;
    }

    label {
      input.checkbox {
        margin-right: 3px;
      }
    }
  }

  ul.subcategories {
    left: 5px;
    position: relative;

    li {
      left: 15px;
      position: relative;
    }
  }

  .course_edit_region {
    margin-bottom: 10px;
  }

  .course_edit_finishbtns {
    .grid(12);
    padding: 10px 0 0;

      button {
        margin-right: 10px;

        @media @mobile {
          margin-bottom: 10px;
        }
      }
  }
}
