<template name="coursedetails_page">
	<div class="coursedetails-page">
		<div class="coursedetails-column-left">
			{{#if edit}}
				{{> course_edit course}}
			{{else}}
				<div class="course-details {{#with course}}{{coursestate}}{{/with}}">
					{{#if isProposal}}
						<div class="course-details-status">
							<div>
							{{mf 'course.details.tag.proposal' 'proposal'}}
							</div>
						</div><!-- /.course-details-status -->
					{{/if}}

					<div class="course-details-title">
						{{#if editableName}}{{>editable editableName}}{{else}}{{course.name}}{{/if}}
					</div><!-- /.course-details-title -->

					{{#with course}}
					<div class="course-details-categories">
						{{> showCategories}}
					</div><!-- /.course-details-categories -->
					<div class="course-details-groups">
						{{> groupList}}
					</div><!-- /.course-details-groups -->
					{{/with}}
					{{> groupListing course}}

					{{> show_course_submenu}}
					{{#with course}}
						{{#if currentUserMayEdit}}
						<div class="course-details-edit-buttons">
							<div class="btn-group" role="group" aria-label="...">
								<button class="editCourse" type="button" role="button">
									<span class="glyphicon glyphicon-edit"></span>
									{{mf 'course.details.edit_btn' 'Edit'}}
								</button>
								<button class="deleteCourse" type="button" role="button">
									<span class="glyphicon glyphicon-remove"></span>
									{{mf 'course.details.del_btn' 'Delete'}}
								</button>
							</div><!-- /.btn-group -->
						</div><!-- /.course-details-edit-buttons -->
						{{/if}}
					{{/with}}
				</div><!-- /.course-details -->
				{{> report}}
			{{/if}}
			<!-- GET VIEWPORT SIZE AND ADJUST LAYOUT-->
			{{#if mobileViewport}}
				{{> course_events}}
			{{else}}
				{{> discussion course}}
			{{/if}}
		</div><!-- /.course-details-column-left -->
		<div class="coursedetails-column-right">
			{{#unless mobileViewport}}
				{{> course_events}}
			{{/unless}}
			<div class="courseDetails_roles_container">
					{{> roles course}}
					{{> roles_details roles_details}}
			</div><!-- /.courseDetails_roles_container -->
			{{#if mobileViewport}}
				{{> discussion course}}
			{{/if}}
		</div><!-- /.coursedetails-column-right -->
	</div><!-- /.coursedetails-page -->
</template><!-- /coursedetails-page -->

<template name="show_course_submenu">
	<div>
		<nav>
			<ul class="nav nav-tabs">
				<li role="presentation" class='active'>
					<a href="#description" data-toggle="tab">
						<span class="fa fa-info"></span>&nbsp;
						{{mf 'course.subnav.descr' 'Description'}}
					</a>
				</li>
				{{#if hasFiles}}
					<li role="presentation">
						<a href="#docs" data-toggle="tab">
							<span class="glyphicon glyphicon-folder-open"></span>&nbsp;
							{{mf 'course.subnav.docs' 'Docs'}}
						</a>
					</li>
				{{/if}}
				<li role="presentation">
					<a href="#history" data-toggle="tab">
						<span class="fa fa-history"></span>&nbsp;
						{{mf 'course.subnav.history' 'History'}}
					</a>
				</li>
			</ul>
		</nav>
		<div class="tab-content">
			<div class="tab-pane active" id="description">
				{{> course_description}}
			</div><!-- /.tab-pane#description -->
		{{#if hasFiles}}
			<div class="tab-pane" id="docs">
				{{> coursedocs}}
			</div><!-- /.tab-pane#docs -->
		{{/if}}
			<div class="tab-pane" id="history">
				{{> coursehistory}}
			</div><!-- /.tab-pane#history -->
		</div><!-- /.tab-content -->
	</div>
</template><!-- /show_course_submenu -->

<template name="course_description">
	<div>
		<p class="course_description">
			{{#if editableDescription}}{{>editable editableDescription}}{{else}}{{{course.description}}}{{/if}}
		</p>
	</div>
</template><!-- /course_description -->
