<template name="course_edit">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
		<form>
			<h2>{{#if _id}}{{mf 'course.edit.edit_course' 'Edit course'}}{{else}}{{mf 'course.edit.propose' 'Propose new course'}}{{/if}}</h2>
			<div class="course_edit_editbox col-sm-12 no-padding">
				<div class="col-sm-12">
					<h4>{{mf 'course.edit.title' 'Title:'}}</h4>
					<input type="text" id="editform_name" class="form-control" size="40" value="{{name}}"/>
					<h4>{{mf 'course.edit.description' 'Desc:'}}</h4>
					<div id="editform_description" name="editform_description">{{{description}}}</div>

					<div id='editform_categories'>
						<div id="show_categories_to_edit" style="{{#unless _id}}display:none;{{/unless}}">
							{{mf 'course.edit.edit' 'Edit'}} {{#if categories}}{{>show_categories}}{{/if}}
							{{#unless categories}}{{mf 'course.edit.categories' 'Categories'}}{{/unless}}
						</div>

						<div id="edit_categories" style="{{#if _id}}display:none;{{/if}}">
							<h4>{{mf 'course.edit.edit_categories' 'Edit Categories:'}}</h4>
							<ul class='categories list-unstyled'>
								{{#each available_categories false}}
									<li id="cat_{{_id}}">
											<label>
												<input type='checkbox' class='checkbox' name='{{_id}}' value="1"  {{checked _id ../categories}} style="display: inline">
												{{name}}
											</label>
										<ul class='subcategories' style="display:{{show_subcats _id ../categories}}">
										{{#each available_categories _id}}
											<li>
												<div class="checkbox">
													<label>
														<input type='checkbox' class='checkbox_sub'  name='{{_id}}' value="1" {{checked _id ../../categories}}>
														{{name}}
													</label>
												</div>
											</li>
										{{/each}}
										</ul>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>

					<div> 
						<h4>{{mf 'course.edit.neededs_ppl_who' 'Needs people who'}}</h4>
						<ul class="list-unstyled">
							{{#each available_roles}}
								<li>
									<div class="checkbox">
										<label for="checkbox_roles">
										<input type="checkbox" id="checkbox_roles" class='roleselection' name='{{type}}' {{checked type ../roles}}>
										{{description}}
										</label>
									</div>
								</li>
							{{/each}}
						</ul>
					</div>
					
					{{#unless _id}}
					<p> {{mf 'course.edit.region' 'Region:'}} 
						<select name='region' class="region_select">
							<option value=''>{{mf 'course.edit.pls_select' 'Please select'}}</option>
						{{#each regions}}
							<option value='{{_id}}' selected="{{#if currentRegion this}}selected{{/if}}">{{name}}</option>
						{{/each}}
						</select>
					</p>
					{{/unless}}

			<p>
				<button type="button btn btn-default" class="save">
					<span class="glyphicon glyphicon-save"></span>
					{{mf 'course.edit.save_btn' 'Save'}}
				</button>

				<button type="button" class="cancel">
					<span class="glyphicon glyphicon-remove"></span>
					{{mf 'course.edit.cancel_btn' 'Cancel'}}
				</button>

			</p>
				</div>
			</div>
		</form>
	</div>
</template>
