<template name="roles_details">
    <div class="roles_details">
        {{#each this}}
            {{> role_details}}
        {{/each}}
    </div>
</template>

<template name="role_details">
    <div class="role_details role_{{roletype.type}}">
    {{#if subscribed}}
        <div class="enroled_as_title">
            <div class="container-fluid">
                <h3>
                    <span class="{{roletype.icon}}"></span>&nbsp;
                    {{#with roletype}}{{mf roleSubscribed}}{{/with}} 
                    <button class="unsubscribe" name="{{roletype.type}}">
                        {{mf 'course.roles.retract' 'Retract'}}
                    </button>
                </h3>
            </div>
        </div>
    {{else}}
        {{#if enrolling}}
        <div class="enrol_as_title">
            <div class="container-fluid">
                <h3>
                    <span class="{{roletype.icon}}"></span>&nbsp;
                    {{mf 'course.roles.enrol_as' 'Enrol as'}} {{role}}
                </h3>
            </div>
        </div>
        <div class="enrol_as_options">
            {{mf 'course.roles.leave_message' 'Leave a message/wish/interest here:'}}
            <textarea class='enrol_as_comment'>{{../../member.comment}}</textarea>
            {{#if privacyEnabled}}
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="incognito" value="1" />
                    {{mf 'course.roles.incognitosubscription' 'incognito'}} ☔
                </label>
            </div>
            {{/if}}
            <div class="enrol_as_buttons">
                <button class="subscribe">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{mf 'course.roles.enrol' 'Enrol'}}
                </button>
                <button class="cancel">
                    <span class="glyphicon glyphicon-remove"></span>
                    {{mf 'course.roles.cancelenrol'  'Cancel'}}
                </button>
            </div>
        </div>
        {{else}}
        {{#if maySubscribe roletype.type}}
        <button type="button" class="enrol" name="participant">
            <div class="container-fluid">
                <span class="{{roletype.icon}}"></span>&nbsp;
                {{#with roletype}}{{mf roleSubscribe}}{{/with}} 
            </div>
        </button>
        {{/if}}
        {{/if}}
    {{/if}}
    </div>
</template>
