.roles_details {
  .grid(12);
  padding: 0;

  .role_details {
    .grid(12);
    padding: 0;

    .enroled_as_title {
      .grid(12);
      padding: 10px 15px;
      width: 100%;

      button.unsubscribe {
        margin: -10px 0 -5px 5px;
      }
    }

    .enrol_as_title {
      .grid(12);
      padding: 10px 15px;
      width: 100%;
    }

    .enrol_as_options {
      .grid(12);
      padding: 10px 12px 11px 12px;

      textarea.enrol_as_comment {
        margin-top: 5px;
      }

      .enrol_as_buttons {
        .grid(12);
        padding: 13px 0 0;
      }
    }
  }
}
