@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/opacity';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins/grid';
@import '{}/client/styles/variables';

.course-details-component-titlebar {
  background: $brand-primary;
  border: 5px solid $brand-primary;
  color: $body-bg;
	padding: 0 ($grid-gutter-width / 2);
}

.course-details-component-heading {
  font-weight: bold;
}

.course-details-description {
  font-size: medium;
  margin-bottom: 0;
  .editable {
    max-height: 300px;
    overflow: auto;
  }
}

.course-details-column-left {
	@include make-sm-column(12);
	@include make-md-column(8);
	padding: 0;
	@media (min-width: $screen-md) {
		padding: 0 7.5px 0 0;
  }
}

.course-details-column-right {
	@include make-sm-column(12);
	@include make-md-column(4);
	padding: 15px 0 0;
	@media (min-width: $screen-md) {
		padding: 0 0 0 7.5px;
  }
}

.course-details-column-left,
.course-details-column-right {
  & > div:first-child {
    padding-top: 0;
  }
}

.course-details-nav {
	padding: 0 15px;
}

.tab-content {
	border-color: lighten($openki-blue-lighter, 0%);
	border-style: solid;
	border-width: 0 1px 1px;
	position: relative;
	&::before,
	&::after {
		border-top: 1px solid $brand-primary;
		content: '';
		height: 100%;
		position: absolute;
		top: -1px;
		width: (16px + $course-border-width);
		z-index: 99;
	}
	&::before {
		left: -1px;
	}
	&::after {
		right: -1px;
	}
}

.course-details {
	& > .details-header {
		border-color: $openki-blue-lighter;
		border-style: dashed;
		border-width: $course-border-width $course-border-width 0;
	}
	&.proposal {
		.course-details-nav {
			border-left: $course-border-width dashed $openki-blue-lighter;
			border-right: $course-border-width dashed $openki-blue-lighter;
		}
		.tab-content {
			padding: 15px (15px + $course-border-width);
		}
	}
  &.haspastevents {
		& > .details-header {
	    border-style: solid;
	  }
		.course-details-nav {
			border-left: $course-border-width solid $openki-blue-lighter;
			border-right: $course-border-width solid $openki-blue-lighter;
		}
		.tab-content {
			padding: 15px (15px + $course-border-width);
		}
	}
	&.hasupcomingevents {
		.course-details-nav {
			background: $openki-blue-lighter;
		}
		& > .details-header {
			background: $openki-blue-lighter;
			border-width: 0;
		}
		.tab-content {
			&::before,
			&::after {
				width: 16px;
			}
		}
	}
}

.course-details-status {
  float: right;
  padding: 0 0 .8em 1.4em;
  position: relative;
  right: -22px;
  top: -7px;
  div {
    @include opacity(.5);
    background-color: $default-black;
    color: white;
    font-weight: bold;
    padding: .3em .7em;
  }
}

.course-details-title {
  font-size: 30px;
  margin-bottom: 10px;
  & > .editable {
    font-size: 30px;
    padding: 0;
  }
  & > .editable-controls {
    font-size: medium;
  }
  & > * {
    display: inline-block;
  }
}

.course-details-categories ul {
  margin-bottom: 0;
  li {
    margin-bottom: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
