#history {
  * {
    .transition(0.5s)
  }

  .timeline-pre,
  .timeline-post {
    .timeline-start-container,
    .timeline-end-container {
      .timeline-start {
        #gradient.vertical(@light-blue;@brand-primary;0%;100%);
      }

      .timeline-end {
        #gradient.vertical(@brand-primary;@light-blue;0%;100%);
      }
    }
  }

  .timeline {
    .timeline-eventdate {
      color: rgb(109, 112, 112);
      text-align: right;

      &.active {
        color: #333;
      }
    }

    .timeline-eventline-container {
      .timeline-eventline {
        background: @brand-primary;
      }

      .timeline-eventpoint {
        background: @brand-primary;
        border-radius: 50% !important;

        &.active {
          background: @brand-danger;
        }
      }
    }
  }
}

.coursehistory-event {
  &:hover a {
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    color: @brand-primary;
  }

  h4 {
    text-align: center;
  }
}
