<template name="coursedetails">
	<div id="coursedetails">
		{{#if edit}}
			{{> course_edit course}}
		{{else}}
			<div class="course_main">
                {{title course.name " - hmmm"}}
                <h2 class="name">{{#if editableName}}{{>editable editableName}}{{else}}{{course.name}}{{/if}}</h2>
                <br class="clear"/>
			{{#with course}}
				<p class='small'>
				{{mf 'course.details.time_created' 'Time created:'}} {{dateformat time_created}}, &nbsp;&nbsp;
				{{mf 'course.details.last_edited' 'Last edited:'}} {{dateformat time_lastedit}}  &nbsp;&nbsp;
				{{mf 'course.details.created_by' 'Created by:'}} {{>profilelink createdby}}
				</p>
				<div class="categorylist small">
				{{> show_categories}}
				{{> show_groups}}
				</div>

                {{> show_course_submenu}}
                <br class="clear"/>
			{{/with}}
			
                {{#if editableDescription}}{{>editable editableDescription}}{{else}}{{{course.description}}}{{/if}}
                <br class="clear"/>

			{{#with course}}
                {{#if currentUserMayEdit}}
                <input type="button" class="edit" value="Edit" />
                <input type="button" class="del" value="Delete" />
                {{/if}}
			{{/with}}
			</div>
		{{/if}}

		{{> roleDetails roleDetails}}
		
		{{> membersRoles course}}

		<div class="discussion">
		{{> discussion course}}
		</div>
		{{> votelists course}}
		{{> postDialog course}}
	</div>
	<div class="course_right_column">
		{{> course_events}}
	</div>
</template>




<template name="show_course_submenu">
	<ul class="course_submenu">
		<li class='active'><a href="{{pathFor 'showCourse'}}">Description</a></li>
		<li><a href="{{pathFor 'showCourseWiki'}}">Wiki</a></li>
		<li><a href="#">Docs</a></li>
		<li><a href="#">History</a></li>
	</ul>
</template>

