p.course_description {
	font-size: medium;
	padding: 10px 0;

	.editable {
		max-height: 300px;
		overflow: auto;
	}
}

.course_event_edit {
	border: 7px dashed @light-blue;
	padding-bottom: 25px;

	.toggle_duration {
		cursor: pointer;
		padding-top: 15px;
	}
}

.coursedetails {
	.container;
	padding-top: 20px;

	.coursedetails_column_left,
	.coursedetails_column_right {
		.grid(12, 6);
		padding: 0;

		&> div:first-child {
			padding-top: 0;
		}
	}

	.coursedetails_column_left {
		padding-right: 7.5px;

		@media screen and (max-width: @screen-sm) {
			padding-right: 0;
		}
	}

	.coursedetails_column_right {
		padding-left: 7.5px;

		@media @mobile {
			padding: 0;
		}
	}

	.course_main {
		.grid(12);
		border: 7px dashed @light-blue;

		&.hasupcomingevents {
			ul.nav-tabs {
				li.active {
					a {
						background: @light-blue;
					}
				}
			}
		}

		&.haspastevents {
			border-style: solid;
		}

		.courseStatus {
			float: right;
			padding: 0 0 0.8em 1.4em;
			position: relative;
			right: -22px;
			top: -7px;

			div {
				.opacity(50);
				background-color: @default-black;
				color: white;
				font-weight: bold;
				padding: 0.3em 0.7em;
			}
		}

		.name {
			font-size: 30px;
			margin-top: 20px;
			margin-bottom: 10px;
			min-height: 3ex;
			padding: 0 !important;

			&> .editable {
				font-size: 30px;
				padding: 0;
			}

			&> .editable-controls {
				font-size: medium;
			}
		}

		.course_categories ul {
			margin-bottom: 0;

			li {
				margin-bottom: 10px;
			}
		}

		ul.groups-list,
		ul.groups-list li,
		ul.groups-list li a {
			display: inline-block;
		}

		ul.nav-tabs {
			border-bottom: none;
			margin-bottom: -2px;

			a {
				color: @default-black;

				&:hover {
					.transition(0.5s);
					color: @default-white;
				}
			}

			li.active {
				border-bottom: 1px solid @default-white;

				a:hover {
					color: @default-black;
				}
			}
		}

		.tab-content {
			border-top: 1px solid @brand-primary;
		}

		.edit_buttons {
			.grid(12);
			background: @brand-primary;
			border-top: 3px solid @body-bg;
			margin: 0 0 -7px -22px;
			padding: 10px 0;
			text-align: center;
			width: calc(~"100% + 44px") !important;

			button.edit {
				.btn;
				.btn-success;
			}

			button.del {
				.btn;
				.btn-danger;
			}
		}
	}

	button.open {
		margin-top: 15px;
	}

	button.eventEdit,
	button.calendar_download {
		.btn;
		.btn-default;
		float: right;
		margin: 10px 5px 10px 0;
	}

	button.eventEdit {
		.btn-success;
	}

	.courseDetails_roles_container {
		.grid(12);
		padding: 15px 0 0;

		.courseDetails_participants_count {
			.grid(12);
			background: @brand-primary;
			color: @default-white;
			border: 5px solid @brand-primary;

			h4 {
				font-weight: bold;
			}
		}

		.courseDetails_mentor.mentor_status {
			.grid(12, 3);
			background: @light-blue;
			height: 60px;

			.yes {
				background: @brand-success;
			}
		}
	}
}
