#history {
  .grid(12);
  padding: 0 0 10px;

  .timeline-pre,
  .timeline-post {
    .grid(12);
    height: 30px;
    padding: 0;

    .timeline-start-container,
    .timeline-end-container {
      .grid(1);
      .grid-offset(0, 3);
      height: 100%;
      padding: 0;

      .timeline-start,
      .timeline-end {
        height: 100%;
        margin: auto;
        width: 1px;
      }
    }

    .timeline-header {
      .grid(8);
      height: 100%;
      padding: 0;
    }
  }

  .timeline {
    .grid(4);
    height: 20px;
    padding: 0;

    .timeline-eventdate {
      .grid(9);
      padding: 0;
    }

    .timeline-eventline-container {
      .grid(3);
      height: 100%;
      padding: 0;

      .timeline-eventline {
        height: 100%;
        margin: auto;
        width: 1px;
      }

      .timeline-eventpoint {
        bottom: 13px;
        height: 7px;
        margin: auto;
        position: relative;
        width: 7px;
      }
    }
  }

  .coursehistory-event {
    .grid(8);
    height: 20px;
    padding: 0;
  }

  h4 {
    padding-top: 10px;
  }
}
