.roles {
	background: @light-blue;
	border-top: 3px solid @body-bg;
	font-size: medium;

	.member_role a {
		color: #333;

		&:hover {
			color: @brand-primary;
		}
	}

	.horizontal-line {
		background: @body-bg;
	}

	ul.roles_list {
		.list-unstyled;

		&:hover {
			cursor: default;
		}

		li {
			background: @brand-primary;
			color: @body-bg;
			font-size: small;
			font-weight: bold;
			vertical-align: middle;
		}

		span.role_short {
			text-transform: uppercase;
		}
	}


	button.makeTeam {
		.btn;
		.btn-success;
		.transition(0.5s);
	}

	.member_comment {
		.editable-controls {
			button.editable-store,
			button.editable-cancel {
				background: none;
				border: 0;
				color: @brand-primary;
			}

			span.glyphicon-ok {
				color: #5cb85c;
			}

			span.glyphicon-remove {
				color: @brand-danger;
			}
		}
	}
}
