<template name="roles">
	<div class="courseDetails_participants_count">
		<h4>
			<span class="fa fa-users"></span>
			&nbsp;
			{{mf 'course.dtails.paticipants.title' 'Participants'}}
		</h4>
	</div>
	{{#if members}}
	<div class="roles">
		{{#each members}}
		{{> member_roles member=this course=..}}
		<div class="horizontal-line"></div>
		{{/each}}
	</div>
	{{/if}}
</template>

<template name="member_roles">
	<div class="member_role">
		<span class="glyphicon glyphicon-user"></span>&nbsp;
		{{>profilelink member.user}}
		{{#if hasRoles}}
		<ul class='roles_list'>
			{{#each member.roles}}
			<li class='{{this}}'>
				<span class="{{rolelist_icon this}}"></span>
				&nbsp;
				<span class="role_short">{{mf roleShort}}</span>
			</li>
			{{/each}}
		</ul>
		{{/if}}
		{{#if maySubscribe}}
		<button class='makeTeam'>
			<span class="glyphicon glyphicon-plus makeTeamPlus"></span>
			<span class="makeTeam_text {{member.user}}">
				<span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
				{{mf 'course.roles.maketeam' 'Add to team'}}
			</span>
		</button>
		{{/if}}
		{{#if editableMessage}}
		<div class="member_comment">
			{{> editable editableMessage}}
		</div>
		{{else}}
		{{#if member.comment}}
		<div class="member_comment">
				{{member.comment}}
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>
