.find,
.new_course {
	.course_edit {
		.grid(12)
	}
}

.coursedetails {
	.course_edit {
		.grid(12);
	}
}

.course_edit {
	background: @brand-bg;
	border: 7px solid @brand-bg;
	padding: 0 0 25px;

	.course_edit_header {
		.grid(12);
		padding: 0;

		input#editform_name {
			.form-control-humble;
			font-size: large;
			height: 40px;
		}

		#editform_description {
			.form-control-humble;
			height: auto; // Reset fixed height from .form-control-humble()
			max-height: 150px;
			min-height: 100px;
			overflow: auto;

			p {
				margin: 0;
			}
		}
	}

	#editform_categories,
	.course_edit_roles,
	.course_edit_region {
		.grid(12, 4);
		padding: 0;
	}

	ul.categories,
	ul.subcategories,
	ul.roles_list {
		list-style: none;
		padding-left: 0;
	}

	ul.categories,
	ul.roles_list {

		span.caret {
			.transition(color 0.5s);
			color: @default-light-grey;
			left: 3px;
			position: relative;
			top: -1px;

			&.active {
				color: @default-black;
			}
		}

		label {
			font-weight: normal;

			&:hover {
				color: @brand-primary;
				cursor: pointer;

				span.caret {
					color: @default-black;
				}
			}

			&.active {
				color: @brand-primary;
			}

			input.checkbox {
				margin-right: 3px;
			}
		}
	}

	button.editCategories {
		.btn-thin;
		.btn-primary;
	}

	ul.subcategories {
		left: 5px;
		position: relative;

		li {
			left: 15px;
			position: relative;
		}
	}

	.course_edit_region {
		margin-bottom: 10px;
	}

	.course_edit_finishbtns {
		.grid(12);
		padding: 10px 0 0;

		button {
			.btn;
			margin-right: 10px;

			@media @mobile {
				.form-control;
				.btn;
				.btn-primary;
				margin-bottom: 10px;
			}

			&.save {
				.btn-success;
			}

			&.cancel {
				.btn-cancel;
			}
		}
	}
}
