<template name="discussion">
	<div class="discussion-titlebar">
		<h4>
			<span class="fa fa-comments"></span>
			&nbsp;
			{{mf 'course.title.Discussion' 'Discussion'}}
		</h4>
	</div>
	{{#if havePosts}}
		<div class="discussion-conversation-container">
		{{#each posts}}
			{{> post}}
		{{/each}}
		</div>
	{{/if}}
	{{> post newPost}}
</template>

<template name="post">
	{{#if editing}}
		{{> postEdit}}
	{{else}}
		{{> postShow}}
	{{/if}}
	{{#each responses}}
		{{> post}}
	{{/each}}
	{{#if allowResponse}}
		{{> post newResponse}}
	{{/if}}
</template>

<template name="postShow">
	{{#if new}}
		{{#if parentId}}
			<button type="button" class="js-edit" role="button">
				<span class="fa fa-reply"></span>
				&nbsp;
				{{mf 'course.discussion.comment_answer' 'Answer'}}
			</button>
		{{else}}
		<button type="button" class="js-edit write-comment">
			<span class="glyphicon glyphicon-pencil"></span>
			&nbsp;
			{{mf 'course.discussion.write_comment' 'Write a comment'}}
		</button>
		{{/if}}
	{{else}}
		<div class="discussion-conversation">
			<div class={{postClass}}>
				<div>
					{{>iconProfilelink userId}}
					<span class="comment-time-created" title="{{dateformat time_created}}">
						{{fromNow time_created}}
					</span>
					{{#if time_updated}}
						<span class="comment-time-updated" title="{{dateformat time_updated}}">
							last update:{{fromNow time_updated}}
						</span>
					{{/if}}
				</div>
				<div>
					<h4 class="comment-title">{{this.title}}</h4>
					<p>{{text}}</p>
				</div>
				{{#if mayEdit}}
					<button type="button" class="js-edit" role="button">
						<span class="glyphicon glyphicon-edit"></span>
						&nbsp;
						{{mf 'course.discussion.comment_edit' 'Edit'}}
					</button>
				{{/if}}
				{{#if mayDelete}}
					<button type="button" class="btn-delete delete" role="button">
						<span class="glyphicon glyphicon-remove"></span>
						&nbsp;
						{{mf 'course.details.del_btn' 'Delete'}}
					</button>
				{{/if}}
			</div>
		</div>
	{{/if}}
</template>

<template name="postEdit">
	<div class="discussion-conversation">
		<form>
		<div class={{postClass}}>
			<div>
				{{#if showUserId}}{{>iconProfilelink userId}}{{/if}}
				<span class="comment-time-created">
				{{#unless new}}
					<!-- {{mf 'discussion.post.soon' 'soon'}} -->
				<!-- {{else}} -->
					{{fromNow time_created}}
				{{/unless}}
				</span>
			{{#if time_updated}}
				<span class="comment-time-updated">
					last update:{{fromNow time_updated}}
				</span>
			<!-- {{else}}
				{{#unless new}}
				<span class="comment-time-updated">
					{{mf 'discussion.post.' 'soon'}}
				</span>
				{{/unless}} -->
			{{/if}}
			</div>
			{{#if parentId}}
			<div class="write-answer-graphics">
				<span class="fa fa-reply"></span>
			</div>
			{{/if}}
			<div class="write-post-dialog {{#if parentId}}answer{{/if}}">
			{{#unless parentId}}
				<h3>{{mf 'course.discussion.write_comment' "Write a comment"}}</h3>
			{{/unless}}
				<input type="text" class="js-post-title"
					placeholder="{{mf 'course.discussion.title_placeholder' 'Title'}}"
					value="{{title}}"
				/>
				<textarea class="js-post-text" placeholder="{{#if parentId}}{{mf 'course.discussion.text_placeholder_answer' 'Your answer'}}{{else}}{{mf 'course.discussion.text_placeholder' 'Your comment'}}{{/if}}">{{text}}</textarea>
				<button type="submit" class="post" {{enableWhenValid}}>
			{{#if new}}
				{{#if parentId}}
					{{mf 'course.discussion.comment_btn.answer' 'Answer!'}}
				{{else}}
					{{mf 'course.discussion.comment_btn.write' 'Write!'}}
				{{/if}}
			{{else}}
					{{mf 'course.discussion.comment_btn.update' 'Update my comment!'}}
			{{/if}}
				</button>
				<button type="button" class="cancel">
					{{mf 'course.discussion.comment_btn.cancel' 'Cancel'}}
				</button>
			{{#if new}}
				<label>
					<input type='checkbox' class='anon js-anon' {{anonChecked}} {{anonDisabled}}>
					{{mf 'course.discussion.anon' 'Anonymous comment'}}&nbsp;
					<span class="fa fa-user-secret"></span>&nbsp;
				</label>
			{{/if}}
			</div>
		</div>
		</form>
	</div>
</template>


<template name="iconProfilelink">
	{{#if this}}
	<a class="profilelink" href="/user/{{this}}/{{username this}}">
		<span class="glyphicon glyphicon-user"></span>
		&nbsp;
		{{username this}}
	</a>
	{{else}}
		<span style="color: grey;" class="glyphicon glyphicon-user"></span>
		{{mf 'noUser_placeholder' 'someone'}}
	{{/if}}
</template>
