<template name="course_edit">
	<div class="course_edit">
		<form>
			<div class="course_edit_header">
				<h2>
					{{#if _id}}
					{{mf 'course.edit.edit_course' 'Edit course'}}
					{{else}}
					{{mf 'course.edit.propose' 'Propose new course'}}
					{{/if}}
				</h2>
				<h4>{{mf 'course.edit.title' 'Title:'}}</h4>
				<input type="text" id="editform_name" class="form-control" size="40" value="{{name}}"/>
				<h4>{{mf 'course.edit.description' 'Desc:'}}</h4>
				<div id="editform_description">{{{description}}}</div>
			</div>
			<div id='editform_categories'>
				<div id="show_categories_to_edit" style="{{#unless _id}}display:none;{{/unless}}">
				<button type="button" class="edit" role="button">
					<h4>{{mf 'course.edit.categories' 'Categories:'}}</h4>
					{{#if categories}}{{>show_categories}}{{/if}}
					{{#unless categories}}{{mf 'course.edit.no.categories' 'No categories'}}{{/unless}}
					<span class="glyphicon glyphicon-edit"></span>
					{{mf 'course.edit.categories-button' 'Edit'}}
				</button>
				</div>
				<div id="edit_categories" style="{{#if _id}}display:none;{{/if}}">
					<h4>{{mf 'course.edit.edit_categories' 'Edit Categories:'}}</h4>
					<ul class='categories'>
						{{#each available_categories false}}
						<li id="cat_{{this}}">
							<label class="{{this}}">
								<input type='checkbox' class='checkbox' name='{{this}}' value="1"  {{checked this ../categories}} style="display: inline">
								{{categoryName}}
								<span class="caret {{this}}"></span>
							</label>
							<ul class='subcategories' style="display:{{show_subcats this ../categories}}">
								{{#each available_categories this}}
								<li>
									<div class="checkbox">
										<label class="{{this}}">
											<input type='checkbox' class='checkbox_sub'  name='{{this}}' value="1" {{checked this ../../categories}}>
											{{categoryName}}
										</label>
									</div>
								</li>
								{{/each}}
							</ul>
						</li>
						{{/each}}
					</ul>
				</div>
 

			</div>
			<div class="course_edit_roles"> 
				<h4>{{mf 'course.edit.needs.role' 'This course might need'}}</h4>
				<ul class="roles_list">
					{{#each available_roles}}
					<li>
						<div class="checkbox">
							<label class="{{type}}">
								<input type="checkbox" class='roleselection {{this.type}}' name='{{type}}' {{checked type ../roles}}>
								<span class="{{icon}}"></span>
								{{mf roleDescription}}
							</label>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="course_edit_region">
				{{#unless _id}}
				<h4>{{mf 'course.edit.region' 'Region:'}}</h4>
				<div class="styled-select">
					<select name='region' class="region_select">
						<option value='' disabled selected class="select_default">
							{{mf 'course.edit.pls_select_region' 'Please select a region'}}
						</option>
						{{#each regions}}
						<option value='{{_id}}' selected="{{#if currentRegion this}}selected{{/if}}">{{name}}</option>
						{{/each}}
					</select>
					<span class="caret"></span>
				</div>
				{{/unless}}
			</div>
			<div class="course_edit_finishbtns">
				<button type="button" class="save">
					<span class="glyphicon glyphicon-save"></span>
					{{mf 'course.edit.save_btn' 'Save'}}
				</button>
				<button type="button" class="cancel">
					<span class="glyphicon glyphicon-remove"></span>
					{{mf 'course.edit.cancel_btn' 'Cancel'}}
				</button>
			</div>
		</form>
	</div>
</template>
