.roles_details {
  .role_details {
    .enroled_as_title {
      background: @ownrole;
      border-top: 3px solid @body-bg;
      color: #333;
      font-size: large;
      line-height: 1.1;
      vertical-align: middle;

      button.unsubscribe {
        .btn-thin;
        .btn-primary;
      }
    }

    .enrol_as_title {
      background: @brand-primary;
      border-top: 3px solid @body-bg;
      color: @body-bg;
      font-size: large;
      line-height: 1.1;
    }

    .enrol_as_options {
      background: @light-blue;

      textarea.enrol_as_comment {
        .form-control-humble;
      }

      .enrol_as_buttons {
        button.subscribe {
            .btn;
            .btn-primary;
        }

        button.cancel {
            .btn;
            .btn-danger;
        }
      }
    }

    button.enrol {
      .big-button-success;
    }
  }
}
