<template name="membersRoles">
	<div class="participants">
		<ul class='subscribers list-unstyled'>
		{{#each members}}
			{{> memberRoles member=this course=..}}
		{{/each}}
		</ul>
	</div>
</template>

<template name="memberRoles">
	<li>
		{{>profilelink member.user}}
		<ul class='roles list-unstyled'>
			{{#each member.roles}}
				<li class='{{this}}'> (Icon)  {{this}} </li>
			{{/each}}
		</ul>
		<span class="member_comment">
			{{#if editableMessage}}
				{{> editable editableMessage}}
			{{else}}
				{{member.comment}}
			{{/if}}
		</span>
	</li>
</template>

<template name="roleDetails">
	{{#each this}}
		{{> roleDetail}}
	{{/each}}
</template>

<template name="roleDetail">
	<div class="roleDetails role_{{roletype.type}}">
		<div class="subscribe">
		{{#if subscribed}}
		<div class="enroled_as_title col-sm-12">
			<div class="container-fluid">
				<h3>{{mf 'course.roles.you_are' 'You are'}} {{#if anonsub}}{{mf 'course.roles.anonymously' 'anonymously'}} {{/if}}{{mf 'course.roles.subscribed_as' 'subscribed as'}} {{roletype.type}} <button class="unsubscribe btn btn-default" name="{{roletype.type}}">{{mf 'course.roles.retract' 'Retract'}}</button></h3>
			</div>
		</div>
		{{else}}
			{{#if enrolling}}
				<div class="enrol_as_title col-sm-12">
					<div class="container-fluid">
						<h3>
							<span class="{{roletype.gl_icon}}"></span> &nbsp;&nbsp;&nbsp;
							{{mf 'course.roles.enrol_as' 'Enrol as'}} {{role}}
						</h3>
					</div>
				</div>
				<div class="enrol_as_options col-sm-12">
					{{mf 'course.roles.leave_message' 'Leave a message/wish/interest here:'}}
					<textarea cols="50" rows="3" class='enrol_as_comment form-control'>{{../../member.comment}}</textarea>

					{{#if privacyEnabled}}
					<div class="checkbox">
						<label><input type="checkbox" class="incognito" value="1" /> {{mf 'course.roles.incognitosubscription' 'incognito'}} ☔</label>
					</div>
					{{/if}}

					<div class="enrol_as_buttons col-sm-12 no-padding">
							<button class="subscribe btn btn-primary">
								<span class="glyphicon glyphicon-ok"></span>
								{{mf 'course.roles.enrol' 'Enrol'}}
							</button>
						<button class="cancel btn btn-danger">
							<span class="glyphicon glyphicon-remove"></span>
							{{mf 'course.roles.cancelenrol'  'Cancel'}}
						</button>
					</div>
				</div>
			{{else}}
					<button type="button" class="enrol form-control btn btn-primary no-padding" name="participant">
						<div class="container-fluid">
							<i class="{{roletype.fa_icon}}"></i> &nbsp;<span class="{{roletype.gl_icon}}"></span> &nbsp;&nbsp;&nbsp;
							{{roletype.subscribe}}
						</div>
					</button>
			{{/if}}
		{{/if}}
		</div>
	</div>
</template>
