.discussion {
	.grid(12);
	padding: 0;
	margin-top: 15px;

	h3 {
		margin-top: 15px;
	}

	button {
		float: right;
	}

	.discussion-conversation-container {
		.grid(12);
		padding-bottom: 10px;

		.discussion-conversation {
			.grid(12);
			padding: 0;

			.post-info {
				padding-top: 10px;
			}
		}
	}

	label {
		padding-top: 8px;

		input.-anon {
			display: inline-block;
			height: auto;
			margin: 0;
			width: auto;
		}
	}
}

.discussion-titlebar {
	.grid(12);
}

.write-post-dialog,
.edit-post-dialog {
	.grid(12);

	input,
	textarea {
		.form-control-humble;
		margin-bottom: 10px;
	}

	textarea {
		height: 60px;
	}
}

.write-answer-graphics {
	.grid(1);
	padding: 0 15px 0 0;

	span.fa-reply {
		margin-top: 15px;
	}
}

.write-post-dialog {
	padding-bottom: 20px;

	button {
		margin-right: 5px;
	}

	&.answer {
		.grid(11);
		padding: 10px 0 0;

		button.cancel {
			margin-right: 0;
		}
	}
}

.edit-post-dialog {
	padding: 0;
}

.discussion-comment {
	.grid(11);
	.grid-offset(1);
	padding: 10px 0 0 0;

	.discussion-comment-info {
		.grid(12);
		padding: 10px 0 0 0;
	}

	.discussion-comment-text {
		.grid(9, 8);
		padding: 0;
	}
}

.post {
	.grid(12);
	padding: 7px 0;

	.post-info {
		.grid(12);
		padding: 0;
	}

	.post-text {
		.grid(12);
		padding: 0;
	}

	.post-options {
		.grid(12);
		padding: 0;

		button {
			margin-right: 5px;
		}
	}
}

a.profilelink {
	padding-right: 5px;

	span.glyphicon {
		position: relative;
		top: 4px;
	}
}

button.answer {
	padding-bottom: 5px;
}
