.find,
.new_course {
	.course_edit {
		@include grid(12);
		h2 {
			margin-top: 0px;
		}
	}
}

.coursedetails .course_edit {
	@include grid(12);
}

.course_edit {
	padding: 0px;
	.course_edit_body {
		@include grid(12);
		border: 7px dashed $brand-bg;
		margin-top: 10px;
		padding: 20px 30px;
		@media screen and
		(max-width: $screen-xs) {
			border: 0px;
			margin-top: 0px;
			padding: 0px 0px 10px;
		}
		#editform_name,
		#editform_description {
			.form-control-humble;
		}
		#editform_description {
			height: auto; // Reset fixed height from .form-control-humble
			max-height: 150px;
			min-height: 100px;
			overflow: auto;
		}
		#editform_categories,
		.course_edit_roles,
		.course_edit_internal,
		.course_edit_region {
			@include grid(12, 6);
			padding: 10px 5px 10px 0;
		}
		ul.categories,
		ul.subcategories,
		ul.roles_list {
			list-style: none;
			padding-left: 0;
		}

		ul.categories,
		ul.roles_list,
		.course_edit_internal {
			span.caret {
				@include transition(color $default-transition-time);
				color: $default-light-grey;
				left: 3px;
				position: relative;
				top: -1px;
				&.active {
					color: $default-black;
				}
			}
			label {
				font-weight: normal;
				&:hover {
					color: $brand-primary;
					cursor: pointer;
					span.caret {
						color: $default-black;
					}
				}
				&.active {
					color: $brand-primary;
				}
				input.checkbox {
					margin-right: 3px;
				}
			}
		}
		button.editCategories {
			.btn-thin;
			.btn-primary;
		}
		ul.subcategories {
			left: 5px;
			position: relative;
			li {
				left: 15px;
				position: relative;
			}
		}
		.course_edit_region {
			margin-bottom: 10px;
		}
		.course_edit_finishbtns {
			@include grid(12);
			padding: 10px 0px 0px;
			button {
				.btn;
				margin-right: 10px;
				@media screen and
				(max-width: $screen-xs) {
					.form-control;
					.btn;
					.btn-primary;
					margin-bottom: 10px;
				}
				&.save {
					.btn-success;
				}
				&.cancel {
					.btn-cancel;
				}
			}
		}
	}
}
