// Discussion styles
// --------------------------------------------------

//== Container
.discussion {
	.grid(12);
	background: @brand-bg;
	margin-top: 15px;
	padding: 0px;
}

//== Titlebar
.discussion-titlebar {
	.grid(12);
	background: @brand-primary;
	border: 5px solid @brand-primary;
	color: @body-bg;
}

.discussion-heading {
	font-weight: bold;
}

//== Conversation
//
//## Contains post and its replies
.discussion-conversation {
	.grid(12);
	padding-top: 10px;
}

//** Post
.discussion-post {
	.grid(12);
	background: @brand-bg;
	padding: 7px 0px;
}

//** Comment (Reply to a post)
.discussion-comment {
	.grid(11);
	.grid-offset(1);
	padding: 7px 0px;
}

//** Profilelink
.discussion-profile-link {
	color: @default-black;
	font-weight: bold;
	padding-right: 5px;
	&:hover {
		color: @brand-primary;
		text-decoration: none;
	}
}

.discussion-profile-icon {
	font-size: large;
	position: relative;
	top: 4px;
	&:hover {
		color: @default-black;
	}
}

.discussion-profile-link:hover .discussion-profile-icon {
	color: @default-black;
}

//** Comment time
.comment-time-created {
	color: @default-gray;
	cursor: default;
}

//** Create & edit post/comment
.discussion-edit {
	.grid(12);
	padding: 10px 0px 0px;
}

.discussion-edit-title,
.discussion-edit-text {
	.form-control-humble;
	margin-bottom: 10px;
}

.discussion-edit-text {
	height: 60px;
}

.discussion-toggle-anonymous {
	font-weight: inherit;
	padding-top: 8px;
}

.toggleAnonymous {
	display: inline-block;
	height: auto;
	margin: 0px;
	vertical-align: text-top;
	width: auto;
}

.discussion-save-btn,
.discussion-cancel-btn,
.discussion-reply-btn,
.discussion-edit-btn,
.discussion-delete-btn {
	.btn;
	float: right;
}

.discussion-save-btn,
.discussion-edit-btn {
	.btn-edit;
}

.discussion-cancel-btn,
.discussion-delete-btn {
	.btn-cancel;
}

.discussion-reply-btn {
	.btn-success;
}

//== New post
.discussion-new-post-btn {
	.big-button-success;
	margin-top: 10px;
}

.discussion-new-post {
	.grid(12);
	padding-bottom: 10px;
	padding-top: 10px;
}
