<template name="profile">
	<div class="container-fluid">
		<div class="profile">
			<h1 class="name">{{mf 'profile.my_profile' 'My profile'}}</h1>
		{{#unless user}}
			<p>{{mf 'profile.not_logged_in' "You're not logged in..."}}</p>
		{{else}}
			{{#if isEditing}}
				<p>{{mf 'profile.input.username' 'Username:'}}<input type="text" id="editform_username" value="{{user.name}}"/></p>
				<p>{{mf 'profile.input.email' 'E-Mail (optional):'}}<input type="text" id="editform_email" value="{{user.email}}"/></p>
				<p>{{mf 'profile.input.new_pswd' 'New password (optional):'}} <input type="password" id="editform_newpassword" value=""/></p>
				<p>{{mf 'profile.toggle.highprivacy' 'High privacy:'}} <input type="checkbox" id="privacy" /></p>
				<input type="button" class="save" value="Save" />
			{{else}}
				<p class="descr">{{mf 'profile.username' 'Username:'}} {{user.name}}</p>
				{{#if user.have_email}}
				<p class="descr">{{mf 'profile.email' 'E-Mail:'}} {{user.email}}<span class="descr_small"> {{verifiedEmail}} </span>
					{{#unless user.veryfiedEmailTrue}}
						<button class="verify">
							<span class="glyphicon glyphicon-ok-circle"></span>
							{{mf 'profile.verifymail' 'Verify my E-Mail'}}
						</button>
					{{/unless}}
				</p>
				{{/if}}
				<p class="descr">{{#if user.privacy}} {{mf 'profile.privacy.on' 'Privacy settings: on'}} <span class="glyphicon glyphicon-eye-closed"></span>  {{else}} {{mf 'profile.privacy.off' 'Privacy settings: off'}} <span class="glyphicon glyphicon-eye-open"></span> {{/if}}
				</p>
				<p class="descr">
					{{#mf KEY='member_of_groups' NUM_GROUPS=user.groupcount GROUPS_LIST=user.groups}}
					You are {NUM_GROUPS, plural,
					=0 {not a member of any group}
					=1 {member of the group {GROUPS_LIST}}
					other {member of the groups {GROUPS_LIST}}}
					.
					{{/mf}}
				</p>
				<button class="edit">{{mf 'profile.edit' 'Edit'}}</button>
				{{#if verifyDelete}}
					<div>{{mf 'profile.reallydelete' 'Please confirm that you would like to delete your profile. This cannot be undone, you will have to create a new account if you want to use this site again.'}}
					<button class="confirmdelete">{{mf 'profile.delete' 'Delete my profile'}}</button>
					<button class="verifycancel">{{mf 'profile.deletecancel' 'Cancel'}}</button>
					</div>
				{{else}}
					<button class="delete">{{mf 'profile.delete' 'Delete my profile'}}</button>
				{{/if}}
				<div class="translate">
					<a href="/translate">
						<i class="fa fa-language"></i>
						{{mf 'Profile.translate_this_page' 'Help us to translate this Page here'}}
					</a>
				</div>
			{{/if}}
				<div class="list_small">
					<h3>{{mf 'profile.my_courses' 'My Courses:'}}</h3>
					{{> courselist courses}}
				</div>
		{{/unless}}
		</div>
	</div>
</template>