<template name="profile">
	<div class="profile">
		<h1 class="name">{{mf 'profile.my_profile' 'My profile'}}</h1>
		{{#unless user}}
			<p>{{mf 'profile.not_logged_in' "You're not logged in..."}}</p>
		{{else}}
			<div class="infos">
				<div class="description">
					<div class="background">
						{{#if editing}}
							<form class="edit">
								<p>{{mf 'profile.username' 'Username:'}}<input type="text" id="editform_username" value="{{user.name}}"/></p>
								<p>{{mf 'profile.email' 'E-Mail:'}} {{mf '_inputField.optional'}}<input type="text" id="editform_email" value="{{user.email}}"/></p>
								<p>{{mf 'profile.toggle.highprivacy' 'High privacy:'}} <input
									type="checkbox"
									id="privacy"
									title="{{mf 'profile.toggle.highprivacy.explication' 'If enabled you can enrole anonymously to courses (experimental)'}}"
									checked={{user.privacy}}
								/></p>
								<button type="submit" class="save">{{mf '_button.save'}}</button>
								<button class="editCancel">{{mf '_button.cancel'}}</button>
							</form>
						{{else}}
							<table class="table table-hover">
								<tr class="name">
									<td>{{mf 'profile.username' 'Username:'}}</td> <td>{{user.name}}</td>
								</tr>
								{{#if user.have_email}}
								<tr class="email">
									<td>
										{{mf 'profile.email' 'E-Mail:'}}
										 {{mf '_inputField.optional'}}
									</td>
									<td>
										{{user.email}}
										<span class="descr_small"> {{verifiedEmail}} </span>
										&nbsp;
										{{#unless user.veryfiedEmailTrue}}
										<button class="verify">
											<span class="glyphicon glyphicon-ok-circle"></span>
											&nbsp;
											{{mf 'profile.verifymail' 'Verify my E-Mail'}}
										</button>
										{{/unless}}
									</td>
								</tr>
								{{/if}}
								<tr class="privacy">
									<td> {{mf 'profile.toggle.highprivacy' 'High privacy:'}}</td>
									<td>
										{{#if user.privacy}}
											{{mf 'profile.privacyOn' 'on'}} &nbsp;
											<span class="fa fa-user-secret"></span>
										{{else}}
											{{mf 'profile.privacyOff' 'off'}} &nbsp;
											<span class="fa-stack">
												<i class="fa fa-user-secret fa-stack-1x"></i>
												<i class="fa fa-ban fa-stack-2x text-danger"></i>
											</span>
										{{/if}}
									</td>
								</tr>
							</table>
							<button class="edit">{{mf '_button.edit'}}</button>
						{{/if}}
					</div>
				</div>
				<div class="password">
					{{#if changingPass}}
						<form class="passChange">
							<label>
								{{mf 'profile.input.oldPassword' 'Your current password'}}
								<input type="password" id="oldpassword" value=""/>
							</label>
							<label>
								{{mf 'profile.input.newPassword' 'New password'}}
								<input type="password" id="newpassword" value=""/>
							</label>
							<label>
								{{mf 'profile.input.repeatPassword' 'Repeat new password'}}
								<input type="password" id="newpassword_confirm" value=""/>
							</label>
							<button type="submit" class="save changePassConfirm">{{mf 'profile.changePass' 'Change my password'}}</button>
							<button class="changePassCancel">{{mf '_button.cancel'}}</button>
						</form>
					{{else}}
						<button class="changePass">{{mf 'profile.changePass' 'Change my password'}}</button>
				{{/if}}
				</div>
			</div>
			<div class="groupList">
				<h3> {{mf 'profile.groups' 'My groups:'}}</h3>
				{{#mf KEY='profile.groupMembership' NUM_GROUPS=groupCount}}
				You are {NUM_GROUPS, plural,
				=0 {not member of any group}
				=1 {member of the group:}
				other {member of # groups:}}
				{{/mf}}
				<ul class="groups">
				{{#each user.groups}}
					<li>
						<span class="group">{{> groupName _id}}</span>  &nbsp; &nbsp; {{name}}
					</li>
				{{/each}}
				</ul>
				<a href="{{pathFor 'groupDetails' _id='create'}}">
					<button class="-createGroup createGroup">
						<span class="fa fa-plus"></span>&nbsp;
						{{mf 'profile.createNewGroup.button' 'Create a new group'}}
					</button>
				</a>
			</div>
			<div class="deleteFrame">
				{{#if verifyDelete}}
					<div class="pleaseConfirm">
						{{mf 'profile.reallydelete' 'Please confirm that you would like to delete your profile. This cannot be undone, you will have to create a new account if you want to use this site again.'}} <br>
						<button class="verifycancel cancelDeletion">{{mf '_button.cancel'}}</button>
						<button class="confirmdelete">{{mf 'profile.delete.confirm.button' 'Delete my user and all its profile'}}</button>
					</div>
				{{else}}
					<button class="delete">{{mf 'profile.delete' 'Delete my account'}}</button>
				{{/if}}
			</div>
			<div class="translate">
				<a href="/translate">
					<i class="fa fa-language"></i>
					{{mf 'Profile.translate_this_page' 'Help us to translate this Page'}}
				</a>
			</div>
			<div class="list_small courses">
				<hr>
				<h3>{{mf 'profile.my_courses' 'My Courses:'}}</h3>
				{{> courselist courses}}
			</div>
		{{/unless}}
	</div>
</template>
