.profile {
	//.make-xs-column(12);
	//.no-padding;
	.container;

	h1 {
		margin-top: 0;
	}

	.infos{
		.make-sm-column(6);
		.make-xs-column(12);
		padding: 0;
		margin-bottom: 20px;

		.description{
			font-size: 110%;
			padding-right: 30px;
			padding-left: 5px;
			.background{
				background-color: #f8f8f8;
			}
			tr.email button {
				.btn-thin;
				.btn-default;
			}
		}

		.password{
			margin: 1em 0;
		}

		p {
			margin-bottom: 5px;
		}

		form.edit {
			input {
				margin-left: 5px;
			}
		}
	}

	button{
		.btn-thin;
		.btn-primary;
	}
	.edit button{
		float: left;
		margin-right: 7px;
	}
	.delete {
		button{
			.btn-danger;
			float: left;
			margin-right: 7px;
		}

		button.cancelDeletion{
			.btn-primary;
		}
		.pleaseConfirm{
			float: none;
		}
	}
	.password{
		.passChange {
			background: grey;
		}
		button{
			float: left;
			margin-right: 7px;
		}
	}

	.grouplist{
		.make-sm-column(6);
		.make-xs-column(12);
		padding: 0;
	}

	ul.groups {
		.list-unstyled;

		li {
			margin-top: 5px;

			span.group {
				color: @brand-primary;
				background: rgba(130, 216, 130, 0.5);
				padding: 0 4px 1px;
			}
		}
	}

	.translate {
		.make-xs-column(12);
		padding: 0;
		padding-top: 10px;
	}

	.courses{
		.make-xs-column(12);
		padding: 0;
		margin-top: 25px;
	}
}
