.userprofile {
	.container;
	h1 {
		margin-top: 0;
	}
	.email_box {
		textarea#emailmessage {
			.form-control-humble;
			height: 120px;
		}
		button.sendmail {
			.btn-thin;
			.btn-primary;
		}
	}
	.privileges {
		ul.privileges {
			padding: 0;
			list-style: none;
			li{
				margin-top: 5px;
				&:first-child {
					margin-top: none;
				}
				span.granted {
					padding-right: 10px;
				}
			}
			button {
				.btn-thin;
				.btn-primary;
			}
		}
	}

	.invite_group {
		margin-top: 5px;

		&:first-child {
			margin-top: 0;
		}

		span.group {
			color: @brand-primary;
			background: rgba(130, 216, 130, 0.5);
			padding: 0 4px 1px;
		}

		button {
			.btn-primary;
			.btn-thin;

			&:hover {
				color: #fff;
			}
		}
	}
}
