<template name="profilelink">
	<a class="profilelink" href="/user/{{this}}/{{username this}}">{{username this}}</a>
</template>


<template name="userprofile">
	<div class="container-fluid">
		<div id="profile">
			<h1>{{mf 'profile.users_profile_page' "{NAME}'s Profile" NAME=this.user.username}}</h1>
			{{#if ownuser}}
				{{mf 'profile.its_you' "It's you!"}} <a href="/profile/" >{{mf 'profile.pref_site' "here's your pref. site"}}</a>
			{{else}}
				<div class="email_box">
					<p>{{mf 'profile.mail.to_user' 'You can write an e-mail to this user:'}}</p>
					{{mf 'profile.mail.content' 'Your message:'}}
					<p> <input type="text" id="emailmessage" placeholder="Hi {{username this.user._id}}! ..."/></p>
					<p>{{mf 'profile.mail.options' 'Options:'}}	<!-- this is a proposition. doesn't work yet -->
						<form>
							<input type="checkbox" name="email1" id="sendOwnAdress">{{mf 'profile.mail.attachmail' 'Attach my e-mail address'}}<br>
							<input type="checkbox" name="email2" id="receiveCopy">{{mf 'profile.mail.copy' 'Send me a copy of this message'}}<br>
						</form>
					</p>
					<input type="button" class="sendmail" value="Send E-Mail" />
				</div>
			{{/if}}

			{{#if showPrivileges}}
			<div>
				<h3>{{mf 'privileges.title' 'Privileges'}}</h3>
				<ul class="privileges">

					{{#if privileges.admin}}
						<li class="admin">
							{{mf 'privilege.has.admin' 'Administrator privileges granted'}}
							{{#if alterPrivileges}}
								<button class="remove" data-priv='admin'>{{mf 'privilege.remove' 'remove privilege'}}</button>
							{{/if}}
						</li>
					{{else}}
						{{#if alterPrivileges}}
							<li class="admin">
								<button class="giveAdmin">{{mf 'privilege.add.admin' 'Grant administrator privileges'}}</button>
							</li>
						{{/if}}
					{{/if}}

					{{#if privileges.upload}}
						<li class="admin">
							{{mf 'privilege.has.upload' 'Upload allowed'}}
							{{#if alterPrivileges}}
								<button class="remove" data-priv='upload'>{{mf 'privilege.remove' 'remove privilege'}}</button>
							{{/if}}
						</li>
					{{else}}
						{{#if alterPrivileges}}
							<li class="admin">
								<button class="giveUpload">{{mf 'privilege.add.upload' 'Grant upload privilege'}}</button>
							</li>
						{{/if}}
					{{/if}}

				</ul>
			</div>
			{{/if}}

			<div class="list_small">
				<h3>{{mf 'profile.courses' "{NAME}'s Courses:" NAME=this.user.username}}</h3>
				{{> courselist involvedIn}}
			</div>
		</div>
	</div>
</template>
