<template name="profilelink">
	<a class="profilelink" href="/user/{{this}}/{{username this}}">{{username this}}</a>
</template>


<template name="userprofile">
	<div class="container-fluid">
		<div id="profile">
			<h1>{{mf 'profile.users_profile_page' "{NAME}'s Profile-Page" NAME=this.user.username}}</h1>
			<p class="descr_small">{{mf 'profile.userid' 'UserID:'}}{{user._id}}</p>
			{{#if ownuser}}
				{{mf 'profile.its_you' "It's you!"}} <a href="/profile/" >{{mf 'profile.pref_site' "here's your pref. site"}}</a>
			{{else}}
				<div class="email_box" style='bgcolor:#CCFFFF; margin-left: 28px'>
					<p>{{mf 'profile.mail.to_user' 'you can write an email to this user:'}}</p>
					{{mf 'profile.mail.content' 'Your message:'}}
					<p> <input type="text" id="emailmessage" placeholder="Hi {{username this.user._id}}! ..."/></p>
					<p>{{mf 'profile.mail.options' 'Options:'}}	<!-- this is a proposition. doesn't work yet -->
						<form>
							<input type="checkbox" name="email1" id="sendOwnAdress">{{mf 'profile.mail.attachmail' 'attach my email address'}}<br>
							<input type="checkbox" name="email2" id="receiveCopy">{{mf 'profile.mail.copy' 'send me a copy of this message'}}<br>
						</form>
					</p>
					<input type="button" class="sendmail" value="Send Email" />
				</div>
			{{/if}}
			<div class="list_small">
				<h3>{{mf 'profile.courses' "{NAME}'s Courses:" NAME=this.user.username}}</h3>
				{{> courselist involvedIn}}
			</div>
		</div>
	</div>
</template>
