<template name="profilelink">
	<a class="profilelink" href="/user/{{this}}/{{username this}}">{{username this}}</a>
</template>


<template name="userprofile">
	<div class="container-fluid">
		<div class="userprofile">
			<h1>{{mf 'profile.users_profile_page' "{NAME}'s Profile" NAME=this.user.username}}</h1>
			{{#if ownuser}}
				<h4>
					{{mf 'profile.its_you' "It's you!"}}&nbsp;
				</h4>
				<h5>
					<a href="/profile/" >
						<span class="glyphicon glyphicon-cog"></span>
						{{mf 'profile.preferenceslink' "Click here to change your preferences"}}
					</a>
				</h5>
			{{else}}
			<div class="row">
				<div class="col-sm-4">
					{{>email_box}}
				</div>
			</div>
			{{/if}}

			{{#if showPrivileges}}
			<div class="privileges">
				<h3>{{mf 'privileges.title' 'Privileges'}}</h3>
				<ul class="privileges">
				{{#if privileges.admin}}
					<li class="admin">
						<span class="glyphicon glyphicon-ok"></span>
						<span class="granted">{{mf 'privilege.has.admin' 'Administrator privileges granted'}}</span>
						{{#if alterPrivileges}}
							<button class="remove" data-priv='admin'>{{mf 'privilege.remove' 'Remove privilege'}}</button>
						{{/if}}
					</li>
				{{else}}
					{{#if alterPrivileges}}
						<li class="admin">
							<button class="giveAdmin">
								<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
								{{mf 'privilege.add.admin' 'Grant administrator privileges'}}
							</button>
						</li>
					{{/if}}
				{{/if}}

				{{#if privileges.upload}}
					<li class="admin">
						<span class="glyphicon glyphicon-ok"></span>
						<span class="granted">{{mf 'privilege.has.upload' 'Upload allowed'}}</span>
						{{#if alterPrivileges}}
							<button class="remove" data-priv='upload'>{{mf 'privilege.remove'}}</button>
						{{/if}}
					</li>
				{{else}}
					{{#if alterPrivileges}}
						<li class="admin">
							<button class="giveUpload">
								<span class="glyphicon glyphicon-upload"></span>
								{{mf 'privilege.add.upload' 'Grant upload privilege'}}
							</button>
						</li>
					{{/if}}
				{{/if}}
				</ul>
			</div>
			{{/if}}

			<div class="list_small">
				<h3>{{mf 'profile.courses' "{NAME}'s Courses:" NAME=this.user.username}}</h3>
				{{> courselist involvedIn}}
			</div>
		</div>
	</div>
</template>

<template name="email_box">
	<div class="email_box">
		<form>
		<!-- <h4><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{mf 'profile.mail.to_user' 'You can write an e-mail to this user:'}}</h4> -->
			<h4>{{mf 'profile.mail.content' 'Your message:'}}</h4>
			<textarea id="emailmessage" placeholder="Hi {{username this.user._id}}! ..." rows="3"></textarea>
			<h4>{{mf 'profile.mail.options' 'Options:'}}	<!-- this is a proposition. doesn't work yet --></h4>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="sendOwnAdress">
					{{mf 'profile.mail.attachmail' 'Attach my e-mail address'}}
				</label>
				<label>
					<input type="checkbox" id="receiveCopy">
					{{mf 'profile.mail.copy' 'Send me a copy of this message'}}
				</label>
			</div>
			<button class="sendmail">
				<span class="glyphicon glyphicon-send"></span>&nbsp;
				{{mf 'userprofile.sendmail-btn' 'Send E-Mail'}}
			</button>
		</form>
	</div>
</template>
