.frame_calendar_date {
  .date {
    background: lighten(@orange, 25%);
    border-left: 10px solid @orange;
    font-size: large;
    text-align: center;

    @media screen and (max-width: @screen-xxxs) {
      border-left: none;
      border-top: 10px solid @orange;
    }
  }
}
