.group-settings h2 {
	margin-top: 8px;
}

.group-members {
	@include list-unstyled;
}

.group-members > li {
	background-color: rgba(80, 90, 50, .15);
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 0;
}

.group-members > li > button {
	padding: 2px 6px;
}

.js-member-remove-btn,
.js-member-add-btn {
	background-color: rgba(80, 90, 50, .3);
}

.js-member-remove-btn:hover {
	background-color: $brand-danger;
}

.js-member-remove-btn span {
	color: #400;
}

.js-member-add-btn:hover {
	background-color: $brand-success;
}

.js-member-add-btn span {
	color: #040;
}

.group-links {
	@include list-unstyled;
}
