<template name="groupSettings">
	<div class="groupSettings">
		{{#with group}}
			<form>
				<div class="settings">
					<h2>
						<span class="fa fa-cog"></span>
						{{mf 'group.settings.title' 'Settings'}}
					</h2>

					<h4>{{mf 'group.settings.field.infos' 'Internal informations:'}}</h4>
						<input class= "setInfos form-control"
							id="setInfos"
							placeholder="{{mf 'group.settings.infos.placeholder' 'Add some notes for your group-members'}}"
							size="60"
							type="text"
							value="{{infos}}"/>

					<h4>{{mf 'group.settings.field.logo' 'Logo:'}}</h4>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="fa fa-rebel"></span>
						</span>
						<input class="-logoUrl form-control"
							id="setLogo"
							placeholder= "{{mf 'group.settings.field.logo.placeholder' 'Link to your Icon (png or jpg)'}}"
							value="{{logoUrl}}"/>
					</div>

					<h4>{{mf 'group.settings.field.backgroundImg' 'Background Image:'}} (not working yet)</h4>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="fa fa-picture-o"></span>
						</span>
						<input class="-backgroundUrl form-control"
							id="setBackgroundImage"
							placeholder= "{{mf 'group.settings.field.backgroundImg.placeholder' 'Link to background image (png or jpg)'}}"
							value="{{backgroundUrl}}"/>
					</div>

					<div class="groupEditFinishbtns">
						<button class="btn save -saveSettings" type="button">
							<span class="glyphicon glyphicon-save"></span>
							{{mf 'group.edit.save_btn' 'Save'}}
						</button>
						<button class="btn cancel -cancelSettings" type="button">
							<span class="glyphicon glyphicon-remove"></span>
							{{mf '_button.cancel'}}
						</button>
					</div>
				</div>

				<div class="members">
					<h2>
						<span class="glyphicon glyphicon-user"></span>
						{{mf 'group.settings.title.Members' 'Members'}}
					</h2>
					<ul>
						{{#each members}}
							<li>
								<span class="glyphicon glyphicon-user"></span>
								{{username this}}
								<button class="-removeMember cancel" type="button">
									<span class="glyphicon glyphicon-remove" title="{{mf 'group.settings.removeFromGroup' "remove member"}}"></span>
								</button>
							</li>
						{{/each}}
					</ul>
					<h4>{{mf 'group.settings.field.addMembers' 'Add a new member to your group:'}}</h4>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="fa fa-user"></span>
						</span>
						<input class="-userSearch form-control"
							id="AddGroupMember"
							placeholder= "{{mf 'group.settings.field.addMember.placeholder' 'Type name of buddy'}}"
							size="40"
							type="text"/>
					</div>
					<ul>
						{{#each foundUsers}}
							<li>
								<span class="glyphicon glyphicon-user"></span>
								{{username this._id}}
								<button type="button" class="-addMember confirm">
									<span class="glyphicon glyphicon-plus" title="{{mf 'group.settings.addMember' "add as member"}}"></span>
								</button>
							</li>
						{{/each}}
					</ul>
				</div>

			<div class="link-infos">
				<h2>
					<span class="glyphicon glyphicon-link"></span>
					{{mf 'group.linksCollection.title' '{NAME}-views' NAME=siteName}}
				</h2>
				Infoscreen-Link: <a href="{{kioskEventURL}}">{{kioskEventURL}}</a> <br>
				Timetable-Link: <a href="{{kioskTimetableURL}}">{{kioskTimetableURL}}</a> <br>
				iframe-Eventboxes-Link: <a href="{{frameEventsURL}}">{{frameEventsURL}}</a> <br>
				iframe-Calendar-Link: <a href="{{frameCalendarURL}}">{{frameCalendarURL}}</a> <br>
			</div>

		</form>
		{{/with}}
	</div>
</template>
