@light-blue:           #D8EBF4; //Used mainly for backgrounds
@ownrole:              #bcb6ff;
@ownrole-color:        #4E4E1C;
@orange:               #f98f39;
@yellow:               #f3f981;

@defaultShadow:				#586a66;

// Group colors
@group:								#b9e9b9;
@groupText: 					@brand-primary;
@groupHover:					darken(@group, 20%);
@groupShadow:					@defaultShadow;
