// Custom colors
@light-blue:           #D8EBF4; //Used mainly for backgrounds
@ownrole:              #bcb6ff;
@ownrole-color:        #4E4E1C;
@orange:               #f98f39;
@yellow:               #f3f981;
