.replica-tab-content {
	border-color: $blue;
	padding: 15px;
}

.replica-tab-content .form-group {
	margin-bottom: 0;
}

.replica-tab-content .input-group + label {
	margin-top: 10px;
}

.replica-tab-content label + .radio {
	margin-top: 0;
}

.datepicker-inline {
	border-radius: 0;
	width: 100%;
}

.datepicker table {
	width: 100%;
}

.replica-date-weekday {
	color: $gray-light;
	@include td-padding(right, $padding-base-horizontal);
	padding-top: $padding-base-vertical;
	position: absolute;
	@include td-pos(right, 0);
	top: 0;
	z-index: 3;
}

.replica-event-captions {
	@include clearfix;
	margin: -2.5px -5px;
	padding-bottom: 10px;
}

.replica-event-captions > .event-caption {
	@include td-make-xs-column(3);
	padding: 2.5px 5px;
}

.replica-event-captions.highlighted .event-caption-header,
.replica-event-captions.highlighted .event-caption-body {
	border-color: $event-caption-border-highlighted;
}

.js-replicate-btn {
	@include td-float(right);
}
