<template name="eventReplication">
	<div class="details-form event-replicate">
		<div class="form-group">
			<label>
				{{mf 'event.replication.chooseDates' 'Choose dates'}}
			</label>
			<div class="js-replicate-datepick"></div>
		</div>
		<div class="form-group">
			<div class="form-group-element">
				<label for="replicateStart">
					{{mf 'event.replication.interval.start' 'Interval Start'}}
				</label>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
					</span>
					<input type="text"
						class="form-control js-replicate-date js-update-replicas"
						id="replicateStart"
						size="8"
						value="{{replicaStart}}">
				</div>
			</div>
			<div class="form-group-element">
				<label for="replicateEnd">
					{{mf 'event.replication.interval.end' 'Interval End'}}
				</label>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-calendar fa-fw" aria-hidden="true"></span>
					</span>
					<input type="text"
						class="form-control js-replicate-date js-update-replicas"
						id="replicateEnd"
						size="8"
						value="{{replicaEnd}}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group-element">
				<label for="replicateFrequency">
					{{mf 'event.replication.repeat' 'Repeat'}}
				</label>
				<div class="radio">
					<label>
						<input type="radio"
							class="js-replicate-frequency js-update-replicas"
							name="replicateFrequency"
							value="once">
						{{mf 'event.replication.freq.once' 'once'}}
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio"
							class="js-replicate-frequency js-update-replicas"
							name="replicateFrequency"
							value="daily">
						{{mf 'event.replication.freq.daily' 'every day'}}
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio"
							class="js-replicate-frequency js-update-replicas"
							name="replicateFrequency"
							value="weekly"
							checked>
						{{mf'event.replication.freq.weekly' 'once a week'}}
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio"
							class="js-replicate-frequency js-update-replicas"
							name="replicateFrequency"
							value="biWeekly">
						{{mf'event.replication.freq.biWeekly' 'every 2 weeks'}}
					</label>
				</div>
			</div>
			{{#if replicaDateCount}}
				<div class="form-group-element">
					<label>
						{{#mf KEY='event.replication.createText' COUNT=replicaDateCount}}
							Create {COUNT, plural,
								one {a copy on this date}
								other {# copies on this dates}
							}
						{{/mf}}
					</label>
					<div class="replica-event-captions">
						{{#each replicaDates}}
							<div class="replica-event-caption">
								<div class="replica-event-caption-header-wrap">
									<div class="replica-event-caption-header">
										<span class="fa fa-map-pin"></span>
										<div class="replica-event-caption-pseudoborder"></div>
									</div>
								</div>
								<div class="replica-event-caption-body-wrap">
									<div class="replica-event-caption-body">
										{{localDate this}}
									</div>
								</div>
							</div>
						{{/each}}
					</div>
					<div class="input-group">
						<button type="button" class="btn btn-save js-replicate-btn">
							{{#mf KEY='course.details.repl_btn' COUNT=replicaDateCount}}
								Create {COUNT, plural,
									one {event}
									other {# events}
								}
							{{/mf}}
						</button>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>
