<template name="regionsSplash">
	<div class="modal fade regions-splash" tabindex="-1" role="dialog" id="regionsSplash">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close"
					        type="button"
					        data-dismiss="modal"
					        aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						{{#mf KEY='regionsSplash.welcome' SITE=siteName}}
							Welcome to {SITE}!
						{{/mf}}
					</h4>
				</div>
				<div class="modal-body">
					<h4 class="regions-splash-header">
						<i class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></i>
						{{mf 'regionsSplash.plsChooseRegion' 'Please choose a region'}}
					</h4>
					{{> regionSelection}}
					<div class="regions-splash-login">
						<p>{{mf 'regionsSplash.orLogin' 'or login to use your last selected region'}}</p>
						<button
							id="loginForRegion"
							class="btn btn-primary btn-lg"
							type="button">
							<i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
							{{mf 'regionsSpash.login' 'Login'}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
