.event-small-container {
	@include grid(12);
	padding: ($grid-gutter-width / 4) ($grid-gutter-width /2);
}

.container-fluid .event-small-container {
	@media (min-width: $screen-xxs) and (max-width: $screen-xsm) {
		@include grid(6);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}
	@media (min-width: $screen-xsm) {
		@include grid(4, 3, inherit, 2);
		padding: ($grid-gutter-width / 4) ($grid-gutter-width / 8);
	}
}

.event-small {
  @include transition(box-shadow $default-transition-time);
  background: $event-small-bg;
  height: 200px;
	position: relative;
  &:hover {
    @include box-shadow-big($default-shadow);
  }
}

.event-small-header,
.event-small-title,
.event-small-description {
  @include word-break;
  overflow: hidden;
}

.event-small-header {
  background: $event-small-header-bg;
  border-bottom: 1px solid $body-bg;
  color: $event-small-header-color;
  height: 55px;
  padding: 5px;
  .fa,
  .glyphicon {
    margin-right: 2px;
  }
  .fa-clock-o,
  .event-small-time {
    margin-bottom: 5px;
  }
  .fa-map-signs {
    margin-left: 4px;
  }
}

.event-small-title {
  color: $event-small-title-color;
  font-size: medium;
  max-height: 56px;
  padding: 5px;
}

.event-small-description {
  color: $event-small-description-color;
  height: 85px;
  margin-top: -3px;
  padding: 0 5px 5px;
}
