<template name="eventSmall">
	<div class="event-small-container">
		<a href="{{#with data}}{{pathFor 'showEvent'}}{{/with}}">
			<div class="event-small {{#if withDate}}event-small-with-date{{/if}}">
				<div class="event-small-header">
					{{#if withDate}}
						{{> eventSmallDate data}}
					{{/if}}
					<span class="fa fa-clock-o"></span>
					<span class="event-small-time">
						{{timeformat data.start}} - {{timeformat data.end}}
					</span>
					<br>
					{{> locationLink data}}
				</div>
				<div class="event-small-title">
					{{plain data.title}}
				</div>
				<div class="event-small-description">
					{{plain data.description}}
				</div>
			</div>
		</a>
	</div>
</template>

<template name="eventSmallDate">
	<span class="fa fa-calendar"></span>
	<span class="event-small-date">
		{{weekday_short start}}
		{{dateformat_mini_fullmonth start}}
	</span>
	<br>
</template>
