<template name="locationlist">
<h1>Rooms</h1>
	Publically visible locations in {{region}}:    <!-- TODO: -->
	<div class="locationlist">
		{{#each locations}}
			{{> location}}
		{{else}}
			no locations
		{{/each}}

		{{> location_edit}}
	</div>
</template>



<template name="location">
	<div class="locationlist_location">
		<p class="name"> <a href="{{pathFor 'locationDetails'}}">{{name}}</a></p>
		<p class="description">{{description}} </p>

		{{#if mayHost}}
		<p class="mylocation">You can host here</p>
		{{/if}}
	</div>
</template>


