.navbar-nav {
	& > li {
		& > a {
			font-size: large;
		}
	}

	span.caret {		
		position: absolute;
		bottom: 0;
		left: 46%;
		color: @brand-primary;
		.transition(0.5s);
		.flip_n_scale(0, -1.5, -1.5);
	}

	li.dropdown.open span.caret {
		color: @light-blue;
		bottom: -1px;
	}

	a.active span.caret {
		color: @body-bg;
		bottom: -1px;
	}

	.dropdown-menu {
		border-top: 1px solid transparent;
	}
}

.navbar-header {
	&:hover * {
		color: @body-bg !important;
	}
}

a.navbar-brand {
	font-size: x-large;
	position: relative;
	bottom: 3px;
}


a.loginButton {
			cursor: pointer !important;
	}

.login-dropdown {
	width: 300px;
}
