.navbar-nav {
	& > li {
		& > a {
			font-size: large;
		}
	}
}

a.navbar-brand {
	font-size: x-large;
	position: relative;
	bottom: 3px;
}

.navbar-right {
	a.loginButton {
		cursor: pointer !important;
	}
}
