@import "{}/imports/ui/stylesheets/variables/index";

.edit-location .leaflet-attribution-flag {
  display: none !important;
}

.edit-location .leaflet-marker-icon {
  background: none;
  border: 0;
  color: $blue;
  -webkit-text-stroke: 1px #0000003d;

  .fa-regular,
  .fa-brands,
  .fa-solid {
    font-size: 36px;
  }
}

.edit-location,
.edit-location > .leaflet-container {
  height: 300px;
  width: 100%;
}
