<template name="bannerLayout">
	{{> yield}}
</template>

<template name="bannerEvents">
  <div class="calendarrrrrrr_aendert_nichts" style='margin-left:-48px; margin-top:-73px'> 
	<ul class="calendar_eventlistttttttt_aendert_nichts">
		{{#each this}}
			{{> bannerEvent}}
		{{/each}}
	</ul>
  </div>
</template>

<template name="bannerEvent">
	<a href="{{pathFor 'showEvent'}}">
	<div class="calendar_event" style='overflow: hidden'>
		<p class="course_event_date">
			<span class="icon-mini_date"></span> {{dateformat_fromnow startdate}} 
		</p>
		<p class="course_event_time">
			<span class="icon-clock"></span> {{timeformat startdate}}
		</p>
		<p class="course_event_title">{{plain this.title}}</p>
		<p class="course_event_desc">{{plain this.description}}</p>
	</div>
	</a>
</template>