#loginFrame {
	text-align: center;
	background: @light-blue;
	& > div:first-child {
		margin-top: 12px;
	}
	h3 {
		margin-top: 0;
	}
    .external_logins {
    margin: 10px 0 15px;
    }

    button.loginRegister{
        .form-control;
        .btn;
        .btn-primary;

        &.registering {
            .btn-success;
        }
    }

    input#login-name.username_exists,
    input#login-password.no-password {
        border-color: @brand-danger;
    }

    #username_warning,
    #password_warning {
        color: @brand-danger;
        margin: -10px 0 10px;
        text-align: left;
    }
}
