.loading-row,
.loading-page {
	background: $body-bg;
	width: 100%;
	z-index: 1029;
}

.loading-row img,
.loading-page img {
	height: 1.2em;
	vertical-align: -.3em;
}

.loading-row .fa,
.loading-page .fa {
	color: $green;
}

.loading-page {
	padding-top: 10% 5px 5px;
}

.loading-page h1 {
	text-align: center;
}

.loading-row {
	padding: 15px 5px;
	position: static;
}

.loading-row h1 {
	font-size: large;
}
