.frame-calendar-date {
	@include make-row;
	background: lighten($orange, 25%);
	border-color: $orange;
	border-style: solid;
	border-width: 10px 0 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	font-size: large;
	padding: 5px 7px 5px 9px;
	text-align: center;
	@media (min-width: $screen-xxs) {
		border-width: 0 0 0 10px;
		width: 100px;
	}
}

.frame-calendar-date-events {
  @include clearfix;
	margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 2) * -1);
	padding: 10px 0;
	width: auto;
	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 8) * -1);
	}
}

.frame-calendar-no-events {
  text-align: center;
}
