.frame-calendar-event-time {
	font-weight: normal;
	@include td-margin(right, 10px);
}

.frame-calendar-event-region {
	font-size: .8em;
	margin-left: 5px;
}

.frame-calendar-event-label {
	@include td-make-xs-column(4);
	font-weight: bold;

	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(2);
	}
}

.frame-calendar-event-content {
	@include td-make-xs-column(8);

	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(10);
	}
}

.frame-calendar-event-description > .frame-calendar-event-label,
.frame-calendar-event-description > .frame-calendar-event-content {
	@media (max-width: $screen-xs) {
		@include make-xs-column(12);
	}
}
