.frame-calendar-event {
	background-color: $blue-lighter;
}

.frame-calendar-event + .frame-calendar-event {
	margin-top: 10px;
}

.frame-calendar-event-header {
	font-weight: bold;
	margin: 0;
	padding: 10px;
	transition: background-color $default-transition-time;

	&:hover,
	&.active {
		background-color: rgba(0, 0, 0, 0.03);
	}

	&:hover {
		cursor: pointer;
	}
}

.frame-calendar-event-time {
	font-weight: normal;
	@include td-margin(right, 10px);
}

.frame-calendar-event-body {
	display: none;
	padding: 10px;
}

.frame-calendar-event-property {
	@include make-row;
}

.frame-calendar-event-property .description {
	@include td-make-xs-column(4);
	font-weight: bold;

	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(2);
	}
}

.frame-calendar-event-property .content {
	@include td-make-xs-column(8);

	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(10);
	}
}

.frame-calendar-event-links {
	@include clearfix;
	margin-top: 15px;
	@include td-text-align(right);
}

.frame-calendar-event-links > a:hover {
	cursor: pointer;
}

.frame-calendar-event-links > a + a {
	@include td-margin(left, 10px);
}
