<template name="frameCalendar">
	<div class="frame-events-fluid">
		{{#each this}}
			{{#with date}}
				<div class="calendar-date">
					{{calendarDay this}}
				</div>
			{{/with}}
			<div class="frame-calendar-date-events">
				{{#if hasDayEvents}}
					{{> eventList dataEvents=dayEvents withDate=false}}
				{{else}}
					<div class="frame-calendar-no-events">
						{{mf 'frameCalendar.nothingOnThisDay' "Relax, nothing happening today."}}
					</div>
				{{/if}}
			</div>
		{{/each}}
	</div>
	{{> tooltips}}
</template>
