<template name="frameCalendar">
	<style type="text/css">
		{{#each cssRules}}
			{{selector}} { {{name}}: {{value}}; }
		{{/each}}
	</style>

	{{#if ready}}
		{{#each day in days}}
			<h4 class="list-style-title">{{day}}</h4>
			{{#each event in (eventsOn day)}}
				{{> frameCalendarEvent event}}
			{{/each}}
		{{/each}}
	{{else}}
		{{> loadingRow}}
	{{/if}}
</template>

<template name="frameCalendarEvent">
	<div class="list-style-item">
		<h4 class="list-style-item-header js-toggle-event-details">
			<span class="frame-calendar-event-time">
				{{timeformat start}}
			</span>
			{{title}}
			{{#if allRegions}}
				<span class="badge frame-calendar-event-region">{{regionName}}</span>
			{{/if}}
		</h4>
		{{#if expanded}}
			<div class="list-style-item-body">
				<div class="list-style-item-property">
					<div class="frame-calendar-event-label">
						{{mf 'frame.eventsList.when' 'When:'}}
					</div>
					<div class="frame-calendar-event-content">
						{{timeformat start}}
						 - {{timeformat end}}
					</div>
				</div>
				<div class="list-style-item-property">
					<div class="frame-calendar-event-label">
						{{mf 'frame.eventsList.where' 'Where:'}}
					</div>
					<div class="frame-calendar-event-content">
						{{#if venue._id}}
							<a href="{{pathFor 'venueDetails' _id=venue._id}}"
							   target="_blank">
								{{venue.name}}
							</a>
						{{else}}
							{{venue.name}}
						{{/if}}
						{{#if room}}
							 - {{room}}
						{{/if}}
					</div>
				</div>
				<div class="list-style-item-property frame-calendar-event-description">
					<div class="frame-calendar-event-label">
						{{mf 'frame.eventsList.description' 'Description:'}}
					</div>
					<div class="frame-calendar-event-content">
						{{{description}}}
					</div>
				</div>
				<div class="list-style-item-links">
					<a href="{{pathFor 'showEvent'}}" target="_blank">
						<i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i>
						{{mf 'frame.eventsList.showMore' 'show more'}}
					</a>
					<a href="{{pathFor 'calEvent' this}}" class="js-download">
						<i
							aria-hidden="true"
							class="fa fa-download fa-fw"
							title="{{mf 'frame.eventsList.download_cal' 'download event to my calendar'}}">
						</i>
					</a>
				</div>
			</div>
		{{/if}}
	</div>
</template>
