html,
body
	height: 100%

#wrap
	margin: 0px auto (0 - $footer-height)
	min-height: 100%

#outer
	padding-top: $navbar-height

.footer,
.push
	height: $footer-height

#maincontent
	padding: 25px 0px 50px 0px
	& > *:first-child
		margin-top: 0px
		padding-top: 0px
