<template name="about">
  <h1>About</h1>
  <h6>Disclaimer</h6>


<marquee width = "540" bgcolor = "FFFFFF" direction="right" scrollamount="10" scrolldelay="1"  behavior="alternate">
Achtung:
</marquee>
<br/>
Dies ist nur eine <b>Testseite</b>, um den aktuellen Stand unseres Projekts zu zeigen.<br/>
<br/>
Wir übernehmen keinerlei Verantwortung für eingegebene Daten. <br/>
Weder, dass sie erhalten bleiben, noch, dass sie vor Einsicht geschützt sind.<br/>
Im Gegenteil: die Daten liegen offen auf fremden Servern, <br/>
und wir werden durch Veränderungen am Code sicher Daten löschen.<br/> 
Ausversehen oder auch extra.<br/>
<br/>
Forke uns auf <a href="https://github.com/schuel/hmmm/fork">GitHub</a>

</template>