<head>
  <title>Course Board (restructured)</title>
</head>

<body>

  <div id="mainmenu">
    {{> mainmenu}}
  </div>
  <div id="outer">
    {{> maincontent}}
  </div>
  <div id="login">            
    {{loginButtons align="right"}}
  </div>
</body>


<template name="mainmenu">

<a href="/">Home</a>
<a href="/courselist/">Kursliste</a>
<a href="/page/warum">Warum</a>
<a href="/page/darum">Darum</a>
<a href="/page/links">Funny Links</a>
<a href="/profile/">Mein Profil</a>
</template>


<template name="maincontent">

  <div id="maincontent">

{{#route_is "home"}}
    home boy
{{/route_is}}

{{#route_is "courselist"}}
	{{> courselist}}
{{/route_is}}

{{#route_is "coursedetails"}}
	{{> coursedetails}}
{{/route_is}}
     
{{#route_is "about"}}
         aboutttt
{{/route_is}}

{{#route_is "warum"}}
         waruum
{{/route_is}}

{{#route_is "darum"}}
         daruum
{{/route_is}}


{{#route_is "links"}}
         yaaaah
{{/route_is}}


{{#route_is "profile"}}

	{{> profile}}
{{/route_is}}
  </div>

  </template>

<template name="courselist">
  <div class="courselist">
    <h1>Kurse</h1>

    {{#each courses}}
      {{> course}}	
    {{/each}}
    
    {{> form}}
    
  </div>
</template>
  
<template name="course">
  <div class="course {{selected}} {{hoveredString}}">
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
    <span class="small">{{time_created}}</span>
    <span class="small">{{time_changed}}</span>
    <span class="small">{{createdby}}</span>
  </div>
</template>

<template name="coursedetails">

  <div id="coursedetails">
  {{#if selected_name}}
    <h2 class="name">{{selected_name.name}}</h2>

    
    <input type="button" class="inc" value="Add one interest" />
    
    {{#if isEditing}}
      <textarea cols="70" rows="10" id="editform_description" name="editform_description">{{selected_name.desc}}</textarea>
      Tags: <input type="text" id="editform_tags" value="{{selected_name.tags}}"/>
      <input type="button" class="save" value="Save" />
    {{/if}}
    
    {{#unless isEditing}}
        <p class="descr">{{selected_name.desc}}</p>
        <p class="tags"> Created: {{selected_name.time_created}}</p>
        <p class="tags"> Created by: {{selected_name.createdby}}</p>
       
        <p class="tags"> Tags: <a href="#">{{selected_name.tags}}</a></p>
         <p class="score"> Score: <a href="#">{{selected_name.score}}</a></p>
        <input type="button" class="edit" value="Edit" />
    {{/unless}}

    <input type="button" class="del" value="Zensur! Delete this Course" />


  {{/if}}
  
  
  {{#unless selected_name}}
    <p>Click a Course to select</p>
  {{/unless}}
  


  </div>
  
</template>

<template name="profile">

  <div id="profile">
    <h2 class="name">mein profil</h2>

    
    
    {{#if isEditing}}

        <p class="descr">ID: {{userdata.id}}</p>
        <p>Username: <input type="text" id="editform_username" value="{{userdata.username}}"/></p>
        <p> Email: <input type="text" id="editform_email" value="{{userdata.email}}"/></p>
        <p> Neues Passwort (optional):: <input type="password" id="editform_newpassword" value=""/></p>
      <input type="button" class="save" value="Save" />
    {{/if}}
    
    {{#unless isEditing}}
        <p class="descr">ID: {{userdata.id}}</p>
        <p class="descr">Username: {{userdata.username}}</p>
        <p class="descr">Email: {{userdata.email}}</p>
        
         
         <input type="button" class="edit" value="Edit" />
    {{/unless}}

    

  </div>
  
</template>


<template name="form">
    
    <form>
    <h3>Add new</h3>
    <table>
        <tr>
            <th>Name: </th><td><input type="text" name="addform_name"/> </td>
        </tr>
        <tr>
            <th>Description: </th><td><textarea cols="30" rows="10" name="addform_description"></textarea> </td>
        </tr>
        <tr>
            <th></th><td><input type="button" class="add" value="Add new" /> </td>
        </tr>

    </table>
    </form>
</template>

<template name="jokes">

  <div id="jokes">
this is joke pagesdfsdf
  </div>
  
</template>

<template name="chat">
  <div id="chat">
    
      {{#if isShowingChat}}
        <input id="hide" type="button" value="Hide chat" />
        <input id="deleteChat" type="button" value="Clear chat" />


        <h2>Chat</h2>
        <table>
        <tr><th>Name: </th>
        <td>
        {{#if chatName}}
        
                {{#if isEditingChatName}}
                    <input id="chatName" value="{{chatName}}" />
                {{/if}}
                {{#unless isEditingChatName}}
                    <span id="editName">{{chatName}}</span>
                {{/unless}}
        {{/if}}
        
        {{#unless chatName}}
            <input id="chatName" />
        {{/unless}}
        </td>
        
        <tr>
            <th>Message: </th>
            <td><input id="message" /></td>
        </tr>
        <tr><th></th>
            <td><input id="send" type="button" value="Send" /></td>
        </tr>
        </table>
    
        <table>
        {{#each messages}}
          {{> message }}
        {{/each}}
        </table>
      {{/if}}
      
      {{#unless isShowingChat}}
          <input id="hide" type="button" value="Show chat" />
      {{/unless}}
      
  </div>
</template>


<template name="message">
  <tr><th title="{{sent}}">{{name}}:</th> <td>{{text}}</td></tr>
</template>


