//This sheet contains site-wide used resets & styles

#outer {
	padding-top: 50px;
	&.testWarning{
		padding-top: 70px;
	}
}

html,
body {
	height: 100%;
}

#maincontent {
	padding: 25px 0 50px 0;

	&> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}

	@media @mobile {
		.find {
			margin-top: -20px;
		}
	}
}

* {
	border-radius: 0 !important;
	outline: none !important;
}

h1 {
	color: @brand-primary;
}

.dropdown-menu {
	.box-shadow-small(@default-shadow);
	min-width: 0;
	width: auto;

	li {
		cursor: pointer;
	}
}

.tooltip {
	font-size: @font-size-base;
	white-space: nowrap;

	&-inner {
		// .box-shadow-small(@default-shadow);
		max-width: none;
	}
}

ul.nav-tabs {
	li {
		a {
			color: @default-black;

			&:hover {
				color: @body-bg;
			}
		}
	}
}

label {
	display: block;
}

span.glyphicon-ok {
	color: darken(@brand-success, 20%) !important;
}

select {
	.form-control-humble;
	color: @default-black;

	&:hover {
		cursor: pointer;
	}

	&:-moz-focusring {
		color: @default-transparent; // Hack to make outline in Firefox disappear
		text-shadow: 0 0 0 @default-shadow;
	}
}

.elevate_child {
	.transition(box-shadow 0.5s) !important;
	box-shadow: none !important;
}
