<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<noscript>
		<div class="container-sm noscript">
			<img src="/logo/openki.png" alt="Openki logo">
			<h2>Please enable javascript</h2>
		</div>
	</noscript>
</head>

<template name="layout">
	<div id="wrap">
		<div id="topBar">
			{{> navbar}}
		</div>
		<div id="outer" class={{testWarningClass}}>
			{{#if shownIntro}}
				{{> introduction}}
			{{/if}}

			<div id="maincontent">
			{{#if translate}}
				{{> translateInfo}}
				{{#if mayTranslate}}
					{{> yield}}
				{{else}}
					<h3>{{mf "main.translate.pleaseLogin" "Please log-in to edit translations"}}</h3>
				{{/if}}
			{{else}}
				{{> yield}}
				{{> messages}}
			{{/if}}
			</div>
		</div>
		<div class="push"></div>
	</div>
	{{> kioskLink}}
	{{> tooltips}}
	{{> footer}}
</template>

<template name="lang_sel">
	<a class="navbar-link dropdown-toggle"
		aria-expanded="false"
		data-toggle="dropdown"
		href="#"
		role="button">
		<span class="fa fa-language fa-fw" aria-hidden="true"></span>
		{{short}}
		<div class="nav-marker-caret"></div>
		<div class="nav-marker-bar"></div>
	</a>

	<ul class="dropdown-menu" role="menu">
		{{#each lgs}}
			<li>
				<a href="#" class="langselect js-nav-dropdown-close">
					{{name}}
					{{#if currentLanguage}}
						<span class="checkmark glyphicon glyphicon-ok"></span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>
