<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<noscript>
		<div class="container-sm noscript">
			<img src="/logo/openki.png" alt="Openki logo">
			<h2>Please enable javascript</h2>
		</div>
	</noscript>
</head>

<template name="layout">
	{{#if showRegionSplash}}
		{{> regionsSplash}}
	{{/if}}
	{{> registerModal}}
	<div id="wrap">
		<div id="topBar">
			{{> navbar}}
		</div>
		<div id="outer" class="{{#if testWarning}}test-warning{{/if}}">
			{{#if shownIntro}}
				{{> introduction}}
			{{/if}}

			<div id="maincontent">
			{{#if translate}}
				{{> translateInfo}}
				{{#if mayTranslate}}
					{{> yield}}
				{{else}}
					<h3>{{mf "main.translate.pleaseLogin" "Please log-in to edit translations"}}</h3>
				{{/if}}
			{{else}}
				{{> yield}}
				{{> messages}}
			{{/if}}
			</div>
		</div>
		<div class="push"></div>
	</div>
	{{> kioskLink}}
	{{> tooltips}}
	{{> footer}}
</template>
