.group-details .editable {
	background-color: none;
}

.group-details-header {
	@include clearfix;
	background-color: darken($group-bg, 20%);
	font-size: x-large;
	padding-top: 0;

	&.has-logo,
	&.is-editable {
		padding-top: 10px;
	}
}

.group-details-titlebar {
	background-color: darken($group-bg, 20%);
	padding: 10px 15px 0;
}

.titlebar-btn {
	@extend .close;
	font-size: 18px;

	& + & {
		margin-right: 5px;
	}
}

.group-details-logo > img {
	@include td-margin(right, 5px);
	width: 50px;
	vertical-align: middle;
}

.group-details-logo,
.group-details-name,
.group-details-short {
	display: inline-block;
}

.group-details-body {
	background: lighten($group-bg, 10%);
}

.group-details-claim {
	font-size: large;
}

.group-details-description {
	height: auto;

	&.is-editable {
		min-height: 100px;
	}
}

.group-details-description > p {
	margin: 0;
}

.group-details-claim + .group-details-description {
	margin-top: 10px;
}
