.kiosk-header {
	h1 {
		margin: 0;
		padding-bottom: 15px;
		.dropdown-toggle {
			font-size: large;
			padding-left: 30px;
			&:focus {
				text-decoration: none;
			}
		}
		.dropdown-menu {
			left: 150px;
			z-index: 1030;
		}
	}
}

.kiosk {
	margin-top: 25px;
	.kioskEvent {
		@include make-xs-column(6);
		@include make-md-column(2.4);
		height: 230px;
		padding: 7px;
		.future {
			height: 150px;
		}
	}
	.future {
		height: 165px;
	}
	.kiosk_events_container {
		@include make-xs-column(12);
		padding-bottom: 0;
		.kiosk_events_title {
			@include make-xs-column(12);
			padding: 0;
		}
		.kiosk_events {
			@include make-xs-column(12);
			margin-left: -6px;
			padding: 0;
		}
	}
	h3 {
		margin-top: 5px;
	}
	hr {
		margin-bottom: 5px;
	}
	a {
		.calendar_event {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(3);
			padding: 0;
			.statingIn {
				background-color: rgba(255, 255, 255, .8);
				padding-left: 8px;
			}
			.course_event_desc > p {
				max-height: 60px;
			}
			.kiosk_event_header {
				@include make-xs-column(12);
				background: $brand-success;
				border-bottom: 3px solid $body-bg;
				color: $gray-base;
				font-size: large;
				padding-bottom: 10px;
				padding-top: 10px;
				.kiosk_event_date {
					@include make-xs-column(6);
					padding: 0;
				}
				.kiosk_event_home {
					@include make-xs-column(6);
					padding: 0;
					text-align: right;
					.glyphicon {
						padding-right: 5px;
					}
				}
			}
			.course_event_title {
				@include make-xs-column(12);
				& > h3 {
					color: $gray-base;
					margin-top: 15px;
				}
			}
			.course_event_desc {
				@include make-xs-column(12);
			}
		}
		&:hover {
			text-decoration: none;
			.calendar_event > .course_event_desc {
				color: $brand-primary;
			}
		}
		& > .calendar_event {
			background: $openki-blue-lighter;
			height: 216px;
			overflow: hidden;
			width: 100%;
		}
	}
	.kiosk_events_ongoing_container {
		@include make-xs-column(12);
		height: 250px;
		overflow: hidden;
		h3 {
			margin-top: 0;
		}
		.kiosk_events_ongoing_title {
			@include make-xs-column(6);
			@include make-sm-column(12);
			padding: 0;
		}
		.kiosk_events_ongoing {
			@include make-xs-column(12);
			margin-left: -6px;
			padding: 0;
			.kioskEvent {
				@include make-xs-column(4);
				@include make-sm-column(2);
				height: 200px;
				margin-bottom: 10px;
				padding: 7px;
			}
			.calendar_event {
				background: rgba(250, 150, 0, .3);
				height: 200px;
			}
			.kiosk_event_header {
				background: rgba(200, 250, 0, .2);
				.kiosk_event_date {
					@include make-xs-column(12);
					border: 1px solid $body-bg;
					border-radius: 1px !important;
					padding-top: 8px;
				}
				.kiosk_event_home {
					@include make-xs-column(12);
					padding: 0 !important;
					text-align: left;
					span.glyphicon {
						padding-right: 2px;
					}
				}
			}
			.course_event_title h3 {
				margin: 10px 0;
			}
		}
	}
	.kiosk_event_header {
		font-size: 16px !important;
	}
	.kiosk_slim {
		background: $brand-success;
		border: 5px solid $body-bg;
		display: inline-block;
		overflow: hidden;
	}
}
