//== Kiosk
//----------------------------------------
.kiosk {
	margin: 25px 0;
}

//== Logo
//----------------------------------------
.kiosk-logo {
	line-height: $line-height-base;
	margin-right: 15px;
	vertical-align: text-bottom;
}

.kiosk-logo-group {
	width: 60px;
}

.kiosk-logo-openki {
	width: 50px;
}

//== Heading
//----------------------------------------
.kiosk-heading {
	line-height: $line-height-base;
	display: inline-block;
	font-size: $font-size-h1;
	margin: 0 15px 0 0;
	padding-bottom: 15px;
}

//== Region selection
//----------------------------------------
.kiosk-region-selection {
	line-height: $line-height-base;
	display: inline-block;
}

.kiosk-region-selection > .dropdown-menu {
	margin-top: 10px;
}

//== Clock
//----------------------------------------
.kiosk-clock {
	line-height: $line-height-base;
	float: right;
}

.kiosk-clock-time {
	font-size: $font-size-h2;
}

.kiosk-clock-date {
	font-size: $font-size-h4;
	margin-left: 5px;
}
