//== Kiosk
//----------------------------------------
.kiosk {
	margin: 25px 0;
}

//== Logo
//----------------------------------------
.kiosk-logo {
	line-height: $line-height-base;
	@include td-margin(right, 15px);
	vertical-align: text-bottom;
}

.kiosk-logo-group {
	width: 60px;
}

.kiosk-logo-openki {
	width: 50px;
}

//== Heading
//----------------------------------------
.kiosk-heading {
	line-height: $line-height-base;
	display: inline-block;
	font-size: $font-size-h1;
	@include td-margin-all(0, 15px, 0, 0);
	padding-bottom: 15px;
}

//== Region selection
//----------------------------------------
.kiosk-language-selection {
	line-height: $line-height-base;
	display: inline-block;
}

.kiosk-language-selection > li {
	list-style: none;
}

.kiosk-language-selection > li > .fa {
	color: $blue;
}

.kiosk-language-selection > li > .dropdown-menu {
	@include td-pos(left, auto);
	@include td-pos(right, 0);
}

//== Clock
//----------------------------------------
.kiosk-moment {
	@include td-float(right);
	line-height: $line-height-base;
}

.kiosk-moment-time {
	font-size: $font-size-h2;
}

.kiosk-moment-date {
	font-size: $font-size-h4;
	@include td-margin(left, 5px);
}
