<template name="kioskLayout">
	{{> yield}}
</template>

	<template name="kioskEvents">
	<div class="calendar">
		<h1>openki.nachhaltigkeitswoche.ch</h1>
		<ul class="calendar_eventlist">
			{{#each this}}
				{{> kioskEvent}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="kioskEvent">
	<a href="{{pathFor 'showEvent'}}">
	<div class="calendar_event" style='overflow: hidden'>
		<p class="course_event_date">
			<span class="icon-mini_date"></span> {{dateformat_fromnow startdate}} 
		</p>
		<p class="course_event_time">
			<span class="icon-clock"></span> {{timeformat startdate}} - {{timeformat enddate}} &nbsp;&nbsp;&nbsp; {{this.location}}, {{this.room}}
		</p>
		<p class="course_event_title">{{this.title}}</p>
		<p class="course_event_desc">{{this.description}}</p>
	</div>
	</a>
</template>

