<template name="kioskLayout">
	{{> yield}}
</template>

<template name="kioskEvents">
	<div class="kiosk container-fluid">
		<div class="page-component">
			<div class="kiosk-heading">
				{{#if filter.group}}
					<a href="/find?group={{filter.group}}">
						{{#if groupLogo filter.group}}
							<img src="{{groupLogo filter.group}}" class="kiosk-logo kiosk-logo-group">
						{{/if}}
						{{groupShort filter.group}}
					</a>
				{{else}}
					{{#if filter.location}}
						<a href="/venue/{{filter.location}}">{{filter.location}}</a>
					{{else}}
						<a href="{{pathFor 'home'}}">
							<img src="/logo/openki.png" class="kiosk-logo kiosk-logo-openki">
							Openki
						</a>
					{{/if}}
				{{/if}}
			</div>
			<div class="kiosk-language-selection">
				{{> languageSelectionWrap}}
			</div>
			<div class="kiosk-moment">
				<span class="kiosk-moment-time">{{showTime}}</span>
				<span class="kiosk-moment-date">{{showDate}}</span>
			</div>
		</div>

		{{#if now.count}}
			<div class="page-component">
				<h3>{{mf 'kiosk.ongoing' '{NUM, plural, one {One ongoing event:} other {# ongoing events:} }' NUM=now.count}}</h3>
				{{> kioskEventList dataEvents=now timePeriod="ongoing"}}
			</div>
		{{/if}}

		{{#if today.count}}
			<div class="page-component page-component-seperated">
				<h3>{{mf 'kiosk.today' '{NUM, plural, one {One event} other {# events} } later today:' NUM=today.count}}</h3>
				{{> kioskEventList dataEvents=today timePeriod="today"}}
			</div>
		{{/if}}

		{{#if future.count}}
			<div class="page-component page-component-seperated">
				<h3>{{mf 'kiosk.future' 'Future events:' NUM=future.count}}</h3>
				{{> kioskEventList dataEvents=future timePeriod="upcoming"}}
			</div>
		{{else}}
			<h3>{{mf 'kiosk.noFutureEvents' 'There are no future events'}}</h3>
		{{/if}}
	</div>
</template>
