.kioskTimetable {
	.grid(12);
	margin-top: 5px;
	overflow: hidden;

	:hover {
		text-decoration: none;
	}

	.times {
		margin-left: 12em;

		div {
			height: 2em;
			margin-bottom: 2px;
			position: relative;
			//font-weight: bold;

			&.hour{
				height: 10000px;
			}

			div {
				position: absolute;
				text-align: center;
				border: solid;
				border-color: #f5f5f5; // or darken(@brand-success, 80%) ?
				border-width: 3px 0px 0px 0.5px;
				div {
					position: absolute;
					//width: inherit;
					border: solid;
					border-color: #f5f5f5;
					margin-left: -2.5px;
					border-width: 3px 0px 0px 3px;
					height: 0.6em;
				}
			}
		}
	}

	.timeLines {
		z-index: 0;
		border-top: 2px solid #ddd;
		position: relative;
		&:hover {
			z-index: 1;
		}

		.locationName {
			position: absolute;
			left: -1em;
			padding: 0 1em;
			width: 12em;
			text-align: left;
		}

		.rows {
			position: relative;
			height: 45px;
			margin-left: 12em;
			&:hover {
				z-index: 1;
			}

			.event {
				position: absolute;
				margin: 0.1em;
				color: black;
				&:hover {
					z-index: 1;
				}

				.title {
					background-color: @brand-success;
					height: 43px;
					padding: 4px 12px;
					line-height: 1.2em;
					font-size: 28px;
					overflow: hidden;
					&:hover {
						height: 70px;
						min-width: 200px;
						box-shadow: 0px 5px 8px @default-shadow;
					}
				}

				.time {
					padding:0px 6px;
					display: none;
					position: absolute;
					top: -20px;
					background-color: #eee;
					height: 1.4em;
					overflow: hidden;
				}

				.description {
					display: none;
					height: 12em;
					background-color: @brand-bg;
					padding: 4px 8px;
					overflow: hidden;
				}

				.title:hover ~ .time,
				.title:hover ~ .description {
					display: block;
					z-index: 1;
					box-shadow: 0px 5px 8px @default-shadow;
				}

				.title:hover ~ .description {
					min-width: 200px;
				}
			}
		}
	}
}
