.kiosk {
	.times {
		margin-left: 15em;

		div {
			height: 1.5em;
			position: relative;
			div {
				position: absolute;
				text-align: center;
				border: 1px solid white;
				background-color: gray;
			}
		}
	}

	.locations {
		margin-left: 15em;
		position: relative;
		border-top: 2px solid gray;

		.locationName {
			position: absolute;
			left: -15em;
			padding: 0 1em;
			width: 15em;
			text-align: right;
		}

		.rows {
			height: 3em;

			.event {
				background-color: #aaa;
				position: absolute;
				height: 3em;
				margin: 0.1em;
				overflow: hidden;
			}
		}


	}
}