<template name="form">
    <div class="create_course">
    <form>
    <h3>Add new</h3>
    <table>
        <tr>
            <th>Name: </th><td><input type="text" name="addform_name"/> </td>
        </tr>
        <tr>
            <th>Description: </th><td><textarea cols="30" rows="10" name="addform_description"></textarea> </td>
        </tr>
        <tr>
            <th></th><td><input type="button" class="add" value="Add new" /> </td>
        </tr>

    </table>
    </form>
    </div>
</template>