<template name="coursepage">
	<div class="coursepage">
		<h1>CourseList</h1>
		<div class="list_small">
			<h3>Courses missing organisator(-team)</h3>
			{{> courselist missing_organisator}}
		</div>
		<div class="list_small">
			<h3>Courses that are still looking for participants</h3>
			{{> courselist missing_subscribers}}
		</div>
		<h1>All courses</h1>
		{{> courselist all_courses}}
	</div>
	{{> course_create}}
</template>


<template name="courselist">
	<ul class="courselist">
		{{#each this}}
			{{> course}}
		{{else}}
			keine Kurse
		{{/each}}
	</ul>
</template>

<template name="course">
	<li class="courselist_course">
		<a href="{{pathFor 'showCourse'}}">
			<div class="courselist_course_text {{coursestate}}">
				<div class="course_name">{{name}}</div>
			
				<div class="course_categories">{{> show_categories}}</div>

	
				<span class="smalldesc">
					{{#if course_events}}
					Events:

					{{/if}}
				</span>
				
			</div>

			<div class="courselist_course_info">
				{{#if hasupcomingevents}}
					<ul class="course_eventlist">
						{{#each course_eventlist}}
							<li>
								<div class="course_eventlist_date">
									<span class="icon-mini_date"></span> {{dateformat_mini this.startdate}}
								</div>
								<div class="course_eventlist_time">
									{{timeformat this.startdate}}
								</div>

								<div class="course_eventlist_location">
									<span class="icon-mini_location"></span> Ortsmuseum Luegis...
								</div>
							</li>
						{{/each}}

						{{#if course_eventlist_hasmore}}
							<li class="course_eventlist_hasmore">+ {{course_eventlist_hasmore}} <span class="icon-mini_date"></span> </li>
						{{/if}}
					</ul>
				{{else}}
					<ul class="course_status">
							<li class="team_status {{#if needsTeam}}no{{else}}yes{{/if}}" title="{{#if needsTeam}}needs an organisator{{else}}{{#if is_team}} you are organisator{{else}}has a organisator-team{{/if}}{{/if}}">T{{#if is_team}}*{{/if}}</li>
						{{#if requiresMentor}}
							<li class="mentor_status {{#if needsMentor}}no{{else}}yes{{/if}}" title="{{#if needsMentor}}still needs a mentor{{else}}{{#if is_mentor}}you are mentor{{else}}has a mentor{{/if}}{{/if}}">M{{#if is_mentor}}*{{/if}}</li>
						{{/if}}
						{{#if requiresHost}}
							<li class="host_status {{#if needsHost}}no{{else}}yes{{/if}}" title="{{#if needsHost}}still needs a host{{else}}{{#if is_host}}you are host{{else}}has a host{{/if}}{{/if}}">H{{#if is_host}}*{{/if}}</li>
						{{/if}}
						{{#if roles.donator}}
							<li class="donator_status {{donator_status}}" title="{{#if isYes donator_status}}{{#if is_donator}}you are donator{{else}}has a donator{{/if}}{{else}}still needs a donator{{/if}}">H{{#if is_donator}}*{{/if}}</li>
						{{/if}}
						{{#if roles.cook}}
							<li class="cook_status {{cook_status}}" title="{{#if isYes cook_status}}{{#if is_cook}}you are cook{{else}}has a cook{{/if}}{{else}}still needs a cook{{/if}}">H{{#if is_cook}}*{{/if}}</li>
						{{/if}}
					</ul>
				{{/if}}
			</div>
		</a>
	</li>
</template>