<template name="categorylist">

  <div class="courselist">
  	<h1>Kategorien</h1>
    {{#each categories}}
        {{> category}}
    {{else}}
        keine Kategorien definiert!
    {{/each}}

    {{> course_category}}

  </div>
</template>

<template name="category">
  <div class="categorylist">
    <p class="name">{{name}}:</p>
      <p class="smalldesc">

      	 
	        <span class="small">{{#each courses_by_category}}{{> course_by_category}}{{else}}
	        keine Kurse in dieser Kategorie definiert!
	    {{/each}}</span>
	    

     </p>
    </div>
</template>

<template name="course_by_category">
      {{name}}<br />
</template>

<template name="course_category">
    <div class="create_category">
    <form>
    <h3>Neue Kategorie</h3>
    <table>
        <tr>
            <th>Name: </th><td><input type="text" id="addform_name"/> </td>
        </tr>
        <tr>
            <th></th><td><input type="button" class="add" value="Add new" /> </td>
        </tr>

    </table>
    </form>
    </div>
</template>