<template name="postDialog">
      {{#if showPostDialog}}
	{{> write_post}}
      {{/if}}
</template>
    
<template name="write_post">
  <div class="popup">
    <h3>write comment</h3>
      <form name="form_post">
        <input type="text" id="post_title" /><br />
        <textarea cols="70" rows="5" id="post_text" /></textarea><br /><br />
        <input type="button" class="add" value="write!" /><input type="button" class="cancel" value="cancel" />
      </form>
  </div>
</template>

<template name="discussion">
  <h3>discussion</h3>
  <input type ="button" class="showDialog" value="write Comment" />
  {{#each post}}
      {{#if parent_ID}}
	    <div class="answer">
		  <h4>{{title}}</h4>
		  <p>{{text}}</p>
		  <p>Zeit: {{time_created}}, User: {{user_ID}}, Kurs: {{course_ID}}</p>
	    </div>
      {{else}}
	    <div class="message">
		  <h4>{{title}}</h4>
		  <p>{{text}}</p>
		  <p>Zeit: {{time_created}}, User: {{user_ID}}, Kurs: {{course_ID}}</p>
		  <form>
		  <input type="button" class="answer" value="answer this!" />
		  </form>
	    </div>
      {{/if}}
  {{/each}}
</template>