<template name="coursedetails">

  <div id="coursedetails">

    {{#if isEditing}}
		{{>course_edit}}
    {{/if}}

<!-- copied from example... could be set in tamplatecontroller write into this. nicht global in session ->variable in tamplate -->

    {{#unless isEditing}}
    <div class="course_main">
     <h2 class="name">{{name}}</h2>
     <p class="small"> Time Created: {{dateformat time_created}},  Created by: {{username createdby}}, {{> show_categories}}</p>
     <p class="descr">{{description}}</p>

     <input type="button" class="edit" value="Edit" />
     <input type="button" class="del" value="Delete" />
     </div>
    {{/unless}}
    
    <div class="participants">
		<h3>Participants</h3>
		{{#each roleDetails roles}}
			{{> roleDetails}}
		{{/each}}
    </div>

    <p class="score"> Score: <a href="#">{{score}}</a>        <input type="button" class="inc" value="Hochzaehlen" /></p>

      {{> votelists}}
    {{> postDialog}}
    {{> discussion}}

  </div>
</template>

<template name="roleDetails">
	<div class="roleDetails role_{{roletype.type}}">
	{{#if role.subscribed}}
		<div class="subscribers">
		{{#if roletype.show_subscribers}}
			<ul>
				{{#each role.subscribed}}<li>{{username this}}</li> {{/each}}
			</ul>
			{{roletype.description}}
		{{else}}
			{{role.subscribed.length}} {{roletype.description}}
		{{/if}}
		</div>
	{{/if}}
	<div class="subscribe">
	{{#if subscribed}}
		<span class='subscribed'>you are subscribed <input type="button" class="unsubscribe" name="{{roletype.type}}" value="retract" /></span>
	{{else}}
		<input type="button" class="subscribe" name="participant" value="{{roletype.subscribe}}" />
	{{/if}}
	</div>
</template>

