<template name="categorylist">

  <div class="courselist">
  	<h1>Kategorien</h1>
    {{#each categories}}
        {{> category}}
    {{else}}
        keine Kategorien definiert!
    {{/each}}

    {{> course_category}}

  </div>
</template>

<template name="category">
  <div class="categorylist">
    <p class="name {{#unless courses_by_category.count}} no_courses_cat {{/unless}}">{{name}}:</p>
      <p>
	        <span class="smalldesc">
          {{#each courses_by_category}}{{> course_by_category}}</span>
              {{else}} <span class='smalldesc_no_course'> keine Kurse in dieser Kategorie definiert! </span>
          {{/each}}
     </p>
    </div>
</template>

<template name="course_by_category">
      {{name}}<br />
</template>

<template name="course_category">
    <div class="create_category">
    <form>
    <h3>Neue Kategorie</h3>
    <table>
        <tr>
            <th>Name: </th><td><input type="text" id="addform_name"/> </td>
        </tr>
        <tr>
            <th></th><td><input type="button" class="add" value="Add new" /> </td>
        </tr>

    </table>
    </form>
    </div>
</template>