<template name="coursepage">
	<div class="container-fluid">
		<h1>{{mf 'course.list.title' 'CourseList'}}</h1>
		<div class="row container-fluid">
			<h1>{{mf 'courses.missingorg' 'Courses missing organisator(-team)'}}</h1>
			{{> courselist missing_organisator}}
		</div>
		<div class="row container-fluid">
			<h1>{{mf 'courses.missingsubs' 'Courses that are still looking for participants'}}</h1>
			{{> courselist missing_subscribers}}
		</div>
		<div class="row container-fluid">
			<h1>{{mf 'courses.all' 'All courses'}}</h1>
			{{> courselist all_courses}}
		</div>
		<div class="row container-fluid">
			{{> course_create}}
		</div>
	</div>
</template>


<template name="courselist">
	{{#each this}}
		{{> course}}
	{{else}}
		{{mf 'courses.none' 'no courses found'}}
	{{/each}}
</template>

<template name="course">
	<div class="courselist_course {{coursestate}} col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<a href="{{pathFor 'showCourse'}}">
			<div class="{{coursestate}} col-xs-9 col-sm-9 col-md-9 col-lg-9 no-padding">
				<div class="course_name"><h4>{{name}}</h4></div>
				<div class="course_categories">{{> show_categories}}</div>
			</div>
			<div class="courselist_course_info col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
				{{#if hasupcomingevents}}
					<div class="course_eventlist_container">
					{{#each course_eventlist}}
						<div>
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{dateformat_mini this.startdate}}
						</div>
						<div>
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
							{{timeformat this.startdate}}
						</div>
						{{#if location}}
						<div>
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>{{location}}
						</div>
						{{/if}}
					{{/each}}
					{{#if course_eventlist_hasmore}}
						<div class="course_eventlist_hasmore">
							+ {{course_eventlist_hasmore}}
							<span class="icon-mini_date"></span>
						</div>
					{{/if}}
				</div>
				{{else}}
					<div class="team_status {{#if needsTeam}}no{{else}}yes{{/if}}" title="{{#if needsTeam}}needs an organizer{{else}}{{#if is_team}} you are organizer{{else}}has a organizer-team{{/if}}{{/if}}">
						T{{#if is_team}}*{{/if}}
					</div>
					{{#if requiresMentor}}
						<div class="mentor_status {{#if needsMentor}}no{{else}}yes{{/if}}" title="{{#if needsMentor}}still needs a mentor{{else}}{{#if is_mentor}}you are mentor{{else}}has a mentor{{/if}}{{/if}}">
							M{{#if is_mentor}}*{{/if}}
						</div>
					{{/if}}
					{{#if requiresHost}}
						<div class="host_status {{#if needsHost}}no{{else}}yes{{/if}}" title="{{#if needsHost}}still needs a host{{else}}{{#if is_host}}you are host{{else}}has a host{{/if}}{{/if}}">
							H{{#if is_host}}*{{/if}}
						</div>
					{{/if}}
					{{#if roles.donator}}
						<div class="donator_status {{donator_status}}" title="{{#if isYes donator_status}}{{#if is_donator}}you are donator{{else}}has a donator{{/if}}{{else}}still needs a donator{{/if}}">
							H{{#if is_donator}}*{{/if}}
						</div>
					{{/if}}
					{{#if roles.cook}}
						<div class="cook_status {{cook_status}}" title="{{#if isYes cook_status}}{{#if is_cook}}you are cook{{else}}has a cook{{/if}}{{else}}still needs a cook{{/if}}">
							H{{#if is_cook}}*{{/if}}
						</div>
					{{/if}}
				{{/if}}
			</div>
		</a>
	</div>
</template>
