.courselist_results {
  .grid(12);
  margin-left: -5px;
	padding: 0 0 20px;
	width: calc(~"100% + 10px") !important;

	.event_results {
		.grid(12, 4, inherit, 3);
		padding: 0;

		.course_event {
			margin: 8px;
			height: 200px;
		}
	}
}

.courselist_course_container{
	.grid(12, 4, 3);
	border: 5px solid @body-bg;
	border-bottom-width: 15px;
	padding: 0;

	.courselist_course {
		.grid(12);
		border: 7px dashed @light-blue;
		height: 150px;
		padding: 0;

		&:hover {
			.box-shadow;
			.transition(0.5s);
			color: @brand-primary;

			h4 {
				color: @brand-primary;
			}
		}

		&.category-focus-mode {
			box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset,
									0px 0px 0px rgba(56, 130, 156, 0.6);
		}

		&.haspastevents {
			border-style: solid;
		}

		& > a:hover {
				text-decoration: none;
		}

		h4 {
			.transition(0.5s);
			color: #333;
		}

		.course-name {
			color: #333;
			font-size: 22px;
			line-height: 24px;
			margin: 8px 0 5px;
		}

		.team_status,
		.mentor_status,
		.host_status {
			text-align: center;
		}

		.yes {
			background-color: @brand-success;
			color: #407d5c;
		}

		.no {
			background-color: @brand-danger;
			color: #751313;
		}

		.yesyou {
			background-color: @ownrole;
			color: @ownrole-color;
		}

		.course_content {
			.grid(9);
			background: @body-bg;
			padding: 0 0 0 15px;
		}
	}
}

.courselist_course,
.course_main {
	&.hasupcomingevents {
		background: @light-blue;

		.course_content {
			background: @light-blue;
		}
	}
}

.courselist_course_info {
	.grid(3);
	padding: 0;
	position: relative;
	right: -7px;
	top: -7px;
	z-index: 3;

	&> div {
		border-top: 3px solid @body-bg;

		&:first-child,
		&.tooltip {
			border-top: none;
		}
	}
}

.course_eventlist {
	.grid(12);
	background: @brand-success;
	color: #333;
	max-height: 150px;
	text-align: center;
	padding: 3px;

	.course_eventlist_time,
	.course_eventlist_date {
		.grid(12);
		padding: 0;
	}

	.course_eventlist_location {
		padding: 0 4px;
		word-wrap: break-word;
	}
}

.courselist_course_container {
	ul.categories_list {
		bottom: 0;
		margin: 0px;
		position: absolute;
		right: 0;

		li {
			float: right;
		}
	}
}

.course_groups ul.groups-list li {
	margin-bottom: 5px;
	position: relative;
	z-index: 2;
}

.courselist_course_overlay {
	.grid(12);
	padding: 0;
	height: calc(~"100% + 14px");
	left: -7px;
	position: absolute;
	top: -7px;
	width: calc(~"100% + 14px") !important;
	z-index: 1;
}
