<template name="coursepage">
  <div class="coursepage">

  <h1>Hoi zäme</h1>
  <div class="list_small">
	<h3>Kurse ohne Organisator_innen</h3>
    {{> courselist missing_organisator}}
  </div>
  <div class="list_small">
	<h3>Kurse, die noch auf Teilnehmer_innen warten</h3>
    {{> courselist missing_subscribers}}
  </div>
    <h1>Alle Kurse</h1>

    {{> courselist all_courses}}


    {{> course_create}}
</template>

<template name="courselist">
  <div class="courselist">
        {{#each this}}
            {{> course}}
        {{else}}
            keine Kurse
        {{/each}}
  </div>
</template>

<template name="course">
  <div class="courselist_course">
  <a href="{{courseURL _id name}}">
    <span class="course_name">{{name}}</span>
    <span class="course_status">
			{{#if roles.participant}}
				<span class="status {{participant_status}}" title="{{#if isYes participant_status}}has enough Participants{{else}}{{#if isOntheway participant_status}}has some participants{{else}}doesn't have enough participants{{/if}}{{/if}}">P {{roles.participant.subscribed.length}} {{#unless isNull subscribers_min}}/{{subscribers_min}} {{/unless}}{{is_subscriber}}</span>
			{{/if}}
			{{#if roles.team}}
				<span class="team_status {{team_status}}" title="{{#if isYes team_status}}has a organisator-team{{else}}needs an organisator{{/if}}">T{{is_team}}</span>
			{{/if}}
			{{#if roles.mentor}}
				<span class="mentor_status {{mentor_status}}" title="{{#if isYes mentor_status}}has a mentor{{else}}still needs a mentor{{/if}}">M{{is_mentor}}</span>
			{{/if}} 					<!-- TODO: looking for a mentor/host-->
			{{#if roles.host}}
				<span class="host_status {{host_status}}" title="{{#if isYes host_status}}has a host{{else}}still needs a host{{/if}}">H{{is_host}}</span>
			{{/if}}
    </span>
    <span class="smalldesc">
      <span class="small">{{dateformat time_created}}</span>
      <span class="small">{{username createdby}}</span>
      <span class="small">{{> show_categories}}</span>
    </span>
  </a>
  </div>
</template>