<template name="courseDetailsPage">
  <div class="container">
    <div class="row course-page g-3">
      <div class="col-lg-8">
        <div class="page-component">
          {{#if course.archived}}
            <div class="alert alert-archived text-center" role="alert">
              <strong>{{i18n 'course.archive.alert' '{COURSE} is archived and not active anymore.' COURSE=course.name}}</strong>
            </div>
          {{/if}}
          {{#if edit}}
            {{> courseEdit course}}
          {{else}}
            <div class="course-details {{courseStateClasses course}}">
              <div class="details-header" {{detailsHeaderAttr course}}>
                {{#if course.internal}}
                  {{> internalIndicator}}
                {{/if}}
                {{#if course.singleEvent}}
                  {{> singleEventIndicator}}
                {{/if}}
                <div class="details-header-tags">
                  {{#if (isProposal course)}}
                    <div class="proposal-tag">
                      <span class="fa-regular fa-lightbulb fa-fw" aria-hidden="true"></span>
                      {{i18n 'course.details.is-proposalTag' 'Proposal'}}
                    </div>
                  {{/if}}
                  {{> regionTag course}}
                </div>
                <div class="course-details-title">
                  {{#if (mayEdit course)}}
                    {{> editable instance.editableName}}
                  {{else}}
                    <h2>{{course.name}}</h2>
                  {{/if}}
                </div>
                {{#if course.categories}}
                  <div class="course-details-categories">
                    {{> courseCategories categories=course.categories}}
                  </div>
                {{/if}}
                {{> courseGroupList course=course}}
              </div>
              {{> courseDetailsSubmenu course=course}}
            </div>
            {{#unless course.isPrivate}}
              {{> sharing}}
            {{/unless}}
            {{#if (mayEdit course)}}
              <div class="actions">
                {{> buttonEdit event="js-course-edit"}}
                {{#if course.archived}}
                  {{> buttonCourseUnarchive}}
                {{/if}}
                {{#unless expanded}}
                  {{#unless course.archived}}
                    {{> buttonCourseArchive 
										buttonClass="btn-archive"
										textIdle=(i18n 'course.archive.archiveButton.archive' 'Archive')
									}}
                  {{/unless}}
                  {{> buttonDelete event="js-expand"}}
                {{/unless}}
              </div>
              {{#if expanded}}
                {{> confirmDialog hasArchiveButton=course.archived course=course}}
              {{/if}}
            {{/if}}
            {{> courseRoles course=course}}
          {{/if}}
        </div>
        {{#if mobileViewport}}
          {{> courseEvents}}
        {{else}}
          {{> discussion courseId=course._id select=select}}
        {{/if}}
      </div>
      <div class="col-lg-4">
        {{#unless mobileViewport}}
          {{> courseEvents}}
        {{/unless}}
        <div class="page-component">
          {{> courseMembers course=course}}
        </div>
        {{#if mobileViewport}}
          {{> discussion courseId=course._id select=select}}
        {{/if}}
        <div class="page-component mt-3">
          {{> report}}
        </div>
      </div>
    </div>
  </div>
</template>
