//This sheet contains site-wide used resets & styles

* {
	border-radius: 0 !important;
	outline: none !important;
}

html,body {
	height: 100%;
}

body {
	padding-top: 55px;
}

h1 {
	color: @brand-primary;
}

p {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#maincontent {
	padding: 25px 0 50px 0;

	&> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}
}

.dropdown-menu {
	width: auto;
	min-width: 0;
}

a,
button {
	.transition(0.5s) !important;
}

.form-control {
	padding: 6px 10px;
}

.tooltip {
	font-size: @font-size-base;
	&-inner {
		max-width: none;
	}

}

ul.nav-tabs {
	li {
		a {
			color: #555;
			&:hover {
				color: @body-bg;
				.transition(0.5s);
			}
		}
	}
}

label {
	display: block;
}

span.glyphicon-ok {
	color: #5CB85C;
}

.styled-select {
	width: 180px;
	height: 34px;
	overflow: hidden;
	border: 1px solid darken(@brand-primary, 5%);
	position: relative;
	background: @brand-primary;
	color: @body-bg;
	.transition(0.5s);

	&:hover {
		background: darken(@brand-primary, 10%);
		border-color: darken(@brand-primary, 17%);
	}

	select {
		background: transparent;
		width: 208px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 34px;
		padding-left: 5px;
		padding-bottom: 3px;

		option {
			padding: 3px 10px;
			background: @light-blue;
			color: #333;

			&.select_default {
				color: darken(#ccc, 30%);

				&:hover {
					background: transparent !important;
					cursor: default;
				}

				span.glyphicon {
					padding-top: 2px;
				}
			}

			&:hover {
				cursor: pointer;
			}
		}

		&:hover {
				cursor: pointer;
		}
	}

	span.caret {
		position: absolute;
		top: 14px;
		right: 12px;
	}
}
