//This sheet contains site-wide used resets & styles

* {
	border-radius: 0 !important;
	outline: none !important;
}

html,body {
	height: 100%;
}

body {
	padding-top: 55px;
}

h1 {
	color: @brand-primary;
}

p {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#maincontent {
	padding: 25px 0 50px 0;

	&> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}
}

.dropdown-menu {
	width: auto;
	min-width: 0;
}

a,
button {
	.transition(0.5s) !important;
}

.form-control {
	padding: 6px 10px;
}

.tooltip {
	font-size: @font-size-base;
	&-inner {
		max-width: none;
	}

}

ul.nav-tabs {
	li {
		a {
			color: #555;
			&:hover {
				color: @body-bg;
				.transition(0.5s);
			}
		}
	}
}

label {
	display: block;
}

span.glyphicon-ok {
	color: #5CB85C;
}

li.disabled{
	a.select_default {
		cursor: default !important;
	}
}
