/********** BODY ***********/


body {
    background-color: #f6f6f6;
    font-family: 'SourceSansProLight', Helvetica, Arial, sans-serif;

    margin: 0px 0 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
/*
    background-image: url('/AchtungTestseite_01.gif');
    background-position: -20px -20px;
*/
}
    /*
    background-image: url(http://news.schuel.ch/wp-content/uploads/2013/07/AchtungTestseite_01.gif);
    background-image: url(http://www.changethethought.com/wp-content/tumblr_lad3eouzez1qzt4vjo1_500.gif);
    */

b{font-weight: bold}

div{

}

p{
margin: 0;
}
.static_content_top {
    clear: none;
    position: relative;
    top: 0px;
    font-size: 0.95em;
}
.static_content {
    clear: none;
    position: relative;
    left: 160px;
    top: -20px;
    width: 35em;
    font-size: 0.95em;
    /*  font-family: Arial,Helvetica,sans-serif; */
  }
.dev_doku {
    width: 200%;
    height: 390px;
    border: 5px gray dashed;
}

#container{
    position:absolute;
    top: 0px;
}

#outer {
    /*margin: 0 auto;  */
}

#maincontent{
    margin-left: 50px;
    margin-top: 70px;
}


/***** HEADER BAR ******/
#header_bar{
    background-color: #38829c;
    height: 70px;
    position: fixed;
    z-index:100;
    min-width: 850px;
}

/***** LOGIN ******/

 #login {
    margin-right: 50px;
    padding-top: 5px;
    float:right;
	color: #DDD;
}
#form_login {
    float:left;
}
#form_register {
    float:left;
}

#outer{
    position: relative;
    margin-top: 50px;
}

#ticker{
    height:20px;
}

/***** MAIN MENU ******/

#mainmenu {
    padding-top: 5px;
    padding-left: 50px;
    float:left;
	text-transform: uppercase;
}

#mainmenu span {
	padding-right:16px;
}

#mainmenu span a, a:visited {
	color:#f6f6f6;
	text-decoration:none;
	font-weight:bold;
}

#mainmenu span a:hover {
	color:#444;
	text-decoration:none;
	font-weight:bold;
}

/****** COURSE LIST ******/

.courselist{
    float: left;
}


.courselist_course {
    clear: both;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.2em;
  //border-bottom: 1px solid black;
    background-color: #E3E3E3;
    overflow: auto;
    padding: 5px;

}
.course_name{
        color: #000;
        font-size:22px;
}
.courselist_course .course_name {

    width: 150px;
    display:block;
    float: left;
}

.courselist_course p.smalldesc{
    margin:5px 0 0 0;
    font-size: 9px;
    font-weight: bold;
    color: #777;
}

.courselist_course .my_subscriptions{
margin:0 0 8px 0;
}

.courselist_course .subscribed {
	font-size: 12px;
    font-weight: bold;
    color: green;
}

.courselist_course .organisator {
	font-size: 12px;
    font-weight: bold;
    color: orange;
}


.courselist_course .course_status {
	font-size: 15px;
    font-weight: bold;
    float: right;
    //width: 150px;
    margin-top: 3px;
}

.courselist_course .course_status span{
  padding: 0 5px;
 //border-right: 1px solid black;
}


.courselist_course  .yes{
            color:#407d5c;
    	    background-color: #C1F2AE;
    }

.courselist_course .ontheway{
            color: #CF6700;
              background-color: #FDBA76;
    }

.courselist_course .no{
        color: #751313;
    	background-color: #EC6D6D;
    }

.courselist_course .notexisting{
        display: none;
     }

.courselist_course:hover {

}

.coursepage{
    clear: left;
    margin-top: 50px;
}


.list_small{
    float: left;
    margin-bottom: 50px;
    margin: 0 40px 0 0;
    width: 320px;
}

.list_small .smalldesc{
display:none;
}

.courselist_results {
	margin-top: 50px;
}


.courselist_results .courselist_course{
float: left;
width: 300px;
clear: none;
margin: 0 12px 12px 0;
}

.courselist_results .course_name{
    width: 150px !important;
}


/***** COURSE DETAILS ******/



.create_course{
clear: left;
}




#coursedetails {
    margin: 0px 10px 50px 50px;
    padding: 0px 0px;
    float: left;
    width: 540px;
    float:left;
}

.course_right_column{
margin: 50px;
width: 300px;
    float:left;
}
h2.name{
    font-size:40px
}

#coursedetails .tags {
    font-size: 12px;
    color: #333;
}

#coursedetails .small {
    font-size: 11px;
    color: gray;
}

#coursedetails .course_main {
	background-color: #EEE;
	padding: 1em;
	margin: 50px 0 20px 0;
}

.course_edit {
	clear: both;
	background-color: #CCDDDF;
	padding: 15px;
	margin: 50px 0 20px 0;
}

.course_event_edit{
    background-color: #CCDDDF;
    padding: 15px;
    margin: 50px 0 20px 0;
    float: none;
    clear:left;
}

.course_edit ul {
	list-style-type: none;
	display: block;
}
.course_event{

    float:left;
    width: 200px;
    margin: 10px;
    padding: 10px;

    background-color:#C1F2AE;
}

.course_event_desc{

    font-size: 11px;
}
.course_event_date{

    font-size: 30px;
}

.course_event_title{
    font-size: 16px;
}
.course_event_mentors, .course_event_mentors li{
    font-size: 12px;
    display: inline;
}

#editform_categories{
padding: 20px 0 0 0;
}

#show_categories_to_edit ul{
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
}

#show_categories_to_edit{
    float:left;
    font-size:1em;
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 20px;
}
#show_categories_to_edit li{
    font-size:0.8em;
}


div.roleDetails {
	margin: 1em;
	padding: 1em;
	background-color: #DDD;
}

div.roleDetails ul {
	list-style: none;
	display: inline;
	padding: 0;
}

div.roleDetails li {
	display: inline;
	padding: 0 0.3em;
	background-color: #BFB;
	margin: 0 0.3em;
}

div.participants {
	background-color: #EEE;
    padding: 1em;
    margin: 1em 0;
}

ul.subscribers {
	background-color: #EEE;
	float:left;
}

ul.subscribers > li {
	background-color: #EEE;
	float: left;
	width: 100px;
    list-style: none;
}

ul.subscribers ul.roles {
	background-color: #EEE;
	display: inline;
}

ul.subscribers ul.roles li {
    background-color: #EEE;
	float: left;
	border: 3px solid blue;
	list-style: none;
}



#coursedetails .usernames{
    font-size: 12px;
    color: gray;
     list-style-type: none;
     display: inline;
}

#coursedetails .subscribed{
    font-size: 20px;
    color: green;
     display: block;
     margin-top: 5px;
}

#coursedetails .subscribers_count{

     display: block;
    }

#coursedetails .subscribers_count .notyet{

            color: red;
    }
#coursedetails .subscribers_count .ok{

            color: green;
    }


/****** CATEGORY LIST ******/


.categorylist {
    font-size: 1.2em;
    border-bottom: 1px solid black;
    margin: 10px 0;
}


.categorylist .name {
    margin: 2px 0;
    font-weight: normal;
    color: #333;
}

.smalldesc{
    margin: 5px 30px 10px 10px;
    font-size: 10px;
    font-weight: normal;
    cursor: pointer;
    color: #000;
    display: block;
    clear:left;
}
.smalldesc_no_course{
    margin: -10px 0px 0 -10px;
    font-size: 10px;
    font-weight: normal;
    color: #666;
    display: block;
    clear:left;
}
.no_courses_cat{
    margin:5px -20px 0 0;
    font-weight: normal;
    cursor: pointer;
    color: #999 !important;
    display: block;
    clear:left;
}


/****** LOCATION ******/

.locationlist_location{
margin: 10px 0;
border-bottom: 1px solid black;
}

.locationlist_location p{
margin: 0;
width: 200px;
}

.locationlist_location .description{
font-size: 12px;
color: gray;
}

.locationlist_location .name{
font-size: 15px;
color: gray;
}



.locationlist_location .mylocation{
font-weight: bold;
color: orange;
}

/****** VOTING ******/

#votelists{
	background-color: #EEE;
}

#votelists h4{
    margin: 0;
}

#votelists .voting{
	background-color: #DDD !important;
}

.votelist_table {
        border-collapse: separate;
        border-spacing: 2px 2px;
      }

#votelists tr.is_current{
	background-color: #99FF99;
	cursor: pointer;

}


#votelists td.option{
	background-color: #EEE;
	padding: 0 15px;


}
#votelists td.v0{
	background-color: green !important;


}

#votelists td.v1{
	background-color: red !important;


}


#add_vote_form p {
    border: none;
	background-color: #EEE
}



/****** OTHER ELEMENTS ******/

h1{
color: #38829c;
font-weight: normal;
}

h2{
	margin: 0;
    font-weight: normal;
}

form h3{
    border-top: 4px dashed gray;
    padding-top:20px;
    font-size: 1.5em;
}
form th{
    font-size: 1.2em;
    font-weight:normal;
}


.details .name {
    font-weight: bold;
    font-size: 2em;
}

.details .descr {
    font-size: 1em;

}

.descr{

font-size: 18px ;
}

.descr_small{
    font-size: 0.75em;
    color: gray;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

#chat{
    width:300px;
    font-size: 0.7em;
  border: gray solid 1px;
  position:fixed;
  top: 40px;
  right:0;
  padding: 10px;
  background:white;
 box-shadow: 10px 10px 5px #888888;
}

#chat h2{
  padding-top:0;
}

#chat ul{
  list-style:none;
  padding:0;
}

#chat th{
    max-width: 80px;
    overflow: hidden;
}

#hide{
    float:right;
}

th{
    text-align: left;
    vertical-align:top;
}
.post{
    background-color: #F0F0F0;
    border-radius: 5px;
    margin-bottom: 5px;
}
.comment{
    background-color: #F0F0F0;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left:30px;
}
.popup{
    border:0px solid gray;
    border-radius: 5px;
    z-index: 1;
    position: fixed;
    top:300px;
    left:300px;
    background-color: rgba(255, 255, 255, 0.75);
    padding:10px;
}


.categorylist {
	list-style-type: none;
	display: inline;
	border: none;
	padding: 0;
}

.categorylist li {
	display: inline;
}

.categorylist li:after {
	content: ', '
}
.categorylist li:last-child:after {
	content: ''
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #00F;
}
a:hover {
    text-decoration: none;
    color: #07F;
}

#header_bar a {
    text-decoration: none;
     color: #888;
     font-size:31px;
}

#header_bar   a:hover {
    color: #DDD;
}

.dropdown-menu a, .dropdown-menu a:link, .dropdown-menu a:visited, .dropdown-menu a:active {
color: #555 !important;
font-size: 15px !important;

}
.dropdown-menu a:hover {
color: #000 !important;

}



/************ dropdown *************/
.dropdown {
    position: relative;
    padding-top: 5px;
    padding-left: 50px;
    float:left;
  //  text-transform: uppercase;}

.dropdown span a, {
    color:#f6f6f6;
    text-decoration:none;
    font-weight:bold;
}

.dropdown span a:hover {
    color:#444;
    text-decoration:none;
    font-weight:bold;
}



.dropdown > a:after {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 4px;
    font-size: 8px; }
.dropdown .dropdown-menu {
    display: none;
    top: 45px;
    left: 10px;
    position: absolute;
}
.dropdown .dropdown-menu ul {
      color: gray;
      background: white;
      padding: 5px;
      width: 140px;
      margin: 0 0 0 34px;
      list-style: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35); }
.dropdown .dropdown-menu ul li a {
        color: black;
        font-size: 14px; }
.dropdown:hover .dropdown-menu {
    display: block; }


/**********   Search   **********/
.searchform{
    font-size: 200%;
    font-weight: normal;
    font-family: 'SourceSansProLight', Helvetica, Arial, sans-serif;
    color: #000;
    border: 1px dotted #666;
    padding-left: 5px;
}

.search{
    margin-top: 15px;
    text-align: bottom;
}
.search_result{
    font-size: 130%;
}
.propose_course{
    font-size: 130%;
}
ul.categories {
    columns: 2;
}
.categories li {
    clear: left;
}
.subcategories{
    font-size: 65%;
    color: #333333;
}
.subcategories li {
    float: left;
    clear: none;
    padding-left: 1em;
}

form{
    display: inline;
}
