<template name="buttonCourseUnarchive">
  <button type="submit" class="btn btn-go js-course-unarchive" {{disabledIfBusy}}>
    {{#if busy 'unarchive'}}
      <span class="fa-solid fa-circle-notch fa-spin fa-fw" aria-hidden="true"></span>
      {{i18n 'course.archive.unarchiveButton.unarchiving' 'Unarchiving…'}}
    {{else}}
      {{i18n 'course.archive.unarchiveButton' 'Unarchive'}}
    {{/if}}
  </button>
</template>
