<template name="kioskLayout">
	<div class="container-fluid">
			{{#if showKioskCalendar}}
				<img src="http://www.nachhaltigkeitswoche.ch/site/templates/images/logo.png" alt="Logo der Nachhaltigkeitswoche" width="30%" style="top:20px"/>
				<a id ="backToKiosk" href="{{pathFor 'kiosk'}}" class="pull-right">
					<span class="glyphicon glyphicon-share-alt"></span>&nbsp;
					{{mf 'kiosk.kiosk_link' 'back to Kiosk mode'}}
				</a>
				<hr>
			{{/if}}
		{{> yield}}
	</div>
</template>

<template name="kioskEvents">
	<div class="kiosk"><!-- 
		<img src="http://www.nachhaltigkeitswoche.ch/site/templates/images/logo.png" alt="Logo der Nachhaltigkeitswoche" width="30%" style="top:20px"/> -->
		<div class="col-sm-12 row">
			<div class="col-sm-4">
				<div class="kiosk_logo">
					<!-- <h1>KIOSK</h1> -->
					<img src="http://www.nachhaltigkeitswoche.ch/site/templates/images/logo.png" alt="Logo der Nachhaltigkeitswoche"/>
				</div>
			</div>
			<!-- <a id="switch" href="{{pathFor 'kioskCalendar'}}">
				<span class="glyphicon glyphicon-calendar"></span>
				{{mf 'kiosk.calendar_link' 'view in Calendar mode'}}
			</a> -->
			<div class="col-sm-8">
			{{#if now.count}}
					<h3>{{mf 'kiosk.ongoing' '{NUM, plural, one {One ongoing event} other {# ongoing events} }' NUM=now.count}}</h3>
			
				{{#each now}}
					{{> kioskEventSlim}}
				{{/each}}
			{{/if}}
			</div>
		</div>
		<div class="col-sm-12 row">
			{{#if today.count}}
				<hr>
				<h2>{{mf 'kiosk.today' '{NUM, plural, one {One event} other {# events} } later today' NUM=today.count}}</h2>
				{{#each today}}
					{{> kioskEvent}}
				{{/each}}
			{{/if}}
			{{#if future.count}}
				<hr>
				<h1>{{mf 'kiosk.future' 'Future events' NUM=future.count}}</h1>
				{{#each future}}
					{{> kioskEvent}}
				{{/each}}
			{{/if}}
		</div>
	</div>
</template>

<template name="kioskEvent">
		<a href="{{pathFor 'showEvent'}}">
		<div class="calendar_event" style='overflow: hidden'>
			<div class="kiosk_date_time col-sm-12">
				<div class="col-sm-6 no-padding">
					<span style="font-size:x-large">
						<span class="glyphicon glyphicon-time"></span>&nbsp;{{dateformat_fromnow startdate}}
					</span>
					<br>
					<span class="glyphicon glyphicon-calendar"></span>
					{{weekday startdate}}
					{{timeformat startdate}} - {{timeformat enddate}}
				</div>
				<div class="kiosk_home col-sm-6">
					<span class="glyphicon glyphicon-home"></span>
					{{this.location}}
					{{#if room}}
						- {{this.room}}
					{{/if}}
				</div>
			</div>
			<div class="course_event_title col-sm-12">
				<h3>{{plain this.title}}</h3>
			</div>
			<div class="course_event_desc">{{plain this.description}}</div>
		</div>
		</a>
		<br>
</template>

<template name="kioskEventSlim">
		<a href="{{pathFor 'showEvent'}}">
		<div style='overflow: hidden; width:200px; height:200px; display:inline-block'>			
			<span style="font-size:x-large">
				{{plain this.title}}
			</span>
			<div >
				<span class="glyphicon glyphicon-time"></span>&nbsp;{{mf 'kiosk.started' 'Started'}} {{dateformat_fromnow startdate}}
				{{mf 'kiosk.andends' 'and ends'}} {{dateformat_fromnow enddate}}
			</div>
			<div>
				<span class="glyphicon glyphicon-home"></span>
				{{this.location}}
				{{#if room}}
					- {{this.room}}
				{{/if}}
			</div>
		</div>
		</a>
</template>

