<template name="kioskLayout">
			{{#if showKioskCalendar}}
				<a id ="backToKiosk" href="{{pathFor 'kiosk'}}" class="pull-right">
					<span class="glyphicon glyphicon-share-alt"></span>&nbsp;
					{{mf 'kiosk.kiosk_link' 'back to Kiosk mode'}}
				</a>
				<hr>
			{{/if}}
		{{> yield}}
</template>

<template name="kioskEvents">
	<div class="kiosk">
		<div class="kiosk_header">
			<div style='float:right'>
				<h2 style='display:inline'>{{showTime}}</h2> &nbsp;&nbsp; <h4 style='display:inline'>{{showDate}}</h4>

			</div>

			<h1><b>
				{{#if filter.group}} {{groupShort filter.group}}
				{{else}} {{#if filter.location}} {{filter.location}}
				{{else}} Openki {{/if}} {{/if}}
			</b>
				{{> lang_sel}}
			</h1>

		</div>

		{{#if now.count}}
			<div class="kiosk_events_ongoing_container">
				<div class="kiosk_events_ongoing_title">
					<h3>{{mf 'kiosk.ongoing' '{NUM, plural, one {One ongoing event:} other {# ongoing events:} }' NUM=now.count}}</h3>
				</div>
				<div class="kiosk_events_ongoing">
				{{#each now}}
					{{> kioskEventOngoing}}
				{{/each}}
				</div>
			</div>
		{{/if}}


		{{#if today.count}}
		<div class="kiosk_events_container">
			<div class="kiosk_events_title">
				<hr>
				<h3>{{mf 'kiosk.today' '{NUM, plural, one {One event} other {# events} } later today:' NUM=today.count}}</h3>
			</div>
			<div class="kiosk_events">
				{{#each today}}
					{{> kioskEventToday}}
				{{/each}}
			</div>
		</div>
		{{/if}}

		{{#if future.count}}
		<div class="kiosk_events_container">
			<div class="kiosk_events_title">
				<hr>
				<h3>{{mf 'kiosk.future' 'Future events:' NUM=future.count}}</h3>
			</div>
			<div class="kiosk_events">
				{{#each future}}
					{{> kioskEventFuture}}
				{{else}}
				{{mf 'kiosk.noFutureEvents' 'There are no future events'}}
				{{/each}}
			</div>
		</div>
		{{/if}}
	</div>
</template>


<template name="kioskEventOngoing">
	<a class="kioskEvent" href="{{pathFor 'showEvent'}}">
		<div class="calendar_event">
			<div class="statingIn">
				{{mf 'kiosk.started' 'Started'}} {{dateformat_fromnow start}}
			</div>
			<div class="kiosk_event_header">
					<span class="glyphicon glyphicon-time"></span>
					{{timeformat start}} - {{timeformat end}}
				<div class="kiosk_event_home">
					{{#if showLocations}} <!-- we dont want to see each time same Location if filtered-->
						{{#if location}}
							<span class="glyphicon glyphicon-home"></span>
							{{this.location}}
							{{#if room}}
								-
							{{/if}}
						{{/if}}
					{{/if}}
					{{#if room}}
						{{#unless showLocations}}
							<span class="fa fa-map-signs"></span>
						{{/unless}}
						{{this.room}}
					{{/if}}
				</div>
			</div>
			<div class="course_event_title ellipsis">
				<h3>{{plain this.title}}</h3>
			</div>
		</div>
	</a>
</template>


<template name="kioskEventToday">
		<a class="kioskEvent" href="{{pathFor 'showEvent'}}">
		<div class="calendar_event">
			<div class="statingIn">
				{{dateformat_fromnow start}}
			</div>
			<div class="kiosk_event_header">
				<div class="kiosk_event_date">
					<span class="glyphicon glyphicon-time"></span>
					{{timeformat start}} - {{timeformat end}}
				</div>
				<div class="kiosk_event_home">
					{{#if showLocations}} <!-- we dont want to see each time same Location if filtered-->
						{{#if location}}
							<span class="glyphicon glyphicon-home"></span>
							{{this.location}}
							{{#if room}}
								-
							{{/if}}
						{{/if}}
					{{/if}}
					{{#if room}}
						{{#unless showLocations}}
							<span class="fa fa-map-signs"></span>
						{{/unless}}
						{{this.room}}
					{{/if}}
				</div>
			</div>
			<div class="course_event_title">
				<h3>{{plain this.title}}</h3>
			</div>
			<div class="course_event_desc">
				<p>{{plain this.description}}</p>
			</div>
		</div>
		</a>
</template>


<template name="kioskEventFuture">
		<a class="kioskEvent" href="{{pathFor 'showEvent'}}">
		<div class="calendar_event">
			<div class="kiosk_event_header">
				<div class="kiosk_event_date">
					<span class="glyphicon glyphicon-calendar"></span>
					{{dateformat start}} {{timeformat start}}
				</div>
				<div class="kiosk_event_home">
					{{#if showLocations}} <!-- we dont want to see each time same Location if filtered-->
						{{#if location}}
							<span class="glyphicon glyphicon-home"></span>
							{{this.location}}
							{{#if room}}
								-
							{{/if}}
						{{/if}}
					{{/if}}
					{{#if room}}
						{{#unless showLocations}}
							<span class="fa fa-map-signs"></span>
						{{/unless}}
						{{this.room}}
					{{/if}}
				</div>
			</div>
			<div class="course_event_title">
				<h3>{{plain this.title}}</h3>
			</div>
			<div class="course_event_desc">
				<p>{{plain this.description}}</p>
			</div>
		</div>
		</a>
</template>


<template name="kioskLink">
{{#if link}}
	<div class="container-fluid backToKioskLink" style="position: fixed; bottom: 4em; right: 2em; ">
		<a href="{{link}}">
			<span class="fa fa-circle"> </span>
			<div class="text">
				{{mf 'backToKiosk' 'Return to overview'}}
			</div>
		</a>
	</div>
{{/if}}
</template>
