<template name="kioskLayout">
	<head>
	<style type="text/css">
		body {
		background-position: 100% 0%;
		background-image: url("http://www.nachhaltigkeitswoche.ch/site/templates/images/bggreen.svgz");
		background-repeat: no-repeat;
		}
	</style>
	</head>
	<div class="container">
		<div class="container-fluid">
			{{#if showKioskCalendar}}
				<img src="http://www.nachhaltigkeitswoche.ch/site/templates/images/logo.png" alt="Logo der Nachhaltigkeitswoche" width="30%" style="top:20px"/>
				<a id ="backToKiosk" href="{{pathFor 'kiosk'}}" class="pull-right">
					<span class="glyphicon glyphicon-share-alt"></span>&nbsp;
					{{mf 'kiosk.kiosk_link' 'back to Kiosk mode'}}
				</a>
				<hr>
			{{/if}}
		</div>
		{{> yield}}
	</div>
</template>

<template name="kioskEvents">
	<div class="kiosk">
		<img src="http://www.nachhaltigkeitswoche.ch/site/templates/images/logo.png" alt="Logo der Nachhaltigkeitswoche" width="30%" style="top:20px"/>
		<a id="switch" href="{{pathFor 'kioskCalendar'}}" class="pull-right">
			<span class="glyphicon glyphicon-calendar"></span>
			{{mf 'kiosk.calendar_link' 'view in Calendar mode'}}
		</a>
		{{#if now.count}}
			<hr>
			<h3>{{mf 'kiosk.ongoing' '{NUM, plural, one {One ongoing event} other {# ongoing events} }' NUM=now.count}}</h3>
			{{#each now}}
				{{> kioskEventSlim}}
			{{/each}}
		{{/if}}
		{{#if today.count}}
			<hr>
			<h2>{{mf 'kiosk.today' '{NUM, plural, one {One event} other {# events} } later today' NUM=today.count}}</h2>
			{{#each today}}
				{{> kioskEvent}}
			{{/each}}
		{{/if}}
		{{#if future.count}}
			<hr>
			<h1>{{mf 'kiosk.future' 'Future events' NUM=future.count}}</h1>
			{{#each future}}
				{{> kioskEvent}}
			{{/each}}
		{{/if}}
	</div>
</template>

<template name="kioskEvent">
		<a href="{{pathFor 'showEvent'}}">
		<div class="calendar_event" style='overflow: hidden'>
			<div class="kiosk_date_time col-sm-12">
				<div class="col-sm-6 no-padding">
					<span style="font-size:x-large">
						<span class="glyphicon glyphicon-time"></span>&nbsp;{{dateformat_fromnow startdate}}
					</span>
					<br>
					<span class="glyphicon glyphicon-calendar"></span>
					{{weekday startdate}}
					{{timeformat startdate}} - {{timeformat enddate}}
				</div>
				<div class="kiosk_home col-sm-6">
					<span class="glyphicon glyphicon-home"></span>
					{{this.location}}
					{{#if room}}
						- {{this.room}}
					{{/if}}
				</div>
			</div>
			<div class="course_event_title col-sm-12">
				<h3>{{plain this.title}}</h3>
			</div>
			<div class="course_event_desc">{{plain this.description}}</div>
		</div>
		</a>
		<br>
</template>

<template name="kioskEventSlim">
		<a href="{{pathFor 'showEvent'}}">
		<div style='overflow: hidden'>
			<div style="float: right; width: 22em">
				<span class="glyphicon glyphicon-time"></span>&nbsp;{{mf 'kiosk.started' 'Started'}} {{dateformat_fromnow startdate}}
				{{mf 'kiosk.andends' 'and ends'}} {{dateformat_fromnow enddate}}
			</div>
			<div style="float: right; width: 20em" >
				<span class="glyphicon glyphicon-home"></span>
				{{this.location}}
				{{#if room}}
					- {{this.room}}
				{{/if}}
			</div>
			<span style="font-size:x-large">
				{{plain this.title}}
			</span>
		</div>
		</a>
		<br>
</template>

