<template name='loginButton'>
	{{#if loginServicesConfigured}}
		<a class="loginButton dropdown-toggle navbar-link"
			aria-expanded="false"
			data-toggle="dropdown"
			role="button">
			{{#if currentUser}}
				<span class="fa fa-user fa-fw" aria-hidden="true"></span>
				{{currentUser.username}}
			{{else}}
				<span class="fa fa-sign-in fa-fw" aria-hidden="true"></span>
				{{mf 'login.navig.unlogged' 'Login/Register'}}
			{{/if}}
			<div class="nav-marker-caret"></div>
			<div class="nav-marker-bar"></div>
		</a>
	{{/if}}
</template>
