.event-small-withDate-container
	+grid(4, 3, inherit, 2)
	height: 220px
	padding: 0px 3px 10px
	@media (max-width: $screen-xxs)
		+grid(12)
		padding: 0px 3px 10px
	@media (min-width: $screen-xxs) and (max-width: $screen-xsm)
		+grid(6)
		padding: 0px 3px 10px

	.event-small
		+grid(12)
		+transition(box-shadow $default-transition-time)
		background: $event-small-bg
		height: 100%
		padding: 0px
		&:hover
			+box-shadow-big($default-shadow)

	.event-small-header,
	.event-small-title,
	.event-small-description
		+word-break
		overflow: hidden

	.event-small-header
		+grid(12)
		background: $event-small-header-bg
		border-bottom: 1px solid $body-bg
		color: $event-small-header-color
		height: 75px
		padding: 5px
		.fa,
		.glyphicon
			margin-right: 2px
		.fa-clock-o,
		.event-small-date,
		.event-small-time
			margin-bottom: 5px
		.fa-map-signs
			margin-left: 4px

	.event-small-title
		+grid(12)
		color: $event-small-title-color
		font-size: medium
		max-height: 56px
		padding: 5px

	.event-small-description
		+grid(12)
		color: $event-small-description-color
		height: 85px
		margin-top: -3px
		padding: 0px 5px 5px
