<template name="small_event_withDate">
	<a href="{{pathFor 'showEvent'}}">
		<div class="small_event_withDate_container">
			<div class="small_event">
				<div class="-eventLocationTime">
					<span class="fa fa-calendar"></span>
					<span class="event_date">
						{{weekday_short start}} 
						{{dateformat_mini_fullmonth start}}
					</span>
					<br>
					<span class="fa fa-clock-o"></span>
					<span class="event_time">{{timeformat start}} - {{timeformat end}}</span>
					<br>
					<!-- Start 'location.name' helper statement -->
					{{#if location.name}}
						<!-- Start 'location._id' helper statement -->
						{{#if location._id}}
							<a class="-locationLink" href="{{pathFor 'locationDetails' data=location}}">
								<span class="glyphicon glyphicon-home"></span>
								{{location.name}}
							</a>
						<!-- Invert 'location._id' helper statement -->
						{{else}}
							<span class="glyphicon glyphicon-home"></span>
							<span class="location_name">{{location.name}}</span>
						{{/if}}
						<!-- End 'location._id' helper statement -->
						<!-- Start 'room' helper statement -->
						{{#if room}}
							<span class="fa fa-map-signs"></span>
							<span class="location_room">{{this.room}}</span>
						{{/if}}
						<!-- End 'room' helper statement -->
					{{/if}}
					<!-- End 'location.name' helper statement -->
				</div>
				<div class="-eventTitle">
					{{plain this.title}}
				</div>
				<div class="-eventDescription">
					{{plain this.description}}
				</div>
			</div>
		</div>
	</a>
</template>
