@import "{}/imports/ui/stylesheets/variables/index";

.date-select-weekday {
  @include td-padding(right, $input-padding-x);
  @include td-pos(right, 0);
  color: $gray-600;
  padding-top: $input-padding-y;
  position: absolute;
  top: 0;
  z-index: 3;
}
