<template name="frameCalendar">
	{{#each this}}
		<div class="frame-calendar-date-events">
			{{#with date}}
				<div class="frame-calendar-date">
					{{weekday}}
					{{monthday}}.
				</div><!-- /.frame-calendar-date -->
			{{/with}}
			<div class="frame-calendar-events">
				{{#each dayEvents}}
					{{> eventSmall}}
				{{else}}
					<div class="frame-calendar-no-events">
						{{mf 'frameCalendar.nothingOnThisDay' "Relax, nothing happening today."}}
					</div><!-- /.frame-calendar-no-events -->
				{{/each}}
			</div><!-- /.frame-calendar-events -->
		</div><!-- /.frame-calendar-date-events -->
	{{/each}}
</template>
