<template name="frameCalendar">
	{{#each this}}
		<div class="frame_calendar_date">
			{{#with date}}
				<div class="date">
					{{weekday}}
					{{monthday}}.
				</div>
			{{/with}}
			<div class="frame_calendar_events">
				{{#each dayEvents}}
					{{> frameCalendarEvent}}
				{{else}}
					<div style="text-align: center">
						{{mf 'frameCalendar.nothingOnThisDay' "Relax, nothing happening today."}}
					</div>
				{{/each}}
			</div>
		</div>
	{{/each}}
</template>

<template name="frameCalendarEvent">
	<a href="{{pathFor 'showEvent'}}">
		<div class="event_small_container">
			<div class="event_small">
				<div class="-eventLocationTime">
					<span class="fa fa-clock-o"></span>
					<span class="event_time">{{timeformat start}} - {{timeformat end}}</span>
					<br>
					{{#if location.name}}
						<span class="glyphicon glyphicon-home"></span>
						<span class="location_name">{{location.name}}</span>
						{{#if room}}
							<span class="fa fa-map-signs"></span>
							<span class="location_room">{{this.room}}</span>
						{{/if}}
					{{/if}}
				</div>
				<div class="-eventTitle">
					{{plain this.title}}
				</div>
				<div class="-eventDescription">
					{{plain this.description}}
				</div>
			</div>
		</div>
	</a>
</template>
