.calendar_eventlist {
  margin-left: -20px;
}

.switchDate {
  @include grid(12);
  background-color: $calendar-navigation-bg;
  box-shadow: 0px 6px 2px $default-shadow;
  font-size: 32px;
  margin-bottom: 10px;
  padding: 0px 10px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
	z-index: 1010;
  .calendar_week {
    text-align: center;
    .week {
      color: $calendar-header-text;
      font-size: large;
      line-height: 0.75;
      margin: 7px 0px 0px 0px;
    }
    .date {
      color: $calendar-header-text;
      font-size: small;
      margin: 3px 0px;
    }
  }
  & > .right {
    float: right;
  }
  small {
    font-size: 12px;
  }
  button {
    @extend .btn;
    @extend .btn-default;
    float: left;
    margin: 6px 3px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.calendar {
  @extend .container;
  padding-top: 50px;
  .calendar_date {
    @include grid(12);
    padding: 0px 0px 10px;
    .date {
      background: $calendar-navigation-bg;
      border-left: 10px solid $brand-primary;
      font-size: large;
      padding: 5px 7px 5px 9px;
      text-align: center;
      width: 250px;
    }
    .calendar_events {
      @include grid(12);
      margin: 0px -3px -10px;
      padding: 10px 0px 0px;
      width: calc(#{"100% + 6px"});
      .event-small-container {
        @include grid(4, 3, 2);
        padding: 0px 3px 10px;
      }
    }
  }

  @media (max-width: $screen-xxs) {
    @include grid(12);
    padding: 0px;
    .calendar_date {
      .date {
        @include grid(12);
        border-left: 0px;
        border-top: 10px solid $brand-primary;
        padding: 0.5em;
      }
      .calendar_events {
        margin: 0px 0px 10px;
        padding: 10px 7px 0px;
        width: auto;
        .event-small-container {
          @include grid(12);
          padding: 0px 3px 10px;
        }
      }
    }
  }

  @media (min-width: $screen-xxs) and (max-width: $screen-xsm) {
    .calendar_date {
      .calendar_events {
        .event-small-container {
          @include grid(6);
          padding: 0px 3px 10px;
        }
      }
    }
  }
}

.js-events-download-btn {
  @extend .btn;
  @extend .btn-primary;
}
