.calendar-navigation {
	@include make-xs-column(12);
	background-color: $calendar-navigation-bg;
	box-shadow: 0 6px 2px $default-shadow;
	font-size: 32px;
	margin-bottom: 10px;
	padding: 0 10px;
	position: fixed;
	text-align: center;
	top: 50px;
	width: 100%;
	z-index: 1010;
}

.calendar-navigation > .right {
	float: right;
}

.calendar-navigation small {
	font-size: 12px;
}

.switch-date-btn {
	float: left;
	margin: 6px 3px;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

.calendar-week {
	text-align: center;
}

.calendar-week .week {
	color: $calendar-header-text;
	font-size: large;
	line-height: .75;
	margin: 7px 0 0;
}

.calendar-week .date {
	color: $calendar-header-text;
	font-size: small;
	margin: 3px 0;
}

.calendar-container {
	padding-top: 50px;
}

.calendar-container > a:first-child {
	margin-bottom: 15px;
}

.calendar-date {
	background: $calendar-navigation-bg;
	border-color: $brand-primary;
	border-style: solid;
	border-width: 10px 0 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	font-size: large;
	padding: 5px 7px 5px 9px;
	text-align: center;

	@media (min-width: $screen-xxs) {
		border-width: 0 0 0 10px;
		width: 250px;
	}
}

.calendar-events {
	@include clearfix;
	margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 2) * -1);
	padding: 10px 0;
	position: relative;

	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 8) * -1);
	}
}
