.calendar-navigation {
  @include grid(12);
  background-color: $calendar-navigation-bg;
  box-shadow: 0 6px 2px $default-shadow;
  font-size: 32px;
  margin-bottom: 10px;
  padding: 0 10px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
	z-index: 1010;

  & > .right {
    float: right;
  }
  small {
    font-size: 12px;
  }
}

.switch-date-btn {
	float: left;
	margin: 6px 3px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.calendar-week {
	text-align: center;
	.week {
		color: $calendar-header-text;
		font-size: large;
		line-height: .75;
		margin: 7px 0 0;
	}
	.date {
		color: $calendar-header-text;
		font-size: small;
		margin: 3px 0;
	}
}

.calendar-container {
  padding-top: 50px;
}

.calendar-date {
	background: $calendar-navigation-bg;
	border-left: 10px solid $brand-primary;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, .3);
	font-size: large;
	padding: 5px 7px 5px 9px;
	text-align: center;
	width: 250px;

	@media (max-width: $screen-xxs) {
		@include grid(12);
		border-left: 0;
		border-top: 10px solid $brand-primary;
		padding: .5em;
	}
}

.calendar-events {
	@include clearfix;
	margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 2) * -1);
	padding: 10px 0;
	position: relative;
	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 8) * -1);
	}
}
