<template name="calendar">
	{{> calendarNavigation date=startDate}}
	<div class="calendar-container container">
		{{#each days}}
			{{> calendarDay day=this filter=filter}}
			<hr>
		{{/each}}
		<a href="/event/create">
			<button type="button" class="btn btn-add">
				{{mf 'menue.CreateEvent'}}
			</button>
		</a>
	</div>
</template>

<template name="calendarDay">
	<div class="calendar-date">
		{{calendarDay day.start}}
	</div>
	{{#if eventsReady}}
		{{#unless hasEvents}}
			<br>
			{{mf 'calendar.noCoursesThisDay' "There are no events on this day"}}
		{{/unless}}
		{{#if hasEvents}}
			<div class="calendar-events">
				{{#each events}}
					{{> eventSmall data=this withDate=false}}
				{{/each}}
			</div>
		{{/if}}
	{{else}}
		{{> loadingRow}}
	{{/if}}
</template>

<template name="calendarNavigation">
	<div class="calendar-navigation">
		<div class="left">
			<button type="button" class="btn btn-default switch-date-btn prevYear"
				aria-label="go back one year">
				<span class="fa fa-arrow-left"></span>
				{{mf "calendar.button.previousYear" "one year"}}
			</button>
			<button type="button" class="btn btn-default switch-date-btn prevMonth"
				aria-label="go back one month">
				<span class="fa fa-arrow-left"></span>
				{{mf "calendar.button.previousMonth" "one month"}}
			</button>
			<button type="button" class="btn btn-default switch-date-btn prevWeek"
				aria-label="go back one week">
				<span class="fa fa-arrow-left"></span>
				{{mf "calendar.button.previousweek" "one week"}}
			</button>
		</div>
		<div class="right">
			<button type="button" class="btn btn-default switch-date-btn nextWeek"
				aria-label="go forward one week">
				{{mf "calendar.button.nextWeek" "one week"}}
				<span class="fa fa-arrow-right"></span>
			</button>
			<button type="button" class="btn btn-default switch-date-btn nextMonth"
				aria-label="go forward one month">
				{{mf "calendar.button.nextMonth" "one month"}}
				<span class="fa fa-arrow-right"></span>
			</button>
			<button type="button" class="btn btn-default switch-date-btn nextYear"
				aria-label="go forward one year">
				{{mf "calendar.button.nextYear" "one year"}}
				 <span class="fa fa-arrow-right"></span>
			</button>
		</div>
		<div class="calendar-week">
			<div class="week">
					{{mf "calendar.weekNumber" "Week"}} {{weekNr date}}<br>
			</div>
			<div class="date">
				{{dateLong date}} - {{dateLong (endDateTo date)}}
			</div>
		</div>
	</div>
</template>
