.switchDate {
	.grid(12);
	background-color: @brand-primary;
	color: white;
	font-size: 32px;
	margin: -15px 0 1em !important;
	text-align: center;

	&> .right {
		float: right;
	}

	small{
		font-size: 12px;
	}

	button{
		.btn;
		.btn-primary;
		float: left;
		margin: 6px 3px 3px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.calendar_eventlist {
	margin-left: -20px;
}

.calendar {
	.calendar_event,
	.calendar_event_past {
		.grid(12, 4, 3, 2);
		.transition(0.5s);
		background: @light-blue;
		height: 230px;
		margin: 7px;
		width: 350px;
		padding: 0;

		&:hover {
			&> .course_event_title > h4 {
				color: @brand-primary;
			}
		}

		&> a:hover {
				color: inherit;
		}

		&> .course_event_date {
			background: @brand-success;
			color: @default-black;
			font-size: x-large;
			padding: 10px 10px 0;
			text-align: left;
			width: 100%;
		}

		&> .course_event_time {
			background: @brand-success;
			border-bottom: 3px solid @body-bg;
			color: @default-black;
			font-size: medium;
			padding: 0 10px 10px 10px;
			width: 100%;
		}

		&> .course_event_title,
		&> .course_event_desc {
			padding: 0 10px;

			&>h4 {
				.transition(0.5s);
				color: @default-black;
			}
		}

		.course_event_desc > p {
			color: @brand-primary;
			max-height: 60px; //Ugly fix, has to fill the rest of the calendar event
		}
	}
}

button.calendar_download {
	.btn;
	.btn-primary;
}
