<template name="calendar">
	{{> calendarNavigation date=startDate}}
	<div class="container calendar-container">
		<a href="/event/create" class="btn btn-add" role="button">
			{{mf 'menue.CreateEvent'}}
		</a>
		{{#each days}}
			{{> calendarDay day=this filter=filter}}
			<hr>
		{{/each}}
		<a href="/event/create" class="btn btn-add" role="button">
			{{mf 'menue.CreateEvent'}}
		</a>
	</div>
</template>

<template name="calendarDay">
	<div class="calendar-date">
		{{calendarDay day.start}}
	</div>
	{{#if eventsReady}}
		{{#unless hasEvents}}
			<br>
			{{mf 'calendar.noCoursesThisDay' "There are no events on this day"}}
		{{/unless}}
		{{#if hasEvents}}
			<div class="calendar-event-list">
				{{> eventList dataEvents=events withDate=false}}
			</div>
		{{/if}}
	{{else}}
		{{> loadingRow}}
	{{/if}}
</template>

<template name="calendarNavigation">
	<div class="calendar-nav">
		{{> calendarNavigationButton direction='previous'}}
		<div class="calendar-nav-element">
			<div class="calendar-nav-week">
				{{mf "calendar.weekNumber" "Week"}} {{weekNr date}}
				<br>
			</div>
			<div class="calendar-nav-date">
				{{dateLong date}} - {{dateLong (endDateTo date)}}
			</div>
		</div>
		{{> calendarNavigationButton direction='next'}}
	</div>
</template>

<template name="calendarNavigationButton">
	<div class="calendar-nav-element">
		<div class="btn-group">
			<button type="button"
					class="btn btn-default js-change-date">
					<span class="fa fa-calendar-{{#if isPrevious}}minus{{else}}plus{{/if}}-o fa-fw" aria-hidden="true"></span>
				{{mf 'calendar.navButton.short' '1 {UNIT}' UNIT=currentUnit}}
			</button>
			<button type="button"
					class="btn btn-default dropdown-toggle"
					aria-expanded="false"
					aria-haspopup="true"
					data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{{#each navUnits}}
					<li>
						<a class="js-change-unit" href="#">
							{{#mf KEY='calendar.navButton.full'
							      DIRECTION=../direction
							      UNIT=this}}
								Go to {DIRECTION} {UNIT}
							{{/mf}}
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>
