.find {
	.container;
	h1 {
		margin-top: 0px;
		@media screen and
		(max-width: $screen-xs) {
			font-size: x-large;
			margin: 20px 0 10px;
		}
	}
	.search {
		.grid(12);
		padding: 0px;
		.-searchField {
			.grid(12, inherit, 5);
			padding: 0 0 15px;
			input.-searchInput {
				.form-control-humble;
				font-size: large;
				height: 38px;
			}
			button.-findButton {
				.btn;
				.btn-success;
				padding: 8px 12px !important;
			}
		}
		button.-showFilters {
			.btn;
			.btn-primary;
			padding: 8px 12px !important;

			@media screen and
			(max-width: $screen-xs) {
				.form-control;
				.btn;
				.btn-primary;
				height: 38px;
				margin-top: 0px;
				padding: 8px 12px !important;
			}
		}
		.search_filter {
			.grid(12, inherit, 7);
			padding: 0 0 0 15px;
			@media screen and
			(max-width: $screen-xs) {
				border: 1px solid $brand-primary;
				padding: 0 10px;
			}
			@media screen and
			(min-width: $screen-sm) and
			(max-width: $screen-md) {
				padding: 0px;
			}
			h4,
			h5 {
				color: $brand-primary;
			}
			.search_filter_header {
				.grid(12);
				border-bottom: 1px solid $brand-bg;
				color: $brand-primary;
				padding: 0px;
				h4 {
					margin-top: 8px;
				}
				@media screen and
				(max-width: $screen-xs) {
					display: none;
				}
			}
			.search_events {
				.grid(12, 4);
				margin-bottom: 10px;
				padding: 0px;
				@media screen and
				(max-width: $screen-xs) {
					margin-bottom: 0px;
				 }
				.checkbox {
					@media screen and
					(max-width: $screen-xs) {
						.form-control-humble;
						.btn;
						.btn-default;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0px;
						}
					}
					label {
						padding: 0px;
						&:hover {
							color: $brand-primary;
						}
					}
					input#hasUpcomingEvent {
						display: none;
					}
					.eventcaption_upcoming {
						background: $brand-bg;
						display: inline-block;
						height: 20px;
						position: relative;
						vertical-align: bottom;
						width: 28px;
						.eventcaption_upcoming_box {
							background: $brand-success;
							height: 10px;
							position: absolute;
							right: 0px;
							top: 0px;
							width: 10px;
							.eventcaption_upcoming_text {
								background: $default-shadow;
								height: 1px;
								left: 3px;
								position: absolute;
								width: 3px;
								&.first-line {
									top: 2px;
								}
								&.second-line {
									top: 4px;
								}
								&.third-line {
									top: 6px;
								}
							}
						}
					}
					span.glyphicon-calendar,
					span.glyphicon-home,
					span.fa-graduation-cap {
						.transition(all 0.3s);
						color: $brand-primary;
					}
					span.glyphicon-home.checked {
						background: $role-no-bg;
						color: $role-no-text;
						padding: 4px 17px 2px;
					}
					span.fa-graduation-cap.checked {
						background: $role-no-bg;
						color: $role-no-text;
						padding: 4px 15px 2px;
					}
				}
			}
			.filter_categories {
				.grid(12, 4);
				margin-bottom: 10px;
				padding: 0px;
				@media screen and
				(max-width: $screen-xs) {
					margin-bottom: 0px;
				}
				h5 {
					margin-top: 0px;
				}
				.categorySelect {
					margin-bottom: 10px;
					@media screen and
					(max-width: $screen-xs) {
						margin-bottom: 0px;
					}
					input.-searchCategories {
						background: $body-bg;
						border: 2px dashed $category-bg;
						padding: 2px 5px;
						&:focus {
							border-color: $brand-bg;
						}
						@media screen and
						(max-width: $screen-xs) {
							width: 100%;
						}
					}
					.dropdown-toggle {
						position: relative;
						&::before {
							content: '\f107';
							font-family: FontAwesome;
							left: -1em;
							position: absolute;
						}
					}
					&.open .dropdown-toggle::before {
						content: '\f106';
					}
					ul.dropdown-menu {
						background: $body-bg;
						margin-top: 0px;
						max-height: 300px;
						min-width: 80%;
						overflow-x: hidden;
						overflow-y: auto;
						@media screen and
						(max-width: $screen-xs) {
							width: 100%;
						}
						li {
							&:hover {
								background: $category-bg;
							}
							&.no_categories {
								color: $category-text;
								padding: 0px 5px;
								text-align: center;
								&:hover {
									background-color: $body-bg;
									cursor: default;
								}
							}
							& > * {
								display: inline-block;
							}
						}
						a {
							padding: 3px 10px;
							&:hover {
								background: none;
							}
							&.category.parent {
								color: $brand-primary;
								padding-right: 3px;
							}
						}
						.-showSubcategories {
							color: lighten($brand-primary, 10%);
							padding: 0 5px;
							&:hover {
								color: $brand-primary;
							}
						}
					}
					li.-subcategory {
						display: none;
						a {
							color: $default-black;
						}
					}
				}
				ul.selected_categories {
					list-style: none;
					margin: 0px;
					padding-left: 0px;
					li {
						margin-bottom: 3px;
						padding: 0px 3px 3px 0px;
						@media screen and
						(max-width: $screen-xs) {
							display: inline-block;
						}
					}
					span.category {
						background: $category-bg;
						color: $category-text;
						padding: 2px 5px;
					}
				}
			}
			.filter_groups {
				.grid(12, 4);
				margin-bottom: 10px;
				padding: 0px;
				h5 {
					color: $default-black;
				}
			}
			span.glyphicon-remove {
				.btn-remove;
				position: relative;
				top: 2px;
			}
		}
	}
	.courselist_results {
		@media screen and
		(max-width: $screen-xs) {
			padding-top: 15px;
		}
		.no_courses_found {
			text-align: center;
			button.-searchAllRegions {
				.btn-thin;
				.btn-primary;
				margin-top: 10px;

				@media screen and
				(max-width: $screen-xxs) {
					.form-control;
					.btn;
					.btn-primary;
				}
			}
		}
	}
	.course_edit {
		padding: 0px;
	}
}
