.find
	@extend .container
	.course-edit
		padding: 0px

.find-heading
	color: $brand-primary
	margin-top: 0px
	@media (max-width: $screen-xs)
		font-size: x-large
		margin: 20px 0 10px

.search
	+grid(12)
	padding: 0px

.js-search-field
	+grid(12, inherit, 5)
	padding: 0 0 15px

.js-search-input
	@extend .form-control
	font-size: large

.js-find-btn
	@extend .btn
	@extend .btn-primary

.js-toggle-filter
	@extend .btn
	@extend .btn-default
	@media (max-width: $screen-xs)
		width: 100%

.remove-filter
	+btn-cancel

.filter
	+grid(12, inherit, 7)
	padding: 0px
	@media (max-width: $screen-xs)
		border: 1px solid $gray-lighter
		margin-top: 10px
		padding: 0px 10px
	@media (min-width: $screen-md)
		padding-left: 15px

.filter-header
	+grid(12)
	color: $brand-primary
	padding: 0px
	@media (max-width: $screen-xs)
		display: none

.filter-heading
	margin-top: 8px

.filter-course-properties,
.filter-categories
	border-top: 1px solid $openki-light-blue
	float: left
	@media (max-width: $screen-xs)
		border-top-width: 0px

.filter-course-properties
	padding: 10px 15px 10px 0px
	@media (max-width: $screen-xs)
		padding-right: 0px
		width: 100%
	.btn-group-vertical
		@media (max-width: $screen-xs)
			width: 100%

.js-toggle-property-filter
	@extend .btn-default
	text-align: left
	@media (max-width: $screen-xs)
		text-align: center

.active-property-filter-icon
	background: $role-no-bg
	color: $role-no-text
	padding: 4px 17px 2px

.filter-categories
	padding: 10px 0px
	h4
		color: $brand-primary
		margin-top: 0px
	@media (max-width: $screen-xs)
		padding: 0px
		width: 100%

.filter-categories-heading
	@media (max-width: $screen-xs)
		display: none

.filter-categories-select
	margin-bottom: 10px
	.dropdown-toggle
		display: none
	&::after
		content: '\f107'
		font-family: FontAwesome
		position: absolute
		right: 7px
		top: 6px
	&.open::after
		content: '\f106'

.js-search-categories
	@extend .form-control
	border: 1px dashed $category-bg
	&:focus
		border-style: solid

.filter-no-categories-found
	padding: 5px 10px
	&:hover
		background-color: $body-bg
		cursor: default

.filter-categories-dropdown
	max-height: 300px
	overflow-x: hidden
	overflow-y: auto
	width: 100%
	li
		position: relative
	.js-category
		background-color: $dropdown-bg

.main-category
	color: $brand-primary !important

.js-toggle-subcategories
	color: $gray-light
	padding: 0 5px
	position: absolute
	right: 10px
	top: 5px
	&:hover
		color: $gray
		cursor: pointer

.js-sub-category
	display: none

.filter-selected-categories
	list-style: none
	margin: 0px
	padding-left: 0px
	li
		margin-bottom: 3px
		padding: 0px 3px 3px 0px
		@media (max-width: $screen-xs)
			display: inline-block

.courselist_results
	@media (max-width: $screen-xs)
		padding-top: 15px

.no-courses-found
	text-align: center

.js-all-regions-btn
	@extend .btn
	@extend .btn-primary
	margin-top: 10px
