.find {
	@extend .container;
	.course_edit {
		padding: 0px;
	}
}

.find-heading {
	margin-top: 0px;
	@media screen and
	(max-width: $screen-xs) {
		font-size: x-large;
		margin: 20px 0 10px;
	}
}

.search {
	@include grid(12);
	padding: 0px;
}

.searchField {
	@include grid(12, inherit, 5);
	padding: 0 0 15px;
}

.searchInput {
	@include form-control-humble;
	font-size: large;
	height: 38px;
}

.findButton {
	@extend .btn;
	@extend .btn-success;
	padding: 8px 12px !important;
}

.showFilters {
	@extend .btn;
	@extend .btn-primary;
	padding: 8px 12px !important;

	@media screen and
	(max-width: $screen-xs) {
		// @include form-control;
		// @include btn;
		// @include btn-primary;
		height: 38px;
		margin-top: 0px;
		padding: 8px 12px !important;
	}
}

.filter {
	@include grid(12, inherit, 7);
	padding: 0 0 0 15px;

	@media screen and
	(max-width: $screen-xs) {
		border: 1px solid $brand-primary;
		padding: 0 10px;
	}

	@media screen and
	(min-width: $screen-sm) and
	(max-width: $screen-md) {
		padding: 0px;
	}

	span.glyphicon-remove {
		@include btn-remove;
		position: relative;
		top: 2px;
	}
}

.filter-header {
	@include grid(12);
	border-bottom: 1px solid $openki-light-blue;
	color: $brand-primary;
	padding: 0px;
	@media screen and
	(max-width: $screen-xs) {
		display: none;
	}
}

.filter-heading {
	margin-top: 8px;
}

.filter-course-properties {
	@include grid(12, 4);
	margin-bottom: 10px;
	padding: 0px;
	@media screen and
	(max-width: $screen-xs) {
		margin-bottom: 0px;
	}
}

.toggleFilter {
	@media screen and
	(max-width: $screen-xs) {
		@include form-control-humble;
		@include btn;
		@include btn-default;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	label {
		padding: 0px;
		&:hover {
			color: $brand-primary;
		}
	}
}

.filter-upcomping-events {
	display: none;
}

.filter-course-properties {
	.glyphicon-calendar,
	.glyphicon-home,
	.fa-graduation-cap {
		@include transition(all 0.3s);
		color: $brand-primary;
	}
}

.checked {
	background: $role-no-bg;
	color: $role-no-text;
	padding: 4px 17px 2px;
}

.filter_categories {
	@include grid(12, 4);
	margin-bottom: 10px;
	padding: 0px;
	@media screen and
	(max-width: $screen-xs) {
		margin-bottom: 0px;
	}
	h5 {
		margin-top: 0px;
	}
}

.categorySelect {
	margin-bottom: 10px;
	@media screen and
	(max-width: $screen-xs) {
		margin-bottom: 0px;
	}
	input.-searchCategories {
		background: $body-bg;
		border: 2px dashed $category-bg;
		padding: 2px 5px;
		&:focus {
			border-color: $openki-light-blue;
		}
		@media screen and
		(max-width: $screen-xs) {
			width: 100%;
		}
	}
	.dropdown-toggle {
		position: relative;
		&::before {
			content: '\f107';
			font-family: FontAwesome;
			left: -1em;
			position: absolute;
		}
	}
	&.open .dropdown-toggle::before {
		content: '\f106';
	}
	ul.dropdown-menu {
		background: $body-bg;
		margin-top: 0px;
		max-height: 300px;
		min-width: 80%;
		overflow-x: hidden;
		overflow-y: auto;
		@media screen and
		(max-width: $screen-xs) {
			width: 100%;
		}
		li {
			&:hover {
				background: $category-bg;
			}
			&.no_categories {
				color: $category-text;
				padding: 0px 5px;
				text-align: center;
				&:hover {
					background-color: $body-bg;
					cursor: default;
				}
			}
			& > * {
				display: inline-block;
			}
		}
		a {
			padding: 3px 10px;
			&:hover {
				background: none;
			}
			&.category.parent {
				color: $brand-primary;
				padding-right: 3px;
			}
		}
		.-showSubcategories {
			color: lighten($brand-primary, 10%);
			padding: 0 5px;
			&:hover {
				color: $brand-primary;
			}
		}
	}
	li.-subcategory {
		display: none;
		a {
			color: $default-black;
		}
	}
}

ul.selected_categories {
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	li {
		margin-bottom: 3px;
		padding: 0px 3px 3px 0px;
		@media screen and
		(max-width: $screen-xs) {
			display: inline-block;
		}
	}
	span.category {
		background: $category-bg;
		color: $category-text;
		padding: 2px 5px;
	}
}

.filter_groups {
	@include grid(12, 4);
	margin-bottom: 10px;
	padding: 0px;
	h5 {
		color: $default-black;
	}
}

.courselist_results {
	@media screen and
	(max-width: $screen-xs) {
		padding-top: 15px;
	}
	.no_courses_found {
		text-align: center;
		button.-searchAllRegions {
			@include btn-thin;
			@extend .btn-primary;
			margin-top: 10px;

			@media screen and
			(max-width: $screen-xxs) {
				@include form-control;
				@include btn;
				@include btn-primary;
			}
		}
	}
}
