<template name="find">
<div class="find">
	<h1>{{mf 'find.WhatLearn?' 'What do you want to learn?'}}</h1>
	<div class="search">
		<div class="input-group">
			<input type="text" class="form-control searchInput" value="{{search}}" placeholder="{{mf 'find.search_placeholder' 'Everything'}}">
			<span class="input-group-btn">
				<button class="find-btn btn btn-primary " type="button">{{mf 'find.search_go' 'GO!'}}</button>
			</span>
		</div>
		<div class="search_filter">
			<div class="search_filter_header">
				<h4>
					<span class="glyphicon glyphicon-filter"></span>
					{{mf 'find.search_filter.title' 'Filter results'}}
				</h4>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="hasUpcomingEvent" name="hasUpcomingEvent" value="" {{hasUpcomingEventsChecked}}>
					{{mf 'find.only with events_checkbox' 'only with events'}}
				</label>
			</div>
			<div class="filter_categories">
				{{#if categories}}
				<h5>{{mf 'find.filter.categories' 'Selected {COUNT, plural, one {category} other {# categories}}' COUNT=categories.length}}</h5>
				<ul>
				{{#each categories}}
					<li>
						{{categoryName}}&nbsp;
						<span class="glyphicon glyphicon-remove removeCategoryFilter" title="{{mf 'find.filter.removeCategory' 'Remove filter'}}"></span>
					</li>
				{{/each}}
				</ul>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="courselist_results">
		{{#each results}}
			{{> course}}
		{{else}}
			{{#if ready}}{{mf 'find.no_courses_found.propose_new_course?' 'No Courses found. Do you want to propose this one?'}}{{/if}}
		{{/each}}
		{{#unless ready}}
			<div style="padding-bottom: 100px">
				{{> loading}}
			</div>
		{{/unless}}
	</div>
	{{#if eventResults.count}}
	<div class="courselist_results">
		<hr>
		<h3>
		{{#if results.count}}
			{{#mf KEY='find.events.aditional_results' EVENTS=eventResults.count}}
				 {EVENTS, plural,
					one {In addition, we found this event}
					other {In addition, we found these # events}
				}
			{{/mf}}
		{{else}}
			{{#mf KEY='find.events.results_if_no_courses' EVENTS=eventResults.count}}
				{EVENTS, plural,
					one {All we found is this one event}
					other {Yet # Events have been found}
				}
			{{/mf}}
		{{/if}}
		</h3><br />
		{{#each eventResults}}
		<div class="event_results">
			{{>course_event event=this}}
		</div>
		{{/each}}
	</div>
	{{/if}}
	<div class="propose_course">
		{{> course_edit newCourse}}
	</div>
</div>
</template>
