<template name="find">
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="search row">
				<h1>{{mf 'find.WhatLearn?' 'What do you want to learn?'}}</h1>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding">
					<div class="input-group">
						<input type="text" id="find" class="form-control" value="{{query}}" placeholder="{{mf 'find.search_placeholder' 'Everything'}}">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">{{mf 'find.search_go' 'GO!'}}</button>
						</span>
					</div>
					<div class="checkbox row">
						<label>
							<input type="checkbox" id="hasUpcomingEvent" name="hasUpcomingEvent" value="" {{hasUpcomingEventsChecked}}>
							{{mf 'find.only with events_checkbox' 'only with events'}}
						</label>
					</div>
				</div>
			</div>
			<div class="container-fluid row">
				<div class="courselist_results row">
					{{#each results}}
						{{> course}}
					{{else}}
						{{mf 'find.no_courses_found.propose_new_course?' 'No Courses found. Do you want to propose this one?'}}
					{{/each}}
				</div>
				{{#if eventResults.count}}
				<div class="courselist_results row">
					<hr>
					<h3>
					{{#if results.count}}
						{{#mf KEY='find.events.aditional_results' EVENTS=eventResults.count}}
							 {EVENTS, plural,
								one {In addition, we found this event}
								other {In addition, we found these # events}
							}
						{{/mf}}
					{{else}}
						{{#mf KEY='find.events.results_if_no_courses' EVENTS=eventResults.count}}
							{EVENTS, plural,
								one {All we found is this one event}
								other {Yet # Events have been found}
							}
						{{/mf}}
					{{/if}}
					</h3><br />
					<div class="col-sm-12 no-padding">
						{{#each eventResults}}
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
							{{>course_event event=this}}
						</div>
						{{/each}}
					</div>
				</div>
				{{/if}}
				<div class="row">
						{{> course_edit newCourse}}
				</div>
			</div>
		</div>
	</div>
</template>
