.find {
  .container;

  h1 {
    margin-top: 0;

    @media @mobile {
      margin: 20px 0 10px;
    }
  }

  .search {
    .grid(12);
    padding: 0;

    .search_field {
      .grid(12, inherit, inherit, 6);
      padding: 0 0 15px;

      input.searchInput {
        height: 38px;
      }

      button.-findButton,
      button.filter-toggle-btn {
        padding: 8px 12px !important;
      }
    }

    .search_filter {
      .grid(12);
      padding: 0;

      .search_filter_header {
        .grid(12);
        padding: 0;

    		h4 {
    			margin-top: 8px;
    		}
      }

      .search_events {
        .grid(12, 4);
        margin-bottom: 10px;
        padding: 0;

        .checkbox {
          label {
            padding: 0;
          }

    			input#hasUpcomingEvent {
            display: none;
    			}

          .eventcaption_upcoming {
            display: inline-block;
            height: 20px;
            position: relative;
            width: 28px;

            .eventcaption_upcoming_box {
              height: 10px;
              position: absolute;
              right: 0;
              top: 0;
              width: 7px;

              .eventcaption_upcoming_text {
                left: 2px;
                height: 1px;
                position: absolute;
                width: 3px;

                &.first-line {
                  top: 2px;
                }

                &.second-line {
                  top: 4px;
                }

                &.third-line {
                  top: 6px;
                }
              }
            }
          }

          span.checked.glyphicon-home {
            padding: 4px 17px 2px;
          }

          span.checked.fa-graduation-cap {
            padding: 4px 15px 2px;
          }
        }
      }

      .filter_categories {
        .grid(12, 4);
        margin-bottom: 10px;
        padding: 0;

        h5 {
          margin-top: 0;
        }

        .category_select {
          margin-bottom: 10px;

          a.dropdown-toggle {
            padding: 2px 5px;
          }

          ul.dropdown-menu {
            margin-top: 6px;

            li > * {
              display: inline-block;
            }

            a.category.parent {
              padding-right: 0;
            }

            .show_subcategories {
              padding-right: 20px;
            }
          }

          li.subcategory {
            display: none;
            margin-left: 20px;

            a {
              padding-left: 10px;
            }
          }
        }

        ul.selected_categories {
          margin: 0;
          padding-left: 0;

          li {
            margin-bottom: 3px;
            padding: 0 3px 3px 0;
          }

          span.category {
            padding: 2px 5px;
          }
        }
      }

      .filter_groups {
        .grid(12, 4);
        margin-bottom: 10px;
        padding: 0;

        span.group {
          margin-bottom: 10px;
          padding: 2px 5px;
        }
      }

      span.glyphicon-remove {
          position: relative;
          top: 2px;
      }
    }
  }
}
