.locationDetails {
	.container;

	.head{
		.grid(12);
		background-color: @location-bg;
		color: @location-text;
		height: 140px;
		overflow: auto;
		padding-right: 0;

		h1 {
			color: @location-text;
		}

		.description h1{
			background-color: @default-black;
			display: inline;
		}

		img {
			height: 140px;
			float: right;
		}
	}

	.body{
		.grid(12);
		margin-top: 3px;
		background-color: #eef;

		.descriptionFrame {
			.grid(12, 6);
			padding: 0;

			.title {
				margin-top: 10px;
				font-weight: bold;
			}
		}

		.location_map {
			.grid(12, 6);
			padding: 0;
		}
	}
}


.locationlist {
	.container-fluid;
	padding-left: 40px;

	.locationlist_location{

	}
}


.location {
	margin-bottom: 10px;

	a {
		background-color: @location-bg;
		color: @location-text;
		padding-left: 5px;
		padding-right: 5px;
		display: inline-block;

		&:hover {
			.box-shadow-s(@location-hover-shadow);
			background: @location-hover-bg;
			text-decoration: none;
		}
	}

	.name {
		font-size: medium;
	}
	.description {
		font-size: small;
		color: black;
	}
}

a.location_link {
	background: @location-bg;
	color: @location-text;
	padding: 2px 5px;

	&:hover {
		background: @location-hover-bg;
		text-decoration: none;
	}
}
