<template name="locationDetails">
<div class="locationDetails">
	{{#if isEditing}}
			{{>location_edit}}
	{{/if}}

<!-- copied from example to coursedetails to here... could be set in template-controller write into this. nicht global in session ->variable in template -->
	{{#with location}}
	{{#unless isEditing}}
		<div class="location_main">
			<h1 class="name">{{name}}</h1>
			<p class="small">{{mf 'location.details.time_created' 'Time created:'}} {{dateformat time_created}}, {{mf 'location.details.last_edited' 'Last edited:'}} {{dateformat time_lastedit}} {{mf 'location.details.created_by' 'Created by:'}} {{username createdby}}, {{!--> show_locationcategories--}}</p>

			<div class="description">
				<img src="{{picture}}">
				<div class="title">{{mf 'location.details.desc' 'Description:'}}</div> {{description}}
				<div class="title">{{mf 'location.details.hosts_admin' 'Hosts/Admin:'}}</div>
				<ul class='hosts'>
					{{#each hosts}}
						<li>
							{{>profilelink this}}
						</li>
					{{/each}}
				</ul>
				{{#if contact.web}}
					<div class="title">{{mf 'location.details.online' 'Website:'}} </div>
					<a href="{{contact.web}}">{{contact.web}}</a>
				{{/if}}
				<div class="title">{{mf 'location.details.address' 'Address:'}}</div> {{address}}
				{{#if route}}
					<div class="title">{{mf 'location.details.how_go_there' 'How to go there:'}}</div> {{route}}
				{{/if}}
				{{#if maxPeople}}
					<div class="title">{{mf 'location.details.max_ppl' 'Maximum People:'}}</div> {{maxPeople}}
				{{/if}}
				{{#if maxWorkplaces}}
					<div class="title">{{mf 'location.details.max_workplaces' 'Maximum Workplaces:'}}</div> {{maxWorkplaces}}
				{{/if}}
				{{#if infra2.def }}
					<div class="title">{{mf 'location.details.has_projector' 'Has a Projector!'}} </div>
				{{/if}}
				{{#if specials}}
					<div class="title">{{mf 'location.details.specials' 'Specials:'}}</div> {{specials}}
				{{/if}}
			</div>

			{{#if loc}}
			<div class="location_map">
				{{mf 'location.details.map' 'Map:'}}
				<div>{{>map markers=markers width=300 height=300}}</div>
				Coordinates: {{loc.coordinates.[1]}} {{loc.coordinates.[0]}}
			</div>
			{{/if}}



			<input type="button" class="contact" value="Contact" /> <br><br>
			{{#if canEditLocation}}
			{{mf 'location.details.yourHost' 'You are Host here:'}}
			<input type="button" class="edit" value="Edit" />
			<input type="button" class="del" value="Delete" />
			{{/if}}
		</div>
	{{/unless}}
	{{/with}}

</div>
</template>
