.locationlist {
	.container-fluid;
	padding-left: 40px;

	.locationlist_location{

	}
}


.location {
	margin-bottom: 10px;

	a {
		background-color: @location-bg;
		color: @location-text;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;

		&:hover {
			.box-shadow-small(@location-hover-shadow);
			background: @location-hover-bg;
			text-decoration: none;
		}
	}

	.name {
		font-size: medium;
	}
	.description {
		color: @default-black;
		font-size: small;
	}
}

a.location_link {
	.transition(all 0.5s);
	background: @location-bg;
	color: @location-text;
	padding: 3px 4px 1px;

	&:hover {
		background: @location-hover-bg;
		text-decoration: none;
		.box-shadow-small(@default-shadow);
	}

	span.glyphicon-home {
		margin-right: 2px;
	}
}
