.find {
    .container;

    .search {
        .make-sm-column(12);
        .make-xs-column(12);
        .no-padding;

        h1 {
            margin-top: 0;
        }

        .input-group {
            .make-sm-column(3);
            .make-xs-column(12);
            .no-padding;
        }

        .search_filter {
            .make-sm-column(8);
            .make-sm-column-offset(1);
            .make-xs-column(12);

            * {
                .transition(0.5s);
            }

            h4,
						h5 {
                color: @brand-primary;
            }

            .search_filter_header {
                .make-sm-column(2);
                .make-xs-column(12);
                .no-padding;
                color: @brand-primary;

								h4 {
									margin-top: 8px;
								}
            }

            .search_events {
                .make-sm-column(3);
                .make-xs-column(12);
                .no-padding;

                .checkbox:hover {
                    color: @brand-primary;
                }

								input:hover {
									cursor: pointer;
								}
            }

            .filter_categories {
                .make-sm-column(7);
                .make-xs-column(12);
                .no-padding;

                ul {
                    .list-unstyled;

                    li {
                      padding-bottom: 3px;
                    }

                    span.category {
                      background: rgba(216, 216, 216, 0.5);
                      color: @brand-primary;
                      padding: 0 2px;
                    }

                    span.glyphicon-remove {
                        color: lighten(@brand-danger, 20%);
                        cursor: pointer;
                        position: relative;
                        top: 2px;

                        &:hover {
                            color: @brand-danger;
                        }
                    }
                }
            }
        }
    }

    input#find {
        font-size: 20px;
        height: 38px;
    }
}
