.search {
    .make-xs-column(12);

    h1 {
        margin-top: 0;
    }

    .input-group {
        .make-sm-column(3);
        .make-xs-column(12);
        .no-padding;
    }

    .checkbox {
        .make-sm-column(12);
        .make-xs-column(12);
        .no-padding;
    }
}

button.find-btn {
	height: 38px;
}

input#find {
	font-size: 20px;
	height: 38px;
}
