.find {
    .container;

    h1 {
        margin-top: 0;

        @media @mobile {
            margin: 20px 0 10px;
            font-size: x-large;
        }
    }

    .search {
        .make-sm-column(12);
        .make-xs-column(12);
        .no-padding;

        .input-group {
            .make-sm-column(4);
            .make-xs-column(12);
            .no-padding;

            input.searchInput {
                .form-control-humble;
            }

            button.find-btn {
                .btn;
                .btn-primary;
            }
        }

        .search_filter {
            .make-sm-column(7.5);
            .make-sm-column-offset(0.5);
            .make-xs-column(12);
            padding: 0 0 0 15px;

            * {
                .transition(0.5s);
            }

            h4,
			h5 {
                color: @brand-primary;
            }

            .search_filter_header {
                .make-sm-column(12);
                .make-xs-column(12);
                .no-padding;
                color: @brand-primary;
                border-bottom: 1px solid @light-blue;

				h4 {
					margin-top: 8px;
				}
            }

            .search_events {
                .make-sm-column(4);
                .make-xs-column(12);
                .no-padding;
                margin-bottom: 10px;

                .checkbox {
                    label {
                        padding: 0;
                    }

                    &:hover {
                        color: @brand-primary;
                    }

    				input#hasUpcomingEvent {
                        display: none;
    				}

                    span.fa {
                        color: @brand-primary;
                    }
                }
            }

            .filter_categories {
                .make-sm-column(8);
                .make-xs-column(12);
                .no-padding;
                margin-bottom: 10px;

                h5 {
                    margin-top: 0;
                }

                span.glyphicon-remove {
                    color: lighten(@brand-danger, 20%);
                    cursor: pointer;
                    position: relative;
                    top: 2px;

                    &:hover {
                        color: @brand-danger;
                    }
                }

                .category_select {
                    margin-bottom: 10px;

                    a.dropdown-toggle {
                        .btn-thin;
                        .btn-primary;
                    }

                    .show_subcategories {
                        color: rgb(177, 184, 184);

                        &:hover {
                            color: @brand-primary !important;
                        }
                    }

                    li.subcategory {
                        display: none;

                        a {
                            padding-left: 30px;
                        }
                    }
                }

                ul.selected_categories {
                    .list-unstyled;

                    li {
                      padding: 0 3px 3px 0;
                      display: inline-block;
                    }

                    span.category {
                      background: rgba(216, 216, 216, 0.5);
                      color: @brand-primary;
                      padding: 0 2px;
                    }
                }
            }
        }
    }

    input#find {
        font-size: 20px;
        height: 38px;
    }
}
