.box-shadow() {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
				0px 0px 8px rgba(56, 130, 156, 0.6);
}

.box-shadow-s(@color) {
	box-shadow: 0px 0px 4px @color;
}

.no-padding() {
    padding: 0;
}

.form-control-humble() {
	.form-control;

	&:focus {
		box-shadow: none;
	}
}

.list-unstyled() {
    list-style: none;
    padding-left: 0;
}

.flip_n_scale(@degrees, @x-axis, @y-axis) {
    -moz-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -webkit-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -o-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -ms-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    transform: rotate(@degrees) scale(@x-axis, @y-axis);
}

// CUSTOM BUTTON MIXINS

.btn-thin {
	.btn;
	padding: 3px 12px;
}

.big-button-primary() {
	.form-control;
	.btn;
	.btn-primary;
	.no-padding;
	border: none;
	border-top: 3px solid @body-bg;
	text-align: left;
	height: auto;
	font-size: large;
	padding: 10px 15px;
	line-height: 1.1;

	&:hover {
		border: none;
		border-top: 3px solid @body-bg;
	}
}

.big-button-success() {
	.form-control;
	.btn;
	.btn-success;
	.no-padding;
	border: none;
	border-top: 3px solid @body-bg;
	text-align: left;
	height: auto;
	font-size: large;
	padding: 10px 15px;
	line-height: 1.1;

	&:hover {
		border: none;
		border-top: 3px solid @body-bg;
	}
}

// CUSTOM GRID MIXINS
// One-line statements using bootstrap grid mixins
// Value 0 is used to inherit the previous value

.grid(@xs) {
	.make-xs-column(@xs);
}

.grid(@xs, @sm) {
	.make-xs-column(@xs);
	.make-sm-column(@sm);
}

.grid(@xs, @sm, @md) {
	.make-xs-column(@xs);

	& when not (@sm = 0) {
		.make-sm-column(@sm);
	}

	.make-md-column(@md);
}

.grid(@xs, @sm, @md, @lg) {
	.make-xs-column(@xs);

	& when not (@sm = 0) {
		.make-sm-column(@sm);
	}

	& when not (@md = 0) {
		.make-md-column(@md);
	}

	.make-lg-column(@lg);
}
