.box-shadow() {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
				0px 0px 8px rgba(56, 130, 156, 0.6);
}

.no-padding() {
    padding: 0;
}

.list-unstyled() {
    list-style: none;
    padding-left: 0;
}

.flip_n_scale(@degrees, @x-axis, @y-axis) {
    -moz-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -webkit-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -o-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    -ms-transform: rotate(@degrees) scale(@x-axis, @y-axis);
    transform: rotate(@degrees) scale(@x-axis, @y-axis);
}
