// Most variables (like @brand-... etc.) are defined in:
// -> /bootstrap/custom.bootstrap.import.less

@light-blue:           #D8EBF4; //Used mainly for backgrounds
@light-red:            #EC6D6D; //Used for course roles
@orange:               #f2b43d;
