@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  // IE9 Compat Modes
  src: url(/fonts/sourcesanspro/sourcesanspro-light.eot);
  // IE6-IE8
  src: url(/fonts/sourcesanspro/sourcesanspro-light.eot?#iefix) format('embedded-opentype');
  // Safari, Android, iOS
  src: url(/fonts/sourcesanspro/sourcesanspro-light.ttf) format('truetype');
  // Legacy iOS
  src: url(/fonts/sourcesanspro/sourcesanspro-light.svn#SourceSansPro) format('svn');
  // Modern Browsers
  src: local('SourceSansPro Light'),
       local('SourceSansPro-Light'),
       url(/fonts/sourcesanspro/sourcesanspro-light.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 600;
  // IE9 Compat Modes
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.eot);
  // IE6-IE8
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.eot?#iefix) format('embedded-opentype');
  // Safari, Android, iOS
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.ttf) format('truetype');
  // Legacy iOS
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.svn#SourceSansPro) format('svn');
  // Modern Browsers
  src: local('SourceSansPro Semibold'),
       local('SourceSansPro-Semibold'),
       url(/fonts/sourcesanspro/sourcesanspro-semibold.woff) format('woff');
}
