@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/sourcesanspro/sourcesanspro-light.eot);
  src: url(/fonts/sourcesanspro/sourcesanspro-light.woff) format('woff'),
       url(/fonts/sourcesanspro/sourcesanspro-light.ttf) format('truetype'),
       url(/fonts/sourcesanspro/sourcesanspro-light.svn#SourceSansPro) format('svn');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: bold;
  font-weight: 600;
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.eot);
  src: url(/fonts/sourcesanspro/sourcesanspro-semibold.woff) format('woff')
       url(/fonts/sourcesanspro/sourcesanspro-semibold.ttf) format('truetype'),
       url(/fonts/sourcesanspro/sourcesanspro-semibold.svn#SourceSansPro) format('svn');
}
