//This sheet contains site-wide used resets & styles

* {
	border-radius: 0 !important;
}

html,body {
	height: 100%;
}

body {
	padding-top: 65px;
}

h1 {
	color: @brand-primary;
}

p {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#maincontent {
	padding-bottom: 50px;
}

.dropdown-menu {
	background: @light-blue;
	width: 300px;
}

button.open {
	margin-top: 20px;
}

.form-control {
	padding: 6px 10px;
}

.tooltip {
	font-size: @font-size-base;
}

ul.nav-tabs {
	li {
		a {
			color: #555;
			&:hover {
				color: @body-bg;
			}
		}
	}
}