.userprofile {
	.email_box {
		padding: 5px;
		textarea#emailmessage {
			.form-control;
			height: 120px;
		}
		button.sendmail {
			.btn;
			.btn-primary;
		}
	}
	.privileges {
		ul.privileges {
			padding: 0;
			list-style: none;
			li{
				margin-top: 10px;
				&:first-child {
					margin-top: none;
				}
				span.granted {
					padding-right: 10px;
				}
			}
			button {
				.btn;
				.btn-sm;
				.btn-primary;
			}
		}
	}
}

