.roles {
	.make-sm-column(12);
	.make-xs-column(12);
	padding-top: 15px;
	background: @light-blue;
	border-top: 3px solid @body-bg;

	ul.subscribers {
		.list-unstyled;
		font-size: medium;

		li {
			padding: 5px 0;

			a {
				color: #333;
			}
		}

		ul.roles_list {
			.list-unstyled;
			margin-left: 20px;
			display: inline-block;

			li {
				color: @body-bg;
				background: @brand-primary;
				padding: 5px;
				text-transform: uppercase;
				font-size: small;
				font-weight: bold;
				display: inline-block;
				vertical-align: middle;

				&.participant {
					display: none;
				}
			}

			button.makeTeam {
				.btn;
				.btn-primary;
				padding: 3px 10px;
			}
		}

		span.member_comment {
			margin-left: 20px;

			.editable-controls {
				button.editable-store,
				button.editable-cancel {
					border: 0;
					background: none;
					color: @brand-primary;
					display: inline-block;
				}

				span.glyphicon-ok {
					color: #5cb85c;
				}

				span.glyphicon-remove {
					color: @light-red;
				}
			}
		}
	}
}
