.courselist_course
	margin: 10px 0
	cursor: pointer
	float: left
	width: 300px
	height: 140px
	clear: none
	margin: 10px
	overflow: hidden

.courselist_course_text 
.takingplace
	border: 5px solid $light_blue
	background-color: $light_blue

.courselist_course_text 
.proposal
	border: 5px dotted $light_blue

.courselist_course_text
	float: left
	width: 290px
	height: 130px
	overflow: hidden

.course_name
	color: #000000
	font-size: 22px
	margin: 5px 0 0 10px


.courselist_course_info
	position: absolute
	margin-left: 217px
	padding: 0

.course_status
	margin: 0
	padding: 0

.course_status li
	width: 80px
	height: 20px
	font-size: 15px
	border-left: 3px solid #FFF
	border-bottom: 3px solid #FFF
	list-style-type: none
	text-align: center
	color: black

.course_eventlist
	margin: 0
	padding: 0
	border-left: 3px solid #FFF
	border-bottom: 3px solid #FFF
	background-color: #C1F2AE

.course_eventlist li
	width: 80px
	list-style-type: none
	color: black
	padding: 2px 0 2px 0
	text-align: center
	
.course_eventlist_date
	font-size: 18x

.course_eventlist_time
	font-size: 9px

.course_eventlist_hasmore
	font-size: 16px
	padding: 0 0 3px 0
	line-height: 12px