.courselist_course
	margin: 0 20px 20px 0
	cursor: pointer
	float: left
	width: 300px
	height: 140px
	clear: none
	overflow: hidden

.courselist_course_text 
.hasupcomingevents
	border: 7px solid #EEE
	background-color: #EEE

.courselist_course_text 
.haspastevents
	border: 7px solid #EAEAEA

.courselist_course_text 
.proposal
	border: 7px dotted #DDD


.courselist_course_text
	float: left
	width: 286px
	height: 126px
	overflow: hidden


.course_name
	color: #000000
	font-size: 22px
	margin: 5px 0 0 10px

.course_categories
	font-size: 10px
	margin: 10px 0 0 10px

.course_categories ul
	list-style-type: none
	display: inline
	margin: 0
	padding: 0

.course_categories li
	display: inline
	padding: 0 5px
	background-color: #DDD

.courselist_course_text 
.smalldesc
	font-size: 7px
	margin: 0 0 0 10px

.courselist_course_info
	position: absolute
	margin-left: 217px
	padding: 0

.courselist_course_info li
	text-align: center
	border-left: 3px solid #FFF
	border-bottom: 3px solid #FFF
	width: 80px


.course_status
	margin: 0
	padding: 0

.course_status li
	height: 20px
	font-size: 15px
	list-style-type: none
	color: black

.course_eventlist
	margin: 0
	padding: 0
	background-color: #C1F2AE

.course_eventlist li
	width: 80px
	list-style-type: none
	color: black
	
.course_eventlist_date
	font-size: 19px
	padding: 3px 0 0px 0

.course_eventlist_time
	font-size: 9px
	font-family: Arial, sanss
	padding: 0 0 4px 0

.course_eventlist_location
	font-size: 9px
	font-family: Arial, sans
	padding: 3px 0 4px 0

li.course_eventlist_hasmore
	font-size: 11px
	font-family: Arial, sans
	padding: 3px 0 5px 0
	line-height: 12px

