<template name="principles">
	<div class="container principles">
		<h1>Openki principles</h1>

<h3> Education should be accessible to everyone</h3>
<div>
Openki courses should have only indicative (not fixed) prices and always accept free admissions.

Mentors can still discuss with the course participants about a minimum amount expected for them to invest the time and effort required for a specialized course to be offered and/or fixed material costs (rental for tools, room, etc.)
</div>


<h3> Education should be a collective participatory process</h3>
<div>

Openki-courses are designed as open and collective learning processes that can be initiated and organized by anyone. In practical terms, a course is a flexible digital space that facilitates the bottom-up appropriation of different roles (mentor, host, organizer, participant). Trust building between the interested course members is expected to take place offline before or during the different related events, regular or irregular.

The software itself is under continuous development according to the needs of the different groups and our vibrant github repository, http://github/Openki, provides the means for discussions and deliberation around key functionalities and features.
</div>


<h3>Digital platforms should respect the privacy of the users</h3>

<div>
The Openki platform allows for practically anonymous participation. Usage is
tracked for internal purposes to allow detecting abuse, register client-side
errors, and improvement of the service.

As mentioned above, this means that the necessary trust needs to be created
outside the platform. For this, the platform does not take any responsibility
regarding neither the accuracy of the information shared nor the quality of the
courses or venues. If in doubt, avoid to participate in events that take place
in unknown locations and/or organized by unknown people.
</div>


<h3>Digital platforms should be free, libre, and open source</h3>

<div>
The Openki platform aims to be a means of facilitation of self-organized learning processes and not an all-inclusive digital platform that builds and owns a customer base toward commercial or other objectives.

It is built according to the free, libre and open source (FLOSS) principles and allows for easy replication and customization by other groups.
</div>


<h3>Openness and tolerance are fundamental values that should be strongly defended</h3>
<div>
A platform like Openki that is fundamentally open and tolerant to difference is susceptible also to those intolerant. Being built as a free, libre, and open source software the Openki team cannot control how its software is used in different domains. However, as far as the Openki.net platform is concerned, fascist, military, hate, and other intolerant groups are not welcome and will not be tolerated.

In practice, course description, comments, and links to web sites that promote such behaviour will be removed from the public web site. However, if we will actually need to act upon such content (not the case until today) it will be in a transparent and democratic way. That is, the decision with all related information placed in a specific repository together with the reason of deletion, for the Openki community to be able to discuss and debate around "marginal" cases.
</div>


<h3>Face-to-face communication should be promoted over online interactions</h3>

<div>
Avoid sending unnecessary messages and organize regular gatherings and events in which discussions about the online activity (e.g., who is who in the Openki platform) would help generate trust without the need for abusive reputation mechanisms.
</div>
</div>
</template>
