.kiosk {
	a {
		&:hover {
			text-decoration: none;

			.calendar_event {
				& > .course_event_desc {
					color: @brand-primary;
				}
			}
		}

		.calendar_event {
			.kiosk_event_header {
				background: @brand-success;
				border-bottom: 3px solid @body-bg;
				color: @gray-base;
				font-size: large;

				.kiosk_event_home {
					text-align: right;
				}
			}

			.course_event_title {
				& > h3 {
					color: @gray-base;
				}
			}
		}
	}

	.kiosk_events_ongoing_container {
		.kiosk_events_ongoing {
			.calendar_event {
				background: rgba(250,150,00,0.3);
			}

			.kiosk_event_header {
				background: rgba(200,250,00,0.2);

				.kiosk_event_date {
					border: 1px solid @body-bg;
					border-radius: 1px !important;
				}

				.kiosk_event_home {
					text-align: left;
				}
			}
		}
	}

	.kiosk_slim {
		overflow: hidden;
		background: @brand-success;
		border: 5px solid @body-bg;
		display: inline-block;
	}
}


.kiosk_header {
	h1 {
		a.dropdown-toggle {
			font-size: large;

			&:focus {
				text-decoration: none;
			}
		}
		
		ul.dropdown-menu {
			z-index: 1030;
		}
	}
}
