.course-role-title,
.course-role-title-enroll {
	font-size: large;
	line-height: 1.1;
	padding: 10px ($grid-gutter-width / 2);
	width: 100%;
}

.course-role-title .close {
	font-size: medium;
	line-height: 1.5em;
}

.course-role-title {
	background: $user-bg;
}

.course-role-title-enroll {
	background: $green;
}

.js-role-unsubscribe-btn {
	@include td-margin(left, 5px);
	font-size: medium;
	padding: 3px 12px;
}

.course-role-enroll,
.course-role-enrolled {
	margin-top: $course-details-seperator-height;
}

.course-role-enroll-options {
	@include clearfix;
	background: $course-page-component-bg;
	padding: 15px 15px 0;
}

.course-role-first-steps {
	background-color: lighten($user-bg, 10%);
	padding: 15px;
}

.course-role-first-steps .btn {
	margin-top: 15px;
}
