<template name="notFound">
	<div class="container page-not-found">
		<div class="page-component">
			<h1>
				<span class="fa fa-flash fa-fw" aria-hidden="true"></span>
				{{mf 'notFound.title' "Page not found"}}
				<span class="fa fa-flash fa-fw" aria-hidden="true"></span>
			</h1>
			<h3>{{mf 'notFound.explanation' "This page is not available. Maybe it never existed."}}</h3>
		</div>
		<div class="page-component page-component-seperated">
			<ul class="page-not-found-links">
				<li>
					<button class="btn-link js-go-back">
						{{backArrow}}
						{{mf 'notFound.goBack' "Go back"}}
					</button>
				</li>
				<li>
					<a href="{{pathFor 'home'}}">
						<span class="fa fa-home fa-fw" aria-hidden="true"></span>
						{{mf 'notFound.visitStartPage' "Go to the start page"}}
					</a>
				</li>
			</ul>
		</div>
		<div class="page-not-found-report">
			{{> report}}
		</div>
	</div>
</template>
