.profile-courselist h3[id] {
	margin-top: 10px;
}

.profile-courselist .badge-title {
	margin-bottom: 5px;
}

.profile-courselist .badge-title + div {
	margin-bottom: 20px;
}

.profile-courselist .badge {
	background-color: $user-bg;
	color: desaturate(darken($user-bg, 40%), 80%);
}

.profile-courselist .role-label {
	transition: all $default-transition-time;
	cursor: pointer;
	&:hover,
	&:focus {
		color: desaturate(darken($user-bg, 50%), 80%);
		background: darken($user-bg, 5%);
		box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	}
}