<template name="about">
	<div class="container about">
		<p>Diese Seite ist ein Prototyp von Openki.net und wird hier als alpha-Version zum ersten Mal über längere Zeit öffentlich gebraucht und getestet.</p>

		<p>Hier kannst du Kurse vorschlagen und organisieren. Im <a href="{{pathFor 'calendar'}}">Kalender</a> siehst du, welche Workshops wann und wo geschehen.</p>

		<p>Du kannst auch die Vorschläge der anderen betrachten, neue eigene erstellen, dich als Teilnehmer_in, Mentor_in oder Host anmelden, kommentieren und helfen, dass die Kurse stattfinden. </p>

		<p>Diese Webseite ist in Freiwilligenarbeit entstanden und noch lange nicht fertig programmiert, wie gesagt: ein Prototyp. Sei also nicht Böse wenn was nicht funktioniert oder abstürzt. Wenn du weisst, wie's besser wäre, bring dich bitte ein! Und wenn du sogar was programmieren kannst: voila le Sourcecode: <a href='https://github.com/schuel/hmmm'>Github.com </a>.<br>
		Melde dich bei uns <a href="mailto:schuelcore[ät]lists.xiala.net"> schuelcore [ät] lists.xiala.net</a> </p>

		<p>Wenn du mehr über das Projekt erfahren möchtest gehts hier weiter: <a href='http://openki.net'> Openki.net</a> </p>
	</div>
  <!-- div class="static_content_top">
  	Ein ausführlicher Projektbeschrieb findest du auf <a href="http://news.schuel.ch">news.schuel.ch</a> <br/>
  	  <iframe frameborder="0" class="dev_doku" src="http://news.schuel.ch"></iframe>
  </div>


<h6>Disclaimer [de]</h6>
<div class="static_content">
	Achtung:
	<br/>
	Dies ist nur eine Testseite, um den aktuellen Stand unseres Projekts zu zeigen.<br/>
	<br/>
	Wir übernehmen keinerlei Verantwortung für eingegebene Daten. <br/>
	Weder, dass sie erhalten bleiben, noch, dass sie vor Einsicht geschützt sind.<br/>
	Im Gegenteil: die Daten liegen offen auf fremden Servern, und wir werden durch Veränderungen am Code sicher Daten löschen. Ausversehen und auch extra.<br/>
	<br/>
	Forke uns auf <a href="https://github.com/schuel/hmmm/fork">GitHub</a>
</div>

<h6>Disclaimer [en]</h6>
<div class="static_content">
	Achtung:
	<br/>
	This is only a test-page to show the current status of our project.<br/>
	<br/>
	We assume no responsibility for entered data.<br/>
	Neither that they are preserved, nor that they are protected from disclosure.
	On the contrary, the data is freely accessible on third-party servers and we will securely delete data by changing the code. Accidentally and on purpose.<br/>
	<br/>
	Forke uns auf <a href="https://github.com/schuel/hmmm/fork">GitHub</a>
</div>

<h6>Credits :)</h6>
<div class="static_content">
	<ul>
	<li>Login & Discussion: B.</li>
	<li>URL-Routing, Menue, DecisionMakerPlus, CourseMetadata, ParticipiantFrontend, Rooms: M.</li>
	<li>CourseView and Edit: L.</li>
	<li>Categories: O.</li>
	<li>Marquee: U.</li>
	<li>Code estetics: S</li>
	</ul>
</div> -->
</template>
