<template name="donate">
	<div class="container donate">
		<h1>Please support our work now</h1>

		<h5> contribute with:</h5>
		<div>
			<h3> FairCoins: </h3>
			fRkCzg8FaXwmYcot5iuAengx7VFsEVcxbd
		</div>
		<div>
			<h3> bitcoins: </h3>
			16AAoqas5YpcbCYd3sw1FNkZBpXGfsXdNz
		</div>
		<div>
			<h3> Bank transfer: </h3>
			You can transfer a donation to our bank account: <br><br>

				Owner: <code>Verein Kopf</code> &nbsp; Purpose: <code>Donation</code> <br>
				IBAN: <code>CH18 0839 0033 2399 1000 6</code> <br>
				Bank: <code>Alternative Bank Schweiz</code> &nbsp; BankCode (Bankclearing/IID): <code>8390</code><br>
				Account: <code>332.399.100-06</code> &nbsp; BIC (SWIFT-Code): <code>ABSOCH22</code> &nbsp; Postkonto: <code>46-110-7 </code><br>
				Address of recipient: <code>Verein KOPF, Sihlquai 131, CH-8005 Zürich </code><br>
				Address of bank: <code>Alternative Bank Schweiz AG, Amthausquai 21, Postfach, CH-4601 Olten</code> <br>

		</div>
		<div>
			<h3> Paypal: </h3>
			comming soon maybe
		</div>
		<div>
			<h3> Creditcard: </h3>
			comming sooner or later
		</div>
	</div>
</template>
