.noscript {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: @light-blue;

	.noscript_message_box {
		margin: auto;
		width: 300px;
		height: 100px;
		position: relative;
		top: calc(~"50% - 100px");
		border: 3px solid @default-white;
		background: @brand-primary;

		img {
			.grid(4);
			padding: 0;
			height: 95px;
		}

		.noscript_message {
			.grid (8);
			padding: 15px 15px;
			color: @default-white;
			height: 100%;
		}
	}
}
