<template name="notFound">
	<div class="static_content_top">
		<h1>{{mf 'notFound.title' "Page not found"}}</h1>
		
		<div>
			{{mf 'notFound.explanation' "This page is not available. Maybe it never existed."}}
		</div>
		
		<div>
			{{> report}}
		</div>
		
		<div>
			<h2>{{mf 'notFound.suggestedLinks' "Suggested Links"}}</h2>
			<ul>
				<li><a href="#" class="goBack">{{mf 'notFound.goBack' "Go back"}}</a></li>
				<li><a href='/'>{{mf 'notFound.visitStartPage' "Go to the start page"}}</a></li>
			</ul>
		</div>
	</div>
</template>