.event-edit-header {
	@media (min-width: $screen-xs) {
		border-color: $event-header-bg;
	}
}

.event-edit-body {
	@media (min-width: $screen-xs) {
		border-color: $event-body-bg;
	}
}

.time-end > .input-group + label {
	margin-top: 0;
}

.event-edit-files > .btn {
	margin-top: 10px;
}

.js-event-add-file ~ .table {
	margin: $form-group-margin-bottom 0 0;
}
