<template name="eventEdit">
	<form>
	<div class="event-edit">
		{{#if _id}}
			<h2>{{mf 'course.event.edit.edit' 'Edit event'}}</h2>
		{{else}}
			<h2>{{mf 'course.event.edit.add' 'Add event'}}</h2>
			{{#unless hasParentCourse}}
				{{mf 'course.createEventInfo' 'Use this form if you want to publish a singular, one-off, allready organised event. Otherwise create or propose a course here:'}}
				<a href="/courses/propose">{{mf 'menue.ProposeCourse'}}</a>
			{{/unless}}
		{{/if}}

		<div class="event-edit-header">
			<div class="form-group">
				<label>{{mf 'course.event.edit.title' 'Event title'}}</label>
				<input type="text" class="form-control input-lg" id="eventEditTitle"
					name="_"
					placeholder="{{mf 'event.title.placeholder' 'Put a catchy title here'}}"
					size="30"
					value="{{this.title}}"/>
			</div>
			<div class="form-group">
				<div class="form-group-element">
					<label>{{mf 'course.event.edit.date_start' 'Date'}}</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
						<input type="text" class="form-control js-event-start-date"
							value="{{localDate start}}"
							{{disableForPast}}/>
					</div>
				</div>
				<div class="form-group-element">
					<label>{{mf 'course.event.edit.time_start' 'Time start'}}</label>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-time"></span>
						</span>
						<input type="text" class="form-control" id="editEventStartTime"
							size="5"
							value="{{timeformat start}}"
							{{disableForPast}}/>
					</div>
				</div>
				<div class="form-group-element">
					{{#if showDuration}}
						<label>
							{{mf 'course.event.edit.duration' 'Duration (in minutes)'}}
							&nbsp;
							<button type="button" class="js-toggle-duration btn-icon"
								data-tooltip="{{mf 'course.event.edit.switch_time_end' 'Switch to end time'}}">
								<span class="fa fa-exchange"></span>
							</button>
						</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
							<input type="number" class="form-control" id="editEventDuration"
								value="{{timeformat Duration}}"
								size="5"/>
						</div>
					{{else}}
						<label>
							{{mf 'course.event.edit.time_end' 'Time end'}}
							&nbsp;
							<button type="button" class="js-toggle-duration btn-icon"
								data-tooltip="{{mf 'course.event.edit.swich_duration' 'Switch to duration'}}">
								<span class="fa fa-exchange"></span>
							</button>
						</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
							<input type="text" class="form-control"	id="editEventEndTime"
								size="5"
								value="{{timeformat end}}"/>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="event-edit-body">
			<div class="form-group">
				<label>{{mf 'course.event.edit.desc' 'Description'}}</label>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-info-sign"></span>
					</span>
					{{> eventDescriptionEdit description}}
				</div>
			</div>

			<div class="form-group">
				{{#if showRegionSelection}}
					<div class="region_selection form-group-element">
						<label>{{mf 'course.edit.region' 'Region'}}</label>
						<select class="region_select js-select-region form-control"
							name='region'>
							<option value='' disabled selected class="select_placeholder">
								{{mf 'course.edit.pls_select' 'Please select'}}
							</option>
							{{#each regions}}
								<option value='{{_id}}' selected="{{#if currentRegion this}}selected{{/if}}">
									{{name}}
								</option>
							{{/each}}
						</select>
					</div>
				{{/if}}

				<div class="event-edit-files form-group-element">
					<label>
						{{mf 'course.event.edit.files' 'Files'}}
						<small> {{mf '_inputField.optional'}}</small>
					</label>
						<input type="file" class="eventFileInput"	id="eventEditFiles"
							name="…"
							value="Upload file"/>
					<button type="button" class="btn btn-default js-event-upload-file"
						style="display:none">
						<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
						{{mf 'event.edit.startUpload' 'Start Upload'}}
					</button>
					<table class="table table-hover file-list">
						<tbody>
							{{#each files}}
								{{> eventAttachmentsEdit}}
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			{{#if showLocationSelection}}
				{{>eventEditLocation}}
			{{/if}}

			<div class="form-group">
				<label>
					{{mf 'course.event.edit.room' 'Room'}}
					<small> {{mf '_inputField.optional'}}</small>
				</label>
				<div class="input-group" id="editform_room" name="editform_room">
					<span class="input-group-addon">
						<span class="fa fa-map-signs"></span>
					</span>
					<input type="text" class="form-control"	id="eventEditRoom"
						size="40"
						value="{{room}}"/>
				</div>
			</div>

			<div class="form-group">
				<div class="form-group-element">
					<div class="checkbox">
						<label title="{{mf 'event.edit.internal.description' 'Event will only be shown in group and location-details'}}">
							<input type="checkbox" class="-eventInternal" {{isInternal}}/>
							{{mf 'event.edit.internal' 'Internal'}}

						</label>
						<span class="help-block">
							{{mf 'event.edit.internal.description' 'Internal events are only shown in group and location-details'}}
						</span>
					</div>
				</div>
				{{#if affectedReplicaCount}}
					<div class="form-group-element">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="updateReplicas">
								{{mf 'event.edit.updateReplicas'
									"Update {COUNT, plural, one {later copy} other {# later copies as well}}"
									COUNT=affectedReplicaCount
								}}
							</label>
							<span class="warn-block">
								<i class="fa fa-warning fa-fw" aria-hidden="true"></i>
									{{mf 'event.edit.updateReplicas.times'
									"Time-changes will not be updated in {COUNT, plural, one {copy} other {copies}}."
									COUNT=affectedReplicaCount
								}}
							</span>
						</div>
					</div>
				{{/if}}
			</div>

			<div class="form-actions">
				<button type="button" class="btn btn-cancel js-event-edit-cancel-btn">
					<span class="glyphicon glyphicon-remove"></span>
					{{mf '_button.cancel'}}
				</button>
				<button type="submit" class="btn btn-save">
					<span class="glyphicon glyphicon-save"></span>
					{{mf '_button.save'}}
				</button>
			</div>
		</div>
	</div>
	</form>
</template>

<template name="eventDescriptionEdit">
	<div class="form-control editable-textarea"
		id="eventEditDescription"
		data-placeholder="{{mf 'event.description.placeholder' 'Describe your event as accurately as possible. This helps people to know how to prepare and what to expect from this meeting (eg. level, prerequisites, activities, teaching methods, what to bring, et cetera)'}}">
		{{{this}}}
	</div>
</template>

<template name="eventAttachmentsEdit">
	<tr id="row-{{_id}}">
		<td>
			<i class="fa fa-file fa-fw" aria-hidden="true"></i>
			<a href="{{file}}" target="_blank">
				{{filename}}
			</a>
		</td>
		<td>
			<button type="button" class="js-delete-file close"
				data-tooltip="{{mf 'event.edit.removeFile' 'Remove attached file'}}">
				&times;
			</button>
		</td>
	</tr>
</template>
