@import '{}/client/styles/variables';

.event-edit {
  h2 {
    margin-top: 0;
  }
}

.event-edit-header {
	margin-top: 10px;
	@media (min-width: $screen-xs) {
		border-color: $brand-success;
		border-style: dashed;
		border-width: 7px 7px 0;
		padding: 20px 30px 0;
	}
}

.event-edit-body {
	padding-bottom: 10px;
	@media (min-width: $screen-xs) {
		border-color: $brand-success;
		border-style: dashed;
		border-width: 0 7px 7px;
		padding: 0 30px 10px;
	}
}

.event-edit-files > .btn {
	margin-top: 10px;
}

.js-event-add-file ~ .table {
	margin: $form-group-margin-bottom 0 0;
}
