<template name="eventPage">
	<div class="container">
		<div class="course_event_detail" id="coursedetails">
			{{#if course}}
			<p>
	            <a href="{{pathFor 'showCourse' _id=course._id}}">
	            	<span class="glyphicon glyphicon-arrow-left"></span>
	            	{{mf 'course.event.detail.back' 'Back to course'}} "{{course.name}}"
	            </a>
	        </p>
	        {{/if}}
	        {{#if isEvent}}
				{{>event}}
			{{else}}
				<h4>{{mf "event.no_event" "Sorry, we couldn't find this event, it had been deleted or has never existed."}}</h4>
			{{/if}}
		</div>
	</div>
</template>

<template name="event">
	{{#if editing}}
	<div class="course_event_edit col-sm-12">
		<div class="col-sm-12">
			<h2>{{#if _id}}{{mf 'course.event.edit.edit' 'Edit event'}}{{else}}{{mf 'course.event.edit.add' 'Add event'}}{{/if}}</h2>
			<h4>{{mf 'course.event.edit.title' 'Event title:'}}</h4>
			<input type="text" class="form-control" id="edit_event_title" size="30" value="{{this.title}}" name="_" />
		</div>
		<div class="col-sm-12 no-padding">
			<div class="col-sm-4">
				<h4>{{mf 'course.event.edit.date_start' 'Date'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
					<input type="date" id="edit_event_startdate" class="form-control" value="{{isoDateFormat startdate}}" size="8">
				</div>
			</div>
			

			<div class="col-sm-4">
				<h4>{{mf 'course.event.edit.time_start' 'Time start'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
					<input type="time" id="edit_event_starttime" class="form-control" value="{{timeformat startdate}}" size="5">			
				</div>
			</div>
			
			<div class="show_time_end col-sm-4">
				<h4>{{mf 'course.event.edit.time_end' 'Time end'}} <small class="toggle_duration" > &nbsp;&nbsp;{{mf 'course.event.edit.swich_duration' 'switch to duration'}} </small></h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
					<input type="time" id="edit_event_endtime" class="form-control" value="{{timeformat enddate}}" size="5">			
				</div>
			</div>
			
			<div style="display:none" class="col-sm-4 show_duration">
				<h4>{{mf 'course.event.edit.duration' 'Duration (in minutes)'}} <small class="toggle_duration" > &nbsp;&nbsp; {{mf 'course.event.edit.switch_time_end' 'switch to end time'}} </small></h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
					<input type="number" id="edit_event_duration" class="form-control" value="{{timeformat Duration}}" size="5">			
				</div>
			</div>
		</div>


		
		<div class="col-sm-12">
			<div class="col-xs-12 col-sm-6 no-padding-left">
				<h4>  {{mf 'course.event.edit.desc' 'Description:'}}</h4>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-info-sign"></span>
					</span>
					{{>eventDescritpionEdit description}}
				</div>
			
			</div>
			<div class="col-xs-12 col-sm-6 no-padding-right">
				<h4>{{mf 'course.event.edit.files' 'Files: (optional)'}}</h4> 

				<div class="input-group">
					
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-file"></span>
					</span>
					
					<div id="edit_event_description" style="min-height: 10ex; position:relative">
						<div style="float:left;width:70%;">
							<input type="file" name="…" class="eventFileInput" id="edit_files">
							
							<button style="display:none" type="button" class="eventFileUpload" role="button">
								<span class="glyphicon glyphicon-edit"></span>
								Start Upload
							</button>
									
							
							
						</div>
						
							<div style="float:left;width:20%;">
								<table class="file-list">
									
									{{#each files}}
				        				{{> eventAttachmentsEdit}}
				      				{{/each}}
									
								</table>
							</div>
									
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="col-sm-12 no-padding">
			<div class="col-xs-12 col-sm-6">
				<h4>{{mf 'course.event.edit.location' 'Location:'}}</h4> 
				<div id="editform_location" name="editform_location" class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-home"></span>
					</span>
					<input type="text" id="edit_event_location" class="form-control" size="40" value="{{location}}"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4>{{mf 'course.event.edit.room' 'Room: (optional)'}}</h4> 
				<div id="editform_room" name="editform_room" class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-map-marker"></span>
					</span>
					<input type="text" id="edit_event_room" class="form-control" size="40" value="{{room}}"/>
				</div>
			</div>
			{{#if showRegionSelection}}
			<div class="col-xs-12 col-sm-4">
				<h4>{{mf 'course.edit.region' 'Region:'}}</h4>
				<select name='region' class="region_select">
					<option value=''>{{mf 'course.edit.pls_select' 'Please select'}}</option>
				{{#each regions}}
					<option value='{{_id}}' selected="{{#if currentRegion this}}selected{{/if}}">{{name}}</option>
				{{/each}}
				</select>
			</div>
			{{/if}}
		</div>
		
		<div class="col-sm-12 no-padding event_edit_buttons">
			<div class="col-xs-12 col-sm-5">
				<button type="button" class="saveEditEvent btn btn-primary form-control">
					<span class="glyphicon glyphicon-save"></span>
					{{mf 'course.event.edit.save_btn' 'Save'}}
				</button>
				
				
			</div>
			
			<div class="col-xs-12 col-sm-2">	
				{{#if replicasExist}}
					<input type="checkbox" name="updateReplicas">Update Replicas<br>
				{{/if}}
			</div>
			
			<div class="col-xs-12 col-sm-5">
				<button type="button" class="cancelEditEvent btn btn-default form-control">
					<span class="glyphicon glyphicon-remove"></span>
					{{mf 'course.event.edit.cancel_btn' 'Cancel'}}
				</button>
			</div>
		</div>
		

		
	</div>
	{{else}}
		<div class="course_event">
			<div class="course_event_date">
				<div class="container-fluid">
					<span class="day">{{weekday startdate}}</span><br>
					<span class="date">
						<span class="glyphicon glyphicon-calendar"></span>
						{{dateformat_mini_fullmonth startdate}}
					</span>
				</div>
			</div>
			<div class="course_event_lower_section">
				<div class="container-fluid">
					<div class="course_event_title"><h4>{{this.title}}</h4></div>
					<div class="course_event_time">
						<span class="glyphicon glyphicon-time"></span> {{timeformat startdate}} - {{timeformat enddate}}
						{{#if location}}
							<br><span class="glyphicon glyphicon-home"></span> {{location}} 
							{{#if room}} - {{room}}{{/if}}
						{{/if}} 
					</div>
				</div>
			</div>
			<div class="container-fluid event_detail_description">
				<p>
					{{{description}}}
				</p>
			</div>
			
			{{#if files}} 
			<div class="container-fluid event_detail_description">
				<p>Related Files:</p>
				<ul style="list-style-type:none">
					
					{{#each files}}
        				{{> eventAttachments}}
      				{{/each}}
					
				</ul>
			</div>
			{{/if}}

			
			{{# if currentUser}}
			<div class="eventEdit_buttons col-sm-12" >
				
				
				
				<div class="btn-group" role="group">
					<button type="button" class="eventEdit btn btn-success" role="button">
						<span class="glyphicon glyphicon-edit"></span>
						{{mf 'course.details.edit_btn' 'Edit'}}
					</button>
					<button type="button" class="eventDelete btn btn-danger" role="button">
						<span class="glyphicon glyphicon-remove"></span>
						{{mf 'course.details.del_btn' 'Delete'}}
					</button>
					
					<button type="button" class="eventReplicateMenu btn btn-warning" role="button">
						<span class="glyphicon glyphicon-plus"></span>
						{{mf 'course.details.repl_menu_btn' 'Replicate'}}
					</button>
					
				</div>
				
				
				<div id="eventReplicationMenu" style="display:none;">
					
					<div class="col-xs-12 col-sm-3">
						<h4>{{mf 'event.replication.interval.start' 'Interval Start'}}</h4>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type="date" id="edit_event_startdate" class="form-control" value="{{isoDateFormat startdate}}" size="8">
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-3">
						<h4>{{mf 'event.replication.interval.end' 'Interval End'}}</h4>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type="date" id="edit_event_enddate" class="form-control" value="{{isoDateFormat enddate}}" size="8">
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-2">
						<h4>Frequency</h4>
						<div class="input-group">
							 <select id="edit_frequency" class="form-control">
							    {{#each frequencyOptions}}
							      <option value="{{frequency}}">{{text}}</option>
							    {{/each}}
		  					</select> 
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-2">
						<br/> <br/>
						
						<div class="input-group">
							<button type="button" class="eventReplicate btn btn-warning" role="button">
								<!--span class="glyphicon glyphicon-plus"></span-->
								{{mf 'course.details.repl_btn' 'Create events'}}
							</button>
						</div>
					</div>
					
				<div class="col-xs-12 col-sm-2">
						
					<p style="font-size:12px;">
						*This will replicate the same event for all the dates that fall in the chosen interval. 
						The event times will be preserved across all replicated events.
					</p>
				</div>
					
					
				</div>
			
				
				
				
			</div>
			{{/if}}
		</div>
		<a href="{{pathFor 'calEvent' this}}">
			<span class="glyphicon glyphicon-calendar"></span>{{mf 'event.download_cal' 'Download to my calendar'}}
		</a>
	{{/if}}
	{{> report}}

</template>

<template name="eventDescritpionEdit">
	<div id="edit_event_description" style="min-height: 10ex">{{{this}}}</div>
</template>

<template name="eventAttachments">
	<li>
		<p>
			<a href="{{file}}" target="_blank">{{filename}}</a>
		</p>
	</li>
</template>


<template name="eventAttachmentsEdit">
	<tr id="row-{{_id}}">
		<td style="padding-right:5px;">
			<a href="{{file}}" target="_blank">{{filename}}</a>
		</td>
		<td>
			<button role="button" class="fileDelete close" type="button">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>					
								
	</tr>
</template>
