.locationFrame {
	.grid(12);
	padding: 0;

	.locationEdit {
		.grid(12);
		padding: 0;

		@media @mobile {
			span.input-group-addon {
				display: none;
			}
		}

		.locationSearch {
			.grid(12, 6);
			margin: 10px 0;

			.currentLocation {
				.locationName {
					display: inline-block;
					padding-bottom: 5px;
				}
			}

			.locationSearchbar {
				padding-bottom: 5px;
			}

			input.-locationAddress {
				margin-bottom: 5px;
			}

			ul.locationCandidates {
				padding: 5px 0 5px;

				li.locationCandidate {
					margin-bottom: 4px;
					padding-left: 5px;
				}
			}
		}

		.locationMap {
			.grid(12, 6);
			margin: 10px 0;
			padding-left: 0;

			@media @mobile {
				padding-left: 15px;
			}
		}
	}
}
