<template name="eventPage">
	<div class="course_event_detail" id="coursedetails">
		{{#if course}}
			<p>
				<a href="{{pathFor 'showCourse' _id=course._id}}">
					<span class="glyphicon glyphicon-arrow-left"></span>
					{{mf 'course.event.detail.back' 'Back to course'}} "{{course.name}}"
				</a>
			</p>
		{{/if}}
		{{> event}}
	</div>
</template>

<template name="eventNotFound">
	<h4>{{mf "event.no_event" "Sorry, we couldn't find this event, it must have been deleted or it never existed in the first place."}}</h4>
</template>

<template name="event">
	{{#if editing}}
		{{> eventEdit}}
	{{else}}
		{{> eventDisplay}}
	{{/if}}
</template>

<template name="eventDisplay">
	<div class="course_event">
		<div class="course_event_date">
				<span class="day">{{weekday start}}</span><br>
				<span class="date">
					<span class="glyphicon glyphicon-calendar"></span>
					{{dateformat_mini_fullmonth start}}
				</span>
				&nbsp;
				<span class="glyphicon glyphicon-time"></span>
				{{timeformat start}} - {{timeformat end}}
		</div>
		<div class="course_event_lower_section">
			<div class="head">
				<div class="course_event_title">
					<h3>{{this.title}}</h3>
				</div>
				<div class="location">
					{{#if location.name}}
						{{#if location._id}}
							<a class="location_link" href="{{pathFor 'locationDetails' data=location}}">
								<span class="glyphicon glyphicon-home"></span>
								{{location.name}}
							</a>
						{{else}}
							<span class="glyphicon glyphicon-home"></span>
							{{location.name}}
						{{/if}}
						{{#if room}}
							<span class="fa fa-map-signs"></span>
							{{room}}
						{{/if}}
					{{/if}}
					{{#if location.address}}
						<span class="fa fa-map-marker"></span>
						{{location.address}}
					{{/if}}
				</div>
				{{> groupList}}
				<p>{{{description}}}</p>
			</div>
			{{#if haveLocation}}
				<div class="mapBox">
					{{>map markers=eventMarkers}}
				</div>
			{{/if}}
		</div>
		<div class="event_detail_description">

		</div>
		{{#if files}}
			<div class="event_detail_description">
				<p>Related Files:</p>
				<ul style="list-style-type:none">
					{{#each files}}
						{{> eventAttachments}}
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if mayEdit}}
			<div class="eventEdit_buttons">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group" role="group">
						<button type="button" class="eventEdit btn btn-success" role="button">
							<span class="glyphicon glyphicon-edit"></span>
							{{mf '_button.edit'}}
						</button>
						{{#if replicating}}
							<button type="button" class="-closeReplication btn btn-warning" role="button">
								<span class="glyphicon glyphicon-minus"></span>
								{{mf 'course.details.repl_menu_btn'}}
							</button>
						{{else}}
							<button type="button" class="-openReplication btn btn-warning" role="button">
								<span class="glyphicon glyphicon-plus"></span>
								{{mf 'course.details.repl_menu_btn' 'Repeat'}}
							</button>
						{{/if}}
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="eventDelete btn btn-danger" role="button">
							<span class="glyphicon glyphicon-remove"></span>
							{{mf '_button.delete'}}
						</button>
					</div>
				</div>
			</div>
			{{#if replicating}}
				{{>eventReplication}}
			{{/if}}
		{{/if}}
	</div>
	{{> groupListing}}
	<div class="event_options">
		<a href="{{pathFor 'calEvent' this}}">
			<button
				type="button"
				class="calendar_download"
				href="#"
				data-toggle="tooltip"
				data-placement="top"
				data-html="true"
				data-delay='{"show":"500", "hide":"0"}'
				data-original-title="{{mf 'event.detail.download.tooltip' 'Download as vCalendar for your favorite calendar application'}}">
				<span class="glyphicon glyphicon-download"></span>&nbsp;
				{{mf 'event.detail.download_cal' 'Download event to my calendar'}}
			</button>
		</a>
		{{> report}}
	</div>
</template>

<template name="eventAttachments">
<li>
	<p>
		<a href="{{file}}" target="_blank">{{filename}}</a>
	</p>
</li>
</template>
