.locationFrame {
	.grid(12);
	padding: 0;

	.locationEdit {
		.grid(12);
		background-color: rgba(200, 200, 255, 0.15);
		border: 1px solid #CCC;
		overflow: auto;
		padding: 0;

		@media @mobile {
			span.input-group-addon {
				display: none;
			}
		}

		.input-group-addon:first-child {
			border: none;
			border-right: 1px solid #CCC;
		}

		.locationSearch {
			.grid(12, 6);
			margin: 10px 0;

			.currentLocation {
				.locationName {
					display: inline-block;
					padding-bottom: 5px;
				}

				span.fa-map-marker {
					color: darken(@brand-success, 40%);
				}

				button.-locationChange {
					.btn-thin;
					.btn-primary;
				}
			}

			.locationSearchbar {
				padding-bottom: 5px;

				input.-locationName {
					.form-control-humble;
				}

				button.-addressSearch {
					.btn;
					.btn-primary;
				}
			}

			input.-locationAddress {
				.form-control-humble;
				margin-bottom: 5px;
			}

			ul.locationCandidates {
				padding: 5px 0;

				li.locationCandidate {
					background-color: rgba(200, 200, 255, 0.35);
					list-style: none;
					margin-bottom: 4px;
					padding-left: 5px;

					&.hover {
						background: rgba(200, 200, 255, 0.75);
						cursor: pointer;
						fill: #ff1;
					}

					.address {
						font-size: 11px;
					}
				}
			}
		}

		.locationMap {
			.grid(12, 6);
			margin: 10px 0;
			padding-left: 0;

			@media @mobile {
				padding-left: 15px;
			}
		}
	}
}
