.course_event_edit {
	.grid(12);

	input,
	select {
		.form-control-humble;
	}

	.date,
	.start_time,
	.end_time,
	.show_duration {
		.grid(12, 4);

		@media @tablet {
			padding: 0;
		}

		@media @mobile {
			padding: 0;
		}
	}

	.date {
		padding-left: 0;
	}

	.end_time,
	.show_duration {
		padding-right: 0;
	}

	.description {
		.grid(12);
		padding: 0;

		#edit_event_description {
			.form-control-humble;
			height: auto; // Reset fixed height from .form-control-humble
			min-height: 100px;
			max-height: 150px;
			overflow: auto;
		}
	}

	.region_selection {
		.grid(12, 4);
		padding-left: 0;

		@media @tablet {
			padding: 0;
		}
	}

	.files {
		.grid(12, 8);
		padding: 0;

		input#edit_files {
			height: auto;
		}

		button.eventFileUpload {
			.btn-thin;
			.btn-primary;
			margin: 5px 0;
		}
	}

	.room {
		.grid(12);
		padding: 0;
	}

	.update_replicas {
		.grid(12);
		padding: 10px 0;

		label {
			font-weight: normal;
			vertical-align: baseline;
		}
	}

	.edit_buttons {
		.grid(12);
		padding: 0 0 15px;

		button {
			&:first-child {
				margin-right: 5px;
			}

			&.saveEditEvent {
				.btn;
				.btn-success;

				@media @mobile {
					.form-control;
					.btn;
					.btn-success;
					margin-bottom: 10px;
				}
			}

			&.cancelEditEvent {
				.btn;
				.btn-danger;

				@media @mobile {
					.form-control;
					.btn;
					.btn-danger;
				}
			}
		}
	}
}
