.locationFrame {
	.location {
		background-color: rgba(200, 200, 255, 0.35);
	}

	.locationEdit {
		background-color: rgba(200, 200, 255, 0.15);
		border: 1px solid #CCC;
		overflow: auto;

		.input-group .button {
			.btn;
			.btn-primary;
		}

		.locationCandidate {
			.list-unstyled;
			background-color: rgba(200, 200, 255, 0.35);

			.address {
				font-size: 8px;
			}
		}

		.hover {
			background: rgba(200, 200, 255, 0.75);
			fill: #ff1;
		}

		.leaflet-interactive {
			&:hover {
				cursor: default;
			}

			.hover {
				fill: #ff1;
			}
		}
	}
}
