<template name="profile">
	<div class="container-sm">
		<div class="details-page-component">
			<h1>{{mf 'login.frame.settings'}}</h1>
			<a class="profile-link" href="{{pathFor 'userprofile' _id=currentUser._id}}">
				{{mf 'login.frame.profile' 'Visit my profile'}}
			</a>
			{{#if editing}}
				<div class="details-page-form">
					<form class="profile-info-edit">
						<div class="form-group">
							<label for="editform_username">
								{{mf 'profile.input.username' 'Username:'}}
							</label>
								<input class="form-control"
									id="editform_username"
									type="text"
									value="{{user.name}}"/>
						</div>
						<div class="form-group">
							<label for="editform_email">
								{{mf 'profile.email' 'E-Mail:'}} {{mf '_inputField.optional'}}
							</label>
								<input class="form-control"
									id="editform_email"
									type="text"
									value="{{user.email}}"/>
						</div>
						<div class="form-group">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {{#if user.privacy}}active{{/if}}"
									title="{{mf 'profile.toggle.highprivacy.explication' 'If enabled you can enrole anonymously to courses (experimental)'}}">
									<i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>
									{{mf 'profile.toggle.highprivacy' 'High privacy'}}
									<span class="checkmark glyphicon glyphicon-ok"></span>
									<input type="checkbox" id="privacy"/>
								</label>
							</div>
						</div>
						<div class="form-actions">
							<button type="button" class="btn btn-cancel js-profile-info-cancel-btn">
								{{mf '_button.cancel'}}
							</button>
							<button type="submit" class="btn btn-save profile-info-save-btn">
								{{mf 'profile.input.save' "Save"}}
							</button>
						</div>
					</form>
				</div>
			{{else}}
				<div class="details-page-body profile-info">
					<div class="details-page-content">
						<table>
							<tbody>
								<tr class="name">
									<td>{{mf 'profile.username' 'Username:'}}</td>
									<td>{{user.name}}</td>
								</tr>
								{{#if user.have_email}}
									<tr class="email">
										<td>
											{{mf 'profile.email' 'E-Mail:'}}
											&nbsp;
											{{mf '_inputField.optional'}}
										</td>
										<td>
											{{user.email}}
											<span class="descr_small"> {{verifiedEmail}} </span>
											&nbsp;
											{{#unless user.veryfiedEmailTrue}}
											<button type="button" class="btn btn-go js-verify-mail-btn">
												<span class="glyphicon glyphicon-ok-circle"></span>
												&nbsp;
												{{mf 'profile.verifymail' 'Verify my E-Mail'}}
											</button>
											{{/unless}}
										</td>
									</tr>
								{{/if}}
								<tr class="privacy">
									<td> {{mf 'profile.highprivacy' 'High privacy:'}}</td>
									<td>
										{{#if user.privacy}}
											{{mf 'profile.privacyOn' 'on'}} &nbsp;
											<span class="fa fa-user-secret"></span>
										{{else}}
											{{mf 'profile.privacyOff' 'off'}} &nbsp;
											<span class="fa-stack">
												<i class="fa fa-user-secret fa-stack-1x"></i>
												<i class="fa fa-ban fa-stack-2x text-danger"></i>
											</span>
										{{/if}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="actions">
					{{#unless verifyDelete}}
						<button type="button" class="btn btn-delete js-profile-delete-btn"
							data-tooltip="{{mf 'profile.delete' 'Delete my account'}}">
							<i class="glyphicon glyphicon-trash fa-fw" aria-hidden="true"></i>
							{{mf '_button.delete'}}
						</button>
					{{/unless}}
					<button type="button" class="btn btn-edit js-profile-info-edit-btn"
						data-tooltip="{{mf 'profile.edit' 'Edit profile info'}}">
						<i class="glyphicon glyphicon-edit fa-fw" aria-hidden="true"></i>
						{{mf '_button.edit'}}
					</button>
					{{#unless changingPass}}
						<button type="button" class="btn btn-default js-change-pwd-btn">
							<i class="fa fa-lock fa-fw" aria-hidden="true"></i>
							{{mf 'profile.changePass' 'Change my password'}}
						</button>
					{{/unless}}
				</div>
			{{/if}}
			{{#if changingPass}}
			<div class="details-page-form">
				<form id="changePwd">
					<div class="form-group">
						<label for="oldpassword">
							{{mf 'profile.input.oldPassword' 'Your current password'}}
						</label>
						<input type="password" class="form-control" id="oldpassword" value=""/>
					</div>
					<div class="form-group">
						<label for="newpassword">
							{{mf 'profile.input.newPassword' 'New password'}}
						</label>
						<input type="password" class="form-control" id="newpassword" value=""/>
					</div>
					<div class="form-group">
						<label for="newpassword_confirm">
							{{mf 'profile.input.repeatPassword' 'Repeat new password'}}
						</label>
						<input type="password" class="form-control" id="newpassword_confirm" value=""/>
					</div>
					<div class="form-actions">
						<button type="button" class="btn btn-cancel js-change-pwd-cancel-btn">
							{{mf '_button.cancel'}}
						</button>
						<button type="submit" class="btn btn-save">
							<i class="fa fa-lock fa-fw" aria-hidden="true"></i>
							{{mf 'profile.changePass' 'Change my password'}}
						</button>
					</div>
				</form>
			</div>
			{{/if}}
			{{#if verifyDelete}}
				<div class="profile-delete-confirmation">
					{{mf 'profile.reallydelete' 'Please confirm that you would like to delete your profile. This cannot be undone, you will have to create a new account if you want to use this site again.'}} <br>
					<div class="form-actions">
						<button type="button" class="btn btn-default js-profile-delete-cancel-btn">
							{{mf '_button.cancel'}}
						</button>
						<button type="button" class="btn btn-delete js-profile-delete-confirm-btn">
							<i class="fa fa-trash fa-fw" aria-hidden="true"></i>
							{{mf 'profile.delete.confirm.button' 'Delete my user and all its profile'}}
						</button>
					</div>
				</div>
			{{/if}}
		</div>
		<div class="details-page-component">
				<a class="btn btn-go translate-link" href="/translate">
					<i class="fa fa-language" aria-hidden="true"></i>
					{{mf 'Profile.translate_this_page' 'Help us to translate this Page'}}
				</a>
			</div>
			<div class="profile-groups-list">
				<hr>
				<h3> {{mf 'profile.groups' 'My groups'}}</h3>
				<h5>
					{{#mf KEY='profile.groupMembership' NUM_GROUPS=groupCount}}
					You are {NUM_GROUPS, plural,
					=0 {not member of any group}
					=1 {member of the group:}
					other {member of # groups:}}
					{{/mf}}
				</h5>
				<ul class="groups">
					{{#each user.groups}}
						{{#with this._id}}
							<li>
								{{> groupNameFull}}
							</li>
						{{/with}}
					{{/each}}
				</ul>
				<a class="btn btn-add"
					href="{{pathFor 'groupDetails' _id='create'}}">
					<span class="fa fa-plus"></span>&nbsp;
					{{mf 'profile.createNewGroup.button' 'Create a new group'}}
				</a>
			</div>

			<div class="profile-course-list">
				{{#each courses}}
					{{> course}}
				{{/each}}
			</div>
		<!-- </div> -->
	</div>
</template>
