<template name='loginFrame'>
{{#if showLoginFrame}}
	<div id="loginFrame">
		<a href="#" class="loginClose">{{mf 'login.close' 'close'}}</a>
		{{#if currentUser}}
			{{mf 'login.frame.welcome' 'Welcome {NAME}!' NAME=currentUser.username}}
			<nav>
				<a href="{{pathFor 'userprofile' _id=currentUser._id}}">
					{{mf 'login.frame.profile' 'My public profile'}}
				</a><br>
				<a href="{{pathFor 'profile'}}">
					{{mf 'login.frame.settings' 'Account settings'}}
				</a><br>
				<a href="#" class="loginLogout">
					{{mf 'login.logout' 'Logout'}}
				</a>
			</nav>
		{{else}}
			{{> loginRegister}}
			{{> loginLogin}}
		{{/if}}
	</div>
{{/if}}
</template>


<template name="loginRegister">
	<form>
		<input type="text" id="register-email">
		<input type="password" id="register-password">
		<input type="submit" value="{{mf 'login.register.submit' 'Register'}}">
	</form>
</template>


<template name="loginLogin">
	<form>
		<input type="text" id="login-email">
		<input type="password" id="login-password">
		<input type="submit" value="{{mf 'login.login.submit' 'Login'}}">
	</form>
	<button class="loginWithGithub">LOGIN WITH GITHUB</button>
</template>
