<template name='loginFrame'>
	<div class="container-fluid">
		<div id="loginFrame">				
			{{#if currentUser}}
			<div class="container-fluid">
				<div class="form-group">
					<h3>{{mf 'login.frame.welcome' 'Welcome {NAME}!' NAME=currentUser.username}}</h3>
				</div>
				<div class="form-group">
					<a class="btn btn-primary form-control" href="{{pathFor 'userprofile' _id=currentUser._id}}">
						<span class="glyphicon glyphicon-share-alt"></span>
						{{mf 'login.frame.profile' 'Visit my profile'}}
					</a>
				</div>
				<div class="form-group">
					<a class="btn btn-primary form-control" href="{{pathFor 'profile'}}">
						<span class="glyphicon glyphicon-cog"></span>
						{{mf 'login.frame.settings' 'Account settings'}}
					</a>
				</div>
				<div class="form-group">
					<button href="#" class="loginLogout btn btn-primary form-control">
						<span class="glyphicon glyphicon-log-out"></span>
						{{mf 'login.logout' 'Logout'}}
					</button>
				</div>
			</div>
			{{else}}
				{{> loginLogin}}	
			{{/if}}
		</div>
	</div>
</template>

<template name="loginLogin">
	<div class="container-fluid">
		<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" class="form-control" id="login-name" placeholder="{{mf 'frame.login.username' 'Username'}}">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
					</span>
					<input type="password" class="form-control" id="login-password" placeholder="{{mf 'frame.login.password' 'Password'}}">
				</div>
			</div>
			<div id="password_warning" style="display:none">
				{{mf 'login.password.no_password' 'Please enter a password to register'}}
			</div>
			<div id="show_email" style="display:none" class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
					<input type="email" class="form-control" id="login-email" placeholder="{{mf 'frame.login.email' 'E-Mail'}}">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class='loginLogin btn btn-primary form-control'>
					<span class="glyphicon glyphicon-log-in"></span>&nbsp;
					{{#if registering}}
					{{mf 'login.login.back_to_login' 'Back to login'}}
					{{else}}
					{{mf 'login.login.submit' 'Login'}}
					{{/if}}
				</button>
			</div>
			<div class="form-group">
				<button type="submit" class='loginRegister {{#if registering}}registering{{/if}}'>
					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					{{mf 'login.register.submit' 'Create account'}}
				</button>
			</div>
			<li role="presentation" class="dropdown-header">{{mf 'frame.login_external_services' 'Or login with:'}}</li>
		</form>
		<div class="btn-group external_logins">
			<button class="loginWithService btn btn-primary" data-service='Github'>
				<i class="fa fa-github-square"></i> &nbsp;{{mf 'login.frame.github-login' 'GitHub'}}
			</button>
			<button class="loginWithService btn btn-primary" data-service='Facebook'>
				<i class="fa fa-facebook-square"></i> &nbsp;{{mf 'login.frame.facebook-login' 'facebook'}}
			</button>
		</div>
	</div>
</template>
