.login-dropdown {
	padding-top: 15px;
}

#loginFrame {
	background: @brand-bg;
	text-align: center;

	h3 {
		margin-top: 0;
	}

	span.registering_email_instructions {
		text-align: justify;
		width: 100%;
	}

	button.loginLogin{
		&.loginLoginLogin {
			.btn-success;
		}
	}

	button.loginRegister{
		.form-control;
		.btn;
		.btn-primary;

		&.registering {
			.btn-success;
		}
	}

	input#login-name,
	input#login-password,
	input#login-email {
		.form-control-humble;
	}


	&.password_warning {
		input#login-password{
			border-color: @brand-danger;
		}
	}
	&.username_warning {
		input#login-name{
			border-color: @brand-danger;
		}
	}

	#username_warning,
	#username_warning_not_existing,
	#login_warning {
		color: @brand-danger;
		margin: -10px 0 10px;
		text-align: left;
	}

	#password_warning,
	#password_warning_incorrect {
		color: @brand-danger;
		text-align: left;
	}

	li.dropdown-header:hover {
		cursor: default;
	}

	.input-group:first-child,
	button.forgot,
	button.loginLogin,
	button.loginRegister {
		margin-bottom: 15px;
	}

	span.fa-lock{
		font-size: 1.3em;
	}

	.login_email {
		margin-top: 15px;
	}

	button.forgot {
		background: none;
		border: none;
		float: right;
		margin-top: 3px;
		padding-right: 0;
		color: grey;
		font-size: 0.9em;

		&:focus {
			text-decoration: underline;
		}

		&:hover {
			color: @brand-primary;
			cursor: pointer;
		}
	}
	&.username_warning,
	&.password_warning {
		button.forgot {
			.btn;
			.btn-default;
			.transition(all 1.8s ease-out);
			width: 100%;
			margin: 15px 0;
		}
	}


	.external_logins {
		padding: 5px 0;
		margin: 15px 0;
		background-color: darken(@brand-bg, 3%);

		p {
			margin: 3px 0 0;
		}

		.loginWithService {
			background: none;
			border: none;
			color: @default-gray;
			font-size: xx-large;
			padding: 0 9px;

			&:hover {
				.fa-google-plus-square {
					color: @google-plus;
				}

				.fa-facebook-square {
					color: @facebook;
				}

				.fa-github-square {
					color: @github;
				}
			}
		}
	}

	.forgot_login {
		h2 {
			margin-top: 0;
		}

		#show_email {
			padding-top: 10px;

			span.email_instructions {
				font-size: small;
			}
		}
	}
}
