.login-dropdown {
	width: 300px;
}

#loginFrame {
	@include grid(12);
	background: $brand-bg;
	color: $default-black;
	padding: 0 20px;
	text-align: center;
	.current_user {
		@include grid(12);
		padding: 0px;
		h3 {
			margin-top: 0px;
		}
		a.my_profile,
		a.settings,
		button.loginLogout {
			.form-control-humble;
			.btn;
			.btn-primary;
			margin-bottom: 15px;
		}
	}
	.login {
		@include grid(12);
		padding: 0px;
		& > div,
		& > button {
			margin-bottom: 15px !important;
		}
		input#login-name,
		input#login-password,
		input#login-email {
			.form-control-humble;
		}
		span.fa-lock {
			font-size: large;
			padding: 0 1px;
		}
		#username_warning,
		#username_warning_not_existing,
		#password_warning,
		#password_warning_incorrect,
		#login_warning {
			color: $brand-danger;
			margin: -10px 0 10px !important;
			text-align: left;
		}
		.registering_email_instructions {
			margin-top: -10px;
			text-align: justify;
		}
		button.forgot {
			background: none;
			border: 0px;
			color: grey;
			float: right;
			font-size: 0.9em;
			margin-top: -10px;
			padding-right: 0px;
			&:focus {
				text-decoration: underline;
			}
			&:hover {
				color: $brand-primary;
				cursor: pointer;
			}
		}
		button.loginLogin,
		button.loginRegister {
			.form-control;
			.btn;
			.btn-primary;
			&.loginLoginLogin,
			&.registering {
				.btn-success;
			}
		}
		.external_logins {
			background-color: darken($brand-bg, 3%);
			margin: 0px 0px 15px;
			padding: 5px 0px;
			p {
				margin: 3px 0px 0px;
			}
			.loginWithService {
				background: none;
				border: 0px;
				color: $default-gray;
				font-size: xx-large;
				padding: 0 9px;
				&:hover {
					.fa-google-plus-square {
						color: $google-plus;
					}
					.fa-facebook-square {
						color: $facebook;
					}
					.fa-github-square {
						color: $github;
					}
				}
			}
		}
	}
	&.password_warning input#login-password,
	&.username_warning input#login-name {
		border-color: $brand-danger;
	}
	&.username_warning,
	&.password_warning {
		button.forgot {
			.form-control;
			.btn;
			.btn-default;
			@include transition(all 0.3s ease-out);
			margin-top: 10px;
		}
	}
	.forgot_login {
		@include grid(12);
		padding: 0px;
		h2 {
			margin-top: 0px;
		}
		& > p,
		& > div,
		& > button {
			margin-bottom: 15px !important;
		}
		.input-group {
			margin-bottom: 0px;
			input.-loginEmail {
				.form-control-humble;
			}
		}
		.email_instructions {
			margin-top: -10px;
		}
		button.-forgotSend {
			.form-control;
			.btn;
			.btn-primary;
		}
		button.-forgotClose {
			.form-control;
			.btn;
			.btn-cancel;
		}
	}
	@media screen and
	(max-width: $screen-sm) {
		padding: 20px 15px 10px;
	}
}
