<template name='loginFrame'>
	<div id="loginFrame">
		{{#if currentUser}}
			<div class="current_user">
				<h3>
					{{mf 'login.frame.welcome' 'Welcome {NAME}!' NAME=currentUser.username}}
				</h3>
				<a class="my_profile" href="{{pathFor 'userprofile' _id=currentUser._id}}">
					<span class="glyphicon glyphicon-share-alt"></span>
					{{mf 'login.frame.profile' 'Visit my profile'}}
				</a>
				<a class="settings" href="{{pathFor 'profile'}}">
					<span class="glyphicon glyphicon-cog"></span>
					{{mf 'login.frame.settings' 'Account settings'}}
				</a>
				<button href="#" class="loginLogout">
					<span class="glyphicon glyphicon-log-out"></span>
					{{mf 'login.logout' 'Logout'}}
				</button>
			</div>
		{{/if}}
		{{#if forgot}}
			{{> loginForgot}}
		{{/if}}
		{{#if login}}
			{{> loginLogin}}
		{{/if}}
	</div>
</template>

<template name="loginLogin">
	<form>
	<div class="login">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input
				type="text"
				id="login-name"
				class="js-login-name"
				placeholder={{loginUsernamePlaceholder}}
			/>
		</div>
		<div id="username_warning_not_existing" style="display:none">
			{{mf 'login.username.usr_doesnt_exist' 'This user does not exist.'}}
		</div>
		<div id="username_warning" style="display:none">
			{{mf 'login.username.username_exists' 'This username already exists.'}}<br>
			{{mf 'login.username.choose_another' 'Please choose another one.'}}
		</div>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="fa fa-lock"></span>
			</span>
			<input
				type="password"
				id="login-password"
				class="js-login-password"
				placeholder="{{mf 'frame.login.password' 'Password'}}"
			/>
		</div>
		<div id="password_warning_incorrect" style="display:none">
			{{mf 'login.password.password_incorrect' 'Incorrect password'}}
		</div>
		<div id="password_warning" style="display:none">
			{{mf 'login.password.no_password' 'Please enter a password to register.'}}
		</div>
		<div id="login_warning" style="display:none">
			{{mf 'login.login.warning' 'Please enter your username or email and password to login.'}}
		</div>
		{{#if showForgot}}
			<button type="button" class="-forgot forgot">
				{{mf 'forgot' "I forgot my password"}}
			</button>
		{{/if}}
		{{#if showEmail}}
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
				<input
					type="email"
					id="login-email"
					class="js-login-email"
					value="{{transEmail}}"
					placeholder="{{mf 'frame.login.email' 'E-Mail'}}"
				/>
			</div>
			<div class="registering_email_instructions">
				{{mf 'registering.email.instructions'
				"By entering an e-mail adress you allow us to send you a mail in case you forget your password."}}
			</div>
		{{/if}}
		{{#if registering}}
			<button type="submit" class='loginRegister registering'>
				<span class="glyphicon glyphicon-plus"></span>&nbsp;
				{{mf 'login.register.submit' 'Create account'}}
			</button>
			<button type="submit" class='loginLogin'>
				<span class="glyphicon glyphicon-log-in"></span>&nbsp;
					{{mf 'login.login.back_to_login' 'Back to login'}}
			</button>
		{{else}}
			<button type="submit" class='loginLogin loginLoginLogin'>
				<span class="glyphicon glyphicon-log-in"></span>&nbsp;
					{{mf 'login.login.submit' 'Login'}}
			</button>
			<button type="submit" class='loginRegister'>
				<span class="glyphicon glyphicon-plus"></span>&nbsp;
				{{mf 'login.register.submit' 'Create account'}}
			</button>
		{{/if}}
		{{#unless registering}}
			<div class="external_logins">
				<p>{{mf 'frame.login_external_services' 'Or login with:'}}</p>
				<button
					class="loginWithService"
					data-service='Google'
					title="Login with Google+">
					<span class="fa fa-google-plus-square"></span>
				</button>
				<button
					class="loginWithService"
					data-service='Facebook'
					title="Login with Facebook">
					<span class="fa fa-facebook-square"></span>
				</button>
				<button
					class="loginWithService"
					data-service='Github'
					title="Login with Github">
					<span class="fa fa-github-square"></span>
				</button>
			</div>
		{{/unless}}
	</div>
	</form>
</template>

<template name="loginForgot">
	<div class="forgot_login">
		<h2>{{mf 'forgot.title' "Password reset"}}</h2>
		<p>
			{{mf 'forgot.explanation'
			"We can send you a mail that allows you to reset your password. This is only possible if you've provided us with a mail address"}}
		</p>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-envelope"></span>
			</span>
			<input
				type="email"
				id="login-email"
				class="js-login-email"
				placeholder="{{mf 'frame.login.email' 'E-Mail'}}"
			/>
		</div>
		{{#unless validEmail}}
			<div class="email_instructions">
				{{mf 'forgot.notValid' "Please enter the address you signed up with."}}
			</div>
		{{/unless}}
		<button type="button" class="-forgotSend" {{disableForInvalidEmail}}>
			<span class="glyphicon glyphicon-envelope"></span>
			{{mf 'forgot.send' 'Reset my password'}}
		</button>
		<button type="button" class="-forgotClose">
			<span class="fa fa-close"></span>
			{{mf 'forgot.close' 'Never mind'}}
		</button>
	</div>
</template>
