.nav-tabs > li > a {
  color: $gray-800;

  &:hover {
    background-color: $blue-light;
    border-bottom-width: 2px;
    color: $white;
  }
}

.nav-tabs .active > a,
.nav-tabs .active > a:hover,
.nav-tabs .active > a:focus {
  background-color: $tab-content-bg;
  border-top: 3px solid $blue-light;
}

.nav-tabs .nav-link:not(.active):hover,
.nav-tabs .nav-link:not(.active):focus {
  background-color: $primary;
  color: #fff;
}

.tab-content {
  background-color: $tab-content-bg;
  border-style: solid;
  border-width: 0 $tab-content-border-width $tab-content-border-width;
}

.tab-pane {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab-label {
  @include media-breakpoint-down(sm) {
    display: none;

    .active & {
      display: inline;
    }
  }
}
