/* stylelint-disable selector-max-compound-selectors */

.table-hover-vertical {
  overflow: hidden;

  td,
  th {
    position: relative;
  }

  tbody tr:hover td {
    background-color: #ffa !important;
  }

  td:hover::after,
  thead th:not(:empty):hover::after,
  td:focus::after,
  thead th:not(:empty):focus::after {
    content: "";
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }

  td:hover::after,
  th:hover::after {
    background-color: #ffa !important;
  }
}
