<template name="venueLink">
	{{#if venue.name}}
		{{#if venue._id}}
			<a class="js-venue-link"
				data-tooltip="{{mf 'location.link.tooltip' 'Show details of {VENUE}' VENUE=venue.name}}"
				href="{{pathFor 'venueDetails' data=venue}}">
				<span class="glyphicon glyphicon-home fa-fw" aria-hidden="true"></span>
				{{venue.name}}
			</a>
		{{else}}
			<span class="glyphicon glyphicon-home fa-fw" aria-hidden="true"></span>
			<span>{{venue.name}}</span>
		{{/if}}
		{{#if room}}
			<span class="fa fa-map-signs fa-fw" aria-hidden="true"></span>
			<span>{{this.room}}</span>
		{{/if}}
	{{/if}}
</template>
