.course-details-nav {
	padding: 0 15px;
}

.tab-content {
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	position: relative;
	&::before,
	&::after {
		border-top: 1px solid $brand-primary;
		content: '';
		height: 100%;
		position: absolute;
		top: -1px;
		width: (16px + $course-border-width);
		z-index: 99;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}

.course-details {
	&.proposal {
		.course-details-nav {
			border-left: $course-border-width dashed $openki-blue-lighter;
			border-right: $course-border-width dashed $openki-blue-lighter;
		}
		.tab-content {
			padding: 15px (15px + $course-border-width);
		}
	}
  &.haspastevents {
		.course-details-nav {
			border-left: $course-border-width solid $openki-blue-lighter;
			border-right: $course-border-width solid $openki-blue-lighter;
		}
		.tab-content {
			padding: 15px (15px + $course-border-width);
		}
	}
	&.hasupcomingevents {
		.course-details-nav {
			background: $openki-blue-lighter;
		}
		.tab-content {
			&::before,
			&::after {
				width: 16px;
			}
		}
	}
}
