.region-badges {
	display: inline-block;
	@include td-float(right);
	@include td-padding(left, 10px);
}

.badge-courses {
	background-color: $brand-primary;
}

.badge-events {
	$background-color: $green;

	background-color: $background-color;
	color: desaturate(darken($background-color, 40%), 50%)
}
