<template name="region_sel_outer">
	{{#if Template.subscriptionsReady}}
		{{#if searchingRegions}}
			{{> region_sel}}
		{{else}}
			{{> regionsDisplay}}
		{{/if}}
	{{/if}}
</template>

<template name="region_sel">
	<a class="region_sel_link">
		<span class="fa fa-dot-circle-o"></span>&nbsp;
		<input class="-searchRegions"
					 value="{{#if region}}{{region.name}}{{else}}{{mf 'menue.All regions' 'All regions'}}{{/if}}"
					 type="text"
		/>
	</a>
	<span
		class="dropdown-toggle"
		data-toggle="dropdown"
		role="button"
		aria-expanded="false">
	</span>
	<span class="caret"></span>


	<ul class="dropdown-menu" role="menu">
		<li>
			<a class="regionselect -clickClose">
				<span class="regionName {{#if currentRegion}}currentRegion{{/if}}">
					{{mf 'menue.All regions' 'All regions'}}
				</span>
				<span class="coursesCount"
							title="{{mf 'regions.allCourses.title' 'There {COUNT, plural, =0 {no courses on} one {is one course on} other {are # courses on}} {SITENAME}' COUNT=allCourses SITENAME=siteName}}">
					{{allCourses}}
				</span>
				<span class="eventsCount"
							title="{{mf 'regions.allUpcomingEvents.title' 'There {COUNT, plural, =0 {no upcoming events on} one {is one upcoming event on} other {are # upcoming events on}} {SITENAME}' COUNT=allUpcomingEvents SITENAME=siteName}}">
					{{allUpcomingEvents}}
				</span>
				{{#if currentRegion}}
					<span class="glyphicon glyphicon-ok"></span>
				{{/if}}
			</a>
		</li>
		{{#each regions}}
			<li class="region">
				<a href="#" class="regionselect -clickClose">
					<span class="regionName {{#if currentRegion}}currentRegion{{/if}}">
						{{name}}
					</span>
					<span class="coursesCount"
								title="{{mf 'regions.courses.title' 'There {COUNT, plural, =0 {no courses in} one {is one course in} other {are # courses in}} {REGION}' COUNT=courses REGION=this.name}}">
						{{courses}}
					</span>
					<span class="eventsCount"
								title="{{mf 'regions.eventCount.title' 'There {COUNT, plural, =0 {no upcoming events in} one {is one upcoming event in} other {are # upcoming events in}} {REGION}' COUNT=upcomingEvents REGION=this.name}}">
						{{futureEventCount}}
					</span>
					{{#if currentRegion}}
						<span class="glyphicon glyphicon-ok"></span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>

<template name="regionsDisplay">
	<a class="-regionsDisplay">
		<span class="fa fa-dot-circle-o"></span>&nbsp;
		{{#if region}}
			{{region.name}}
		{{else}}
			{{mf 'menue.All regions' 'All regions'}}
		{{/if}}
	</a>
</template>
