<template name="region_sel">
	<a class="navbar-link dropdown-toggle"
		aria-expanded="false"
		data-toggle="dropdown"
		href="#"
		role="button">
		<span class="fa fa-dot-circle-o"></span>&nbsp;
		{{#if region}}
			{{region.name}}
		{{else}}
			{{mf 'menue.All regions' 'All regions'}}
		{{/if}}
		<span class="caret"></span>
	</a>

	<ul class="dropdown-menu" role="menu">
		<li>
			<a class="regionselect js-nav-dropdown-close" href="/region/">
				<i class="fa fa-globe" aria-hidden="true" style="padding-right:5px"></i>
				{{mf 'menue.All regions' 'All regions'}}
				{{#if currentRegion}}
					<span class="checkmark"></span>
				{{/if}}
			</a>
		</li>
		{{# each regions}}
			<li>
				<a href="#" class="regionselect js-nav-dropdown-close">
					{{name}}
					{{#if currentRegion}}
						<span class="checkmark"></span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>
