.region_sel {
	color: @navbar-default-link-color;
	font-size: large;
	a {
		height: 50px;
		overflow-y: visible;
		.-regionsDisplay:hover { cursor: text; }
		input.-searchRegions {
			background-color: @navbar-default-bg;
			border: none;
			height: 24px;
			margin-top: -2px;
		}
	}
	.dropdown-menu {
		margin-top: 0 !important;
		min-width: 150px;
		width: 100%;
	}
}
