.categories-menu {
	background-color: $blue-lighter;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	display: none;
	height: $categories-menu-height;
	left: 0;
	position: fixed;
	right: 0;
	top: $navbar-height;
	width: 100%;
	z-index: $zindex-navbar-fixed - 1;

	@media (min-width: $screen-sm) {
		display: block;
	}
}

.categories-menu-container {
	height: 100%;
}

@for $i from 1 through 12 {
	.has-#{$i}-categories > .menu-category {
		@include make-sm-column(12 / $i);
	}
}

.menu-category {
	color: $blue;
	font-size: medium;
	height: 100%;
	padding: 15px 0;
    position: relative;
	text-align: center;
    z-index: $zindex-navbar-fixed + 10;

	&:hover {
		cursor: pointer;
	}
}

.menu-category-icon {
	display: block;
	font-size: xx-large;
	margin-bottom: 5px;
}

@each $i, $color in $category-base-colors {
	.menu-category-#{$i} {
		color: rgba($color, .5);
	}

	.menu-category-#{$i}:hover,
	.menu-category-#{$i}.active {
		background-color: rgba($color, .5);
		box-shadow: 0 0 3px rgba(0, 0, 0, .3);
		color: $white;
	}
}
