<template name="showLogEntry">
	<tr>
	{{#if interval}}
		<td></td><td></td><td colspan="3" style="color: gray">{{interval}}</td>
	{{else}}
		<td>{{#with _id}}<a class="js-rel-id" style="border: 1px black solid;">{{shortId this}}</a>{{/with}}</td>
		<td>{{#with tr}}<a class="js-tr" style="border: 1px black solid;">{{this}}</a>{{/with}}</td>
		<td>{{isodate ts}}</td>
		<td style="white-space: nowrap;">{{#each rel}}<a class="js-rel-id" style="border: 1px black solid;">{{shortId this}}</a> {{/each}}</td>
		<td>{{#if expanded}}<pre class="js-collapse">{{jsonBody}}</pre>{{else}}<div class="js-expand" style="white-space: nowrap;">{{jsonBody}}</div>{{/if}}</td>
	{{/if}}
	</tr>
</template>
