<template name="showLogEntry">
	<tr>
	{{#if interval}}
		<td></td><td></td><td colspan="3" style="color: gray">{{interval}}</td>
	{{else}}
		<td>{{#with _id}}<a class="js-rel-id id clickable" title={{this}}>{{shortId this}}</a>{{/with}}</td>
		<td>{{#with tr}}<a class="js-tr id clickable">{{this}}</a>{{/with}}</td>
		<td>{{#with ts}}<a class="js-date clickable nowrap">{{isodate this}}</a>{{/with}}</td>
		<td class="nowrap">
			{{#each rel}}
				<a class="js-rel-id id clickable nowrap" title="{{this}}">{{shortId this}}</a>
			{{/each}}
		</td>
		<td>
			{{#if expanded}}
				<pre class="js-collapse">{{jsonBody}}</pre>
			{{else}}
				<div class="js-expand nowrap">{{jsonBody}}</div>
			{{/if}}
		</td>
	{{/if}}
	</tr>
</template>
