footer {
  background: $footer-default-bg;
  color: $footer-default-color;
  font-size: $footer-default-font-size;
  text-align: center;
  position: relative;
}

.footer-link {
  color: $footer-default-link-color;
  padding: 10px 15px 15px;
  position: relative;
  top: 10px;
  &:hover {
    background: $footer-default-link-hover-bg;
    color: $footer-default-link-hover-color;
    text-decoration: none;
  }
}

.footer-deployed-version {
  color: $default-light-grey;
  font-size: small;
  right: 15px;
  position: absolute;
}
