footer {
	background: $blue;
	color: $white;
	font-size: large;
	height: $footer-height;
	position: relative;
	text-align: center;
}

.footer-link {
	color: $white;
	padding: 10px 15px 15px;
	position: relative;
	top: 10px;

	&:hover {
		background: $blue-light;
		color: $white;
		text-decoration: none;
	}
}

.footer-deployed-version {
	color: $gray-lighter;
	@include td-float(right);
	font-size: small;
	padding: .3em;
}
