.frame-list-all{
	@include make-xs-column(12);
	background-color: $blue-lighter;
	border-width: 1px;
	border-color: darken($blue-lighter, 15%);
	border-style: solid;
}

.frame-list-courses {
	@include make-xs-column(6);
	padding: 2px;
}

.frame-list-courses h3 {
	text-align: center;
	padding: 5px;
	margin: 0px;
}

.frame-list-courses ul {
	@include list-unstyled;
	padding: 0px;
}

.frame-list-courses ul li{
	padding: 2px 5px;
	margin: 5px;
	background-color: $white;
	border-width: 1px;
	border-color: darken($blue-lighter, 15%);
	border-style: solid;
	position: relative;
	transition: box-shadow $default-transition-time;
	&:hover {
		box-shadow: $shadow-lg-offset-x $shadow-lg-offset-y $shadow-lg-blur $default-shadow;
	}
}

.frame-list-courses-footer {
	text-align: center;
	padding: 5px;
}