.frame-list-link, .frame-list-link:hover {
	color: $text-color;
}

.frame-list {
	@include make-row;
}

.frame-list-column {
	@include td-make-xs-column(12);
	@media (min-width: $screen-xsm) {
		@include td-make-xs-column(6);
	}
}

.frame-list-footer {
	text-align: center;
	margin-top: 5px;
	padding: 5px;
}

.frame-list-item-description {
	@include td-make-xs-column(4);
	font-weight: bold;


}

.frame-list-item-content {
	@include td-make-xs-column(8);
}
