<template name="frameList">
	<div class="frame-list-all">
		<div class="frame-list-courses">
			<h3>{{mf 'frame.list.coursesWithEvents' 'Courses with upcoming events'}}</h3>
			<ul>
				{{#each coursesWithEvents}}
					<a href="{{pathFor 'showCourse'}}" target="_blank">
						<li>{{name}}</li>
					</a>
				{{/each}}
			</ul>
		</div>
		<div class="frame-list-courses">
			<h3>{{mf 'frame.list.coursesWithoutEvents' 'Courses without upcoming events'}}</h3>
			<ul>
				{{#each coursesWithoutEvents}}
					<a href="{{pathFor 'showCourse'}}" target="_blank">
						<li>{{name}}</li>
					</a>
				{{/each}}
			</ul>
		</div>
		{{#if groupName}}
			<div class="frame-list-courses-footer">
				{{mf 'frame.list.allCoursesOfGroup' "You're looking at a list of the courses of {GROUP}" GROUP=groupName}}
			</div>
		{{/if}}
	</div>
</template>